<template>
  <div>
    <Card style="height:350px">
      <p slot="title">搜索框</p>
      <Button type="primary" slot="extra" @click.prevent="save">
        <Icon type="ios-loop-strong"></Icon>
        保存修改
      </Button>
      <div class="searchStyle">
        <span>预制热词：</span><Input v-model="pageAttrObj.hotWord" suffix="ios-search" placeholder="请输入内容..." style="width: 300px" />
      </div>
      <div class="searchStyle">
        <span>搜索框样式：</span>
        <RadioGroup v-model="pageAttrObj.searchStyle">
          <Radio checked label="1">样式1</Radio>
          <Radio label="2">样式2</Radio>
        </RadioGroup>
      </div>
    </Card>
  </div>
</template>

<script>
  export default {
    name: "searchEditor",
    data(){
      return{
        pageAttrObj:{},
        hotWord:''
      }
    },
    methods:{

      save(){
        this.pageAttrObj.editType = 'change'
        this.$store.commit('setPageData',this.pageAttrObj)
        this.$Message.success('保存成功')
      }
    },
    watch:{
      '$store.state.app.mouseTarget': {
        handler: function(newer, older) { // 可以获取新值与老值两个参数
          this.pageAttrObj=newer
        },
        deep: true, // 开启深度监听
        immediate: true,
      },
    }
  }
</script>

<style scoped>
  .searchStyle{
    padding-top: 20px;
  }
</style>
