<template>
  <div class="order" style="background:#fff; padding:10px;">
    <Form :model="form" label-position="left" :label-width="60" inline style="">
      <FormItem label="订单号">
        <Input :clearable="true" v-model="form.orderSn" placeholder="请输入订单号" style="width: 160px" />
      </FormItem>
      <FormItem label="账单日">
        <DatePicker :clearable="true" @on-change="getTime" type="daterange" placeholder="请选择时间" style="width: 200px;"></DatePicker>
      </FormItem>
      <FormItem label="状态">
        <Select :clearable="true" v-model="form.verifyStatus" style="width:200px">
          <Option v-for="item in verifyList" :value="item.value" :key="item.value">{{ item.label }}</Option>
        </Select>
      </FormItem>
    </Form>
        <Button @click="()=>{this.form.pageNum=1;this.getBill()}" style="margin-right: .5rem" type="info">筛选</Button>
        <Button icon="md-download" :loading="exportLoading" @click="exportExcel">批量导出</Button>
    <Divider/>
    <Table border :columns="columns1" :data="data1">
      <template slot-scope="{ row }" slot="name">
        <strong>{{ row.name }}</strong>
      </template>
      <template  slot-scope="{ row, index }" slot="action">
        <Button
          size="small"
          type="info"
          @click="getOrderDetail(row.saasOrderId)">查看订单详情</Button>
      </template>
    </Table>
    <div style="text-align: center">
      <Page
        style="margin-top: .5rem"
        :current="form.pageNum"
        show-total
        :total="pageTotal"
        @on-change="getPage"/>
    </div>
  </div>
</template>

<script>
  import { getTableData } from '@/api/data'
  import excel from '@/libs/excel'
  export default {
    name: 'billDetail',
    data () {
      return {
        pageTotal:'',
        orderStateList: [],
        verifyList:[],
        form: {
          verifyStatus:'',
          pageNum:1,
          pageSize:10
        },
        exportLoading: false,
        columns1: [
          {
            title: "账单日",
            key: "saasCashDay",
          },
          {
            title: "商品名称",
            key: "saasGoodsName",
          },
          {
            title: "订单号",
            key: "saasOrderId",
          },
          {
            title: "订单状态",
            key: "saasVerifyStatus",
          },
          {
            title: "订单结算状态",
            key: "saasSettleStatus",
          },
          {
            title: "优惠金额",
            key: "saasDiscountAmount",
          },
          {
            title: "结算金额",
            key: "saasMoneyOrder",
          },
          {
            title: "交易流水",
            key: "saasDealStream",
          },
          {
            title: "操作",
            slot: "action",
            width: 250,
            align: "center"
          }
        ],
        data1: [],
        billId:''
      }
    },
    mounted(){
      this.form.billId = this.$route.query.id
      this.getBill()
      this.getStatus()
    },
    methods: {
      getPage(v){
        this.form.pageNum=v
        this.getBill()
      },
      exportExcel () {
        if (this.data1.length) {
          this.exportLoading = true;
          let titleArr = [];
          let keyArr = [];
          this.columns1.forEach(item => {
            titleArr.push(item.title)
            keyArr.push(item.key)
          });
          const params = {
            title: titleArr,
            key: keyArr,
            data: this.data1,
            autoWidth: true,
            filename: '账单明细'
          }
          excel.export_array_to_excel(params)
          this.exportLoading = false
        } else {
          this.$Message.info('表格数据不能为空！')
        }
      },
      getOrderDetail(id){
        // /order/orderManage/orderDetail
        this.$router.push({
          path:'/order/orderDetail',
          query: {
            id: id
          }
        })
      },
      getStatus(){
        getTableData({
          url: '/middle/common/dictionary/getdictbycode',
          type: 'post',
          data: {dictCode:'MIDDLE_BILL_ORDER_STATUS'}
        }).then(res => {
          if (res.data.code == 200) {
            this.verifyList = res.data.data
          }else{
            this.$Message.error(res.data.message);
          }
        }).catch(err => console.log(err))
      },
      changeDate(day) {
        function getDay(day){
          let today = new Date();
          let targetday_milliseconds=today.getTime() + 1000*60*60*24*day;
          today.setTime(targetday_milliseconds);
          let tYear = today.getFullYear();
          let tMonth = today.getMonth();
          let tDate = today.getDate();
          tMonth = doHandleMonth(tMonth + 1);
          tDate = doHandleMonth(tDate);
          return tYear+"-"+tMonth+"-"+tDate;
        }
        function doHandleMonth(month){
          let m = month;
          if(month.toString().length == 1){
            m = "0" + month;
          }
          return m;
        }
        this.form.date.splice(0,2,getDay(-day),getDay(-1))
      },
      getBill(){
        //账单明细
        getTableData({
          url: '/middle/financeBill/detail/list',
          type: 'post',
          data: this.form
        }).then(res => {
          if (res.data.code == 200) {
            this.data1 = res.data.data.list
            this.pageTotal = res.data.data.total
          }else{
            this.pageTotal=0
          }
        }).catch(err => console.log(err))
      },
      getTime(time) {
        this.form.startCashDayTime = time[0];
        this.form.endCashDayTime = time[1];
      },
      reset (type, index) {
        const title = 'Title';
        const content = '<p>Content of dialog</p><p>Content of dialog</p>';
        switch (type) {
          case 'success':
            this.$Modal.success({
              title: title,
              content: content
            });
            break;
        }
      }
    }
  }
</script>

<style lang="less">

</style>
