<template>
  <div class="order" style="background:#fff; padding:10px;">
    <Form :model="form" label-position="left" :label-width="60" inline style="">
      <FormItem label="日期">
        <DatePicker @on-change="getTime" :value="date" format="" type="daterange"
                     placeholder="请选择时间" style="width: 200px;margin-left: 10px;"></DatePicker>
      </FormItem>
      <FormItem label="状态">
        <Select :clearable="true" v-model="form.verifyStatus" style="width:200px">
          <Option v-for="item in verifyList" :value="item.value" :key="item.value">{{ item.label }}</Option>
        </Select>
      </FormItem>
    </Form>
    <Form>
      <FormItem label="">
        <Button style="margin-right: .5rem" @click="()=>{this.form.pageNum=1;this.getUserList()}" type="info">筛选</Button>
        <Button icon="md-download" :loading="exportLoading" @click="exportExcel">批量导出</Button>
      </FormItem>
    </Form>

    <Table border :columns="columns1" :data="data1">
      <template slot-scope="{ row }" slot="name">
        <strong>{{ row.name }}</strong>
      </template>
      <template slot-scope="{ row, index }" slot="action">
        <Button
          v-if="row.status=='6330'"
          class="ml10"
          type="info"
          size="small"
          @click="confirmBill(row.id)"
        >确认账单</Button>
        <Button
          v-if="row.status=='6340'"
          class="ml10"
          type="info"
          size="small"
          @click="confirmPay(row.id)"
        >确认付款</Button>
        <Button
          class="ml10"
          size="small"
          @click="checkBill(row.id)"
        >查看对应订单</Button>
      </template>
    </Table>
    <Page
      :total="total"
      :page-size="form.pageSize"
      :current="form.pageNum"
      @on-change="pageChange"
      show-total style="text-align:center; margin-top:10px;" />
    <Modal
      width="70%"
      title="编辑"
      v-model="modalShow"
      ok-text="保存"
      @on-ok="saveUpdate"
      @on-cancel=""
      class-name="vertical-center-modal">
      <Form ref="form" :model="type2List" :label-width="120">
        <FormItem label="账号：">
          <Input :maxlength="10" v-model="type2List.loginAccount" placeholder="请输入账号" style="width: 300px"></Input>
        </FormItem>
        <FormItem label="所属角色：">
          <Select
            :placeholder="type2List.roleNames"
            @on-change="type1OnChange"
            style="width:100px">
            <Option v-for="item in type1List" :value="item.value" :key="item.value">{{ item.label }}</Option>
          </Select>
        </FormItem>
        <FormItem label="姓名：">
          <Input :maxlength="10" v-model="type2List.userName" placeholder="请输入姓名" style="width: 300px"></Input>
        </FormItem>
        <FormItem label="手机号：">
          <Input :maxlength="11" v-model="type2List.mobile" placeholder="请输入手机号" style="width: 300px"></Input>
        </FormItem>
      </Form>
    </Modal>
  </div>
</template>

<script>
  import { getTableData } from '@/api/data'
  import excel from '@/libs/excel'
  export default {
    name: 'tenureList',
    data () {
      return {
        date: ['', ''],
        total:0,
        verifyStatus:'',
        verifyList:[],
        loginAccount: this.$store.state.user.loginAccount,
        modalShow: false,
        statusStr: '',
        form2: {
          createTime: '',	// 创建时间	body	false	date-time
          createUser: '',	// 创建用户	body	false	string
          id: '',	        // 主键	body	false	int32
          loginAccount: '',// 登录账号	body	true	string
          mark: '',		    // body	false	int32
          mobile: '',	    // 手机号	body	true	string
          // password: '',  	// 登录密码	body	false	string	不传
          remarks: '',		// body	false	string
          roleIds: [],	  // 角色id集合	body	false	array
          // status: 1,	    // 状态 1-有效, 0-无效	body	false	int32
          updateTime: '',	// 更新时间	body	false	date-time
          updateUser: '',	// 更新用户	body	false	string
          userName: '',	  // 用户名称	body	true	string
        },
        form: {
          customerId: '',   //		false	int32
          loginAccount: '', //	登录账号	false	string
          mobile: '',       //	电话	false	string
          pageNum: 1,       //	当前页码	false	int32
          pageSize: 10,     //	每页记录数	false	int32
          // status: 1,        //	状态 1-有效, 0-无效	false	int32
          userName: ''      //	用户名称	false	string
        },
        switchuserObj: {
          createTime: '',  //	创建时间	body	false	date-time
          createUser: '',  //	创建用户	body	false	string
          id: '',          //	主键	body	false	int32
          loginAccount: '',//	登录账号	body	true	string
          status: 1,       //	状态 1-有效, 0-无效	body	false	int32
          updateTime: '',  //	更新时间	body	false	date-time
          updateUser: '',  //	更新用户	body	false	string
        },
        columns1: [
          {
            title: "账单日",
            key: "billTime",
          },
          {
            title: "账单金额",
            key: "billAmount",
            render: (h, params) => {
              return h('div',params.row.billAmount.toFixed(2));
            },
          },
          {
            title: "退货订单金额",
            key: "returnOrderAmount",
            render: (h, params) => {
              return h('div',params.row.returnOrderAmount.toFixed(2));
            },
          },
          {
            title: "结算金额",
            key: "settlementAmount",
            render: (h, params) => {
              return h('div',params.row.settlementAmount.toFixed(2));
            },
          },
          {
            title: "状态",
            key: "statusName",
          },
          {
            title: "操作",
            slot: "action",
            width: 250,
            align: "center"
          }
        ],
        data1: [],
        type1List: [],
        type2List: {},
        exportLoading:false
      }
    },
    mounted(){
      this.getUserList()
      this.getStatus()
    },
    methods: {
      exportExcel () {
        if (this.data1.length) {
          this.exportLoading = true;
          let titleArr = [];
          let keyArr = [];
          this.columns1.forEach(item => {
            titleArr.push(item.title)
            keyArr.push(item.key)
          });
          const params = {
            title: titleArr,
            key: keyArr,
            data: this.data1,
            autoWidth: true,
            filename: '对账单'
          }
          excel.export_array_to_excel(params)
          this.exportLoading = false
        } else {
          this.$Message.info('表格数据不能为空！')
        }
      },
      checkBill(id){
        //查看对应账单
        this.$router.push({
          path:'/assets/billDetail',
          query: {
            id: id
          }
        })
      },
      getTime(time) {
        this.form.startCashDayTime = time[0];
        this.form.endCashDayTime = time[1];
      },
      pageChange (index) {
        this.form.pageNum = index;
        this.getUserList()
      },
      confirmPay(id){
        //api/middle/financeBill/updateCustomerPaymentCompleted
        getTableData({
          url: '/middle/financeBill/updateCustomerPaymentCompleted',
          type: 'post',
          data: {id:id}
        }).then(res => {
          if (res.data.code == 200) {
            this.$Message.success('确认付款成功')
            this.getUserList()
          }else{
            this.$Message.error(res.data.message);
          }
        }).catch(err => console.log(err))
      },
      confirmBill(id){
        //确认账单
        getTableData({
          url: '/middle/financeBill/updateCustomerConfirmBill',
          type: 'post',
          data: {id:id}
        }).then(res => {
          if (res.data.code == 200) {
            this.$Message.success('确认成功')
            this.getUserList()
          }else{
            this.$Message.error(res.data.message);
          }
        }).catch(err => console.log(err))
      },
      getStatus(){
        getTableData({
          url: '/middle/common/dictionary/getdictbycode',
          type: 'post',
          data: {dictCode:'MIDDLE_BILL_STATUS'}
        }).then(res => {
          if (res.data.code == 200) {
            this.verifyList = res.data.data
          }else{
            this.$Message.error(res.data.message);
          }
        }).catch(err => console.log(err))
      },
      switchuser(item) {
        switch (item.status) {
          case 0:
            this.switchuserObj.status = 1
            break;
          case 1:
            this.switchuserObj.status = 0
            break;
        }
        this.switchuserObj.id = item.id;
        this.switchuserObj.loginAccount = this.loginAccount;
        getTableData({
          url: '/middle/system/user/switchuser',
          type: 'post',
          data: this.switchuserObj
        }).then(res => {
          if (res.data.code == 200) {
            this.$Message.success('ok');
            this.getUserList()
          }else{
            this.$Message.error(res.data.message);
          }
        }).catch(err => console.log(err))
      },
      upDate (index) {
        let item = this.data1[index];
        this.modalShow = true;
        this.type2List = item;
        getTableData({
          url: '/middle/system/role/getroledict',
          type: 'post',
          data: {}
        }).then(res => {
          if (res.data.code == 200) {
            this.type1List = res.data.data
          }else if(res.data.code == 104){
            this.$router.push({
              path: '/login'
            })
          }else{
            this.$Message.error(res.data.message);
          }
        }).catch(err => console.log(err))
      },
      saveUpdate () {
        this.form2.loginAccount = this.type2List.loginAccount;
        this.form2.roleIds = this.type2List.roleIds;
        this.form2.userName = this.type2List.userName;
        this.form2.mobile = this.type2List.mobile;
        this.form2.id = this.type2List.id;
        getTableData({
          url: '/middle/system/user/update',
          type: 'post',
          data: this.form2
        }).then(res => {
          if (res.data.code == 200) {
            if (res.data.data.loginAccountValid && res.data.data.mobileValid) {
              this.getUserList()
            }
          }else if(res.data.code == 104){
            this.$router.push({
              path: '/login'
            })
          }else{
            this.$Message.error(res.data.message);
          }
        }).catch(err => console.log(err))
      },
      reset (index) {
        let item = this.data1[index];
        getTableData({
          url: '/middle/system/user/resetpassword',
          type: 'post',
          data: { id: item.id }
        }).then(res => {
          if (res.data.code == 200) {
            const title = '重置密码成功';
            const content = `账号：`+item.loginAccount+`<p>新密码为${res.data.data}</p>`;
            this.$Modal.success({
              title: title,
              content: content
            })
          }else{
            this.$Message.error(res.data.message)
          }
        }).catch(err => console.log(err))
      },
      createUser () {
        this.$router.push({
          path: 'addUser'
        })
      },
      getUserList () {
        getTableData({
          url: '/middle/financeBill/list',
          type: 'post',
          data: this.form
        }).then(res => {
          if (res.data.code == 200) {
            this.data1 = res.data.data.list;
            this.total = res.data.data.total
          }else{
            this.total=0
          }
        }).catch(err => console.log(err))
      },
      type1OnChange(name) {
        this.form2.roleIds.splice(0, 1, name);
        this.type2List.roleIds = this.form2.roleIds
      }
    }
  }
</script>

<style lang="less">
  .vertical-center-modal{
    display: flex;
    align-items: center;
    justify-content: center;
    .ivu-modal{
      top: 0;
    }
  }
</style>
