<template>
  <div class="wrap">
    <div class="item">
      <span>待付款订单取消时间：</span>
      <Input style="width: 200px" v-model="data1.orderCancelTime" type="text">
        <span slot="append">分钟</span>
      </Input>
    </div>
    <div class="item">
      <span>秒杀订单取消时间：</span>
      <Input style="width: 200px" v-model="data1.spikeOrderCancelTime" type="text">
        <span slot="append">分钟</span>
      </Input>
    </div>
    <div class="item">
      <span>是否启用准入接口：</span><RadioGroup v-model="data1.interfaceIsOpen">
        <Radio :label="1">是</Radio>
        <Radio :label="0">否</Radio>
      </RadioGroup>
      <div v-if="r1=='1'">
        <span>接口地址：</span><Input v-model="data1.interfaceUrl" style="width: 200px" type="text"></Input>
      </div>
    </div>
    <div>
      <Button @click="setInfo" type="primary">保存</Button>
    </div>
  </div>
</template>

<script>
  import { getTableData } from '@/api/data'
  export default {
    name: "orderSet",//订单设置
    data(){
      return{
        r1:'1',
        data1:{}
      }
    },
    mounted(){
      this.getInfo()
    },
    methods:{
      setInfo(){
        if(this.$tools.isEmpty(this.data1.orderCancelTime)){
          this.$Message.warning('请输入待付款订单取消时间')
          return
        }
        if(this.$tools.isEmpty(this.data1.spikeOrderCancelTime)){
          this.$Message.warning('请输入秒杀订单取消时间')
          return
        }
        if(this.data1.interfaceIsOpen=='1'&&this.$tools.isEmpty(this.data1.interfaceUrl)){
          this.$Message.warning('请输入接口地址')
          return
        }
        getTableData({
          url: '/middle/orderConfig/update',
          type: 'post',
          data: {
            interfaceIsOpen:this.data1.interfaceIsOpen,
            interfaceUrl:this.data1.interfaceUrl,
            orderCancelTime:this.data1.orderCancelTime,
            spikeOrderCancelTime:this.data1.spikeOrderCancelTime,
          }
        }).then(res => {
          if (res.data.code == 200) {
            this.$Message.success('保存成功')
          }
        }).catch(err => console.log(err))
      },
      getInfo(){
        getTableData({
          url: '/middle/orderConfig/toEdit',
          type: 'post',
          data: {}
        }).then(res => {
          if (res.data.code == 200) {
            if(res.data.data){
              this.data1 = res.data.data;
            }
          }
        }).catch(err => console.log(err))
      }
    }
  }
</script>

<style scoped lang="less">
  .wrap{
    display: flex;
    flex-direction: column;
    font-size: 14px;
    .item{
      display: flex;
      flex-direction: row;
      align-items: center;
      margin: 1rem;
    }
  }
</style>
