<template>
  <div class="order" style="background:#fff; padding:10px;">
    <Form :model="form" label-position="left" :label-width="60" inline style="">
      <FormItem label="订单搜索">
        <Select :clearable="true" clearable @on-change="typeChange" style="width:160px;">
          <Option v-for="item in orderTypeList" :value="item.value" :key="item.value">{{ item.label }}</Option>
        </Select>
      </FormItem>
      <FormItem label="" :label-width="2">
        <Input :clearable="true" :maxlength="40" placeholder="请输入内容" v-model="text" style="width: 160px" />
      </FormItem>
      <FormItem label="下单时间">
        <DatePicker :clearable="true"
                    :value="date"
                    @on-change="getTime"
                    format="yyyy-MM-dd HH:mm:ss"
                    type="datetimerange"
                    placement="bottom-end" placeholder="请选择时间" style="width: 300px;margin-left: 10px;"></DatePicker>
      </FormItem>
      <FormItem label="" :label-width="2">
        <Button @click="changeDate(7)">近7天</Button>
      </FormItem>
      <FormItem label="" :label-width="2">
        <Button @click="changeDate(30)">近30天</Button>
      </FormItem>
      <FormItem label="商品名称">
        <Input :clearable="true" :maxlength="10" v-model="form.q_productName" placeholder="请输入内容"></Input>
      </FormItem>
      <!-- <FormItem label="订单状态">
        <Select @on-change="statusChange" clearable style="width:160px;">
          <Option v-for="item in orderStateList" :value="item.value" :key="item.value">{{ item.label }}</Option>
        </Select>
      </FormItem> -->
      <FormItem label="客户" style="margin-left: 10px;" :label-width="40">
        <Input :clearable="true" :maxlength="10" v-model="form.input2" placeholder="请输入内容"></Input>
      </FormItem>
    </Form>
    <Form :model="form" label-position="left" :label-width="0" inline style="">
      <FormItem label="">
        <Button @click="()=>{this.form.pageNo=1;this.queryOrderList()}" type="info">筛选</Button>
      </FormItem>
      <FormItem label="">
        <Button icon="md-download" :loading="exportLoading" @click="exportExcel">批量导出</Button>
      </FormItem>
    </Form>
    <Tabs :value="tabName" @on-click="test">
      <TabPane label="全部" name="1">
        <orderList :columns1="columns1" :data1="data1" :loading="loading"></orderList>
      </TabPane>
      <TabPane label="待支付" name="2">
        <orderList :columns1="columns1" :data1="data1" :loading="loading"></orderList>
      </TabPane>
      <TabPane label="待发货" name="3">
        <orderList :columns1="columns1" :data1="data1" :loading="loading"></orderList>
      </TabPane>
      <TabPane label="已发货" name="4">
        <orderList :columns1="columns1" :data1="data1" :loading="loading"></orderList>
      </TabPane>
      <TabPane label="已收货" name="5">
        <orderList :columns1="columns1" :data1="data1" :loading="loading"></orderList>
      </TabPane>
      <TabPane label="客服取消" name="6">
        <orderList :columns1="columns1" :data1="data1" :loading="loading"></orderList>
      </TabPane>
      <TabPane label="系统取消" name="7">
        <orderList :columns1="columns1" :data1="data1" :loading="loading"></orderList>
      </TabPane>
      <TabPane label="售后取消" name="8">
        <orderList :columns1="columns1" :data1="data1" :loading="loading"></orderList>
      </TabPane>
    </Tabs>
    <div style="text-align: center">
      <Page
        :total="total"
        :page-size="form.pageSize"
        :current="this.form.pageNo"
        @on-change="pageChange"
        @on-page-size-change="pageSizeChange"
        show-total style="margin-top:10px;" />
    </div>

  </div>
</template>

<script>
  import { getTableData } from '@/api/data'
  import orderList from './orderList1'
  import excel from '@/libs/excel'
  export default {
    name: 'order_2_1',
    components: {
      orderList
    },
    data () {
      return {
        loading: true,
        tabName: '1',
        exportLoading: false,
        text: '',
        status,
        orderStateList: [],
        orderTypeList: [
          {
            value: '1',
            label: '订单编号'
          },
          {
            value: '2',
            label: '收货人'
          },
          {
            value: '3',
            label: '收货手机号'
          },
          {
            value: '4',
            label: '购买人'
          },
          // {
          //   value: '5',
          //   label: '购买手机号'
          // }
        ],
        date: ['', ''],
        total: 0,
        form: {
          channel: 10001,      //	订单渠道		true	int32
          memberId: this.$store.state.user.customerId,     //	用户id		true	int32
          pageNo: 1,        //	页数		true	int32
          pageSize: 10,     //	条数		true	int32
          platform: 30,      //	所属平台		true	int32
          q_mobile: '',     //	收货人手机号		false	string
          q_name: '',       //	收货人姓名		false	string
          q_orderSn: '',    //	订单号		false	string
          q_orderState: '', //	订单状态	false	string
          q_productName: '',//  商品名称	false	string
          q_sellerId: '',   //	商家id		false	string
          q_xdEndTime: '',  //	结束时间 yyyy-MM-dd		false	string
          q_xdStartTime: '',//	开始时间 yyyy-MM-dd		false	string
          startOfPage: 0,  //		false	int32
          traceId: 3123,       //	跟踪标识		true	int64
          q_memberMobile: "",
          q_memberName: "",
        },
        columns1: [
          {
            title: "商品",
            key: "productName",
          },
          {
            title: "数量",
            key: "number",
          },
          {
            title: "订单号",
            key: "orderSn",
          },
          {
            title: "订单状态",
            key: "action",
            width: 150,
            render: (h, params) => {
              return h('div', [
                h('span', {},
                  params.row['orderState'] == 203 ? '待信用支付' :
                    params.row['orderState'] == 204 ? '待支付首付' :
                      params.row['orderState'] == 205 ? '待支付' :
                        params.row['orderState'] == 206 ? '待发货' :
                          params.row['orderState'] == 209 ? '已发货' :
                            params.row['orderState'] == 220 ? '已收货' :
                              params.row['orderState'] == 220 ? '已完成' :
                                params.row['orderState'] == 206 ? '待配货' :
                                  params.row['orderState'] == 601 ? '拼团中' :
                                    params.row['orderState'] == 611 ? '备货中' :
                                      params.row['orderState'] == 621 ? '待取消' :
                                        params.row['orderState'] == 221 ? '用户取消' :
                                          params.row['orderState'] == 222 ? '客服取消' :
                                            params.row['orderState'] == 223 ? '系统取消' :
                                              params.row['orderState'] == 224 ? '放款失败' :
                                                params.row['orderState'] == 301 ? '售后取消' :
                                                  params.row['orderState'] == 502 ? '交易复核未通过' :
                                                    params.row['orderState'] == 501 ? '交易复核中' : ''

                )
              ]);
            }
          },
          {
            title: "买家",
            key: "memberName",
          },
          {
            title: "下单时间",
            key: "createTime",
          },
          {
            title: "实付金额",
            key: "moneyOrder",
          },
          {
            title: "地址",
            key: "addressInfo",
          },
          {
            title: "优惠金额",
            key: "moneyCoupon",
          },
          {
            title: "操作",
            slot: "action",
            width: 150,
            align: "center"
          }
        ],
        data1: []
      }
    },
    mounted(){
      this.getdictbycode()
      this.queryOrderList()
    },
    methods: {
      test (name) {
        this.loading = true;
        switch (name) {
          case '1':
            this.form.q_orderState = ''
            break;
          case '2':
            this.form.q_orderState = '205'
            break;
          case '3':
            this.form.q_orderState = '206'
            break;
          case '4':
            this.form.q_orderState = '209'
            break;
          case '5':
            this.form.q_orderState = '220'
            break;
          case '6':
            this.form.q_orderState = '222'
            break;
          case '7':
            this.form.q_orderState = '223'
            break;
          case '8':
            this.form.q_orderState = '301'
            break;
        }
        this.queryOrderList()
      },
      getdictbycode() {
        getTableData({
          url: '/middle/common/dictionary/getdictbycode',
          type: 'post',
          data: {
            dictCode:'ORDER_STATUS'
          }
        }).then(res => {
          if (res.data.code == 200) {
            this.orderStateList = res.data.data
          }
        }).catch(err => console.log(err))
      },
      queryOrderList(name){
        this.form.q_orderSn = '';
        this.form.q_name = '';
        this.form.q_mobile = '';
        this.form.q_memberName = '';
        this.form.q_memberMobile = '';
        switch (this.status) {
          case '1':
            this.form.q_orderSn = this.text
            break;
          case '2':
            this.form.q_name = this.text
            break;
          case '3':
            this.form.q_mobile = this.text
            break;
          case '4':
            this.form.q_memberName = this.text
            break;
          case '5':
            this.form.q_memberMobile = this.text
            break;
        }
        this.form.q_xdStartTime=this.date[0]
        this.form.q_xdEndTime=this.date[1]
        getTableData({
          url: '/middle/order/queryOrderList',
          type: 'post',
          data: this.form
        }).then(res => {
          if (res.data.code == 200) {
            this.data1 = res.data.data.list;
            this.total = res.data.data.totalRows
          }
        }).catch(err => console.log(err))
      },
      changeDate(day) {
        function getDay(day){
          let today = new Date();
          let targetday_milliseconds=today.getTime() + 1000*60*60*24*day;
          today.setTime(targetday_milliseconds);
          let tYear = today.getFullYear();
          let tMonth = today.getMonth();
          let tDate = today.getDate();
          tMonth = doHandleMonth(tMonth + 1);
          tDate = doHandleMonth(tDate);
          return tYear+"-"+tMonth+"-"+tDate;
        }
        function doHandleMonth(month){
          let m = month;
          if(month.toString().length == 1){
            m = "0" + month;
          }
          return m;
        }
        //this.date.splice(0, 2, getDay(-day), getDay(-1))
        this.date = [getDay(-day) + ' 00:00:00', getDay(-1) + ' 00:00:00'];
      },
      getTime(time) {
        this.form.q_xdStartTime = time[0];
        this.form.q_xdEndTime = time[1];
      },
      pageSizeChange (pageSize) {
        this.form.pageSize = pageSize;
        this.queryOrderList()
      },
      pageChange (index) {
        this.form.pageNo = index;
        this.queryOrderList()
      },
      typeChange (value) {
        this.status = value;
      },
      exportExcel () {
        if (this.data1.length) {
          this.exportLoading = true;
          let titleArr = [];
          let keyArr = [];
          this.columns1.forEach(item => {
            titleArr.push(item.title)
            keyArr.push(item.key)
          });
          const params = {
            title: titleArr,
            key: keyArr,
            data: this.data1,
            autoWidth: true,
            filename: '订单列表'
          }
          excel.export_array_to_excel(params)
          this.exportLoading = false
        } else {
          this.$Message.info('表格数据不能为空！')
        }
      }
    }
  }
</script>

<style lang="less">

</style>
