<template>
  <div style="background: #fff; padding: 10px;">
    <div style="line-height: 32px;"><span>客户</span>
      <span style="margin-left: 20px;">{{form.kehu}}</span>
      <Button v-if="data.workOrderId" @click="afterSaleDetail" style="float: right;">查看售后详情</Button>
    </div>
    <Row :span="24" style="margin-bottom: 20px;">
      <Col :span="12">
        <h3>订单信息</h3>
        <Form :model="data">
          <FormItem label="订单ID：">
            {{data.orderSn}}
          </FormItem>
          <FormItem label="订单状态：">
            {{data.orderStateName}}
          </FormItem>
          <FormItem label="下单日期：">
            {{data.createTime}}
          </FormItem>
          <FormItem label="订单分类：">
            {{data.orderTypeName}}
          </FormItem>
          <FormItem label="支付日期：">
            {{data.payTime}}
          </FormItem>
        </Form>
      </Col>
      <Col :span="12">
        <h3>商品信息</h3>
        <Form :model="data">
          <FormItem label="商品：">
            {{!!data.orderProductList ? data.orderProductList[0].productName : ''}}
          </FormItem>
          <FormItem label="规格：">
            {{!!data.orderProductList ? data.orderProductList[0].specInfo : ''}}
          </FormItem>
          <FormItem label="单价：">
            {{!!data.orderProductList ? data.orderProductList[0].moneyPrice.toFixed(2) : ''}}
          </FormItem>
          <FormItem label="数量：">
            {{!!data.orderProductList ? data.orderProductList[0].number : ''}}
          </FormItem>
        </Form>
      </Col>
    </Row>
    <Row :span="24" style="margin-bottom: 20px;">
      <Col :span="12">
        <h3>支付信息</h3>
        <Form :model="data">
          <FormItem label="商品总价：">
            {{data.moneyProduct? data.moneyProduct.toFixed(2) : ''}}
          </FormItem>
          <FormItem label="优惠券：">
            {{data.moneyCoupon}}
          </FormItem>
          <FormItem label="活动优惠：">
            {{data.moneyActFull?data.moneyActFull.toFixed(2):''}}
          </FormItem>
          <FormItem label="实付金额：">
            {{data.moneyOrder?data.moneyOrder.toFixed(2):''}}
          </FormItem>
          <FormItem label="付款方式：">
            {{data.paymentName}}
          </FormItem>
        </Form>
      </Col>
      <Col :span="12">
        <h3>用户信息</h3>
        <Form :model="data">
          <FormItem label="姓名：">
            {{data.memberName}}
          </FormItem>
          <FormItem label="手机号：">
            {{data.memberMobile}}
          </FormItem>
          <FormItem label="会员级别：">
            {{data.level}}
          </FormItem>
        </Form>
      </Col>
    </Row>
    <Row :span="24">
      <Col :span="12">
        <h3>收货信息</h3>
        <Form :model="data">
          <FormItem label="收货地址：">
            {{data.addressInfo}}
          </FormItem>
          <FormItem label="收货人：">
            {{data.name}}
          </FormItem>
          <FormItem label="手机号：">
            {{data.mobile}}
          </FormItem>
          <FormItem label="物流单号：">
            {{data.logisticsNumber}}
          </FormItem>
          <FormItem label="物流公司：">
            {{data.logisticsName}}
          </FormItem>
        </Form>
      </Col>
    </Row>
  </div>
</template>
<script>
  import { getTableData } from '@/api/data'
  import { getDate } from '@/libs/tools'
  export default {
    props: {

    },
    data() {
      return {
        form: {
          channel: 10001,
          memberId: '',
          orderSn: '',
          platform: 30,
          traceId: 123
        },
        data: {},
        date1: ''
      };
    },
    mounted() {
      this.form.memberId=this.$route.query.memberId
      this.form.orderSn=this.$route.query.id
      this.getOrderDetailById()
    },
    watch:{
      '$route' (to, from) {
        this.form.memberId=to.query.memberId
        this.form.orderSn=to.query.id
        this.getOrderDetailById()
        // if (to.query.username!=from.query.username) {
        //   this.form.username = this.$route.query.username;
        //   this.listBalance();
        // }
      }
    },
    methods: {
      getOrderDetailById(){
        getTableData({
          url: '/middle/order/getOrderDetailById',
          type: 'post',
          data: this.form
        }).then(res => {
          if (res.data.code == 200) {
            this.data = res.data.data
          }else if(res.data.code == 104){
            this.$router.push({
              path: '/login'
            })
          }else{
            this.$Message.error(res.data.message);
          }
        }).catch(err => console.log(err))
      },
      afterSaleDetail () {
        this.$router.push({
          path: '/order/afterSaleDetail',
          query: {
            id: this.data.workOrderId
          }
        })
      },
      formatDate(date) {
        function doHandleMonth(month){
          let m = month;
          if(month.toString().length == 1){
            m = "0" + month;
          }
          return m;
        }
        function getDay(date){
          let today = new Date(date);
          let tYear = today.getFullYear();
          let tMonth = today.getMonth();
          let tDate = today.getDate();
          tMonth = doHandleMonth(tMonth + 1);
          tDate = doHandleMonth(tDate);
          console.log(tYear+"-"+tMonth+"-"+tDate)
          return tYear+"-"+tMonth+"-"+tDate;
        }
      }
    }
  };
</script>
<style lang="less" scoped>
  h3{
    margin-bottom: 10px;
  }
  .ivu-form-item{
    margin-bottom: 0;
  }
</style>
