
<template>
  <Table border :columns="columns1" :data="data1">
    <template slot-scope="{ row }" slot="name">
      <strong>{{ row.name }}</strong>
    </template>
    <template slot-scope="{ row, index }" slot="action">
      <Button
        type="info"
        size="small"
        @click="detail(row)"
      >查看详情</Button>
    </template>
  </Table>
</template>
<script>
export default {
    props: {
        columns1: {
            type: Array
        },
        data1: {
            type: Array
        }
    },
  data() {
    return {

    };
  },
  methods: {
    detail(row) {
      //this.$store.state.memberId = row.memberId;
      this.$router.push({
        path: 'orderDetail',
        query: {
          id: row.orderSn,
          memberId:row.memberId,
          workOrderId:row.workOrderId
        }
      })
    },
  }
};
</script>
