<template>
  <div>
        <div>
          <div class="default">
            <div class="label">标 题：</div>
            <div>
              <Input :maxlength="10" :disabled="editDefault==1" type="text" v-model="formInline.title" placeholder="请输入标题">
              </Input>
            </div>
          </div>
          <div class="default">
            <div class="label">期数与费率：</div>
            <div class="wrap">
              <div class="header">
                <div class="item">期数</div>
                <div class="item">费率</div>
                <div class="item">折扣</div>
                <div class="item">折后费率</div>
              </div>
              <div class="rate-wrap" v-for="(item,index) in formInline.stagesRateList" :key="index">
                <div class="item">
                  <Input type="text" :disabled="!$route.query.edit" v-model="item.period" placeholder="请输入期数">
                  </Input>
                </div>
                <div class="item">
                  <InputNumber style="width: 100%" :min="0" :max="1" :maxlength="1" :disabled="!$route.query.edit" v-model="item.rate" placeholder="请输入费率">
                  </InputNumber>
                </div>
                <div class="item">
                  <InputNumber style="width: 100%" :min="0" :max="1" :disabled="!$route.query.edit" v-model="item.discount" placeholder="请输入折扣">
                  </InputNumber>
                </div>
                <div class="item">
                  <Input disabled :value="Number(item.discount)*Number(item.rate)" type="text"></Input>
                </div>
                <div class="item" v-if="$route.query.edit">
                  <Button @click="delRate(index)" size="small" type="error">删除</Button>
                </div>
              </div>
              <div style="margin: 0.5rem" v-if="$route.query.edit">
                <Button @click="addRate" long size="small" type="dashed">添加费率</Button>
              </div>
            </div>
          </div>
          <div class="default">
            <div class="label">生效日期：</div>
            <Input v-if="editDefault==1" :disabled="editDefault==1" type="text" style="width: 200px" value="永久生效">
            </Input>
            <DatePicker
              :disabled="!$route.query.edit"
              v-model="effDate" v-if="editDefault!=1"
              @on-change="getTime"
              format="yyyy-MM-dd HH:mm:ss"
              type="datetimerange"
              placeholder="选择生效日期"
              style="width: 300px"></DatePicker>
          </div>
          <div class="default" v-if="$route.query.edit">
            <Button :disabled="saveFlag" v-if="$route.query.id=='new'" @click="createRate" size="small" type="primary">生成活动</Button>
            <Button :disabled="saveFlag" v-if="$route.query.id!='new'" @click="upOrderState" size="small" type="primary">保存活动</Button>
          </div>
        </div>
        <div>
          <div class="default">
            <div class="check-product">
              <div class="check-opt">
                <div class="label">选择商品：</div>
                <RadioGroup v-model="disabledGroup">
                  <Radio  label="1">全部商品</Radio>
                  <Radio :disabled="editDefault==1" label="2">选择分类</Radio>
                  <Radio :disabled="editDefault==1" label="3">筛选商品</Radio>
                </RadioGroup>
              </div>
              <div v-if="disabledGroup=='2'">
                <div style="margin-bottom: .5rem;" class="label">选择分类：</div>
                <Select :disabled="!$route.query.edit" :label-in-value="true" @on-change="level1" v-model="classification1" style="width:150px;margin-right: .5rem">
                  <Option v-for="item in cateList1" :value="item.id" :key="item.id">{{ item.name }}</Option>
                </Select>
                <Select :disabled="!$route.query.edit" :label-in-value="true" @on-change="level2" v-model="classification2" style="width:150px;margin-right: .5rem">
                  <Option v-for="item in cateList2" :value="item.id" :key="item.id">{{ item.name }}</Option>
                </Select>
                <Select :disabled="!$route.query.edit" :label-in-value="true" @on-change="level3" v-model="classification3" style="width:150px;margin-right: .5rem">
                  <Option v-for="item in cateList3" :value="item.id" :key="item.id">{{ item.name }}</Option>
                </Select>
                <Button v-if="$route.query.edit" @click="addClassify" size="small" type="success">添加</Button>
                <div class="classify">
                  <Tag v-for="(item,index) in classifyList" @on-close="delClassLabel(index)" :key="index" color="green" type="border" :closable="$route.query.edit">{{item.cateName}}</Tag>
                </div>
                <div style="margin: .5rem 0;" class="label">排除商品spu：</div>
                <div class="spu">
                  <Tag v-for="(item,index) in spuList" @on-close="delSpu(index)" :key="index" color="cyan" type="border" :closable="$route.query.edit">{{item.productCode}}</Tag>
                  <div>
                    <Input :disabled="!$route.query.edit" v-model="spuText" placeholder="请输入需要排除的spu码" style="width: 160px;margin-right: 4px" type="text" size="small"> </Input>
                    <Button v-if="$route.query.edit" @click="addSPU" size="small" type="success">添加</Button>
                  </div>
                  <div style="margin: .5rem 0">
                    <!--this.spuList-->
                    <Table size="small" :columns="col1" :data="spuList"></Table>
                  </div>
                </div>
              </div>
              <div class="filter-product" v-if="disabledGroup=='3'">
                <Row>
                  <Col span="11">
                    <Card>
                      <p slot="title">
                        <Icon type="ios-film-outline"></Icon>
                        已选择的商品
                      </p>
                      <a @click="saveRateActive" href="#" slot="extra">
                        <Icon type="ios-loop-strong"></Icon>
                        <Button :disabled="!$route.query.edit" size="small" type="primary">保存</Button>
                      </a>
                      <Table :columns="columns2" :data="data2"></Table>
                      <div style="text-align: center;margin-top: .5rem">
                        <Page @on-change="getPage3" :total="pageTotal3"  />
                      </div>
                    </Card>
                  </Col>
                  <Col offset="1" span="11">
                    <Card>
                      <p slot="title">
                        <Icon type="ios-film-outline"></Icon>
                        待选商品
                      </p>
                      <div style="margin: .5rem 0">
                        <span>商品名称：</span>
                        <Input style="width: 130px" v-model="productName" size="small" type="text" placeholder="请输入商品名称"></Input>
                        <span style="margin-left: .5rem">SPU码：</span>
                        <Input v-model="spuIds" style="width: 230px" size="small" type="textarea" placeholder="请输入SPU码,以逗号分割"></Input>
                        <Button :disabled="!$route.query.edit" @click="activeProductList" style="margin-left: .5rem" type="info" size="small">筛选</Button>
                        <Button :disabled="!$route.query.edit" icon="md-swap" @click="addSelectProducts" style="margin-left: .5rem" type="success" size="small">添加商品</Button>
                      </div>
                      <Table @on-selection-change="getProducts" :columns="columns1" :data="data1"></Table>
                      <div style="text-align: center;margin-top: .5rem">
                        <Page @on-change="getPage" :total="pageTotal1"  />
                      </div>
                    </Card>
                  </Col>
                </Row>
              </div>
              <div v-if="disabledGroup=='1'||disabledGroup=='2'" class="all-product">
                <Button v-if="$route.query.edit" @click="saveRateActive" long size="small" type="primary">保 存</Button>
              </div>
            </div>
          </div>
        </div>
  </div>
</template>
<script>
  import {editOrderState,
    createRate,getLevel1,
    getLevel2,getActiveLevel3,
    getBrands,classificationList,
    activeProductList,
    selectActiveProductList,
    addSelectProducts,
    delSelectProducts,
    upOrderState,
    stagesState,
    getTableData,
    saveRateActive} from '@/api/data'
  export default {
    name: "rateEdit",
    data(){
      return {
        pageTotal3:0,
        pageNo3:1,
        saveFlag:false,
        effDate:[],
        classification1:'',
        classification2:'',
        classification3:'',
        tempIds:'',
        editId:'',
        pageTotal1:0,
        pageTotal2:0,
        col1:[
          {
            title: 'SPU',
            key: 'productCode'
          },
          {
            title: '商品名称',
            key: 'name1'
          },
          {
            title: '售价',
            key: 'malMobilePrice'
          },
        ],
        columns1:[
          {
            type: 'selection',
            width: 60,
            align: 'center'
          },
          {
            title: '商品名称',
            key: 'name1'
          },
          {
            title: '商品SPU',
            key: 'productCode'
          },
          {
            title: '售价',
            key: 'malMobilePrice'
          }
        ],
        data1:[],
        data2:[],
        columns2:[
          // {
          //   type: 'selection',
          //   width: 60,
          //   align: 'center'
          // },
          {
            title: '商品名称',
            key: 'name1'
          },
          {
            title: '商品SPU',
            key: 'productCode'
          },
          {
            title: '售价',
            key: 'malMobilePrice'
          },
          {
            title: '操作',
            key: 'action',
            width:180,
            render: (h, params) => {
              return h('div', [
                this.$route.query.edit?h('Button', {
                  props: {
                    type: 'error',
                    size: 'small'
                  },
                  style: {
                    marginRight: '5px'
                  },
                  on: {
                    click: () => {
                      //this.data2.splice(params.index, 1);
                      this.delProduct(params.row)
                    }
                  }
                }, '删除'):'',
              ]);
            }
          },
        ],
        disabledGroup:'1',
        formInline:{
          stagesRateList:[{
              rate:null,
              period:'',
              discount:null
            }]
        },
        rateList:[],
        cateList1:[],
        cateList2:[],
        cateList3:[],
        rateFlag:true,
        classifyLabelList:[],
        classifyList:[],
        ids:[],
        spuList:[],
        spuText:'',
        productName:'',
        spuIds:'',
        selectProductIds:[],
        delProductIds:[],
        editDefault:0,//是否默认费率 1默认
        pageNo1:1,
      }
    },
    mounted(){
      if(this.$route.query.id!='new'){
        this.editOrderState()
        this.editId = this.$route.query.id
      }
      this.getLevel1()
    },
    methods:{
      delProduct(row){
        ///middle/order/stages/product/delete
        getTableData({
          url: '/middle/order/stages/product/delete',
          type: 'post',
          data: [{
            productCode:row.productCode,
            stageInfoId:this.editId
          }]
        }).then(res => {
          if (res.data.code == 200) {
            this.$Message.success('删除成功');
            this.selectActiveProductList()
          }
        }).catch(err => console.log(err))
      },
      upOrderState(){
        if(!this.formInline.title && this.editDefault!=1){
          this.$Message.warning('请输入标题')
          return
        }
        for(let i=0;i<this.formInline.stagesRateList.length;i++){
          this.formInline.stagesRateList[i].discountRate = Number(this.formInline.stagesRateList[i].rate)*Number(this.formInline.stagesRateList[i].discount)
          if(!this.formInline.stagesRateList[i].rate||!this.formInline.stagesRateList[i].discount){
            this.rateFlag = false
          }else{
            this.rateFlag = true
          }
        }
        if(this.formInline.stagesRateList.length<1 || !this.rateFlag){
          this.$Message.warning('请完善费率信息')
          return
        }
        if(!this.formInline.endTime && this.editDefault!=1){
          this.$Message.warning('请选择生效日期')
          return
        }
        this.formInline.id = this.editId
        this.formInline.type=this.disabledGroup
        stagesState(this.formInline).then(res=>{
          if(res.data.code==200){
            this.$Message.success('保存成功')
            this.saveFlag=true
          }
        }).catch(err=>{

        })
      },
      getProducts(selections){
        this.selectProductIds=[]
        for(let i=0;i<selections.length;i++){
          this.selectProductIds.push({'productCode':selections[i].productCode,'stageInfoId':this.editId})
        }
      },
      delSpu(i){
        this.spuList.splice(i,1)
      },
      getPage3(p){
        this.pageNo3 = p
        this.selectActiveProductList()
      },
      getPage(p){
        //alert(p)
        this.pageNo1 = p
        this.activeProductList()
      },
      addSPU(){
        if(!this.spuText){
          this.$Message.warning('请输入spu码')
          return
        }
        this.spuList.push({productCode:this.spuText})
        this.spuText=''
      },
      delClassLabel(i){
        this.classifyList.splice(i,1)
        this.classifyLabelList.splice(i,1)
      },
      addClassify(){
        let flag = false
        if(!this.tempIds){
          this.$Message.warning('请选择分类')
          return
        }
        for(let i=0;i<this.classifyLabelList.length;i++){
          if(this.classifyLabelList[i]==this.tempIds){
            flag=true
          }
        }
        if(flag){
          this.$Message.warning('该分类已添加')
          return
        }

        this.classifyLabelList.push(this.tempIds)
        this.classifyList.push({'cateId':this.ids[0],'cateName':this.ids[1]})
        //alert(JSON.stringify(this.classifyList))
      },
      saveRateActive(){
        saveRateActive({
          stagesCateDtoList:this.classifyList,//3级分类
          stageInfoId:this.editId,//活动id
          stagesInfoProductDtoList:this.spuList,//spu
          type:this.disabledGroup
        }).then(res=>{
          if(res.data.code==200){
            this.$Message.success('添加成功')
          }
        }).catch(err=>{
        })
      },
      getTime(v){
        this.formInline.startTime = new Date(v[0])
        this.formInline.endTime = new Date(v[1])
      },
      level1(v){
        this.tempIds += v.label+'-'
        this.getLevel2(v.value)
      },
      level2(v){
        this.tempIds += v.label+'-'
        this.getLevel3(v.value)
      },
      level3(v){
        this.tempIds += v.label
        this.ids = [v.value,v.label]
        //this.getBrands(v.value)
      },
      getLevel1(){
        getLevel1({
        }).then(res=>{
          this.cateList1 = res.data.data

        }).catch(err=>{

        })
      },
      getLevel2(id){
        getLevel2({
          pid:id
        }).then(res=>{
          this.cateList2 = res.data.data
        }).catch(err=>{

        })
      },
      getLevel3(id){
        getActiveLevel3({
          pid:id
        }).then(res=>{
          this.cateList3 = res.data.data
        }).catch(err=>{

        })
      },
      getBrands(id){
        let temp = ''
        getBrands({
          productTypeIds:id
        }).then(res=>{
          //alert(JSON.stringify(res.data.data))
          this.classificationList=res.data.data
        }).catch(err=>{

        })
      },
      addRate(){
        this.formInline.stagesRateList.push({
          rate:null,
          period:'',
          discount:null,
        })
      },
      delRate(i){
        //alert(i)
        this.formInline.stagesRateList.splice(i,1)
        this.classifyList.splice(i,1)
      },
      addSelectProducts(){
        addSelectProducts(
          this.selectProductIds
        ).then(res=>{
          this.selectActiveProductList()
        }).catch(err=>{

        })
      },
      delSelectProducts(){
        delSelectProducts({

        }).then(res=>{

        }).catch(err=>{

        })
      },
      selectActiveProductList(){
        selectActiveProductList({
          pageSize:10,
          pageNum:this.pageNo3,
          stagesInfoId:this.editId
        }).then(res=>{
          if(res.data.code==200){
            this.data2=res.data.data.list
            this.pageTotal3 = res.data.data.total
          }else{
            this.pageTotal3=0
          }
        }).catch(err=>{

        })
      },
      activeProductList(){
        activeProductList({
          pageNum:this.pageNo1,
          pageSize:10,
          productName:this.productName,
          productCodes:this.spuIds,
          stagesInfoId:this.editId
        }).then(res=>{
          this.data1 = res.data.data.list
          this.pageTotal1 = res.data.data.total
        }).catch(err=>{

        })
      },
      createRate(){
        //生成活动
        if(!this.formInline.title){
          this.$Message.warning('请输入标题')
          return
        }
        for(let i=0;i<this.formInline.stagesRateList.length;i++){
          this.formInline.stagesRateList[i].discountRate = Number(this.formInline.stagesRateList[i].rate)*Number(this.formInline.stagesRateList[i].discount)
          if(!this.formInline.stagesRateList[i].rate||!this.formInline.stagesRateList[i].discount){
            this.rateFlag = false
          }else{
            this.rateFlag = true
          }
        }
        if(this.formInline.stagesRateList.length<1 || !this.rateFlag){
          this.$Message.warning('请完善费率信息')
          return
        }
        if(!this.formInline.endTime){
          this.$Message.warning('请选择生效日期')
          return
        }
        createRate(
          this.formInline
        ).then(res=>{
          if(res.data.code == 200){
            this.editId = res.data.data.id
            this.saveFlag=true
            //alert(this.editId)
          }
        }).catch(err=>{

        })
      },
      getSpu(){
        //middle/order/stages/toEdit
        getTableData({
          url: '/middle/order/stages/toEdit',
          type: 'post',
          data: [{
            id:this.editId
          }]
        }).then(res => {
          if (res.data.code == 200) {

          }
        }).catch(err => console.log(err))

      },
      editOrderState(){
        //alert(this.$route.params.id)
        editOrderState({
          id:this.$route.query.id
        }).then(res=>{
          this.formInline.title=res.data.data.title
          this.formInline.stagesRateList=res.data.data.stagesRateList
          //alert(JSON.stringify(res.data.data))
          this.editDefault=res.data.data.isDefault
          this.disabledGroup = String(res.data.data.type)
          if(res.data.data.endTime){
            this.formInline.startTime=res.data.data.startTime
            this.formInline.endTime=res.data.data.endTime
            this.effDate = [res.data.data.startTime,res.data.data.endTime]
          }
          if(this.disabledGroup=='2'){
            this.classifyList=res.data.data.stagesInfoCateVoList
            this.spuList = res.data.data.stagesInfoProductList
          }
          if(this.disabledGroup=='3'){
            this.activeProductList()
            this.selectActiveProductList()
          }
        }).catch(err=>{

        })
      }
    }
  }
</script>

<style scoped lang="less">
  .check-product{
    display: flex;
    flex-direction: column;
    .check-opt{
      display: flex;
      flex-direction: row;
      margin: 1rem 0;
    }
  }
  .all-product{
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 1rem;
  }
  .default{
    display: flex;
    flex-direction: row;
    align-items: center;
    font-size: 12px;
    margin: 1rem 0;
    .label{
      width: 80px;
    }
    .rate-wrap{
      display: flex;
      flex-direction: row;
      align-items: center;
      .item{
        margin: 0.5rem .5rem;
      }
    }
  }
  .wrap{
    display: flex;
    flex-direction: column;
    .header{
      display: flex;
      flex-direction: row;
      .item{
        width: 144px;
        margin: 0 .5rem;
      }
    }
  }
</style>
