<template>
  <div>
    <Form :label-width="60" ref="formInline" :model="formInline" inline>
      <FormItem label="标题">
        <Input :maxlength="10" type="text" v-model="formInline.title" placeholder="请输入标题">
        </Input>
      </FormItem>
      <FormItem label="生效时间">
        <DatePicker
          @on-change="getTime"
          type="datetimerange"
          format="yyyy-MM-dd HH:mm:ss"
          split-panels placeholder="请选择生效时间"
          style="width: 300px"></DatePicker>
      </FormItem>
      <FormItem label="SPU码">
          <Input v-model="formInline.productCodes" type="text" placeholder="请输入商品SPU码">
            <Icon @click="getSPUMsg" type="ios-search" slot="suffix" />
          </Input>
      </FormItem>
      <FormItem>
        <Button style="margin:0 .5rem" type="info" @click="orderStages">筛选</Button>
        <Button style="margin:0 .5rem" type="primary" @click="createRate">添加</Button>
      </FormItem>
    </Form>
    <Divider/>
    <Table :columns="columns1" :data="data1"></Table>

  </div>
</template>

<script>
  import {getTableData,orderStages,upOrderState} from '@/api/data'
  export default {
    name: "rateList",
    data(){
      return {
        formInline:{
          endTime:'',
          startTime:'',
          pageNum:1,
          pageSize:20,
          title:'',
        },
        columns1:[
          {
            title: '标题',
            key: 'title'
          },
          {
            title: '折扣信息',
            key: 'information'
          },
          {
            title: '适用商品',
            key: 'applyProductsStr'
          },
          {
            title: '生效时间',
            key: 'stageTimeRange',
            // render: (h, params) => {
            //   return params.startTime+' '+params.endTime
            // }
          },
          {
            title: '状态',
            key: 'statusStr'
          },
          {
            title: '操作',
            key: 'action',
            width:180,
            render: (h, params) => {
              return h('div', [
                params.row.status !== 1?h('Button', {
                  props: {
                    type: params.row.status==3?'primary':'error',
                    size: 'small'
                  },
                  style: {
                    marginRight: '5px'
                  },
                  on: {
                    click: () => {
                      params.row.status==3?this.upOrderState(params.row.id,2):this.upOrderState(params.row.id,3)
                    }
                  }
                }, params.row.status==3?'启用':'停用'):'',
                h('Button', {
                  props: {
                    type: 'info',
                    size: 'small'
                  },
                  style: {
                    marginRight: '5px'
                  },
                  on: {
                    click: () => {
                      this.$router.push({
                        path:'/order/rateEdit',
                        query:{
                          id:params.row.id,
                          edit:false
                        }
                      })
                    }
                  }
                }, '查看'),
                params.row.status!=2?h('Button', {
                  props: {
                    type: 'success',
                    size: 'small'
                  },
                  style: {
                    marginRight: '5px'
                  },
                  on: {
                    click: () => {
                      this.$router.push({
                        path:'/order/rateEdit',
                        query:{
                          id:params.row.id,
                          edit:true
                        }
                      })
                    }
                  }
                }, '编辑'):'',
              ]);
            }
          },
        ],
        data1:[]
      }
    },
    mounted(){
      this.orderStages()
    },
    methods:{
      getSPUMsg(){
        ///middle/order/stages/queryStageBySpu
        getTableData({
          url: 'middle/order/stages/queryStageBySpu',
          type: 'post',
          data: {
            productCode:this.formInline.productCodes
          }
        }).then(res => {
          if (res.data.code == 200) {
            this.$Modal.info({
              title: '提示',
              content: res.data.data
            });
          }
        }).catch(err => console.log(err))
      },
      createRate(){
        this.$router.push({
          path:'/order/rateEdit',
          query:{
            id:'new',
            edit:true
          }
        })
      },
      getTime(v){
        this.formInline.startTime=v[0]
        this.formInline.endTime=v[1]
      },
      orderStages(){
        // customerId		body	false	int32
        // endTime		body	false	date-time
        // pageNum	当前页码	body	false	int32
        // pageSize	每页记录数	body	false	int32
        // startTime		body	false	date-time
        // title
        orderStages(this.formInline).then(res=>{
          this.data1=res.data.data.list
        }).catch(err=>{

        })
      },
      upOrderState(id,status){
        upOrderState({
          id:id,
          status:status
        }).then(res=>{
          if(res.data.code == 200){
            this.$Message.success('操作成功')
            this.orderStages()
          }
        }).catch(err=>{

        })
      }
    }
  }
</script>

<style scoped>

</style>
