<template>
  <div class="home">
    <h3 class="data-title">经营概况</h3>
    <Row :gutter="20" style="padding-top:20px;">
      <div class="wrap">
        <i-col :xs="12"
               :md="8"
               :lg="4"
               :xl="4"
               :xxl="4"
               v-for="(infor, i) in inforCardData" :key="`infor-${i}`"
               style="border:1px #d0d0d0 solid;width:200px;height: 120px;padding-bottom: 10px;text-align:center; cursor:pointer;">
          <p style="font-size: 14px;margin-bottom: 1rem">{{ infor.title }}</p>
          <count-to :end="infor.count" class="count-style"/>
        </i-col>
      </div>
    <div class="wrap-1">
      <div class="wrap-2">
        <div class="title">我的应用</div>
        <div class="wrap-3">
          <router-link to="/couponManage/couponList">
            <div class="item">优惠券</div>
          </router-link>
          <div class="item">活动</div>
          <router-link to="/page/mallManage">
            <div class="item">商城管理</div>
          </router-link>
        </div>
        <div class="wrap-3">
          <router-link to="/order/rateManage">
            <div class="item">费率配置</div>
          </router-link>
          <div class="item">用户分组</div>
          <router-link to="/setting/mallSetting">
            <div class="item">商城设置</div>
          </router-link>
        </div>
      </div>
      <div class="wrap-2">
        <div class="title">帮助中心</div>
        <div class="agent">
          <div>
            <img style="width: 200px" src="./images/agent.png" alt="">
          </div>
        </div>
      </div>
    </div>
    </Row>


    <!--<h3 class="data-title">访问数据（本月）</h3>-->
    <!--<Row :gutter="20" style="padding-top:20px;">-->
      <!--<i-col :xs="12" :md="8" :lg="4" v-for="(infor, i) in inforCardData2" :key="`infor-${i}`" style="height: 120px;padding-bottom: 10px;text-align:center; cursor:pointer;">-->
        <!--<p>{{ infor.title }}</p>-->
        <!--<count-to :end="infor.count" class="count-style"/>-->
      <!--</i-col>-->
    <!--</Row>-->
  </div>
</template>

<script>
  import { getTableData } from '@/api/data'
  import CountTo from '_c/count-to'

  export default {
    name: 'home',
    components: {
      CountTo
    },
    data () {
      return {
        inforCardData: [
          { title: '访问人数', count: 55 },
          { title: '下单人数', count: 232 },
          { title: '付款人数', count: 142 },
          { title: '支付金额', count: 142 },
          { title: '待发货订单', count: 142 },
          { title: '售后中订单', count: 657 }
        ],
        inforCardData2: [
          { title: '访问人数', count: 803 },
          { title: '下单人数', count: 232 },
          { title: '付款人数', count: 142 },
          { title: '支付金额', count: 657 }
        ]
      }
    },
    mounted () {
    },
    methods: {
      getName(name) {
        console.log(name)
      }
    }
  }
</script>

<style scoped lang="less">
  .home {
    .wrap{
      display: flex;
      flex-wrap: wrap;
      width: 800px;
    }
    .count-style{
      font-size: 50px;
      font-weight: bold;
    }
    .ivu-menu-dark{
      margin-top: 10px;
    }
    .ivu-col{
      padding: 10px;
    }
    .ivu-row{
      background:#fff;
      margin-bottom: 20px;
    }
    .data-title{
      margin: 10px 0;
    }

    .wrap-1{
      display: flex;
      flex-direction: row;
      margin-top: 2rem;
      .wrap-2{
        display: flex;
        flex-direction: column;
        .title{
          display: flex;
          justify-content: center;
          align-items: center;
          border: #c3c3c3 1px solid;
          height: 50px;
        }
        .agent{
          display: flex;
          align-items: center;
          justify-content: center;
          border: #c3c3c3 1px solid;
          height: 200px;
        }
        .wrap-3{
          display: flex;
          flex-direction: row;
          .item{
            display: flex;
            align-items: center;
            justify-content: center;
            border: #c3c3c3 1px solid;
            width: 200px;
            height: 100px;
          }
        }
      }
    }
  }
</style>
