<template>
  <div>
    <div class="default-wrapper">
      <div>
        【默认】{{this.defaultData.title?this.defaultData.title:''}}
      </div>
      <div>
        <!--()=>{this.status=1;this.modal1=true;this.currentId=this.defaultData.id?this.defaultData.id:''}-->
        <Button
          @click="editDefault"
          type="primary">编辑</Button>
      </div>
    </div>
    <div style="margin: 1rem 0">
      <Button @click="()=>{this.status=0;this.modal1=true;this.$refs.editor.setHtml('')}"
              size="small" type="success">添加自定义</Button>
    </div>
    <Table :columns="columns1" :data="data1"></Table>
    <Modal
      v-model="modal1"
      :mask-closable="false"
      width="80%"
      :closable="false"
      :title="status==1?'编辑售后详情':'新增售后详情'">
      <div>
        <span>售后标题：</span>
        <Input clearable v-model="title" type="text" style="width: 200px" placeholder="请输入售后标题..."></Input>
        <span v-if="status==0">商品分类：</span>
        <Select v-if="status==0" clearable @on-change="level1" v-model="classification1" style="width:100px">
          <Option v-for="item in cateList1" :value="item.id" :key="item.id">{{ item.name }}</Option>
        </Select>
        <Select v-if="status==0" clearable @on-change="level2" v-model="classification2" style="width:100px">
          <Option v-for="item in cateList2" :value="item.id" :key="item.id">{{ item.name }}</Option>
        </Select>
        <Select v-if="status==0" clearable :label-in-value="true" @on-change="level3" v-model="classification3" style="width:100px">
          <Option v-for="item in cateList3" :value="item.id" :key="item.id">{{ item.name }}</Option>
        </Select>
        <Button v-if="status==0" @click="addList" style="margin-left: 1rem" size="small" type="success">添加分类</Button>
      </div>
      <div style="margin-top: 1rem">
        <Tag v-for="(item,index) in tagList" @on-close="delClassLabel(index)"
             :key="index"
             color="primary"
             type="border" closable>{{item.productCateName}}</Tag>
      </div>
      <div style="margin-top: 1rem">
        <editor ref="editor" v-model="content" @on-change="handleChange"/>
      </div>
      <div slot="footer">
        <Button @click="cancel">取消</Button>
        <Button type="primary" @click="commit">提交</Button>
      </div>
    </Modal>
  </div>
</template>
<script>
  import Editor from '_c/editor'

  import {getTableData,updateaftersaleconfig,delaftersaleconfig,insertaftersaleconfig,aftersaleconfig,afterSellList,getLevel1,getLevel2,getLevel3} from '@/api/data'
  export default {
    name: "afterSeleList",//售后列表
    data(){
      return{
        currentId:0,
        defaultData:{
          title:'',
          id:'',
        },
        title:'',
        tagList:[],
        content:'',
        modal1:false,
        pageTotal:0,
        pageNo:1,
        formInline:{},
        cateList1:[],
        cateList2:[],
        cateList3:[],
        classificationList:[],
        classification1:"",
        classification2:"",
        classification3:"",
        classification4:'',
        tagColors:[
          'lime',
          'green',
          'cyan',
          'blue',
          'geekblue',
          'purple',
        ],
        columns1:[
          {
            title: '售后标题',
            key: 'title'
          },{
            title: '分类',
            key: 'productCateNames',
            render:(h,params)=>{
              return h('div',params.row.productCateNames?String(params.row.productCateNames):'')
            }
          },
          {
            title: '创建时间',
            key: 'createTime'
          },
          {
            title: '更新时间',
            key: 'updateTime'
          },
          {
            title: '操作',
            key: 'action',
            width: 200,
            render: (h, params) => {
              return h('div', [
                h('Button', {
                  props: {
                    type: 'info',
                    size: 'small'
                  },
                  style: {
                    marginRight: '5px'
                  },
                  on: {
                    click: () => {
                      console.log("编辑==="+JSON.stringify(params.row))
                      this.currentId=params.row.id
                      this.modal1=true
                      this.$refs.editor.setHtml(params.row.description)
                      this.content=params.row.description
                      this.title=params.row.title
                      this.status=params.row.status
                      this.getAfterSelbyId(params.row.id)
                    }
                  }
                }, '编辑'),
                h('Button', {
                  props: {
                    type: 'error',
                    size: 'small'
                  },

                  on: {
                    click: () => {
                      this.delaftersaleconfig(params.row.id)
                    }
                  }
                }, '删除')
              ]);
            }
          }
        ],
        data1:[],
        currentCata:{},
        description:'',
        status:0
      }
    },
    components:{
      Editor
    },
    mounted(){
      this.getLevel1()
      this.afterSellList()
      this.aftersaleconfig()
    },
    methods:{
      editDefault(){
        this.status=1;
        this.modal1=true;

        this.$refs.editor.setHtml('')
        this.currentId=this.defaultData.id?this.defaultData.id:''
        this.title = this.defaultData.title
        this.$refs.editor.setHtml(this.defaultData.description)
        this.content=this.defaultData.description
        this.aftersaleconfig()
      },
      cancel(){
        this.modal1=false
        this.classification1=''
        this.classification2=''
        this.classification3=''
        this.tagList=[]
        this.title=''
        this.description=''
        this.content=''
        this.$refs.editor.setHtml('')
        this.currentCata={}
      },
      commit(){
        if(this.$tools.isEmpty(this.title)){
          this.$Message.warning('请输入标题')
          return
        }
        if(this.$tools.isEmpty(this.content)){
          this.$Message.warning('请输入描述')
          return
        }
        if(this.tagList.length==0 && this.status!=1){
          this.$Message.warning('请添加分类')
          return
        }
        this.modal1=false
        if(this.currentId){
          this.updateaftersaleconfig()
        }else{
          this.insertaftersaleconfig()
        }
      },
      getRandom(v){
        return Math.ceil(Math.random(v))
      },
      getAfterSelbyId(id){
        ///middle/commodity/aftersaleconfig/load
        getTableData({
          url: '/middle/commodity/aftersaleconfig/load',
          type: 'post',
          data: {
            id:id
          }
        }).then(res => {
          if (res.data.code == 200) {
            this.tagList = res.data.data.afterSaleClassifys
          }
        }).catch(err => console.log(err))
      },
      addList(){
        let flag = true
        if(JSON.stringify(this.currentCata)=='{}'){
          this.$Message.warning('请选择分类')
          return
        }
        this.tagList.push(this.currentCata)
      },
      delClassLabel(i){
        this.tagList.splice(i,1)
      },
      handleChange (html, text) {
        console.log(html)
        this.description = html
      },
      level1(v){
        this.getLevel2(v)
      },
      level2(v){

        this.getLevel3(v)
      },
      level3(v){
        this.currentCata = {'productCateId':v.value,'productCateName':v.label,}
      },
      getLevel1(){
        getLevel1({
        }).then(res=>{
          this.cateList1 = res.data.data
        }).catch(err=>{

        })
      },
      getLevel2(id){
        getLevel2({
          pid:id
        }).then(res=>{
          this.cateList2 = res.data.data
        }).catch(err=>{

        })
      },
      getLevel3(id){
        getLevel3({
          pid:id
        }).then(res=>{
          this.cateList3 = res.data.data
        }).catch(err=>{

        })
      },
      getPage(v){
        this.pageNo=v
      },
      insertaftersaleconfig(){
        //新增售后配置
        insertaftersaleconfig({
          afterSaleClassifys:this.tagList,
          description:this.description,
          status:this.status,//1是默认 0不是默认
          title:this.title,
        }).then(res=>{
          if(res.data.code==200){
            this.$Message.success('添加成功')
            this.afterSellList()
            this.aftersaleconfig()
          }
          this.classification1=''
          this.classification2=''
          this.classification3=''
          this.tagList=[]
          this.title=''
          this.description=''
          this.content=''
          this.$refs.editor.setHtml('')
          this.currentCata={}
        }).catch(err=>{

        })
      },
      aftersaleconfig(){
        //默认售后配置
        aftersaleconfig({
        }).then(res=>{
          if(res.data.data){
            this.defaultData = res.data.data
          }
        }).catch(err=>{

        })
      },
      delaftersaleconfig(id){
        delaftersaleconfig({
          id:id
        }).then(res=>{
          if(res.data.code==200){
            this.$Message.success('删除成功')
            this.afterSellList()
          }

        }).catch(err=>{

        })
      },
      updateaftersaleconfig(){
        updateaftersaleconfig({
          id:this.currentId,
          status:this.status,
          title:this.title,
          description:this.content,
          afterSaleClassifys:this.tagList
        }).then(res=>{
          if(res.data.code==200){
            this.$Message.success('更新成功')
            this.aftersaleconfig()
            this.afterSellList()
          }
          this.currentId=''
          this.classification1=''
          this.classification2=''
          this.classification3=''
          this.tagList=[]
          this.title=''
          this.description=''
          this.content=''
          this.$refs.editor.setHtml('')
          this.currentCata={}
        }).catch(err=>{

        })
      },
      afterSellList(){
        //费率配置列表
        afterSellList({
        }).then(res=>{
          this.data1=res.data.data
        }).catch(err=>{

        })
      }
    }
  }
</script>

<style scoped lang="less">
  .default-wrapper{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }

</style>
