<template>
  <div>
        <Form :label-width="60" :model="formInline" inline>
          <FormItem label="商品名称">
            <Input type="text" v-model="formInline.productName" placeholder="请输入商品名称">
            </Input>
          </FormItem>
          <FormItem label="商品分类">
            <Select  @on-change="level1" v-model="classification1" style="width:100px">
              <Option v-for="item in cateList1" :value="item.id" :key="item.id">{{ item.name }}</Option>
            </Select>
            <Select @on-change="level2" v-model="classification2" style="width:100px">
              <Option v-for="item in cateList2" :value="item.id" :key="item.id">{{ item.name }}</Option>
            </Select>
            <Select  @on-change="level3" v-model="classification3" style="width:100px">
              <Option v-for="item in cateList3" :value="item.id" :key="item.id">{{ item.name }}</Option>
            </Select>
          </FormItem>
          <FormItem>
            <Button type="info" @click="()=>{this.pageNo=1;this.getProducts()}">筛选</Button>
            <Button @click="reset">重置</Button>
          </FormItem>
        </Form>
        <Divider />
        <Row>
          <Col span="20">
            <Table stripe :columns="columns1" :data="data1"></Table>
            <div style="margin-top:.5rem;text-align: center">
              <Page :current="pageNo" show-elevator show-total @on-change="getPage" :total="pageTotal" />
            </div>
          </Col>
        </Row>
  </div>
</template>

<script>
  import {getProducts,getLevel1,getLevel2,getLevel3,getBrands} from '@/api/data'
  export default {
    name: "productManage",
    data(){
      return{
        formInline:{},
        pageTotal:0,
        pageNo:1,
        classificationList:[],
        classification1:"",
        classification2:"",
        classification3:"",
        classification4:'',
        data4: [
        ],
        columns1: [
          {
            title: '商品',
            key: 'name1'
          },
          {
            title: '分类',
            key: 'productCateIdName'
          },
          {
            title: '价格',
            key: 'malMobilePrice',
            sortable: true
          },
        ],
        data1: [],
        cateList1:[],
        cateList2:[],
        cateList3:[],
      }
    },
    mounted(){
      //this.getCateList()
      this.getProducts()
      this.getLevel1()
    },
    methods:{
      reset(){
        this.classification1=''
        this.classification2=''
        this.classification3=''
        this.formInline.productName=''
      },
      level1(v){
        this.getLevel2(v)
      },
      level2(v){
        //alert(v)
        this.getLevel3(v)
      },
      level3(v){

      },
      getPage(n){
        this.pageNo=n
        this.getProducts()
      },
      getLevel1(){
        getLevel1({
        }).then(res=>{
          this.cateList1 = res.data.data
        }).catch(err=>{

        })
      },
      getLevel2(id){
        getLevel2({
          pid:id
        }).then(res=>{
          this.cateList2 = res.data.data
        }).catch(err=>{

        })
      },
      getLevel3(id){
        getLevel3({
          pid:id
        }).then(res=>{
          this.cateList3 = res.data.data
        }).catch(err=>{

        })
      },
      getProducts(){
        // brandIds	品牌id(逗号分隔)	body	false	string
        // cateIds	分类id(逗号分隔)	body	false	string
        // customerId	客户id	body	true	string
        // excludeCodes	手动输入排除商品spu	body	false	string
        // listCodes		body	false	array
        // listExcludeCodes		body	false	array
        // pageIndex	第几页	body	false	int32
        // pageSize	每页记录数	body	false	int32
        // productCode	商品编码	body	false	string
        // productName	商品名称
        getProducts({
          cateIds:this.classification3,
          excludeCodes:'',
          listCodes:[],		//body	false	array
          listExcludeCodes:[],		//body	false	array
          pageIndex:this.pageNo,
          pageSize:10,
          productCode:'',
          productName:this.formInline.productName,
        }).then(res=>{
          this.pageTotal = res.data.data.total
          this.data1 = res.data.data.list
        }).catch(err=>{

        })
      },
    }
  }
</script>

<style scoped>

</style>
