<template>
  <div>
    <Tabs>
    <TabPane label="分析结果" name="name1">
      <div>
        <Input v-model="value" placeholder="请输入内容..." style="width: 200px;margin-right: .5rem" />
        <Button type="info">查询</Button>
      </div>
      <Divider/>
      <Table width="900" :columns="columns1" :data="data1"></Table>
    </TabPane>
    </Tabs>
  </div>
</template>

<script>
  export default {
    name: "analysis",
    data(){
      return{
        value:'',
        data1:[],
        columns1:[
          {
            title: '分析',
            key: 'name'
          },
          {
            title: '时间颗粒',
            key: 'name'
          },
          {
            title: '操作',
            key: 'action',
            render: (h, params) => {
              return h('div', [
                h('Button', {
                  props: {
                    type: 'button',
                    size: 'small'
                  }
                }, '取消关注'),
                h('Button', {
                  props: {
                    type: 'button',
                    size: 'small'
                  }
                }, '查看报表')
              ]);
            }
          },
        ]
      }
    }
  }
</script>

<style scoped>

</style>
