<template>
  <div>
    <Tabs value="name1">
      <TabPane label="添加报表" name="name1">
        <div>
          <Input v-model="value" placeholder="请输入内容..." style="width: 200px;margin-right: .5rem" />
          <Button type="info">查询</Button>
          <Button type="success" style="margin-left: .5rem">添加报表</Button>
        </div>
        <Divider/>
        <Table width="900" :columns="columns1" :data="data1"></Table>
      </TabPane>
    </Tabs>
  </div>
</template>

<script>
  export default {
    name: "dataBoard",//创建报表
    data(){
      return{
        value:'',
        data1:[],
        columns1:[
          {
            title: '流量看板报表',
            key: 'name'
          },
        ]
      }
    }
  }
</script>

<style scoped>

</style>
