<template>
  <div>
    <Tabs value="name1">
      <TabPane label="报表管理" name="name1">
        <div>
          <Input v-model="value" placeholder="请输入内容..." style="width: 200px;margin-right: .5rem" />
          <Button type="info">查询</Button>
        </div>
        <Divider/>
        <Table width="900" :columns="columns1" :data="data1"></Table>
      </TabPane>
    </Tabs>
  </div>
</template>

<script>
  export default {
    name: "dataForm",//数据报表
    data(){
      return{
        value:'',
        data1:[],
        columns1:[
          {
            title: '报表名称',
            key: 'name'
          },
          {
            title: '周期/时间',
            key: 'name'
          },
          {
            title: '操作',
            key: 'action',
            render: (h, params) => {
              return h('div', [
                h('Button', {
                  props: {
                    type: 'button',
                    size: 'small'
                  }
                }, '取消关注'),
                h('Button', {
                  props: {
                    type: 'button',
                    size: 'small'
                  }
                }, '查看报表')
              ]);
            }
          },
        ]
      }
    }
  }
</script>

<style scoped>

</style>
