<template>
  <div>
    <Tabs value="name1">
      <TabPane label="成交分析" name="name1">
        <div>
          <span>
            事件
          </span>
          <Input v-model="value" placeholder="请输入内容..." style="width: 200px;margin-right: .5rem" />
          <span>
            按照
          </span>
          <Select v-model="model1" style="width:200px">
            <Option value="1"></Option>
          </Select>
          <Button style="margin-left: .5rem" type="info">查询</Button>
        </div>
        <Divider/>
        <Row>
          <Col span="12">
            <DatePicker type="date" placeholder="Select date" style="width: 200px"></DatePicker>
          </Col>
        </Row>
      </TabPane>
    </Tabs>
  </div>
</template>

<script>
  export default {
    name: "transaction",//成交分析
    data(){
      return{
        model1:'',
        value:'',
      }
    }
  }
</script>

<style scoped>

</style>
