<template>
  <div>
    <Form ref="loginForm" :model="form8" :rules="rules" @keydown.enter.native="handleSubmit">
      <FormItem prop="userName">
        <Input :clearable="true" v-model="form8.userName" placeholder="请输入用户名">
          <span slot="prepend">
            <Icon :size="16" type="ios-person"></Icon>
          </span>
        </Input>
      </FormItem>
      <FormItem prop="password">
        <Input :clearable="true" type="password" v-model="form8.password" placeholder="请输入密码">
          <span slot="prepend">
            <Icon :size="14" type="md-lock"></Icon>
          </span>
        </Input>
      </FormItem>
      <FormItem prop="imgCode">
        <Input :clearable="true" :maxlength="6" style="width: 160px" v-model="form8.imgCode" placeholder="请输入验证码">
        </Input>
        <img @click="getCode" width="90px" class="valid" :src="'data:image/png;base64,'+codeImg" alt="验证码">
        <div style="text-align: right;">
          <!--<router-link to="/forgotPwd">-->
          <a @click="modal1=true">忘记密码<Icon type="ios-help-circle-outline" /></a>
          <!--</router-link>-->
        </div>
      </FormItem>
      <FormItem>
        <Button @click="handleSubmit" type="primary" long>登录</Button>
      </FormItem>
    </Form>
    <Modal
      :closable="false"
      v-model="modal1"
      title="找回密码">
      <div class="changePwd">
        <Progress
          :percent="val"
          status="active"
          hide-info
        ></Progress>
        <div class="step-title">
          <em>验证身份</em>
          <em>修改密码</em>
        </div>
        <Tabs :value="tabActive">
          <TabPane name="key1">
            <Form :label-width="100">
              <FormItem label="手机号：">
                <Input
                  v-model="form.mobile"
                  :maxlength="11"
                  type="tel"
                  :clearable="true"
                  prefix="ios-contact"
                  placeholder="请输入手机号"
                  style="width: 80%"
                />
              </FormItem>
              <FormItem label="">
                <input
                  class="ivu-input"
                  v-model="form2.smsCode"
                  :maxlength="6"
                  prefix=""
                  placeholder="请输入短信验证码"
                  style="width: 80%;"
                />
                <Button
                  class="getCheckCodeBtn"
                  @click="getUserMobile"
                >{{text}}</Button>
              </FormItem>
              <FormItem label="">
                <Button
                  type="info"
                  @click="nextStep"
                >下一步</Button>
              </FormItem>
            </Form>
          </TabPane>
          <TabPane name="key2">
            <Form
              :label-width="100"
              ref="form3"
              :model="form3"
              :rules="ruleValidate"
            >
              <FormItem
                label="设置密码："
                prop="passowrd1"
              >
                <input
                  class="ivu-input"
                  onkeyup="this.value=this.value.replace(/[\u0391-\uFFE5]/gi,'')"
                  v-model="form3.passowrd1"
                  :maxlength="20"
                  prefix="md-build"
                  placeholder="请输入登录密码"
                  style="width: 80%"
                />
              </FormItem>
              <FormItem
                label="确认密码："
                prop="passowrd2"
              >
                <input
                  class="ivu-input"
                  onkeyup="this.value=this.value.replace(/[\u0391-\uFFE5]/gi,'')"
                  v-model="form3.passowrd2"
                  :maxlength="20"
                  prefix="md-build"
                  placeholder="请输入登录密码"
                  style="width: 80%"
                />
              </FormItem>
              <FormItem label="">
                <Button
                  type="info"
                  @click="updatePwd('form3')"
                >提交</Button>
              </FormItem>
            </Form>
          </TabPane>
        </Tabs>
      </div>
      <div slot="footer">
        <Button @click="cancelUpdatePwd" type="primary">关闭</Button>
      </div>
    </Modal>
  </div>
</template>
<script>
  import {getTableData} from '@/api/data'
  import { getValidCode } from '@/api/user'
export default {
  name: 'LoginForm',
  props: {
    userNameRules: {
      type: Array,
      default: () => {
        return [
          { required: true, message: '账号不能为空', trigger: 'blur' }
        ]
      }
    },
    passwordRules: {
      type: Array,
      default: () => {
        return [
          { required: true, message: '密码不能为空', trigger: 'blur' }
        ]
      }
    },
    checkCodeRules: {
      type: Array,
      default: () => {
        return [
          { required: true, message: '验证码不能为空', trigger: 'blur' }
        ]
      }
    }
  },
  data () {
    return {
      form8: {
        userName: '',
        password: '',
        imgCode:'',
        imgCodeKey:''
      },
      codeImg:'',

      modal1:false,
      val: 50,
      tabActive: "key1",
      form: { mobile: "" },
      form2: {
        mobile: "",
        smsCode: ""
      },
      form3: {
        passowrd1: "",
        passowrd2: ""
      },
      passowrd: "",
      msgNum: 0,
      text: "获取验证码",
      isSend: true,
      ruleValidate: {
        passowrd1: [
          {
            required: true,
            message: "",
            validator: (rule, value, callback) => {
              if (value == "") {
                callback(new Error("密码必填"));
              } else if (value.length < 6) {
                callback(new Error("密码需大于六位"));
              } else if (
                !/((?=.*\d)(?=.*\D)|(?=.*[a-zA-Z])(?=.*[^a-zA-Z]))(?!^.*[\u4E00-\u9FA5].*$)^\S{6,20}$/.test(
                  value
                )
              ) {
                callback(new Error("密码必须涵盖数字、字母、符号中两种组合"));
              } else {
                callback();
              }
            }
          }
        ],
        passowrd2: [
          {
            required: true,
            message: "",
            validator: (rule, value, callback) => {
              if (value == "") {
                callback(new Error("密码必填"));
              } else if (value.length < 6) {
                callback(new Error("密码需大于六位"));
              } else if (
                !/((?=.*\d)(?=.*\D)|(?=.*[a-zA-Z])(?=.*[^a-zA-Z]))(?!^.*[\u4E00-\u9FA5].*$)^\S{6,20}$/.test(
                  value
                )
              ) {
                callback(new Error("密码必须涵盖数字、字母、符号中两种组合"));
              } else {
                callback();
              }
            }
          }
        ]
      }
    }
  },
  mounted(){
    this.getCode()
  },
  computed: {
    rules () {
      return {
        userName: this.userNameRules,
        password: this.passwordRules,
        imgCode: this.checkCodeRules
      }
    }
  },
  methods: {
    checkPhone(){

    },
    getUserMobile() {
      if(!this.$tools.isPhoneNum(this.form.mobile)){
        this.$Message.warning('请输入正确格式的手机号')
        return
      }
      getTableData({
        url: "/middle/noauth/isExistMobile ",
        type: "post",
        data: {
          mobile:this.form.mobile
        }
      })
        .then(res => {
          if (res.data.code == 200) {
            if(res.data.data==false){
              this.$Message.warning('该手机号不存在')
              return
            }
            this.timer()
            //this.getCheckCode()
          }
        })
        .catch(err => console.log(err));
    },
    timer() {
      if(!this.$tools.isPhoneNum(this.form.mobile)){
        this.$Message.warning('请输入正确格式的手机号')
        return
      }
      if (this.isSend) {
        this.getCheckCode();
        this.isSend = false;
        let i = 60;
        let a = setInterval(() => {
          if (i == 0) {
            clearInterval(a);
            this.isSend = true;
            this.text = "获取验证码";
            return;
          } else {
            i--;
            i < 10 ? (this.text = "0" + i) : (this.text = i);
          }
        }, 1000);
      }
    },
    getCheckCode() {

      if (this.isSend) {
        getTableData({
          url: "/middle/sms/send",
          type: "post",
          data: {
            mobile:this.form.mobile
          }
        })
          .then(res => {
            if (res.data.code == 200 && res.data.data) {
              this.$Message.success("验证码已发送");
            } else if (res.data.code != 104) {
              this.$Message.error(res.data.message);
              this.isSend = true;
              this.text = "获取验证码";
            }else{
              this.$Message.error(res.data.message);
              this.isSend = true;
              this.text = "获取验证码";
            }
          })
          .catch(err => console.log(err));
      }
    },
    nextStep() {
      this.form2.mobile = this.form.mobile;
      if (this.form2.mobile == "") {
        this.$Message.error("请输入手机号");
      } else if (this.form2.smsCode == "") {
        this.$Message.error("请输入验证码");
      } else {
        getTableData({
          url: "/middle/sms/check",
          type: "post",
          data: {
            mobile:this.form.mobile,
            smsCode:this.form2.smsCode
          }
        })
          .then(res => {
            if (res.data.code == 200) {
              if (res.data.data) {
                this.tabActive = "key2";
                this.val = 99.9;
              }
            }
          })
          .catch(err => console.log(err));
      }
    },
    updatePwd(name) {
      this.$refs[name].validate(valid => {
        if (valid) {
          if (this.form3.passowrd1 == this.form3.passowrd2) {
            this.passowrd = this.form3.passowrd2;
            getTableData({
              url: "/middle/noauth/findassword",
              type: "post",
              data: {
                mobile:this.form.mobile,
                password: this.passowrd,
                smsCode:this.form2.smsCode
              }
            })
              .then(res => {
                if (res.data.code == 200) {
                  this.$Modal.success({
                    title: '提示',
                    content: '找回密码完成，请重新登录',
                    okText: '确定',
                    onOk: () => {
                      this.modal1=false

                      this.cancelUpdatePwd()
                    },
                  });
                }
              })
              .catch(err => console.log(err));
          } else {
            this.$Message.error("密码不一致");
          }
        }
      });
    },
    cancelUpdatePwd() {
      this.tabActive = "key1";
      this.passowrd = this.form3.passowrd1 = this.form3.passowrd2 = "";
      this.form.mobile =''
      this.form2.smsCode=''
      this.modal1=false
    },
    getCode(){
      let Base64 = require('js-base64').Base64;
      getValidCode().then(res=>{
        this.codeImg = Base64.decode(res.data.data.image)
        this.form8.imgCodeKey = res.data.data.imgDataKey
      }).catch(err => {
        console.log(err)
      })
    },
    handleSubmit () {
      let _this = this
      this.$refs.loginForm.validate((valid) => {
        if (valid) {
          // getTableData({
          //   url: '/api/admin/auth/dologin',
          //   data:{
          //
          //   }
          // })
          this.$emit('on-success-valid', {
            loginAccount: this.form8.userName,
            password: this.form8.password,
            imgCode:this.form8.imgCode,
            imgCodeKey:this.form8.imgCodeKey,
            platform:1
          })

        }
      })
    }
  }
}
</script>
<style lang="less">
  .valid{
    position: absolute;
    top: 0;
  }
  .changePwd {
    width: 500px;
    padding: 10px;
    /*margin: 200px auto;*/
    background: #fff;
  }
  .step-title {
    display: flex;
  }
  .step-title em {
    flex: 1;
    padding: 10px 0;
    text-align: center;
    font-style: normal;
  }
  .getCheckCodeBtn {
    display: inline-block;
    position: absolute;
    right: 22%;
    top: 50%;
    transform: translateY(-50%);
    padding: 2px 4px;
    border: 1px solid #eee;
    border-radius: 4px;
    cursor: pointer;
  }
  .changePwd {
    border-radius: 6px;
    .ivu-tabs-bar{
      display: none;
    }
    .ivu-form-item-content{
      margin-top: 10px;
    }
    .ivu-form .ivu-form-item-label{
      padding: 20px 12px 10px 0;
    }
  }

</style>
