<template>
  <div class="wrapper">
    <div class="step">
      <Steps :current="step">
        <Step title="验证身份"></Step>
        <Step title="更换手机"></Step>
      </Steps>
    </div>
    <div class="item" v-if="step==0">
      <div class="input-wrap">
        <span>手机号：</span>
        <Input disabled v-model="mobile" type="text" style="width: 200px" placeholder="请输入原手机号"></Input>
      </div>
      <div class="input-wrap">
        <span>验证码：</span>
        <Input v-model="smsCode" type="text" style="width: 200px" placeholder="请输入验证码">
        <span slot="append">
          <Button @click="startCount">{{status==0?'获取验证码':times}}</Button></span>
        </Input>
      </div>
      <div><Button @click="checkSms" type="primary">下一步</Button></div>
    </div>
    <div class="item" v-if="step==1">
      <div class="input-wrap">
        <span>手机号：</span><Input :maxlength="11" type="text" style="width: 200px" placeholder="请输入新手机号"></Input>
      </div>
      <div class="input-wrap">
        <span>验证码：</span>
        <Input v-model="mobile1" type="text" style="width: 200px" placeholder="请输入验证码">
        <span slot="append"><Button @click="startCount">{{status==0?'获取验证码':times}}</Button></span></Input>
      </div>
      <div><Button @click="updateMobile" type="primary">提交</Button></div>
    </div>
  </div>
</template>
<script>
  import {getUserPhone, getSms, checkSms, updatepassword, updateMobile} from '@/api/data'
  export default {
    name: "changePhone",//修改手机
    data(){
      return{
        times:6,
        status:0,
        step:0,
        mobile:'',
        smsCode:'',
        mobile1:''
      }
    },
    mounted(){
      this.getUserPhone()
    },
    methods:{
      checkSms(){

        checkSms(
          {
            "mobile":this.mobile,
            "smsCode":this.smsCode
          }).then(res=>{
          if(res.data.code==200){
            this.step = 1
          }
        }).catch(err=>{

        })
      },
      startCount(){
        if(this.status==0){
          this.getSms()
          this.times=6
          this.status=1
          let timer = setInterval(()=>{
            if(this.times==0){
              this.status=0
              clearInterval(timer)
            }
            this.times--
          },1000)
        }
      },
      getSms(){

        getSms({
          mobile:this.mobile
        }).then(res=>{
          if(res.data.code==200){
            this.$Message.success('获取成功，请注意查收短信')
          }
        }).catch(err=>{

        })
      },
      getUserPhone(){
        getUserPhone({

        }).then(res=>{
          if(res.data.code==200){
            this.mobile=res.data.data.mobile
          }
        }).catch(err=>{

        })
      },
      updateMobile(){
        updateMobile({
          mobile:this.mobile1
        }).then(res=>{
          if(res.data.code==200){
            this.$Message.success('修改成功')
          }
        }).catch(err=>{

        })
      }
    }
  }
</script>

<style scoped lang="less">
  .wrapper{
    display: flex;
    flex-direction: column;
    background: #fff;
    height: 600px;
    padding: 3rem;
  }
  .step{
    margin-left: 30%;
  }
  .item{
    margin-left: 40%;
    .input-wrap{
      display: flex;
      flex-direction: row;
      align-items: center;
      margin: .5rem 0;
    }
  }
</style>
