<template>
  <div class="wrapper">
    <div class="step">
      <Steps :current="step" >
        <Step title="验证身份"></Step>
        <Step title="修改密码"></Step>
      </Steps>
    </div>
    <div class="item" v-if="step==0">
      <div class="input-wrap">
        <span>手机号：</span>
        <Input disabled v-model="mobile" type="text" style="width: 200px" placeholder="请输入手机号"></Input>
      </div>
      <div class="input-wrap">
        <span>验证码：</span>
        <Input v-model="smsCode" type="text" style="width: 200px" placeholder="请输入验证码">
          <span slot="append">
            <Button @click="startCount">{{status==0?'获取验证码':times}}</Button>
          </span>
        </Input>

      </div>
      <div><Button @click="checkSms" type="primary">下一步</Button></div>
    </div>
    <div class="item" v-if="step==1">
      <div class="input-wrap">
        <span>设置密码：</span>
        <Input v-model="password" type="text" style="width: 200px" placeholder="请输入新密码"></Input>
      </div>
      <div class="input-wrap">
        <span>确认密码：</span>
        <Input v-model="password1" type="text" style="width: 200px" placeholder="请输入新密码"></Input>
      </div>
      <div><Button @click="updatepassword" type="primary">提交</Button></div>
    </div>
  </div>
</template>

<script>
  import {getUserPhone, getSms, checkSms, updatepassword, updateMobile} from '@/api/data'
  export default {
    name: "changePwd",//修改密码
    data(){
      return{
        times:60,
        status:0,
        step:0,
        mobile:'',
        smsCode:'',
        password:"",
        password1:"",
      }
    },
    mounted(){
      this.getUserPhone()
    },
    methods:{
      checkSms(){
        checkSms(
          {
            "mobile":this.mobile,
            "smsCode":this.smsCode
          }).then(res=>{
            if(res.data.code==200){
              this.step = 1
            }
        }).catch(err=>{

        })
      },
      getSms(){
        getSms({
          mobile:this.mobile
        }).then(res=>{
          if(res.data.code==200){
            this.$Message.success('获取成功，请注意查收短信')
          }
        }).catch(err=>{

        })
      },
      startCount(){
        if(this.status==0){
          this.getSms()
          this.times=60
          this.status=1
          let timer = setInterval(()=>{
            if(this.times==0){
              this.status=0
              clearInterval(timer)
            }
            this.times--
          },1000)
        }
      },
      getUserPhone(){
        getUserPhone({

        }).then(res=>{
          if(res.data.code==200){
            this.mobile=res.data.data.mobile
          }
        }).catch(err=>{

        })
      },
      updatepassword(){
        if(this.password!=this.password1){
          this.$Message.warning('两次输入密码不一致')
          return
        }
        updatepassword({
          password:this.password
        }).then(res=>{
          if(res.data.code==200){
            this.$Message.success('修改成功')
          }
        }).catch(err=>{

        })
      }
    }
  }
</script>

<style scoped lang="less">
  .wrapper{
    display: flex;
    flex-direction: column;
    background: #fff;
    height: 600px;
    padding: 3rem;
  }
  .step{
    margin-left: 30%;
  }
  .item{
    margin-left: 40%;
    .input-wrap{
      display: flex;
      flex-direction: row;
      align-items: center;
      margin: .5rem 0;
    }
  }
</style>
