<template>
  <div>
    <Card style="width:900px">
      <div class="item"><h3>尊敬的{{mallData.custAccount?mallData.custAccount:''}},欢迎登陆桔子SAAS服务系统</h3></div>
      <div class="item">
        <span>您的商城域名为：{{mallData.domainName}}  </span>
      </div>
      <div class="item">
        <span style="margin-right: 1rem"> 商城服务状态:</span>
        <i-switch v-model="status" @on-change="changeMallState"/>
        {{status?'开启':'关闭'}}
        <Button @click="getMallInitMsg" style="margin-left: 1rem" size="small" icon="ios-refresh">刷新</Button>
      </div>
      <div class="item">
        <span>还款方式设置：</span><span>{{mallData.isRepaymentMethodConfig==0?'未设置':'已配置'}}</span><Button @click="modal1=true" style="margin-left: 1rem" type="info">去设置</Button>
      </div>
      <div class="item">
        <span>设置费率：</span><span>{{mallData.isStageConfig==0?'未设置':'已配置'}}</span><Button @click="toRate" style="margin-left: 1rem" type="info">去设置</Button>
      </div>
      <div class="item">
        <span>订单配置：</span><span>{{mallData.isOrderConfig==0?'未设置':'已配置'}}</span><Button @click="toOrder" style="margin-left: 1rem" type="info">去设置</Button>
      </div>
      <div class="item">
        <span>售后介绍：</span><span>{{mallData.isAfterConfig==0?'未设置':'已配置'}}</span><Button @click="toAfterSell" style="margin-left: 1rem" type="info">去设置</Button>
      </div>
    </Card>
    <Modal
      v-model="modal1"
      title="提示"
      @on-ok="updateRate"
      @on-cancel="()=>{}">
      还款方式：<RadioGroup v-model="rate">
      <Radio v-for="(item,index) in rateList" :key="index" :label="item.value">{{item.label}}</Radio>
    </RadioGroup>
    </Modal>
  </div>
</template>

<script>
  import {getMallInitMsg,getTableData} from '@/api/data'
  export default {
    name: "mallSetting",//商城设置
    data(){
      return{
        status:false,
        rate:'',
        mallData:{},
        modal1:false,
        rateList:[]
      }
    },
    mounted(){
      this.getMallInitMsg()
      this.getlist()
    },
    methods:{
      getpop(){
        ///middle/common/dictionary/getdictbycode
        getTableData({
            url: '/middle/customer/info',
            type: 'post',
            data: {}
          }
        ).then(res=>{
          if(res.data.code==200){
            this.rate = String(res.data.data.repaymentMethod)
          }else{
          }
        }).catch(err=>{
        })
      },
      getlist(){
          getTableData({
              url: '/middle/common/dictionary/getdictbycode',
              type: 'post',
              data: {dictCode:'REPAYMENT_METHOD'}
            }
          ).then(res=>{
            if(res.data.code==200){
              this.rateList = res.data.data
              this.getpop()
            }else{
            }
          }).catch(err=>{

          })
      },
      updateRate(){
        getTableData({
            url: '/middle/customer/updateInfo',
            type: 'post',
            data: {repaymentMethod:this.rate}
          }
        ).then(res=>{
          if(res.data.code==200){
            //this.rateList = res.data.data
            //alert(this.downloadUrl)
          }else{
          }
        }).catch(err=>{

        })
      },
      changeMallState(){
        getTableData({
            url: '/middle/customer/updateCustomerAppStatus',
            type: 'post',
            data: {appStatus:this.status?1:0}
          }
        ).then(res=>{
          if(res.data.code==200){
            // this.$Message.success('')
          }else{
            this.status=false
          }
        }).catch(err=>{
        })
      },
      toPay(){

      },
      getMallInitMsg(){
        getMallInitMsg({
        }).then(res=>{
          if(res.data.data){
            this.mallData = res.data.data
            this.status=res.data.data.appStatus==1?true:false
          }
        }).catch(err=>{

        })
      },
      toRate(){
        this.$router.push({
          path:'/order/rateManage'
        })
        //order/orderManage/orderList
      },
      toOrder(){
        this.$router.push({
          path:'/order/orderSetManage'
        })
      },
      toAfterSell(){
        this.$router.push({
          path:'/products/afterSetList'
        })
      }
    }
  }
</script>

<style scoped lang="less">
  .item{
    margin: 1rem;
    font-size: 16px;
    h3{
      font-size: 20px;
      font-weight: 500;
    }
  }
</style>
