<template>
  <div>
    <Card>
      <p slot="title">联系人信息</p>
      <div class="wrapper">
        <div class="item">
          <span>联系人：</span><Input :maxlength="10" v-model="mallInfo.linkName" type="text" style="width: 200px"></Input>
        </div>
        <div class="item">
          <span>手机号：</span><Input :maxlength="11" v-model="mallInfo.linkMobile" type="text" style="width: 200px"></Input>
          <Button @click="updateInfo" style="margin-left: 1rem" type="primary">保存</Button>
        </div>
      </div>
    </Card>
    <Card>
      <p slot="title">财务信息</p>
      <div class="wrapper">
        <div class="item">
          <span>账期：</span><div>{{mallInfo.paymentDays}}天</div>
        </div>
        <div class="item">
          <span>最高欠货款：</span><div>{{mallInfo.goodsLoansAmountMax}}元</div>
        </div>
        <div class="item">
          <span>货款阈值提醒：</span><div>{{mallInfo.goodsThreshold}}元</div>
        </div>
      </div>
    </Card>
    <Card>
      <p slot="title">其他信息</p>
      <div class="wrapper">
        <div class="item">
          <span>分配域名：</span><div>{{mallInfo.domainName}}</div>
        </div>
        <div class="item">
          <span>服务结束时间：</span><div>{{mallInfo.endTime}}</div>
        </div>
      </div>
    </Card>
    <Card>
      <p slot="title">售卖信息</p>
      <div class="wrapper">
        <div class="item">
          <span>可售分类：</span><div><Tag color="cyan">分类一</Tag></div><Button size="small" type="dashed">显示更多</Button>
        </div>
        <div class="item">
          <span>禁售商品：</span><div><Tag color="cyan">分类一</Tag></div><Button size="small" type="dashed">显示更多</Button>
        </div>
      </div>
    </Card>
  </div>
</template>

<script>
  import {getMallMsg,updateInfo} from '@/api/data'
  export default {
    name: "mallInfo",//商城信息
    data(){
      return{
        mallInfo:{},
        columns1:[{
          title: '阶梯价格',
          key: 'name'
        },{
          title: '结算返利',
          key: 'name'
        },],
        data1:[]
      }
    },
    mounted(){
      this.getMallMsg()
    },
    methods:{
      updateInfo(){
        if(!this.$tools.isPhoneNum(this.mallInfo.linkMobile)){
          this.$Message.warning('请输入正确格式手机号')
          return
        }
        updateInfo({
          linkMobile:this.mallInfo.linkMobile,//联系人手机号
          linkName:this.mallInfo.linkName,//联系人
          repaymentMethod:1//还款计算方式 1 等本等金 2 等额本息
        }).then(res=>{
          if(res.data.code==200){
            this.$Message.success('修改信息成功')
          }
        }).catch(err=>{
        })
      },
      getMallMsg(){
        getMallMsg({
        }).then(res=>{
          this.mallInfo = res.data.data.customerVo
          //alert(JSON.stringify(res.data.data.customerVo))
        }).catch(err=>{
        })
      }
    }
  }
</script>

<style scoped lang="less">
  .wrapper{
    .item{
      display: flex;
      flex-direction: row;
      align-items: center;
      margin: 1rem 0;
    }
  }
</style>
