<style lang="less">
  @import './login.less';
</style>

<template>
  <div class="login">
    <div class="login-con">
      <Card icon="log-in" title="欢迎登录" :bordered="false">
        <div class="form-con">
          <login-form @on-success-valid="doLogin"></login-form>
        </div>
      </Card>
    </div>
  </div>
</template>

<script>
import LoginForm from '_c/login-form'
import { mapActions } from 'vuex'
import {getMallInitMsg} from '@/api/data'
import { doLogin,getValidCode } from '@/api/user'
export default {
  components: {
    LoginForm
  },
  methods: {
    ...mapActions([
      'handleLogin',
      'getUserInfo'
    ]),
    getMallInitMsg(){
      getMallInitMsg({
      }).then(res=>{
        if(res.data.data){
          let temp = res.data.data.appStatus==1?true:false
          if(temp){
            this.$router.push({
              name:'home'
            })
          }else{
            //setting/mallSetting
            this.$router.push({
              path:'/setting/mallSetting'
            })
          }
        }
      }).catch(err=>{

      })
    },
    doLogin({loginAccount,password,imgCode,imgCodeKey,platform}){
      doLogin({loginAccount,password,imgCode,imgCodeKey,platform}).then(res => {
        if(res.data.code==200){
          this.$store.commit('setToken',res.data.data.accessToken)
          this.$store.commit('setUserName',loginAccount)
          this.$store.commit('setDominUrl',res.data.data.domainName)
          this.getMallInitMsg()
          // alert(JSON.stringify(res.data.data))
        }else{
          this.$Message.warning(res.data.msg)
        }
      }).catch(err => {
        console.log(err)
      })
    },

    handleSubmit ({ userName, password }) {

      this.handleLogin({ userName, password }).then(res => {
        this.getUserInfo().then(res => {
          this.$router.push({
            name: this.$config.homeName
          })
        })
      })
    }
  }
}
</script>

<style scoped>

</style>
