<template>
  <div class="page-wrapper">
    <div class="left">
        <div :class="{'phone':true,'edit-height':edit,'check-height':!edit}">
          <div v-for="(item,index) in pageObj" :key="index" @click="showPageEditor(item,index)">
            <!--<h4>{{item}}</h4>-->
            <div v-if="item.type == 'overall'">
              <header class="header">{{item.pageTitle}}</header>
            </div>
            <div v-if="item.type =='rubik'">
              <Rubik :selfList="item.list" :selfOpts="Object.assign(item,{'index':index})"></Rubik>
            </div>
            <div v-if="item.type =='carousel'">
              <Carsel :selfOpts="Object.assign(item,{'index':index})"></Carsel>
            </div>
            <div v-if="item.type == 'product'">
              <Product :selfOpts="Object.assign(item,{'index':index})"></Product>
            </div>
            <div v-if="item.type == 'bulletin'">
              <Bulletin :selfOpts="Object.assign(item,{'index':index})"></Bulletin>
            </div>
            <div v-if="item.type == 'search'">
              <Search :selfOpts="Object.assign(item,{'index':index})"></Search>
            </div>
            <div v-if="item.type == 'title'">
              <Tit :selfOpts="Object.assign(item,{'index':index})"></Tit>
            </div>
            <div v-if="item.type == 'coupon'">
              <Coupon :selfList="item.list" :selfOpts="Object.assign(item,{'index':index})"></Coupon>
            </div>
          </div>

        </div>
        <div class="tools" v-if="edit">
          <span>基础组件</span>
          <Row class="opts-row">
            <Col span="8">
              <Button @click="addComponents('rubik')">魔 方</Button>
            </Col>
            <Col span="8">
              <Button @click="addComponents('carousel')">轮播广告</Button>
            </Col>
            <Col span="8">
              <Button @click="addComponents('product')">商 品</Button>
            </Col>
          </Row>
          <Row class="opts-row">
            <Col span="8">
              <Button @click="addComponents('search')">搜索框</Button>
            </Col>
            <Col span="8">
              <Button @click="addComponents('bulletin')">公 告</Button>
            </Col>
          </Row>
          <span>运营组件</span>
          <Row class="opts-row">
            <Col span="8">
              <Button @click="addComponents('coupon')">优惠券</Button>
            </Col>
          </Row>
          <span>页面辅助组件</span>
          <Row class="opts-row">
            <Col span="8">
              <Button @click="addComponents('title')">标 题</Button>
            </Col>
          </Row>
        </div>
    </div>
    <div class="editor">
      <PageEditor v-if="currentMouseObj.type=='overall'&&edit"></PageEditor>
      <RubikEditor v-if="currentMouseObj.type == 'rubik'&&edit"></RubikEditor>
      <CarouselEditor v-if="currentMouseObj.type == 'carousel'&&edit"></CarouselEditor>
      <ProductEditor v-if="currentMouseObj.type == 'product'&&edit"></ProductEditor>
      <BulletinEditor v-if="currentMouseObj.type == 'bulletin'&&edit"></BulletinEditor>
      <SearchEditor v-if="currentMouseObj.type == 'search'&&edit"></SearchEditor>
      <TitEditor v-if="currentMouseObj.type == 'title'&&edit"></TitEditor>
      <CouponEditor v-if="currentMouseObj.type == 'coupon'&&edit"></CouponEditor>
    </div>
    <div class="controlBar" v-if="edit">
      <Row type="flex" justify="end">
        <Col :offset="1" span="21">
          <Button style="margin-right: 1rem" @click="viewModal=true" type="success">预览当前</Button>
          <Button @click="beforeSend(3)" style="margin-right: 1rem" type="info" ghost>存草稿并继续</Button>
          <Button @click="beforeSend(4)" type="success">发布</Button>
        </Col>
      </Row>
    </div>
    <Modal
      v-model="viewModal"
      title="预览当前"
      @on-ok="()=>{}"
      @on-cancel="()=>{}">
      <object :data="this.$store.state.user.dominUrl+'/webapp/main/activity.html?type=1&pageId='+this.pageId" width="400" height="600" type="text/html">
        Alternative Content
      </object>
    </Modal>
  </div>
</template>
<script>
  import PageEditor from '../common/pageEditor'
  import Rubik from '../common/rubik/rubik'
  import RubikEditor from '../common/rubik/rubikEditor'
  import Carsel from '../common/carousel/carousel'
  import CarouselEditor from '../common/carousel/carouselEditor'
  import Product from '../common/products/product'
  import ProductEditor from '../common/products/productEditor'
  import Bulletin from '../common/bulletin/bulletin'
  import BulletinEditor from '../common/bulletin/bulletinEditor'
  import Search from '../common/search/search'
  import SearchEditor from '../common/search/searchEditor'
  import Tit from '../common/title/tit'
  import TitEditor from '../common/title/titleEditor'
  import Coupon from '../common/coupon/coupon'
  import CouponEditor from '../common/coupon/couponEditor'

  import {getTableData,pageconfigupdate,updatePageConfig,getPageData} from '@/api/data'
  export default {
    name: "pageOrg",//页面编辑
    data(){
      return{
        viewModal:false,
        sendState:0,
        pageShow:'',
        currentMouseObj:{},//当前鼠标选择的页面对象
        pageObj:[],
        pageId:'',
        edit:true,
        cataList:'',
        brandList:''
      }
    },
    components:{
      PageEditor,
      Rubik,
      RubikEditor,
      Carsel,
      CarouselEditor,
      Product,
      ProductEditor,
      Bulletin,
      BulletinEditor,
      Search,
      SearchEditor,
      Tit,
      TitEditor,
      Coupon,
      CouponEditor
    },
    computed:{

    },
    beforeDestroy(){
      // this.$store.commit('setMouseTarget',{})
      // this.$store.commit('setPageData',{editType:'reset'})
      // this.pageId=''
    },
    mounted(){
      this.$store.commit('setMouseTarget',{})
      this.$store.commit('setPageData',{editType:'reset'})
      this.pageId = this.$route.query.id
      if(this.pageId){
        this.getEditPageData()
        this.edit=this.$route.query.edit
      }
      //console.log('mouseTargetIndex==='+JSON.stringify(this.$store.state.mouseTarget))
    },
    methods:{
      beforeSend(v){
        this.sendState=v;
        let temp1=[]
        let temp2=[]
        for(let i=0;i<this.pageObj.length;i++){
          if(this.pageObj[i].type=='rubik' || 'carousel'==this.pageObj[i].type){
            for (let j=0;j<this.pageObj[i].list.length;j++) {
              if(this.pageObj[i].list[j].cata3){
                temp1.push(this.pageObj[i].list[j].cata3)
              }
              if(this.pageObj[i].list[j].brand){
                temp2.push(this.pageObj[i].list[j].brand)
              }
            }
          }
        }
        this.cataList = temp1.join(',')
        this.brandList = temp2.join(',')
        if(this.pageId && this.$route.query.temple !=1){
          this.pageconfigupdate()
        }else{
          this.postPageData()
        }
      },
      getBrands(){
        //middle/product/queryProductBrandsByTypeId
        getTableData({
          url: '/middle/product/queryProductBrandsByTypeId',
          type: 'post',
          data: {}
        }).then(res => {
          if (res.data.code == 200) {

          }
        }).catch(err => console.log(err))
      },
      pageconfigupdate(){
        //更新已有页面数据
        let tempArr = []
        let tempKey = []
        for(var i=0;i<this.pageObj.length;i++){
          let innerArr = []
          if(this.pageObj[i].type == 'product'){
            tempKey.push('productlist'+i)
            for(var j=0;j<this.pageObj[i].list.length;j++){
              innerArr.push({'id':String(this.pageObj[i].list[j].id)})
            }
            tempArr.push(innerArr)
          }
        }
        let tempObj = JSON.stringify(_.zipObject(tempKey,tempArr))
        let temp = JSON.stringify(this.pageObj)
        // let temp1=''
        // let temp2=''
        // if(this.pageObj[0].productBrandIdArray){
        //   temp1 = this.pageObj[0].productBrandIdArray.join(',')
        // }
        // if(this.pageObj[0].productClassIdArray){
        //   temp2 = this.pageObj[0].productClassIdArray.join(',')
        //
        // }
        if(!this.pageObj[0].pageTitle){
          this.$Message.warning('请输入页面标题')
          return
        }
        pageconfigupdate({
          id:this.pageId,
          repeatToken:'',
          pageCateId:'',
          pageDataDO:{
            pageDataJson: temp,//
            pageDataProdcutJson: tempObj,//产品
            pageCateDataJson:""
          },
          pageDes: this.pageObj[0].pageDesc,
          pageTitle: this.pageObj[0].pageTitle,
          pageType: 1,//1非分类页 2分类页
          productBrandIdArray: this.brandList,//"1,2,3" 产品品牌Id集合
          productClassIdArray: this.cataList,//产品分类Id集合 "1,2,3"
          status: this.sendState,//发布还是草稿
        }).then(res=>{
          if(res.data.code==200){
            this.$Message.success("更新页面数据成功")
          }
        }).catch(err=>{

        })
      },
      sendPage(v){
        this.$store.commit('setMouseTarget',Object.assign(this.currentMouseObj,{status:v}))
      },
      postPageData(){
        let tempArr = []
        let tempKey = []
        for(var i=0;i<this.pageObj.length;i++){
          let innerArr = []
          if(this.pageObj[i].type == 'product'){
            tempKey.push('productlist'+i)
            for(var j=0;j<this.pageObj[i].list.length;j++){
              innerArr.push({'id':String(this.pageObj[i].list[j].id)})
            }
            tempArr.push(innerArr)
          }
        }
        let tempObj = JSON.stringify(_.zipObject(tempKey,tempArr))
        let temp = JSON.stringify(this.pageObj)
        if(!this.pageObj[0].pageTitle){
          this.$Message.warning('请输入页面标题')
          return
        }
        // createTime	创建时间	body	false	date-time
        // createUser	创建用户	body	false	string
        // customerId	商户id	body	false	int32
        // goodsNum	商品数量	body	false	int32
        // id	主键	body	false	int32
        // indexPage	是否默认为首页 1 是 空否	body	false	int32
        // pageCateId	页面分类id	body	false	int32
        // pageDataDO	页面数据实体	body	false	更新页面数据实体	更新页面数据实体
        // pageDes	页面描述	body	false	string
        // pageTitle	页面标题	body	true	string
        // pageType	页面分类 1.普通页面 2.分类页面	body	true	int32
        // productBrandIdArray	品牌id数组	body	false	string
        // productClassIdArray	商品分类id数组	body	false	string
        // status	状态 1 标识已删除 2使用中 3草稿 4.已发布	body	true	int32
        // updateTime	更新时间	body	false	date-time
        // updateUser	更新用户	body	false	string
        updatePageConfig({
          repeatToken:'',
            pageCateId:'0',
            pageCateName:'未分类',
            pageDataDO:{
              pageDataJson: temp,//
              pageDataProdcutJson: tempObj,//产品
              pageCateDataJson:""
            },
            pageDes: this.pageObj[0].pageDesc,
            pageTitle: this.pageObj[0].pageTitle,
            pageType: 1,//1非分类页 2分类页
            productBrandIdArray: this.brandList,//"1,2,3" 产品品牌Id集合
            productClassIdArray: this.cataList,//产品分类Id集合 "1,2,3"
            status: this.sendState,//发布还是草稿
        }).then(res=>{
          if(res.data.code==200){
            this.$Message.success('页面发布成功');
            this.pageId = res.data.data
          }
        }).catch(err=>{

        })
      },
      showPageEditor(target,index){
        this.$store.commit('setMouseTarget',Object.assign(target,{index:index}))
      },
      getPageData(newer,older){
        this.pageObj = newer
        //console.log("当前的页面数组=="+JSON.stringify(newer))
      },
      getTargetData(newer,older){
        //console.log("当前鼠标选择的页面对象=="+JSON.stringify(newer))
        this.currentMouseObj = newer
      },
      getEditPageData(){
        getPageData({
          id:this.pageId
        }).then(res=>{
          if(res.data.code==200){
            let temp = JSON.parse(res.data.data.pageDataDO.pageDataJson)
            this.$store.commit('setPageData',Object.assign(temp,{editType:'backData'}))
          }
        }).catch(err=>{
        })
      },
      addComponents(type){
        let titleFlag=false
        let searchFlag=false
        let bulletinFlag=false
        for (let i = 0; i < this.pageObj.length; i++) {
          if(this.pageObj[i].type=='bulletin'){
            bulletinFlag = true
          }
          if(this.pageObj[i].type=='title'){
            titleFlag = true
          }
          if(this.pageObj[i].type=='search'){
            searchFlag = true
          }
        }
        if(type=='bulletin' && bulletinFlag){
          this.$Message.warning('本页已存在公告，每个页面仅允许创建一个！')
          return
        }
        if(type=='search' && searchFlag){
          this.$Message.warning('本页已存在搜索框，每个页面仅允许创建一个！')
          return
        }
        if(type=='title' && titleFlag){
          this.$Message.warning('本页已存在标题，每个页面仅允许创建一个！')
          return
        }
        if('rubik'==type){
          this.$store.commit('setPageData',{type:'rubik',editType:'add',rubikType:'onePic',list:[{imgUrl:'',linkTo:''}]})
        }
        if(type=='carousel'){
          this.$store.commit('setPageData',{type:'carousel',editType:'add',list:[]})
        }
        if(type=='product'){
          this.$store.commit('setPageData',{type:'product',editType:'add',list:[],productType:'oneCol'})
        }
        if(type=='bulletin'){
          this.$store.commit('setPageData',{type:'bulletin',editType:'add',list:[],text:''})
        }
        if('search'==type){
          this.$store.commit('setPageData',{type:'search',editType:'add',list:[],styleType:''})
        }
        if('title'==type){
          this.$store.commit('setPageData',{type:'title',editType:'add',list:[],styleType:''})
        }
        if('coupon'==type){
          this.$store.commit('setPageData',{type:'coupon',editType:'add',list:[],styleType:'',color:'',hideSold:false,hideExpired:false})
        }
      }
    },
    watch:{
      '$store.state.app.createPageData': {
        handler: function(newer, older) { // 可以获取新值与老值两个参数
          //this.getPageData(newer,older)
          this.pageObj = newer
          console.log("当前的页面数组=="+JSON.stringify(newer))
        },
        deep: true, // 开启深度监听
        immediate: true,
      },
      '$store.state.app.mouseTarget': {
        handler: function(newer, older) { // 可以获取新值与老值两个参数
          this.getTargetData(newer,older)
        },
        deep: true, // 开启深度监听
        immediate: true,
      },
    }
  }
</script>

<style scoped>
  .edit-height{
    height: 350px;
  }
  .check-height{
    height: 550px;
  }
  .phone{
    width: 320px;

    border: 1px solid #e4e4e4;
    overflow-y: scroll;
  }
  .header{
    height: 30px;
    line-height: 30px;
    background: #001529;
    text-align: center;
    color: #fff;
  }
  .tools{
    width: 320px;
    height: 260px;
    border: 1px solid #e4e4e4;
    background: #e9e9e9;
    padding:1rem;
  }
  .opts-row{
    margin: .5rem 0;
  }
  .page-wrapper{
    display: flex;
  }
  .left{
  }
  .editor{
    width: 700px;
  }
  ::-webkit-scrollbar {
    width:1px;
  }
  /* 滚动槽 */
  ::-webkit-scrollbar
  {
    width: 1px;
  }
  .controlBar{
    position: absolute;
    width: 70%;
    height: 30px;
    bottom: .5rem;
  }
</style>
