<template>
  <div>
    <Tabs value="name1">
      <TabPane label="搜索热词配置" name="name1">
        <Row>
          <Col span="4">
            <div>热词数量：{{total}}/20</div>
          </Col>
          <Col :offset="14" span="6">
            <div>
              <Button style="margin-right: .5rem">排序</Button>
              <Button @click="modal1=true" type="info">添加热词</Button>
            </div>
          </Col>
        </Row>
        <Divider/>
        <Table :columns="columns1" :data="data1"></Table>
      </TabPane>
    </Tabs>
    <Modal
      v-model="modal1"
      title="添加热词"
      :mask-closable="false">
      <div style="margin: .5rem">
        <Input :maxlength="10" placeholder="请输入热词内容" style="width: 200px;margin-right: .5rem" type="text" v-model="hotWord"></Input>
      </div>
      <div style="margin: .5rem">
        <InputNumber placeholder="请输入排序值"
               :max="20" :min="1"
               style="width: 200px;margin-right: .5rem"
               type="number" v-model="sort"></InputNumber>
      </div>
      <div style="margin: .5rem">
        <Checkbox v-model="show">突出显示</Checkbox>
      </div>
      <div slot="footer">
        <Button @click="cancel">取消</Button>
        <Button type="primary" @click="add">提交</Button>
      </div>
    </Modal>
    <Modal
      v-model="modal2"
      title="编辑热词"
      :mask-closable="false">
      <div style="margin: .5rem">
        <Input :maxlength="10" placeholder="请输入热词内容" style="width: 200px;margin-right: .5rem" type="text" v-model="hotWord"></Input>
      </div>
      <div style="margin: .5rem">
        <InputNumber placeholder="请输入排序值"
                     :max="20" :min="1"
                     style="width: 200px;margin-right: .5rem"
                     type="number" v-model="sort"></InputNumber>
      </div>
      <div style="margin: .5rem">
        <Checkbox v-model="show">突出显示</Checkbox>
      </div>
      <div slot="footer">
        <Button @click="cancel">取消</Button>
        <Button type="primary" @click="update">提交</Button>
      </div>
    </Modal>
  </div>
</template>

<script>
  import {getTableData} from '@/api/data'
  export default {
    name: "hotWords",
    data(){
      return{
        modal2:false,
        sort:null,
        show:false,
        modal1:false,
        data1:[],
        hotWord:'',
        total:0,
        currentId:'',
        columns1:[
          {
            title: '顺序',
            width: 80,
            align: 'center',
            key:'sort',
            sortable:true
          },
          {
            title: '内容',
            key: 'searchWord'
          },
          {
            title: '创建时间',
            key: 'createTime'
          },
          {
            title: '更新时间',
            key: 'updateTime'
          },
          {
            title: '操作',
            key: 'action',
            width: 150,
            align: 'center',
            render: (h, params) => {
              return h('div', [
                h('Button', {
                  props: {
                    type: 'primary',
                    size: 'small'
                  },
                  style: {
                    marginRight: '5px'
                  },
                  on: {
                    click: () => {
                      this.edit(params.row)
                    }
                  }
                }, '编辑'),
                h('Button', {
                  props: {
                    type: 'error',
                    size: 'small'
                  },
                  on: {
                    click: () => {
                      //this.remove(params.index)
                      this.del(params.row.id)
                    }
                  }
                }, '删除')
              ]);
            }
          }
        ],
      }
    },
    mounted(){
      this.getList()
    },
    methods:{
      confirm(){

      },
      cancel(){
        this.show=false
        this.hotWord=''
        this.sort=null
        this.currentId=''
        this.modal2=false
        this.modal1=false
      },
      add(){
        ///middle/shopconfig/searchword/insert
        if(!this.hotWord){
          this.$Message.warning('请输入热词内容')
          return
        }
        if(this.$tools.hasSpecial(this.hotWord)){
          this.$Message.warning('请输入正确热词内容')
          return
        }
        if(!this.sort){
          this.$Message.warning('请输入排序值')
          return
        }
        this.modal1=false
        getTableData({
          url: '/middle/shopconfig/searchword/insert',
          type: 'post',
          data: {
            mark:this.show?1:0,
            searchWord:this.hotWord,
            sort:this.sort
          }
        }).then(res => {
          if (res.data.code == 200) {
            this.$Message.success('添加成功')
            this.getList()
          }
          this.show=false
          this.hotWord=''
          this.sort=null
        }).catch(err => console.log(err))
      },
      update(){
        ///middle/shopconfig/searchword/update
        if(!this.hotWord){
          this.$Message.warning('请输入热词内容')
          return
        }
        if(this.$tools.hasSpecial(this.hotWord)){
          this.$Message.warning('请输入正确热词内容')
          return
        }
        if(!this.sort){
          this.$Message.warning('请输入排序值')
          return
        }
        this.modal2=false
        getTableData({
          url: '/middle/shopconfig/searchword/update',
          type: 'post',
          data: {
            id:this.currentId,
            mark:this.show?1:0,
            searchWord:this.hotWord,
            sort:this.sort
          }
        }).then(res => {
          if (res.data.code == 200) {
            this.$Message.success('编辑成功')
            this.getList()
          }
          this.show=false
          this.hotWord=''
          this.sort=null
          this.currentId=''
        }).catch(err => console.log(err))
      },
      edit(row){
        this.currentId=row.id
        this.hotWord=row.searchWord
        this.show=row.mark==1?true:false
        this.sort=row.sort
        this.modal2=true
      },
      del(id){
        ///middle/shopconfig/searchword/delete
        getTableData({
          url: '/middle/shopconfig/searchword/delete',
          type: 'post',
          data: {
            id:id
          }
        }).then(res => {
          if (res.data.code == 200) {
            this.$Message.success('删除成功')
            this.getList()
          }
        }).catch(err => console.log(err))
      },
      getList(){
        getTableData({
          url: '/middle/shopconfig/searchword/list',
          type: 'post',
          data: {}
        }).then(res => {
          if (res.data.code == 200) {
            if(res.data.data){
              this.data1=res.data.data
              this.total = res.data.data.length
            }
          }
        }).catch(err => console.log(err))
      }
    }
  }
</script>

<style scoped>

</style>
