<template>
  <div>
    <Tabs :value="currentTab">
      <TabPane label="首页管理" name="1">
        <div class="home-wrapper">
          <div class="phone">
            <!--<img src="../images/styleDemo1.jpg" alt="">-->
            <object
              ref="mainWindow"
              :data="this.$store.state.user.dominUrl+'/webapp/main/activity.html?type=1&pageId='+this.defaultInfo.id"
              width="400"
              height="600"
              type="text/html">
              Alternative Content
            </object>
            <div v-for="(item,index) in pageObj" :key="index">
              <!--<h4>{{item}}</h4>-->
              <div v-if="item.type == 'overall'">
                <header class="header">{{item.pageTitle?item.pageTitle:''}}</header>
              </div>
              <div v-if="item.type =='rubik'">
                <Rubik :selfOpts="Object.assign(item,{'index':index})"></Rubik>
              </div>
              <div v-if="item.type =='carousel'">
                <Carsel :selfOpts="Object.assign(item,{'index':index})"></Carsel>
              </div>
              <div v-if="item.type == 'product'">
                <Product :selfOpts="Object.assign(item,{'index':index})"></Product>
              </div>
              <div v-if="item.type == 'bulletin'">
                <Bulletin :selfOpts="Object.assign(item,{'index':index})"></Bulletin>
              </div>
              <div v-if="item.type == 'search'">
                <Search :selfOpts="Object.assign(item,{'index':index})"></Search>
              </div>
              <div v-if="item.type == 'title'">
                <Tit :selfOpts="Object.assign(item,{'index':index})"></Tit>
              </div>
            </div>
          </div>
          <div class="tables">
            <Card>
              <p style="height: 26px;" slot="title">【默认】{{defaultInfo.pageTitle}} <Tag color="cyan">当前首页</Tag></p>
              <Button @click="()=>{this.modal3=true;this.getPageList()}" style="margin-right: .4rem" size="small" type="primary" ghost slot="extra">
                切换默认首页
              </Button>
              <!--<Button size="small" ghost type="primary" slot="extra">-->
                <!--编辑-->
              <!--</Button>-->
              <div>
                <Table stripe :columns="columns1" :data="data1"></Table>
                <div style="text-align: center;margin-top: .5rem;">
                  <Page
                    :total="planTotal"
                    @on-change="planPageChange"
                    show-total />
                </div>
                <Button @click="()=>{this.getPageList();this.modal1=true;}" style="margin-top: .4rem" type="success" slot="extra">
                  添加计划首页
                </Button>
              </div>
            </Card>
          </div>
        </div>
        <Button style="margin: .5rem 0"
                type="dashed" @click="modal6=true;this.getLog()"
                size="small">日志</Button>
      </TabPane>
      <TabPane label="导航管理" name="2">
        <div class="home-wrapper">
          <div class="phone">
            <object
              :data="this.$store.state.user.dominUrl+'/webapp/main/activity.html?type=1&pageId='+this.defaultInfo.id"
              width="400"
              height="600"
              type="text/html">
              Alternative Content
            </object>
          </div>
          <div class="tables">
            <Card style="height: 600px">
              <p style="height: 26px;" slot="title">
                <span>导航：</span>
                <i-switch v-model="navAttr.navSwitch">
                  <span slot="open">开</span>
                  <span slot="close">关</span>
                </i-switch>
                <!--<span style="margin-left: .6rem">当前样式：</span>-->
                <!--<Tag color="cyan">{{navAttr.navType=='1'?'抽屉导航':'App样式导航'}}</Tag>-->
                <!--<Tag color="blue">{{navAttr.navPosition=='0'?'左上角':-->
                  <!--(navAttr.navPosition=='1'?'左下角':-->
                  <!--(navAttr.navPosition=='2'?'右上角':'右下角'))}}</Tag>-->
              </p>
              <!--<Button @click="navModal=true" size="small" ghost type="primary" slot="extra">-->
                <!--设置-->
              <!--</Button>-->
              <Button @click="()=>{this.global.id?this.updateGlobal():this.savePageGlobal()}" style="margin-left: .5rem" size="small"  type="primary" slot="extra">
                发布更新
              </Button>
              <div>
                <h4 style="margin-bottom: 1rem">此样式3个导航内容最佳</h4>
                <div class="nav-wrapper">
                  <div class="nav-item" v-for="(item,index) in navAttr.list" @click="getIndex(index)">
                    <!--<div class="nav-img">-->
                      <!--<div class="showImg">-->
                        <!--<img width="60px" :src="item.imgUrl" alt="">-->
                      <!--</div>-->
                      <!--<Upload-->
                        <!--ref="upload"-->
                        <!--:show-upload-list="false"-->
                        <!--:on-success="handleSuccess"-->
                        <!--:format="['jpg','jpeg','png']"-->
                        <!--:max-size="2048"-->
                        <!--:on-format-error="handleFormatError"-->
                        <!--:on-exceeded-size="handleMaxSize"-->
                        <!--:before-upload="handleBeforeUpload"-->
                        <!--:headers="{'Authorization':$store.state.user.token}"-->
                        <!--type="drag"-->
                        <!--:action="$publicUrl+'/middle/material/upload'"-->
                        <!--style="display: inline-block;width:58px;">-->
                        <!--<div style="width: 58px;height:58px;line-height: 58px;" @click="currentNavIndex = index">-->
                          <!--<Icon type="ios-camera" size="20"></Icon>-->
                        <!--</div>-->
                      <!--</Upload>-->
                    <!--</div>-->
                    <div class="nav">
                      <span style="margin-right: 1rem">标题：<Input :maxlength="4" v-model="item.title" size="small" style="width: 180px" /></span>
                      <span>链接到：
                        <Select @on-change="getRubikLink" v-model="item.selectType" size="small" style="width:200px">
                          <Option value="1">订单中心</Option>
                          <Option value="2">页面</Option>
                          <Option value="3">商品分类</Option>
                          <Option value="4">商品</Option>
                        </Select>
                      </span>
                      <!--<div class="nav-tip">图片尺寸要求：不大于128*100像素，支持PNG格式</div>-->
                      <div v-if="item.selectType=='3'">
                        <Select @on-change="level1" style="width:100px">
                          <Option v-for="item in cateList1" :value="item.id" :key="item.id">{{ item.name }}</Option>
                        </Select>
                        <Select @on-change="level2" style="width:100px">
                          <Option v-for="item in cateList2" :value="item.id" :key="item.id">{{ item.name }}</Option>
                        </Select>
                        <Select @on-change="level3" style="width:100px">
                          <Option v-for="item in cateList3" :value="item.id" :key="item.id">{{ item.name }}</Option>
                        </Select>
                      </div>
                    </div>
                  </div>
                </div>
                <div>
                  <Button @click="addNav" long size="large" type="dashed">添加导航内容</Button>
                </div>
              </div>
              <!--<div class="top-set">-->
                <!--<div>-->
                  <!--<span>顶部栏：</span>-->
                  <!--<i-switch v-model="topAttr.switch">-->
                    <!--<span slot="open">开</span>-->
                    <!--<span slot="close">关</span>-->
                  <!--</i-switch>-->
                  <!--</div>-->
                <!--<div style="margin-left: 1rem">当前状态：全局开启</div>-->
                <!--<div style="margin-left: 1rem">-->
                  <!--<Button @click="topModal=true" size="small" ghost type="primary">设置</Button>-->
                <!--</div>-->
              <!--</div>-->
            </Card>
          </div>
          <Modal
            :mask-closable="false"
            v-model="navModal"
            title="修改导航设置"
            width="700px"
            @on-ok="()=>{}"
            @on-cancel="()=>{}">
            <div class="nav-edit-wrapper">
              <div class="nav-edit">
                <div class="nav-attr">
                  <div>
                    <span>默认启用:</span>
                  </div>
                  <Checkbox v-model="single">功能页面</Checkbox>
                </div>
                <div class="nav-attr">
                  <div>
                    <span>导航样式:</span>
                  </div>
                  <RadioGroup v-model="navAttr.navType">
                    <Radio label="1">抽屉导航</Radio>
                    <Radio label="2">App样式导航</Radio>
                  </RadioGroup>
                </div>
                <div class="nav-attr">
                  <div>
                    <span>导航位置:</span>
                  </div>
                  <RadioGroup v-model="navAttr.navPosition">
                    <Radio label="0">左上角</Radio>
                    <Radio label="1">左下角</Radio>
                    <Radio label="2">右上角</Radio>
                    <Radio label="3">右下角</Radio>
                  </RadioGroup>
                </div>
              </div>
              <div class="nav-preview">

              </div>
            </div>
          </Modal>
          <Modal
            v-model="topModal"
            title="修改顶部栏设置"
            :mask-closable="false"
            width="700px"
            @on-ok="()=>{}"
            @on-cancel="()=>{}">
            <div class="nav-edit-wrapper">
              <div class="nav-edit">
                <div class="nav-attr">
                  <div>
                    <span>默认启用:</span>
                  </div>
                  <Checkbox v-model="single">功能页面</Checkbox>
                </div>
                <div class="nav-attr">
                  <div>
                    <span>导航样式:</span>
                  </div>
                  <RadioGroup v-model="topAttr.linkTo">
                    <Radio label="1">logo</Radio>
                    <Radio label="2">搜索</Radio>
                    <Radio label="3">订单中心</Radio>
                  </RadioGroup>
                </div>
                <div class="nav-attr">
                  <div>
                    <span>导航栏样式:</span>
                  </div>
                  <RadioGroup v-model="topAttr.topStyle">
                    <Radio label="0">深色顶部栏</Radio>
                    <Radio label="1">浅色顶部栏</Radio>
                  </RadioGroup>
                </div>
                <div class="nav-attr">
                  <div>
                    <span>悬 浮:</span>
                  </div>
                  <RadioGroup v-model="topAttr.suspension">
                    <Radio label="1">是</Radio>
                    <Radio label="0">否</Radio>
                  </RadioGroup>
                </div>
              </div>
              <div class="nav-preview">
                <span style="margin: .3rem">预览</span>
              </div>
            </div>
          </Modal>
        </div>
      </TabPane>
      <TabPane label="风格管理" name="3">
        <div class="color-wrap">
          <span>配色方案：</span>
          <div class="style-wrapper">
            <div :class="{'style1':true,'active':currentColor=='1'}" @click="setColor('1')">
              <div class="item"></div>
              <div class="item"></div>
              <div class="item"></div>
            </div>
            <div :class="{'style2':true,'active':currentColor=='2'}" @click="setColor('2')">
              <div class="item"></div>
              <div class="item"></div>
              <div class="item"></div>
            </div>
            <div :class="{'style3':true,'active':currentColor=='3'}" @click="setColor('3')">
              <div class="item"></div>
              <div class="item"></div>
              <div class="item"></div>
            </div>
            <div :class="{'style4':true,'active':currentColor=='4'}" @click="setColor('4')">
              <div class="item"></div>
              <div class="item"></div>
              <div class="item"></div>
            </div>
            <div :class="{'style5':true,'active':currentColor=='5'}" @click="setColor('5')">
              <div class="item"></div>
              <div class="item"></div>
              <div class="item"></div>
            </div>
            <div>
            <Button @click="()=>{this.global.id?this.updateGlobal():this.savePageGlobal()}" size="small"  type="primary" slot="extra">
              发布更新
            </Button>
            </div>
          </div>
          <div class="demo-wrapper">
            <div>
              <object
                ref="styleWindow"
                :data="this.$store.state.user.dominUrl+'/webapp/main/activity.html?type=1&pageId='+this.defaultInfo.id"
                width="400"
                height="600"
                type="text/html">
                Alternative Content
              </object>
            </div>
          </div>
        </div>
      </TabPane>
    </Tabs>
    <Modal
      v-model="modal3"
      title="设置默认首页"
      :mask-closable="false"
      @on-ok="()=>{this.setDefault()}"
      width="900px"
      @on-cancel="()=>{this.selectPlanId=null;this.formInline.pageCateId='';this.formInline.pageTitle=''}">
      <Form ref="formInline" :model="formInline" inline>
        <FormItem>
          <Input :clearable="true" type="text" v-model="formInline.pageTitle" placeholder="请输入页面名称">
          </Input>
        </FormItem>
        <FormItem>
          <Select :clearable="true" v-model="formInline.pageCateId" style="width:200px;margin:0 .5rem">
            <Option v-for="(item,index) in data2" :value="item.id" :key="index">{{item.cateName}}</Option>
          </Select>
        </FormItem>
        <FormItem>
          <Button @click="getPageList" type="info">查询</Button>
        </FormItem>
      </Form>
      <Table highlight-row @on-current-change="selectPlanPage1"
             :columns="columns2" :data="planListData"></Table>
      <div style="text-align: center">
        <Page style="margin-top: .5rem" :total="pageTotal" @on-change="getPage"/>
      </div>
    </Modal>
    <Modal
      :mask-closable="false"
      v-model="modal1"
      title="添加计划首页"
      @on-ok="()=>{this.modal2=true}"
      width="900px"
      @on-cancel="()=>{this.formInline.pageTitle='';this.formInline.pageCateId=''}">
      <Form :model="formInline" inline>
        <FormItem>
          <Input clearable type="text" v-model="formInline.pageTitle" placeholder="请输入页面名称">
          </Input>
        </FormItem>
        <FormItem>
          <Select clearable v-model="formInline.pageCateId" style="width:200px;margin:0 .5rem">
            <Option v-for="(item,index) in data2" :value="item.id" :key="index">{{item.cateName}}</Option>
          </Select>
        </FormItem>
        <FormItem>
          <Button @click="getPageList" type="info">查询</Button>
        </FormItem>
      </Form>
      <Table highlight-row @on-current-change="selectPlanPage"
             :columns="columns2" :data="planListData"></Table>
      <div style="text-align: center">
        <Page style="margin-top: .5rem" :total="pageTotal" @on-change="getPage"/>
      </div>
    </Modal>
    <Modal
      :mask-closable="false"
      v-model="modal2"
      title="设置首页计划"
      width="700px"
    >
      <Form inline>
        <FormItem :label-width="100" label="设置时间范围">
          <DatePicker
          @on-change="getTime"
          v-model="timevalue"
          type="datetimerange"
          format="yyyy-MM-dd HH:mm:ss"
          placeholder="设置首页计划时间范围"
          style="width: 300px"></DatePicker>
        </FormItem>
      </Form>
      <div slot="footer">
        <Button  @click="addPlanPage1"
          >提交并继续添加</Button>
        <Button type="primary"  @click="addPlanPage">提交计划</Button>
      </div>
    </Modal>
    <!--<div class="controlBar">-->
      <!--<Row>-->
        <!--<Col :offset="19" span="1">-->
          <!--<Button @click="postPageData" type="primary">发布更新</Button>-->
        <!--</Col>-->
      <!--</Row>-->
    <!--</div>-->
    <Modal
      :mask-closable="false"
      v-model="pageModal"
      title="选择跳转页面"
      width="1000px"
      @on-cancel="()=>{this.currentPageId=0; this.formInline.pageCateId=''
          this.formInline.pageTitle=''}"
      @on-ok="confirm1">
      <Form :model="formInline" inline>
        <FormItem>
          <Input clearable type="text" v-model="formInline.pageTitle" placeholder="请输入页面名称">
          </Input>
        </FormItem>
        <FormItem>
          <Select clearable v-model="formInline.pageCateId" style="width:200px;margin:0 .5rem">
            <Option v-for="(item,index) in data2" :value="item.id" :key="index">{{item.cateName}}</Option>
          </Select>
        </FormItem>
        <FormItem>
          <Button @click="getPageList" type="info">查询</Button>
        </FormItem>
      </Form>
      <Table
        stripe :columns="pagecolumns1" :data="pagedata1"></Table>
      <div style="text-align: center">
        <Page style="margin-top: .5rem" :total="pageTotal" @on-change="getPage"/>
      </div>
    </Modal>
    <Modal
      :mask-closable="false"
      v-model="productModal"
      width="80%"
      title="选择商品"
      @on-ok="confirm"
      @on-cancel="()=>{this.currentProductId=0}">
      <div style="margin-top:2rem"></div>
      <!--<ProductSelecter></ProductSelecter>-->
      <Form inline :label-width="80">
        <FormItem label="商品名称：">
          <Input type="text" v-model="formInline1.productName" placeholder="请输入商品名称">
          </Input>
        </FormItem>
        <FormItem label="SPU：">
          <Input type="text" v-model="formInline1.productCode" placeholder="请输入SPU">
          </Input>
        </FormItem>
        <FormItem label="商品分类：">
          <Select clearable  @on-change="level1" style="width:100px">
            <Option v-for="item in cateList1" :value="item.id" :key="item.id">{{ item.name }}</Option>
          </Select>
          <Select clearable @on-change="level2" style="width:100px">
            <Option v-for="item in cateList2" :value="item.id" :key="item.id">{{ item.name }}</Option>
          </Select>
          <Select clearable :label-in-value="true" v-model="formInline1.cateIds" style="width:100px">
            <Option v-for="item in cateList3" :value="item.id" :key="item.id">{{ item.name }}</Option>
          </Select>
        </FormItem>
        <FormItem label="商品品牌：">
          <Select clearable v-model="formInline1.brandIds" style="width:200px">
            <Option v-for="item in brandsList" :value="item.id" :key="item.id">{{ item.name }}</Option>
          </Select>
        </FormItem>
        <FormItem>
          <Button type="primary" @click="getProducts">查 询</Button>
        </FormItem>
      </Form>
      <Table :columns="columns3"
             :data="data3"></Table>
      <div style="text-align: center">
        <Page style="margin-top: .5rem" :total="pageTotal2" @on-change="getPage2"/>
      </div>
    </Modal>
    <Modal
      :mask-closable="false"
      v-model="modal6"
      width="80%"
      title="首页切换日志"
      @on-ok="()=>{}"
      @on-cancel="()=>{}">
      <div style="margin: .5rem 0">
        <DatePicker
          @on-change="getLogTime"
          v-model="logtimevalue"
          type="datetimerange"
          placeholder="请选择时间范围"
          format="yyyy-MM-dd HH:mm:ss"
          style="width: 300px">
        </DatePicker>
        <Button @click="getLog" style="margin:0 .5rem" type="primary">查询</Button>
      </div>
      <Table :columns="columns6"
             :data="data6"></Table>
      <div style="text-align: center">
        <Page style="margin-top: .5rem" :total="total6" @on-change="getPage6"/>
      </div>
      <div slot="footer"></div>
    </Modal>
  </div>
</template>

<script>
  import Rubik from '../common/rubik/rubik'
  import Carsel from '../common/carousel/carousel'
  import Product from '../common/products/product'
  import Bulletin from '../common/bulletin/bulletin'
  import Search from '../common/search/search'
  import Tit from '../common/title/tit'

  import {getCateList,getProductList,getLevel1,getLevel2,getLevel3, getTableData,getPageList,delPageList,setDefaultPage,getPlanPageList,addPlanPage,savePageGlobal} from "@/api/data"
  export default {
    name: "mallManage",
    data(){
      return{
        randomNo:null,
        logtimevalue:'',
        formInline5:{},
        modal6:false,
        brandsList:[],
        formInline1:{
          pageIndex:1,
          pageSize:10
        },
        selectPlanId:null,
        planNo:1,
        planTotal:0,
        modal3:false,
        timevalue:'',
        pagedata1:[],
        pageTotal2:0,
        currentPageId:0,
        currentIndex:0,
        data2:[],
        columns6:[
          {
            title: '页面',
            key: 'title'
          },
          {
            title: '时间',
            key: 'createTime'
          },
          {
            title: '类型',
            key: 'type'
          },
          {
            title: '操作用户',
            key: 'createUser'
          },
        ],
        data6:[],
        total6:0,
        pageNo6:1,
        columns3:[
          {
            title: '商品',
            key: 'name1'
          },
          {
            title: '分类',
            key: 'productCateIdName'
          },
          {
            title: '价格',
            key: 'malMobilePrice',
            sortable: true
          },
          {
            title: '操作',
            key: 'action',
            width:220,
            align: 'center',
            render: (h, params) => {
              return h('div', [
                h('Button', {
                  props: {
                    type: this.currentProductId==params.row.id?'default':'success',
                    size: 'small'
                  },
                  style: {
                    marginRight: '5px'
                  },
                  on: {
                    click: () => {
                      if(this.currentProductId != params.row.id){
                        this.currentProductId = params.row.id
                      }else{
                        //this.$Message.warning('')
                      }
                    }
                  }
                }, this.currentProductId==params.row.id?'已选择':'选择')
              ]);
            }
          },
        ],
        productName:'',
        currentProductId:0,
        productModal:false,
        pageModal:false,
        pageNo:1,
        pageTotal:1,
        defaultList:[],
        currentNavIndex:0,
        currentTab:'1',
        navAttr:{
          selectType:'',
          navSwitch:false,//是否开启 open close
          navType:'1',//导航类型 1抽屉导航 2：App样式
          navPosition:'0',//导航位置
          list:[]
        },
        topAttr:{
          switch:false,
          type:'0',//0:logo 1:搜索 2:订单中心
          topStyle:'0',//顶部导航样式
          suspension:'',//悬浮 1是 0否
          linkTo:'',
        },
        category:'',
        topModal:false,
        currentPlanPageData:{},
        planData:'',//首页计划时间
        formInline:{

        },
        modal1:false,
        modal2:false,
        currentColor:"",//当前选择的颜色风格
        single:false,
        navModal:false,
        navList:[],
        linkList:[{
          label:'订单中心',
          value:'订单中心'
        }],
        pageObj:{},
        columns1: [
          {
            title: '标题',
            key: 'title'
          },
          {
            title: '计划使用时间',
            key: 'createTime',
            render: (h, params) => {
              return h('div',
                params.row.startTime==null?'':params.row.startTime +
                  '-'+(params.row.endTime==null?'':params.row.endTime))}
          },
          {
            title: '操作',
            key: 'action',
            width: 250,
            render: (h, params) => {
              return h('div', [
                h('Button', {
                  props: {
                    type: 'error',
                    size: 'small'
                  },
                  style: {
                    marginRight: '5px'
                  },
                  on: {
                    click: () => {
                      this.delPageList(params.row.id)
                    }
                  }
                }, '删除'),
                h('Button', {
                  props: {
                    type: 'primary',
                    size: 'small'
                  },
                  style: {
                    marginRight: '5px'
                  },
                  on: {
                    click: () => {
                      //alert(params.row.id)
                      this.$router.push({
                        path:'/page/pageManage/addPage',
                        query: {
                          id: params.row.pageConfigId,
                          edit:true
                        }
                      //   h('Button', {
                      //   props: {
                      //     type: 'success',
                      //       size: 'small'
                      //   },
                      //   style: {
                      //     marginRight: '5px'
                      //   },
                      //   on: {
                      //     click: () => {
                      //       //alert(params.row.isFirstPage)
                      //       //alert(JSON.stringify(params.row))
                      //       this.setDefaultPage(params.row.id,params.row.title)
                      //     }
                      //   }
                      // },'设置为默认首页')
                      })
                    }
                  }
                }, '编辑'),
                params.row.type!=1?'':"当前首页",
              ]);
            }
          }
        ],
        data1:[],
        columns2: [
          {
            title: '标题',
            key: 'pageTitle'
          },
          {
            title: '分类',
            key: 'pageCateName'
          },
          {
            title: '商品数量',
            key: 'goodsNum'
          },
        ],
        planListData:[],
        classificationList:[],
        classification1:"",
        classification2:"",
        classification3:"",
        classification4:'',
        cateList1:[],
        cateList2:[],
        cateList3:[],
        currentType:'',
        data3:[],
        defaultInfo:{
          pageTitle:''
        },
        global:{},
        backNav:{},
        currentPageType:"",
        pagecolumns1: [
          {
            title: '标题',
            key: 'pageTitle'
          },
          {
            title: '分类',
            key: 'pageCateName'
          },
          {
            title: '创建/更新时间',
            key: 'createTime'
          },
          {
            title: '商品数量',
            key: 'goodsNum'
          },
          {
            title: '操作',
            key: 'action',
            width:220,
            align: 'center',
            render: (h, params) => {
              return h('div', [
                h('Button', {
                  props: {
                    type: this.currentPageId==params.row.id?'default':'success',
                    size: 'small'
                  },
                  style: {
                    marginRight: '5px'
                  },
                  on: {
                    click: () => {

                      if(this.currentPageId != params.row.id){
                        this.currentPageId = params.row.id
                        this.currentPageType=params.row.pageType
                        console.log(params.row)
                      }else{
                        //this.$Message.warning('')
                      }
                    }
                  }
                }, this.currentPageId==params.row.id?'已选择':'选择')
              ]);
            }
          },
        ],
      }
    },
    components:{
      Rubik,
      Carsel,
      Product,
      Bulletin,
      Search,
      Tit
    },
    mounted(){
      this.getPlanPageList()
      this.getDefault()
      this.getGlobal()
      this.getCateList()
      this.getBrands()
      this.getLevel1()
      this.getLog()
    },
    methods:{
      getLogTime(v){
        this.logtimevalue[0]=v[0]
        this.logtimevalue[1]=v[1]
      },
      getLog(){
        ///middle/shopconfig/indexpageconfig/pageLog
        getTableData({
          url: '/middle/shopconfig/indexpageconfig/pageLog',
          type: 'post',
          data: {
            startTime:this.logtimevalue[0],
            endTime:this.logtimevalue[1],
            pageNum:this.pageNo6,
            pageSize:10
          }
        }).then(res => {
          if (res.data.code == 200) {
            this.data6 = res.data.data.list
            this.total6 = res.data.data.total
          }else{
            this.data6 = []
            this.total6=0
          }
        }).catch(err => console.log(err))
      },
      getPage6(p){
        this.pageNo6=p
        this.getLog()
      },
      getBrands(){
        //middle/product/queryProductBrandsByTypeId
        getTableData({
          url: '/middle/product/queryProductBrandsByCustomerId',
          type: 'post',
          data: {}
        }).then(res => {
          if (res.data.code == 200) {
            this.brandsList = res.data.data
          }
        }).catch(err => console.log(err))
      },
      getCateList(){
        getCateList({
        }).then(res=>{
          if(res.data.code==200){
            this.data2 = res.data.data
          }
          //alert(JSON.stringify(res.data.data))
        }).catch(err=>{

        })
      },
      planPageChange(v){
        this.planNo=v
        this.getPlanPageList()
      },
      //middle/shopconfig/indexpageconfig/gethomepape
      getGlobal(){
        getTableData({
          url: '/middle/shopconfig/pageglobalconfig/load',
          type: 'post',
          data: {}
        }).then(res => {
          if (res.data.code == 200) {
            if(res.data.data){
              if(res.data.data){
                this.global=res.data.data
                this.currentColor=this.global.styleTypeJson
                let temp = JSON.parse(this.global.guidDataJson)
                //{"navSwitch":true,"navType":"1","navPosition":"0","list":[{"title":"","linkTo":"","imgUrl":""}]}
                this.navAttr.navSwitch=temp.navSwitch
                this.navAttr.navType=temp.navType
                this.navAttr.navPosition=temp.navPosition
                this.navAttr.list=temp.list
                //"topBarJson": "{\"switch\":true,\"type\":\"0\",\"topStyle\":\"0\",\"suspension\":\"\",\"linkTo\":\"\"}"
                let temp1 = JSON.parse(this.global.topBarJson)
                this.topAttr.switch = temp1.switch
              }
            }
          }else{
            this.$Message.error(res.data.message);
          }
        }).catch(err => console.log(err))
      },
      getIndex(i){
        this.currentIndex = i
      },
      getRubikLink(v){
        this.currentType = v
        this.navAttr.list[this.currentIndex].linkType=v
        if(v=='1'){
          this.navAttr.list[this.currentIndex].linkTo = 'http://order.com'
        }
        if(v=='2'){
          this.pageModal=true
          this.getPageList()
        }
        if(v=='3'){
          this.getLevel1()
        }

        if(v=='4'){
          this.productModal=true
          this.getProducts()
        }
      },
      getTime(v){
        this.planData=v
      },
      selectPlanPage(selection){
        this.currentPlanPageData = selection
      },
      selectPlanPage1(selection){
        this.selectPlanId=selection.id
      },
      confirm1(){
        if(this.currentType=='2'){
          this.navAttr.list[this.currentIndex].linkTo = this.currentPageId
          this.navAttr.list[this.currentIndex].pageType = this.currentPageType
        }
        this.currentPageId=0
      },
      confirm(){
        if(this.currentType=='4'){
          this.navAttr.list[this.currentIndex].linkTo = this.currentProductId
        }
        this.currentProductId=0
      },
      addPlanPage1(){
        if(!this.planData[0]){
          this.$Message.warning('请选择时间范围')
          return
        }
        this.addPlanPage()
        this.modal1=true;
        this.getPlanPageList();
        // this.timevalue=''
      },
      addPlanPage(){
        // customerId	商户id	body	false	int32
        // endTime	结束时间	body	true	date-time
        // id	主键	body	false	int32
        // pageConfigId	页面id	body	true	int32
        // startTime	开始时间	body	true	date-time
        // status		body	false	int32
        // title	标题	body	true	string
        // type		body	false	int32
        // updateTime	更新时间	body	false	date-time
        // updateUser
        if(!this.planData[0]){
          this.$Message.warning('请选择时间范围')
          return
        }
        addPlanPage({
          customerId:'',
          id:this.currentPlanPageData.id,
          status:this.currentPlanPageData.status,
          title:this.currentPlanPageData.pageTitle,
          type:'',
          startTime:new Date(this.planData[0]),
          endTime:new Date(this.planData[1]),
          pageConfigId:this.currentPlanPageData.id
        }).then(res=>{
          this.timevalue=''
          this.formInline.pageTitle=''
          this.formInline.pageCateId=''
          if(res.data.code==200){
            this.getPlanPageList()
            this.modal2=false
          }
        }).catch(err=>{
          this.timevalue=''
        })
      },
      getLink(v){
        alert(v)
      },
      getProducts(){
        this.formInline1.pageSize = 10
        getProductList(this.formInline1).then(res=>{
          this.data3 = res.data.data.list
          this.pageTotal2 = res.data.data.total
        }).catch(err=>{

        })
      },
      getPage2(p){
        this.formInline1.pageIndex = p
        this.getProducts()
      },
      level1(v){
        this.getLevel2(v)
      },
      level2(v){
        //alert(v)
        this.getLevel3(v)
      },
      level3(v){
        if(this.currentType=='3'){
          this.navAttr.list[this.currentIndex].linkTo = v
        }
      },
      getLevel1(){
        getLevel1({
        }).then(res=>{
          this.cateList1 = res.data.data
        }).catch(err=>{

        })
      },
      getLevel2(id){
        getLevel2({
          pid:id
        }).then(res=>{
          this.cateList2 = res.data.data
        }).catch(err=>{

        })
      },
      getLevel3(id){
        getLevel3({
          pid:id
        }).then(res=>{
          this.cateList3 = res.data.data
        }).catch(err=>{

        })
      },
      getPage(p){
        this.pageNo = p
        this.getPageList()
      },
      getPlanPageList(){
        // customerId		body	false	int32
        // endTime	结束时间	body	true	date-time
        // pageNum	当前页码	body	false	int32
        // pageSize	每页记录数	body	false	int32
        // startTime	开始时间	body	true	date-time
        getPlanPageList({
          customerId:'',
          startTime:'',
          endTime:'',
          pageNum:this.planNo,
          pageSize:10,
        }).then(res=>{
          if(res.data.code==200){
            this.data1 = res.data.data.list
            this.planTotal=res.data.data.total
          }else{
            this.planTotal=0
          }
        }).catch(err=>{

        })
      },
      getDefault(){
        //删除page
        getTableData({
          url: '/middle/shopconfig/indexpageconfig/gethomepage',
          type: 'post',
          data: {}
        }).then(res => {
          if (res.data.code == 200) {
            if(res.data.data){
              this.defaultInfo=res.data.data
            }
          }else{
            this.$Message.error(res.data.message);
          }
        }).catch(err => console.log(err))

      },
      delPageList(id){
        //删除page
        getTableData({
          url: '/middle/shopconfig/indexpageconfig/delete',
          type: 'post',
          data: {id:id}
        }).then(res => {
          if (res.data.code == 200) {
            this.$Message.success('删除成功');
            this.getPlanPageList()
          }else{
            this.$Message.error(res.data.message);
          }
        }).catch(err => console.log(err))

      },
      setDefaultPage(id,title){
        //设置默认首页
        // pageConfigId	页面id	body	true	int32
        // title
        setDefaultPage({
          id:id,
          title:title
        }).then(res=>{
          this.formInline.pageTitle=''
          this.formInline.pageCateId=''
          if(res.data.code==200){
            this.$Notice.success({
              title: '提示',
              desc: '设置成功'
            })
            this.getPlanPageList()
            this.$refs.mainWindow.data=this.$store.state.user.dominUrl+'/webapp/main/activity.html?type=1&pageId='+this.defaultInfo.id
          }
        }).catch(err=>{

        })
      },
      updateGlobal(){
        for(let i=0;i<this.navAttr.list.length;i++){
          if(this.$tools.isEmpty(this.navAttr.list[i].title)){
            this.$Message.warning('请完善导航信息')
            return
          }
        }
        let temp1=JSON.stringify(this.navAttr)
        let temp2=JSON.stringify(this.topAttr)
        getTableData({
          url: '/middle/shopconfig/pageglobalconfig/update',
          type: 'post',
          data: {
            id:this.global.id,
            guidBarStatus:this.navAttr.navSwitch?1:0,
            guidDataJson:temp1,
            guidFunPageStatus:0,
            styleTypeJson:this.currentColor,
            topBarJson:temp2,
            topBarStatus:this.topAttr.switch?1:0}
        }).then(res => {
          if (res.data.code == 200) {
            this.$Message.success('更新成功');
            this.$refs.styleWindow.data=this.$store.state.user.dominUrl+'/webapp/main/activity.html?type=1&pageId='+this.defaultInfo.id
          }else{
            this.$Message.error(res.data.message);
          }
        }).catch(err => console.log(err))
      },
      savePageGlobal(){
        //保存页面全局配置
        // guidBarStatus	导航栏是开启状态 0关闭 1开启	body	true	int32
        // guidDataJson	导航数据json	body	true	string
        // guidFunPageStatus	功能页面（如订单中心）是否开启导航 0不开启 1开启	body	true	int32
        // styleTypeJson	风格配置json	body	true	string
        // topBarJson	顶部栏json	body	true	string
        // topBarStatus	顶部栏开启状态 0关闭 1开启	body	true	int32
        for(let i=0;i<this.navAttr.list.length;i++){
          if(this.$tools.isEmpty(this.navAttr.list[i].title)){
            this.$Message.warning('请完善导航信息')
            return
          }
        }

        console.log(JSON.stringify(this.navAttr))
        let temp1=JSON.stringify(this.navAttr)
        let temp2=JSON.stringify(this.topAttr)
        savePageGlobal({
          guidBarStatus:this.navAttr.navSwitch?1:0,
          guidDataJson:temp1,
          guidFunPageStatus:0,
          styleTypeJson:this.currentColor,
          topBarJson:temp2,
          topBarStatus:this.topAttr.switch?1:0
        }).then(res=>{
          if(res.data.code==200){
            this.$Message.success('发布成功')
          }
        }).catch(err=>{

        })
      },
      getPageList(){
        // customerId	商户id	body	false	int32
        // pageCateId	页面分类id	body	false	int32
        // pageNum	当前页码	body	false	int32
        // pageSize	每页记录数	body	false	int32
        // pageTitle	页面标题	body	false	string
        // status
        getPageList({
          customerId:'',
          pageCateId:this.formInline.pageCateId,
          pageNum:this.pageNo,
          pageSize:10,
          status:4,
          pageTitle:this.formInline.pageTitle
        }).then(res=>{
          this.planListData = res.data.data.list
          this.pagedata1=res.data.data.list
          this.pageTotal = res.data.data.total
          // this.formInline.pageCateId=''
          // this.formInline.pageTitle=''

        }).catch(err=>{

        })
      },
      setDefault(){
        //middle/shopconfig/indexpageconfig/setindexpage
        getTableData({
          url: '/middle/shopconfig/indexpageconfig/setindexpage',
          type: 'post',
          data: {
            id:this.selectPlanId
          }
        }).then(res => {
          if (res.data.code == 200) {
            this.$Message.success('设置成功')
            this.getDefault()
          }else{
            this.$Message.error(res.data.message);
          }
        }).catch(err => console.log(err))

      },
      addNav(){
        if(this.navAttr.list.length>=4){
          this.$Notice.warning({
            title: '提示',
            desc: '导航最多添加4个选项'
          })
          return
        }
        this.navAttr.list.push({
          title:'',
          linkTo:'',
          imgUrl:'',
          selectType:'',
          pageType:''
        })
      },
      handleSuccess(res){
        if(res.code==200){
          this.navAttr.list[this.currentNavIndex].imgUrl = res.data.imgUrl
        }else if(res.code==104){
          this.$Message.warning(res.message)
          this.$store.commit('setToken','')
          this.$router.push({
            name: 'login'
          })
        }else{
          this.$Message.warning(res.message)
        }

        // alert(this.currentNavIndex)
        // alert(res.data.imgUrl)
      },
      handleFormatError(){

      },
      handleMaxSize(){

      },
      handleBeforeUpload(){

      },
      setColor(v){
        this.currentColor = v
      }
    }
  }
</script>

<style scoped lang="less">
  .active{
    padding: .1rem;
    border:2px solid rgba(51, 153, 255, 1);
  }
  .nav-attr{
    margin: .5rem;
  }
  .nav-edit-wrapper{
    display: flex;
    flex-direction: row;
    .nav-edit{
      width: 300px;
    }
    .nav-preview{
      width: 160px;
      height: 160px;
      border: 1px #c7c7c7 solid;
    }
  }

  .home-wrapper{
    display: flex;
  }
  .nav-item{
    margin: .5rem;
  }
  .nav{
    margin-left: 0.4rem;
    .nav-tip{
      margin-top: 6px;
      font-size: 12px;
      color:#999;
    }
  }
  .phone{
    width: 400px;
    height: 600px;
    overflow-y: scroll;
    border: 1px solid #e4e4e4;
  }

  .demo-wrapper{
    display: flex;
    flex-direction: row;
    margin: 1rem;
  }
  .style-wrapper{
    display: flex;
    flex-direction: row;
    align-items: center;
  }
  .style1{
    display: flex;
    flex-direction: row;
    margin: 1rem;
    .item{
      width: 40px;
      height: 40px;
    }
    .item:nth-child(1){
      background-color: #ff4070;
    }
    .item:nth-child(2){
      background-color: #fff5f7;
    }
    .item:nth-child(3){
      background-color: #ffa3bb;
    }
  }
  .style2{
    display: flex;
    flex-direction: row;
    margin: 1rem;
    .item{
      width: 40px;
      height: 40px;
    }
    .item:nth-child(1){
      background-color:  #4a90e2;
    }
    .item:nth-child(2){
      background-color: #f2f7ff;
    }
    .item:nth-child(3){
      background-color: #a9d3ff;
    }
  }
  .style3{
    display: flex;
    flex-direction: row;
    margin: 1rem;
    .item{
      width: 40px;
      height: 40px;
    }
    .item:nth-child(1){
      background-color: #ff5f15;
    }
    .item:nth-child(2){
      background-color:  #fff9e7;
    }
    .item:nth-child(3){
      background-color: #ffb390;
    }
  }
  .style4{
    display: flex;
    flex-direction: row;
    margin: 1rem;
    .item{
      width: 40px;
      height: 40px;
    }
    .item:nth-child(1){
      background-color: #65c4aa;
    }
    .item:nth-child(2){
      background-color: #effffb;
    }
    .item:nth-child(3){
      background-color: #9ad8c7;
    }
  }
  .style5{
    display: flex;
    flex-direction: row;
    margin: 1rem;
    .item{
      width: 40px;
      height: 40px;
    }
    .item:nth-child(1){
      background-color: #ff0036;
    }
    .item:nth-child(2){
      background-color: #fff5f7;
    }
    .item:nth-child(3){
      background-color: #ffa3bb;
    }
  }
  ::-webkit-scrollbar {
    width:1px;
  }
  .tables{
    width:700px;
    margin-left: .5rem;
  }
  /* 滚动槽 */
  ::-webkit-scrollbar
  {
    width: 1px;
  }
  .nav-item{
    display: flex;
    flex-direction: row;
  }

  .top-set{
    display: flex;
    align-items: center;
    padding: 1rem 0;
    width: 100%;
  }
  .nav-img{
    display: flex;
    .showImg{

    }
  }
</style>
