<template>
    <div>
      <Tabs value="name1">
        <TabPane label="图片素材" name="name1">
      <Form ref="formInline" :model="formInline" inline>
        <FormItem>
          <Input v-model="title" placeholder="请输入内容..."></Input>
        </FormItem>
        <FormItem>
          <Button @click="searchM" type="info">查询</Button>
        </FormItem>
        <FormItem>
          <Button @click="showMaterial" type="success">添加素材</Button>
        </FormItem>
      </Form>
      <div class="m-wrapper">
        <div class="m-left">
          <ul class="menu-wrapper">
            <li @click="tapgroup(item.id,index)" :class="{'item':true,'active':currentListIndex==index}" v-for="(item,index) in classifyList" :key="index">
              <span>{{item.name}}</span>
            </li>
          </ul>
          <div class="m-create">
            <Button @click="createMenu" long type="success" ghost size="small">创建分组</Button>
          </div>
        </div>
          <div class="m-right">
              <!--<div class="control-group">-->
                <!--<Checkbox-->
                  <!--:indeterminate="indeterminate"-->
                  <!--:value="checkAll"-->
                  <!--@click.prevent.native="handleCheckAll">全选</Checkbox>-->
                <!--<Button type="info" size="small">修改分组</Button>-->
                <!--<Button type="error" size="small">删除选中</Button>-->
              <!--</div>-->
              <div class="m-right-wrap">
                <div v-for="(item,index) in imageList" :key="index">
                  <div @click="checkDetail(item)" class="item">
                    <img width="166px"  :src="item.imgUrl" alt="">
                  </div>
                  <div class="item-control">
                    <CheckboxGroup @on-change="checkAllGroupChange">
                      <Checkbox v-model="item.index">
                        <span class="title">{{item.imgTitle}}</span></Checkbox>
                    </CheckboxGroup>
                    <div>
                      <Button @click="delMaterial(item.id)" type="error" size="small">删除</Button>
                      <Button style="margin: 0 .5rem" size="small" type="info">链接</Button>
                    </div>
                  </div>
                </div>
              </div>
            <div style="text-align: center;">
              <Page
                :total="total"
                @on-change="pageChange"
                show-total />
            </div>
          </div>

        </div>
        </TabPane>
      </Tabs>
      <Modal
        v-model="modal1"
        title="添加分组"
        @on-ok="addName"
        @on-cancel="()=>{}">
        <span>分组名称：</span>
        <Input :maxlength="6" v-model="text" style="width: 300px" />
      </Modal>
      <Modal
        v-model="modal2"
        title="添加素材"
        @on-ok="addMaterial"
        @on-cancel="()=>{}">
        <h3>只能上传jpg/png文件，且不超过2MB</h3>
        <Upload
          ref="upload"
          :on-progress="progress"
          :show-upload-list="false"
          :on-success="handleSuccess"
          :format="['jpg','jpeg','png']"
          :max-size="2048"
          :on-format-error="handleFormatError"
          :on-exceeded-size="handleMaxSize"
          :before-upload="handleBeforeUpload"
          :headers="{'Authorization':$store.state.user.token}"
          :data="{customerId:48}"
          :on-error="onerror"
          multiple
          type="drag"
          :action="$publicUrl+'/middle/material/upload/batch'"
          style="display: inline-block;width:58px;">
          <div style="width: 58px;height:58px;line-height: 58px;">
            <Icon type="ios-camera" size="20"></Icon>
          </div>
        </Upload>
      </Modal>
      <Modal
        v-model="modal3"
        title="素材详情"
        width="80%"
        @on-ok="()=>{}"
        @on-cancel="()=>{}">
        <div class="detail-wrap">
          <img style="width: 70%;height: 50%" :src="detailItem.imgUrl" alt="">
          <div style="margin-left: 1rem">
            <h4>文件名：{{detailItem.imgTitle}}</h4>
            <div>文件类型：{{detailItem.fileType}}</div>
            <div>上传时间：{{detailItem.createTime}}</div>
          </div>
        </div>
      </Modal>
    </div>
</template>

<script>
  import { Spin } from 'iview'
  import {getTableData,delMaterial,addMaterial,getAllMaterial,createMaterial,getMaterialImgs} from '@/api/data'
  export default {
    name: "material",
    data(){
      return{
        uploadNum:0,
        total:0,
        title:'',
        checkAllGroup:[],
        single:'',
        indeterminate: true,
        checkAll:false,
        currentListIndex:0,
        text:'',
        modal1:false,
        modal2:false,
        formInline:{},
        classifyList:[],//左侧分组列表
        uploadList: [],
        pageObj:{},
        currentImgList:[],//
        createImgList:[],
        imageList:[],
        groupId:0,
        modal3:false,
        detailItem:{},
        currentImgData:[],
        pageNo:1
      }
    },
    mounted(){
      this.getAllMaterial()
    },
    methods:{
      tapgroup(id,index){
        this.pageNo=1;
        this.title=''
        this.getMaterialImgs(id,index)
      },
      pageChange(v){
        this.pageNo= v
        this.getMaterialImgs( this.groupId,this.currentListIndex)
      },
      searchM(){
        this.getMaterialImgs( this.groupId,this.currentListIndex)
        // getTableData({
        //   url: '/middle/material/detail/search',
        //   type: 'post',
        //   data: {
        //     title:this.title,
        //     pageSize:20,
        //     pageNum:1
        //   }
        // }).then(res => {
        //   if (res.data.code == 200) {
        //
        //   }else{
        //     this.$Message.error(res.data.message);
        //   }
        // }).catch(err => console.log(err))
      },
      delMaterial(id){
        delMaterial({
          ids:id
        }).then(res=>{
          if(res.data.code==200){
            this.$Message.success('删除成功')
            this.getMaterialImgs( this.groupId,this.currentListIndex)
          }
        }).catch(err=>{

        })
      },
      checkDetail(item){
        this.modal3=true
        this.detailItem=item
      },
      checkAllGroupChange(data){
        // if (data.length === 3) {
        //   this.indeterminate = false;
        //   this.checkAll = true;
        // } else if (data.length > 0) {
        //   this.indeterminate = true;
        //   this.checkAll = false;
        // } else {
        //   this.indeterminate = false;
        //   this.checkAll = false;
        // }
      },
      getAllMaterial(){
        getAllMaterial({
        }).then(res=>{
          if(res.data.code==200){
            this.classifyList = res.data.data
            this.getMaterialImgs(this.classifyList[0].id,0)
          }
        }).catch(err=>{

        })
      },
      getMaterialImgs(id,index){
        this.groupId = id
        this.currentListIndex=index
       // this.setListIndex(index)
        getMaterialImgs({
          groupId:id,
          pageSize:10,
          pageNum:this.pageNo,
          title:this.title
        }).then(res=>{
          if(res.data.code==200){
            this.imageList = res.data.data.pageInfo.list
            this.total = res.data.data.pageInfo.total
          }else{
            this.total=0
          }
          //this.classifyList[this.currentListIndex].materialLibraryVoList = res.data.data.materialLibraryVoList
          //this.classifyList[this.currentListIndex] = res.data.data
        }).catch(err=>{

        })
      },
      handleCheckAll(){
        if (this.indeterminate) {
          this.checkAll = false;
        } else {
          this.checkAll = !this.checkAll;
        }
        this.indeterminate = false;
      },
      createMaterial(name){
        createMaterial({
          name:name
        }).then(res=>{
          //alert(res.data.data.id)
          this.getAllMaterial()
        }).catch(err=>{

        })
      },
      showMaterial(){
        if(this.classifyList.length==0){
          this.$Message.warning('请先选择一个分类，再添加素材');
          return
        }
        this.modal2 = true
      },
      addMaterial(){
        //添加素材
        if(this.createImgList.length==0){
          this.$Message.warning('请先选择图片素材上传')
          return
        }
        addMaterial(
          this.createImgList
        ).then(res=>{
          if(res.data.code==200){
            this.$Message.success('上传成功')
            this.getMaterialImgs( this.groupId,this.currentListIndex)
          }
          this.createImgList=[]
        }).catch(err=>{
          this.createImgList=[]
        })
      },
      createMenu(){
        this.modal1=true
      },
      addName(){
        //添加左侧list
        this.createMaterial(this.text)
        this.text=''
      },
      setListIndex(i){
        this.currentListIndex=i
      },
      onerror(error){
        Spin.hide()
        this.$Message.warning('上传失败')
      },
      handleSuccess (res, file, fileList) {
        //alert(res.data[0].imgUrl)
        //alert(this.uploadNum)
        Spin.hide()
        if(res.code==200){
          // this.classifyList[this.currentListIndex].materialLibraryVoList = []
          res.data[0].groupId = this.groupId
          this.currentImgData.push(res.data[0])
          this.createImgList.push(res.data[0])
        }else if(res.code==104){
          this.$Message.warning(res.message)
          this.$store.commit('setToken','')
          this.$router.push({
            name: 'login'
          })
        }else{
          this.$Message.warning(res.message)

        }
      },
      progress(event){
        console.log(event)
      },
      handleFormatError (file) {
        Spin.hide()
        this.$Notice.warning({
          title: 'The file format is incorrect',
          desc: 'File format of ' + file.name + ' is incorrect, please select jpg or png.'
        });
      },
      handleMaxSize (file) {
        Spin.hide()
        this.$Notice.warning({
          title: '提示',
          desc: '上传文件过大'
        });
      },
      handleBeforeUpload () {
        Spin.show()
        const check = this.uploadList.length < 5;
        if (!check) {
          this.$Notice.warning({
            title: '最多同时上传5个文件.'
          });
        }
        return check;
      }
    },
    watch:{
      '$store.state.app.materialListData': {
        handler: function(newer, older) { // 可以获取新值与老值两个参数
          this.pageObj = newer
          console.log("素材页当前的页面数组@@@=="+JSON.stringify(this.pageObj))
        },
        deep: true, // 开启深度监听
        immediate: true,
      },
    }
  }
</script>

<style scoped lang="less">
  .item-control{
    display: flex;
    flex-direction: column;
    /*justify-content: start;*/
    margin-left: .5rem;
    .title{
      display: inline-block;
      text-overflow:ellipsis;
      width: 100px;
      height: 12px;
      overflow: hidden;
      white-space: nowrap;
    }
  }
  .detail-wrap{
    display: flex;
    flex-direction: row;
  }
  .active{
    background: #fff;
    color: #348EED;
  }
  .control-group{
    display: flex;
    flex-direction: row;
    align-items: center;
  }
  .m-wrapper{
    display: flex;
    flex-direction: row;
    min-height: 500px;
    .m-left{
      position: relative;
      min-width: 100px;
      background: rgb(239,239,239);
      /*height: 100%;*/
      .m-create{
        position: absolute;
        bottom:0;
        width: 100%;
        padding: 0 .2rem;
      }
    }
    .page-wrap{
      height: 100%;
    }
    .m-right-wrap{
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      min-height: 500px;
      .item{
        display: flex;
        align-items: center;
        justify-content: center;
        width: 166px;
        height: 166px;
        border: #c5c5c5 1px solid;
        margin: .5rem;
        box-sizing: border-box;
        img{
          max-width: 100%;
          max-height: 100%;
        }
      }
    }
    .m-right{
      width: 1000px;
      border: 1px solid #e8e8e8;
      padding: .5rem;
    }
    .menu-wrapper{
      .item{
        width: 100%;
        padding: .4rem;
        text-align: center;
        font-size: 14px;
        border-bottom:1px solid #e0e0e0;
        cursor: pointer;
        moz-user-select: -moz-none;
        -moz-user-select: none;
        -o-user-select:none;
        -khtml-user-select:none;
        -webkit-user-select:none;
        -ms-user-select:none;
        user-select:none;
      }
    }
  }

</style>
