<template>
    <div>
      <Tabs @on-click="getvalue">
        <TabPane  label="页面列表">
        </TabPane>
        <TabPane label="草稿箱">
        </TabPane>
      </Tabs>
      <div>
        <Input clearable :maxlength="20" style="margin: 0 .5rem;width: 200px" v-model="pageTitle" placeholder="请输入内容.." />
        <Select clearable style="margin: 0 .5rem;width:200px" v-model="category" >
          <Option v-for="(item,index) in data2" :value="item.id" :key="index">{{item.cateName}}</Option>
        </Select>
        <Button style="margin: 0 .5rem" @click="getPageList" type="info">查询</Button>
        <!--<router-link to="/page/pageManage/addPage">-->
          <Button @click="getTempPage" style="margin: 0 .5rem" type="success">添加页面</Button>
        <!--</router-link>-->
      </div>
      <div>
        <Button @click="changeCateModal" type="info" style="margin:  .5rem">修改分类</Button>
        <Button @click="modal2=true" type="primary" style="margin:  .5rem">管理分类</Button>
      </div>
      <Divider />
      <Row>
        <Col span="20">
          <Table @on-selection-change="getPageId" stripe :columns="columns1" :data="data1"></Table>
          <div style="text-align: center">
            <Page style="margin-top: .5rem" show-total :total="pageTotal" @on-change="getPage"/>
          </div>
        </Col>
      </Row>
      <Modal
        v-model="modal1"
        title="修改分类"
        @on-ok="changePageCata"
        @on-cancel="handleClearCurrentRow">
        <Table
          ref="currentRowTable"
          @on-current-change="getChangeCata"
          highlight-row :columns="columns3"
          :data="data3">
        </Table>
      </Modal>
      <Modal
        v-model="modal2"
        title="管理分类">
        <Button @click="modal3=true" style="margin: .5rem 0" type="success">新增分类</Button>
        <Table :columns="columns4" :data="data4"></Table>
        <div slot="footer">
        </div>
      </Modal>
      <Modal
        v-model="modal3"
        title="新增分类">
        <div v-for="(item,index) in cataInput" :key="index">
          <Input :maxlength="10" v-model="item.name"style="margin:0.5rem;width: 200px" placeholder="请输入分类名称"></Input>
        </div>
        <div>
          <Button @click="addCataInput" style="margin: .5rem 0" size="small" type="success">继续添加分类</Button>
        </div>
        <div slot="footer">
          <Button type="error"  @click="()=>{this.cataInput=[{name:''}];this.modal3=false}">取消</Button>
          <Button type="primary"  @click="createCata">确定</Button>
        </div>
      </Modal>
      <Modal
        v-model="viewModal"
        title="预览当前">
        <!--<div class="mask">-->
        <!--</div>-->
          <embed style="overflow: scroll"  :src="currentUrl" width="500" height="600" type="text/html">
          </embed>
        <div slot="footer">
        </div>
      </Modal>
      <Modal
        v-model="viewModal1"
        width="90%"
        title="添加一个页面(可以选择任意模版)">
        <!--<div class="mask">-->
        <!--</div>-->
          <div style="display: flex;flex-direction: row;flex-wrap: wrap;">
            <div class="pageTemp">
              <div
                   style="display: flex;align-items: center;justify-content: center;width: 220px;
                   height: 364px;">
                <span>空白模版</span>
              </div>
              <Button @click="addEmpty" long type="success" ghost>添加页面</Button>
            </div>
            <div
                 class="pageTemp"
                 v-for="(item,index) in tempPageIds"
                 :key="index">
                <embed
                  v-if="item.pageType=='1'"
                    style="overflow: scroll;"
                    v-on:click.self.prevent="()=>{}"
                    :src="$store.state.user.dominUrl+'/webapp/main/activity.html?type=1&pageId='+item.value"
                    width="220" height="360" type="text/html">
                </embed>
                <embed
                  v-if="item.pageType=='2'"
                  style="overflow: scroll;"
                  v-on:click.self.prevent="()=>{}"
                  :src="$store.state.user.dominUrl+'/webapp/main/category.html?type=1&categoryId='+item.value"
                  width="220" height="360" type="text/html">
                </embed>
              <Button @click="addTemple(item)" long type="success" ghost>添加页面</Button>
            </div>
          </div>
        <div slot="footer">
        </div>
      </Modal>
    </div>
</template>

<script>
  import {getTableData,updatepagecate, getPageList,delPageList,setDefaultPage,getCateList,createCata,delCata} from "@/api/data"
  export default {
    name: "pageList",
    data(){
      return{
        show:false,
        viewModal1:false,
        currentPageId:'',
        viewModal:false,
        modal1:false,
        modal2:false,
        modal3:false,
        pageNo:1,
        pageTotal:0,
        data2:[],
        cataInput:[{name:''}],
        columns1: [
          {
            type: 'selection',
            width: 60,
            align: 'center'
          },
          {
            title: '标题',
            key: 'pageTitle',
            render:(h,params) =>{
              return h('div',this.state==4?params.row.pageTitle:'【草稿】'+params.row.pageTitle)
            }
          },
          {
            title: '分类',
            key: 'pageCateName'
          },
          {
            title: '创建/更新时间',
            key: 'updateTime',
            sortable:true
          },
          {
            title: '商品数量',
            key: 'goodsNum',
            sortable:true
          },
          {
            title: '操作',
            key: 'action',
            width:220,
            align: 'center',
            render: (h, params) => {
              return h('div', [
                h('Button', {
                  props: {
                    type: 'primary',
                    size: 'small'
                  },
                  style: {
                    marginRight: '5px'
                  },
                  on: {
                    click: () => {
                      if(params.row.pageType==1){
                        this.$router.push({
                          path:'/page/pageManage/addPage',
                          query: {
                            id: params.row.id,
                            edit:true
                          }
                        })
                      }else if(params.row.pageType==2){
                        //page/pageManage/addClassify
                        this.$router.push({
                          path:'/page/pageManage/addClassify',
                          query: {
                            id: params.row.id,
                            edit:true
                          }
                        })
                      }
                    }
                  }
                }, '编辑'),
                h('Button', {
                  props: {
                    type: 'error',
                    size: 'small'
                  },
                  style: {
                    marginRight: '5px'
                  },
                  on: {
                    click: () => {
                      this.$Modal.confirm({
                        title: '确认操作',
                        content: '<p>将删除'+params.row.pageTitle+'此页面</p>',
                        onOk: () => {
                          this.delPageList(params.row.id)
                        },
                        onCancel: () => {
                        }
                      });
                    }
                  }
                }, '删除'),
                h('Button', {
                  props: {
                    type: 'success',
                    size: 'small'
                  },
                  style: {
                    marginRight: '5px'
                  },
                  on: {
                    click: () => {
                      this.viewModal=true
                      this.currentPageId = params.row.id
                      if(params.row.pageType=='1'){
                        this.currentUrl=this.$store.state.user.dominUrl+'/webapp/main/activity.html?type=1&pageId='+params.row.id
                      }else{
                        this.currentUrl=this.$store.state.user.dominUrl+'/webapp/main/category.html?type=1&categoryId='+params.row.id
                      }
                    }
                  }
                }, '查看')
              ]);
            }
          },
        ],
        currentUrl:'',
        data1: [],
        category:'',
        pageTitle:'',
        state:4,
        columns3:[
          {
            title: '分类名称',
            key: 'cateName'
          },
        ],
        data3:[],
        columns4:[
          {
            title: '分类名称',
            key: 'cateName'
          },
          {
            title: '操作',
            key: 'action',
            width: 150,
            align: 'center',
            render: (h, params) => {
              return h('div', [
                params.row.id!=0?h('Button', {
                  props: {
                    type: 'error',
                    size: 'small'
                  },
                  on: {
                    click: () => {
                      this.delCata(params.row.id)
                    }
                  }
                }, '删除'):''
              ]);
            }
          }
        ],
        data4:[],
        currentSelectId:'',
        currentSelectName:'',
        currentPageIds:[],//当前选择的页面id
        tempPageIds:[]
      }
    },
    mounted(){
      this.getPageList()
      this.getCateList()
    },
    methods:{
      addEmpty(){
        this.$router.push({
          path:'/page/pageManage/addPage'
        })
      },
      addTemple(item){
        if(item.pageType=='1'){
          this.$router.push({
            path:'/page/pageManage/addPage',
            query: {
              id: item.value,
              edit:true,
              temple:1
            }
          })
        }else if(item.pageType=='2'){
          this.$router.push({
            path:'/page/pageManage/addClassify',
            query: {
              id: item.value,
              edit:true,
              temple:1
            }
          })
        }
      },
      getTempPage(){
        //middle/shopconfig/pageconfig/pagtTemplateId
        getTableData({
          url: '/middle/shopconfig/pageconfig/pagtTemplateId',
          type: 'post',
          data: {}
        }).then(res => {
          if (res.data.code == 200) {
            this.tempPageIds=res.data.data
            this.viewModal1=true
          }
        }).catch(err => console.log(err))
      },
      stopClick(e){
        // e.preventDefault()
        e.stopPropagation();
        // alert(1)

        // e.stopPropatation||e.cancelBubble = true
      },
      changeCateModal(){
        if(this.currentPageIds.length==0){
          this.$Message.warning('请选择页面')
          return
        }
        this.modal1=true;
      },
      delCata(id){
        delCata({
          id:id
        }).then(res=>{
          if(res.data.code==200){
            this.$Message.success('删除成功')
            this.getCateList()
          }
        }).catch(err=>{

        })
      },
      handleClearCurrentRow () {
        this.$refs.currentRowTable.clearCurrentRow();
      },
      createCata(){
        let temp =[];
        let flag=false
        for(let i=0;i<this.cataInput.length;i++){
          temp.push(this.cataInput[i].name)
          if(this.cataInput[i].name==''){
            flag=true
          }
        }
        if(flag){
          this.$Message.warning('请输入分类名称')
          this.cataInput=[{name:''}]
          return
        }
        this.modal3=false
        createCata({
          cateNames:temp
        }).then(res=>{
          if(res.data.code==200){
            this.$Message.success('新增成功')
            this.getCateList()
          }
          this.cataInput=[{name:''}]
        }).catch(err=>{
        })
      },
      addCataInput(){
        this.cataInput.push({name:''})
      },
      changePageCata(){
        //修改页面分类
        updatepagecate({
          pageIds:this.currentPageIds,
          cateId:this.currentSelectId,
          cateName:this.currentSelectName
        }).then(res=>{
          if(res.data.code==200){
            this.$Message.success('修改成功')

            this.getPageList()
          }
          this.currentSelectId=''
          this.currentSelectName=''
          this.handleClearCurrentRow()
        }).catch(err=>{

        })
      },
      getPageId(selections){
        //alert(JSON.stringify(selections))
        this.currentPageIds=[]
        for(let i=0;i<selections.length;i++){
          this.currentPageIds.push(selections[i].id)
        }
      },
      getChangeCata(currentRow){
        this.currentSelectId=currentRow.id
        this.currentSelectName=currentRow.cateName
      },
      getvalue(v){
        v==0?this.state=4:this.state=3
        this.pageTitle = ''
        this.category = ''
        this.getPageList()
      },
      getPage(p){
        this.pageNo = p
        this.getPageList()
      },
      getCateList(){
        getCateList({

        }).then(res=>{
          if(res.data.code==200){
            this.data2 = res.data.data
            this.data3=res.data.data
            this.data4=res.data.data
          }
          //alert(JSON.stringify(res.data.data))
        }).catch(err=>{

        })
      },
      setDefaultPage(id,title){
        //设置默认首页
        // pageConfigId	页面id	body	true	int32
        // title
        setDefaultPage({
          pageConfigId:id,
          title:title
        }).then(res=>{

        }).catch(err=>{

        })
      },
      getPageList(){
        // customerId	商户id	body	false	int32
        // pageCateId	页面分类id	body	false	int32
        // pageNum	当前页码	body	false	int32
        // pageSize	每页记录数	body	false	int32
        // pageTitle	页面标题	body	false	string
        // status
        getPageList({
          pageCateId:this.category,
          pageNum:this.pageNo,
          pageSize:10,
          pageTitle:this.pageTitle,
          status:this.state
        }).then(res=>{
          this.data1 = res.data.data.list
          this.pageTotal = res.data.data.total
        }).catch(err=>{

        })
      },
      delPageList(id){
        delPageList({
          id:id
        }).then(res=>{
          if(res.data.code==200){
            this.$Message.success('删除成功')
            this.getPageList()
          }
        }).catch(err=>{

        })
      }
    }
  }
</script>

<style scoped>
  .pageTemp{
    width: 222px;
    margin: 0 1rem;
    box-sizing: border-box;
  }
  .pageTemp:hover{
    border:1px solid #42d1ed;
  }
  .mask{
    height: 100%;
    width: 100%;
    position: absolute;
    background: rgba(0,0,0,0.1);
  }
</style>
