<template>
    <div class="page-wrapper">
      <div class="left">
        <div class="phone">
          <Input suffix="ios-search" style="width: 100%" />
          <div class="classify-wrapper">
            <div class="left">
              <ul class="classify-list">
                <li @click="getCurrentClass(index)" v-for="(item,index) in classifyList" :key="index" :class="{'active':currentListIndex==index}"><span>{{item.classifyName}}</span></li>
              </ul>
            </div>
            <div class="right" >
              <div class="rubik-wrapper" v-for="(item,index) in pageObj[currentListIndex].list" :key="index" @click="showPageEditor(item,index)">
                <div v-if="item.type =='rubik'">
                  <Rubik :selfList="item.list" :selfOpts="Object.assign(item,{'index':index})"></Rubik>
                </div>
                <div v-if="item.type == 'title'">
                  <Tit :selfOpts="Object.assign(item,{'index':index})"></Tit>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="tools">
          <span>基础组件</span>
          <Row class="opts-row">
            <Col span="8">
              <Button @click="addComponents('rubik')">魔 方</Button>
            </Col>
          </Row>
          <span>页面辅助组件</span>
          <Row class="opts-row">
            <Col span="8">
              <Button @click="addComponents('title')">标 题</Button>
            </Col>
          </Row>
        </div>
      </div>
      <div class="editor">
        <RubikEditor v-if="currentMouseObj.type == 'rubik' && currentMouseObj.showClassList"></RubikEditor>
        <TitEditor v-if="currentMouseObj.type == 'title' && currentMouseObj.showClassList"></TitEditor>
        <div v-if="!currentMouseObj.showClassList">
          <Card>
            <p slot="title">标题设置</p>
            <Button type="primary" slot="extra" @click.prevent="save">
              <Icon type="ios-loop-strong"></Icon>
              保存修改
            </Button>
            <div class="row-wrapper">
              <span>页面标题：</span>
              <Input placeholder="请输入页面标题" v-model="pageAttr.pageTitle" style="width: 300px" />
            </div>
            <div class="row-wrapper"><span>页面描述：</span><Input placeholder="请输入内容" v-model="pageAttr.pagedesc" style="width: 300px" /></div>
            <div class="simple-wrapper">
              <div>
                <span>缩略图：</span>
              </div>
              <div style="display: flex;flex-direction: row;align-items: center;">
                <Upload
                  ref="upload"
                  :on-success="handleSuccess"
                  :format="['jpg','jpeg','png']"
                  :on-error="onerror"
                  :max-size="2048"
                  :on-format-error="handleFormatError"
                  :on-exceeded-size="handleMaxSize"
                  :before-upload="handleBeforeUpload"
                  :headers="{'Authorization':$store.state.user.token}"
                  :show-upload-list="false"
                  type="drag"
                  :action="$publicUrl+'/middle/material/upload'"
                  style="display: inline-block;width:58px;">
                  <div style="width: 58px;height:58px;line-height: 58px;">
                    <Icon type="ios-camera" size="20"></Icon>
                  </div>
                </Upload>
                <div style="position: relative;margin-left: .5rem;">
                  <Icon v-if="currentImg" @click="()=>{this.currentImg='';this.pageAttr.shareImage=''}"  class="close" type="ios-close-circle-outline" />
                  <img width="80px" :src="currentImg" alt="">
                </div>
              </div>
            </div>
            <div class="row-wrapper">
              <span>背 景：</span>
              <RadioGroup v-model="pageAttr.pageBg">
                <Radio label="1">背景图</Radio>
                <Radio label="2">纯色背景</Radio>
              </RadioGroup>
              <div v-if="pageAttr.pageBg=='1'" style="display: flex;flex-direction: row;align-items: center;">
                <Upload
                  ref="upload"
                  :show-upload-list="false"
                  :on-success="handleSuccess1"
                  :format="['jpg','jpeg','png']"
                  :max-size="2048"
                  :on-format-error="handleFormatError"
                  :on-exceeded-size="handleMaxSize"
                  :before-upload="handleBeforeUpload"
                  type="drag"
                  :headers="{'Authorization':$store.state.user.token}"
                  :action="$publicUrl+'/middle/material/upload'"
                  :on-error="onerror"
                  style="display: inline-block;width:58px;">
                  <div style="width: 58px;height:58px;line-height: 58px;">
                    <Icon type="ios-camera" size="20"></Icon>
                  </div>
                </Upload>
                <div style="position: relative;margin-left: .5rem;">
                  <Icon v-if="currentBg" @click="()=>{this.currentBg='';this.pageAttr.currentBg=''}"  class="close" type="ios-close-circle-outline" />
                  <img width="80px" :src="currentBg" alt="">
                </div>
              </div>
              <div v-if="pageAttr.pageBg=='2'" class="color-check">
                <ColorPicker v-model="pageAttr.pageBgColor" />
              </div>
            </div>
            <div class="class-wrapper">
              <div>
                <div>
                  <span>页面分类：</span><Button @click="addClassify" size="small" type="success" icon="ios-add">新增分类</Button>
                </div>
                <div class="class-content" v-for="(item,index) in classifyList" :key="index">
                  <div class="class-item">
                    <span>{{item.classifyName}}</span>
                    <div>
                      <Button style="margin-right: .5rem" @click="deleteClass(index)" size="small" type="error">删除</Button>
                      <Button @click="editClass(index)" size="small" type="info">修改</Button>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </Card>
        </div>
      </div>
      <Modal
        v-model="modal1"
        title="设置分类"
        :closable="false"
        @on-ok="pushClass"
        @on-cancel="()=>{this.classNm=''}">
        <Input :maxlength="5" v-model="classNm" placeholder="请输入分类名称..." style="width: 300px" />
        <div slot="footer">
          <Button @click="()=>{this.modal1=false}">取消</Button>
          <Button type="primary" @click="pushClass">提交</Button>
        </div>
      </Modal>
      <Modal
        v-model="modal2"
        title="修改分类"
        @on-ok="confirm"
        @on-cancel="()=>{this.editNm=''}">
        <Input v-model="editNm" placeholder="请输入分类名称..." style="width: 300px" />
      </Modal>
      <div class="controlBar">
        <Row type="flex" justify="end">
          <Col :offset="1" span="21">
            <Button @click="()=>{this.commit(3);}" style="margin-right: 1rem" type="info" ghost>存草稿并继续</Button>
            <Button @click="()=>{this.commit(4);}" type="success">发布</Button>
          </Col>
        </Row>
      </div>
    </div>
</template>

<script>
  import Rubik from '../common/rubikClassify/rubik'
  import RubikEditor from '../common/rubikClassify/rubikEditor'
  import Tit from '../common/titleClassify/tit'
  import TitEditor from '../common/titleClassify/titleEditor'
  import {pageconfigupdate,getPageData,updatePageConfig} from '@/api/data'
  export default {
    name: "pageClassify",
    data(){
      return{
        currentImg:'',
        currentBg:'',
        editNm:'',
        modal2:false,
        sta:4,
        currentListIndex:0,
        classNm:'',
        modal1:false,
        pageAttr:{
          pageTitle:'',//分类页标题
          pagedesc:'',//分类页描述
          pageBg:"color",//分类页背景类型
          pageBgColor:'',
          shareImage:'',//分享缩略图
          pageBgImage:'',//页面背景图
        },
        pageObj:{},
        currentMouseObj:{},
        classifyList:[],
        currentIndex:0,
        pageObj1:{},
        pageId:null,
      }
    },
    components:{
      Rubik,
      RubikEditor,
      Tit,
      TitEditor
    },
    mounted(){
      this.$store.commit('setClassifyList',
        {classType:'reset'})
      this.$store.commit('setClassifyMouseTarget',{})
      this.pageId = this.$route.query.id
      if(this.pageId){
        this.getEditPageData()
      }
    },
    methods:{
      commit(v){
        this.sta = v
        if(this.pageId && this.$route.query.temple !=1){
          this.pageconfigupdate()
        }else{
          this.postPageData()
        }
      },
      onerror(){
        this.$Message.warning('上传失败')
      },
      handleSuccess1(res){
        if(res.code==200){
          this.pageAttr.pageBgImage = res.data.imgUrl
          this.currentBg = res.data.imgUrl
        }else if(res.code==104){
          this.$Message.warning(res.message)
          this.$store.commit('setToken','')
          this.$router.push({
            name: 'login'
          })
        }else{
          this.$Message.warning(res.message)
        }
      },
      getEditPageData(){
        getPageData({
          id:this.pageId
        }).then(res=>{
          if(res.data.code==200){
            let temp = res.data.data
            let attr={pageTitle:'',pageDes:''}
            attr.pageTitle = res.data.data.pageTitle
            attr.pageDes = res.data.data.pageDes
            this.pageAttr.pageTitle = res.data.data.pageTitle
            this.pageAttr.pagedesc = res.data.data.pageDes
            let tempList=JSON.parse(res.data.data.pageDataDO.pageDataJson)
            this.$store.commit('setClassifyList',
              {classType:'backData',list:tempList})
            this.classifyList = tempList

            let tempAttr = JSON.parse(res.data.data.pageDataDO.pageCateDataJson)
            this.pageAttr.pageBg = tempAttr.pageBg
            this.pageAttr.pageBgColor = tempAttr.pageBgColor
            this.pageAttr.shareImage = tempAttr.shareImage
            this.pageAttr.pageBgImage = tempAttr.pageBgImage
            this.currentBg=tempAttr.pageBgImage
            this.currentImg = tempAttr.shareImage
            // console.log(JSON.stringify(JSON.parse(res.data.data.pageDataDO.pageDataJson)))
          }
        }).catch(err=>{
        })
      },
      confirm(){
        this.classifyList[this.currentIndex].classifyName = this.editNm
        this.editNm=''
      },
      editClass(i){
        this.modal2=true
        this.currentIndex=i
      },
      pageconfigupdate(){
        //更新已有页面数据
        if(!this.pageAttr.pageTitle){
          this.$Message.warning('请输入页面标题')
          return
        }
        if(!this.pageAttr.pagedesc){
          this.$Message.warning('请输入页面描述')
          return
        }
        if(this.pageAttr.pageBg=='2'){
          this.currentBg='';
          this.pageAttr.pageBgImage=''
        }
        let temp = JSON.stringify(this.pageObj)
        let pageCateData= JSON.stringify(this.pageAttr)
        let temp1=''
        let temp2=''
        if(this.pageObj1.productBrandIdArray){
          temp1 = this.pageObj1.productBrandIdArray.join(',')
        }
        if(this.pageObj1.productClassIdArray){
          temp2 = this.pageObj1.productClassIdArray.join(',')
        }
        pageconfigupdate({
          id:this.pageId,
          repeatToken:'',
          pageCateId:'',
          pageDataDO:{
            pageDataJson: temp,//
            pageDataProdcutJson: "",//产品
            pageCateDataJson:pageCateData
          },
          pageDes: this.pageAttr.pagedesc,
          pageTitle: this.pageAttr.pageTitle,
          pageType: 2,//1非分类页 2分类页
          productBrandIdArray: temp1,//"1,2,3" 产品品牌Id集合
          productClassIdArray: temp2,//产品分类Id集合 "1,2,3"
          status: this.sta,//发布还是草稿
        }).then(res=>{
          if(res.data.code==200){
            this.$Message.success("更新页面数据成功")
          }
        }).catch(err=>{

        })
      },
      postPageData(){
        if(!this.pageAttr.pageTitle){
          this.$Message.warning('请输入页面标题')
          return
        }
        if(!this.pageAttr.pagedesc){
          this.$Message.warning('请输入页面描述')
          return
        }
        let temp = JSON.stringify(this.pageObj)
        let pageCateData= JSON.stringify(this.pageAttr)

        // createTime	创建时间	body	false	date-time
        // createUser	创建用户	body	false	string
        // customerId	商户id	body	false	int32
        // goodsNum	商品数量	body	false	int32
        // id	主键	body	false	int32
        // indexPage	是否默认为首页 1 是 空否	body	false	int32
        // pageCateId	页面分类id	body	false	int32
        // pageDataDO	页面数据实体	body	false	更新页面数据实体	更新页面数据实体
        // pageDes	页面描述	body	false	string
        // pageTitle	页面标题	body	true	string
        // pageType	页面分类 1.普通页面 2.分类页面	body	true	int32
        // productBrandIdArray	品牌id数组	body	false	string
        // productClassIdArray	商品分类id数组	body	false	string
        // status	状态 1 标识已删除 2使用中 3草稿 4.已发布	body	true	int32
        // updateTime	更新时间	body	false	date-time
        // updateUser	更新用户	body	false	string
        let temp1=''
        let temp2=''
        if(this.pageObj1.productBrandIdArray){
          temp1 = this.pageObj1.productBrandIdArray.join(',')
        }
        if(this.pageObj1.productClassIdArray){
          temp2 = this.pageObj1.productClassIdArray.join(',')
        }
        updatePageConfig({
          repeatToken:'',
            pageCateId:'',
            pageDataDO:{
              pageDataJson: temp,//
              pageDataProdcutJson: "",//产品
              pageCateDataJson:pageCateData
            },
            pageDes: this.pageAttr.pagedesc,
            pageTitle: this.pageAttr.pageTitle,
            pageType: 2,//1非分类页 2分类页
            productBrandIdArray: temp1,//"1,2,3" 产品品牌Id集合
            productClassIdArray: temp2,//产品分类Id集合 "1,2,3"
            status: this.sta,//发布还是草稿
        }).then(res=>{
          if(res.data.code==200){
            this.$Message.success('发布成功')
            this.pageId = res.data.data
          }
        }).catch(err=>{

        })
      },
      addComponents(type){
        if(this.classifyList.length == 0){
          this.$Message.warning('请先添加分类');
          return
        }
        if('rubik'==type){
          this.$store.commit('setClassifyList',
            {targetIndex:this.currentListIndex,classType:'innerList',
              type:'rubik',editType:'add',rubikType:'onePic',list:[{imgUrl:'',linkTo:'',linkType:''}]})
        }
        if('title'==type){
          this.$store.commit('setClassifyList',
            {targetIndex:this.currentListIndex,classType:'innerList',
              rubikType:'title',type:'title',editType:'add',list:[],styleType:''})
        }
      },
      getTargetData(newer,older){
        //console.log("分类页当前鼠标选择的页面对象=="+JSON.stringify(newer))
        this.currentMouseObj = newer
      },
      showPageEditor(target,index){
        this.$store.commit('setClassifyMouseTarget',Object.assign(target,{index:index,showClassList:true}))
      },
      handleMaxSize(){

      },
      handleFormatError(){

      },
      handleBeforeUpload(file){
        //console.log(file)
      },
      handleSuccess(res){
        if(res.code==200){
          this.pageAttr.shareImage = res.data.imgUrl
          this.currentImg = res.data.imgUrl
        }else if(res.code==104){
          this.$Message.warning(res.message)
          this.$store.commit('setToken','')
          this.$router.push({
            name: 'login'
          })
        }else{
          this.$Message.warning(res.message)
        }
      },
      addClassify(){
        this.classNm=''
        this.modal1 = true
      },
      pushClass(){
        if(this.classNm == ''){
          this.$Message.warning('请输入分类名称');
          return
        }
        this.modal1=false
        this.classifyList.push({classType:'list',editType:'add',classifyName:this.classNm,list:[]})
        this.$store.commit('setClassifyList',{classType:'list',editType:'add',classifyName:this.classNm,list:[]})
        this.classNm = ''
        //console.log('当前分类列表==='+JSON.stringify(this.$store.state.app.classifyListData))
      },
      deleteClass(i){
        this.classifyList = _.remove(this.classifyList,(item)=>{
          return this.classifyList[i] != item
        })
      },
      getCurrentClass(index){
        this.currentListIndex = index
        let target = this.currentMouseObj
        if(target.showClassList){
          this.$store.commit('setClassifyMouseTarget',target.showClassList=false)
        }
      },
      save(){
        this.$store.commit('setClassifyList',{classType:'attr',attr:this.pageAttr})
        this.$Message.success('保存成功')
        //this.$store.commit('setClassifyList',{classType:'list',editType:'change',targetIndex:this.currentListIndex,list:this.pageObj})
        //console.log('当前分类列表¥¥¥¥==='+JSON.stringify(this.$store.state.app.classifyListData))
      },
    },
    watch:{
      '$store.state.app.classifyListData': {
        handler: function(newer, older) { // 可以获取新值与老值两个参数
          this.pageObj = newer.list
          this.pageObj1 = newer
          console.log("分类页当前的页面数组@@@=="+JSON.stringify(newer))
          //console.log('^&^&==='+JSON.stringify(this.pageObj))
        },
        deep: true, // 开启深度监听
        immediate: true,
      },
      '$store.state.app.classifyMouseTarget': {
        handler: function(newer, older) { // 可以获取新值与老值两个参数
          this.getTargetData(newer,older)
        },
        deep: true, // 开启深度监听
        immediate: true,
      },
    }
  }
</script>

<style scoped lang="less">
  .controlBar{
    position: absolute;
    width: 70%;
    height: 30px;
    bottom: .5rem;
  }
  .page-wrapper{
    display: flex;
  }
  .class-item{
    margin: 0.5rem 0;
    width: 20rem;
    display: flex;
    justify-content: space-around;
    border-bottom: 1px solid #dddddd;
    padding: .5rem .3rem;
    align-items: center;
  }
  .class-wrapper{
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: 1rem;
  }
  .color-check{
    margin:1rem 0;
  }
  .class-content{

  }
  .row-wrapper{
    margin: 1rem;
  }
  .simple-wrapper{
    display: flex;
    flex-direction: row;
    margin: 1rem;
  }
  .phone{
    width: 300px;
    height: 400px;
    padding: .4rem;
    border: 1px solid #e4e4e4;
    overflow-y: scroll;
  }
  .tools{
    width: 300px;
    height: 160px;
    border: 1px solid #e4e4e4;
    background: #e9e9e9;
    padding:1rem;
  }
  .editor{
    margin-left: 1rem;
    width: 600px;
  }
  .opts-row{
    margin: .5rem 0;
  }
  .active{
    background: #fff;
    color: #348EED;
  }
  .classify-wrapper{
    display: flex;
    flex-direction: row;
    margin-top: 1rem;
    height: 100%;
    width: 100%;
    font-size: 14px;
    moz-user-select: -moz-none;
    -moz-user-select: none;
    -o-user-select:none;
    -khtml-user-select:none;
    -webkit-user-select:none;
    -ms-user-select:none;
    user-select:none;
    .left{
      flex: 1;
      display: flex;
      background: #e2e2e2;
      .classify-list{
        width: 100%;
        li{
          cursor:pointer;
          height: 30px;
          font-size: 12px;
          line-height: 30px;
          text-align: center;
          border-bottom: 1px solid #d6d6d6;
        }
      }
    }
    .right{
      flex: 3;
      background: #fff;
      height: 100%;

    }
  }
  ::-webkit-scrollbar {
    width:1px;
  }
  /* 滚动槽 */
  ::-webkit-scrollbar
  {
    width: 1px;
  }
  .close{
    position: absolute;
    top: -6px;
    right: -6px;
    color: red;
  }
</style>
