<template>
  <div>
    <Card>
      <p slot="title">选择商品</p>
      <Form ref="formInline" :model="formInline" inline :label-width="80">
        <FormItem label="商品名称：">
          <Input :clearable="true" type="text" v-model="formInline.productName" placeholder="商品名称">
          </Input>
        </FormItem>
        <FormItem label="商品分类：">
          <Select clearable  @on-change="level1"  style="width:100px">
            <Option v-for="item in cateList1" :value="item.id" :key="item.id">{{ item.name }}</Option>
          </Select>
          <Select clearable @on-change="level2" v-model="classification2" style="width:100px">
            <Option v-for="item in cateList2" :value="item.id" :key="item.id">{{ item.name }}</Option>
          </Select>
          <Select clearable :label-in-value="true" v-model="formInline.cateIds" style="width:100px">
            <Option v-for="item in cateList3" :value="item.id" :key="item.id">{{ item.name }}</Option>
          </Select>
        </FormItem>
        <FormItem label="商品品牌：">
          <Select clearable v-model="formInline.brandIds" style="width:200px">
            <Option v-for="item in brandsList" :value="item.id" :key="item.id">{{ item.name }}</Option>
          </Select>
        </FormItem>
        <FormItem>
          <Button type="primary" @click="getProducts">查 询</Button>
        </FormItem>
      </Form>
      <Table :loading="tableLoading" :columns="columns1" :data="data1"></Table>
    </Card>
  </div>
</template>

<script>
  import {getProductList,getLevel1,getLevel2,getLevel3} from '@/api/data'
  export default {
    name: "productSelect",//商品选择
    data(){
      return{
        brand:[],
        cateList1:[],
        cateList2:[],
        cateList3:[],
        classification1:'',
        classification2:'',
        classification3:'',
        tableLoading:false,
        formInline:{
          brandId:'',	//品牌id(逗号分隔)	body	false	string
          cateIds:'',	//分类id(逗号分隔)	body	false	string
          excludeCodes:'',	//手动输入排除商品spu	body	false	string
          listCodes:[],		//body	false	array
          listExcludeCodes:[],		//body	false	array
          pageIndex:1,	//第几页	body	false	int32
          pageSize:20,	//每页记录数	body	false	int32
          productCode:'',	//商品编码	body	false	string
          productName:'',	//商品名称
        },
        data4:[],
        columns1:[
          {
            type: 'selection',
            width: 60,
            align: 'center'
          },
          {
            title: '商品',
            key: 'name1'
          },
          {
            title: '分类',
            key: 'productCateIdName'
          },
          {
            title: '价格',
            key: 'malMobilePrice',
            sortable: true
          },
        ],
        data1:[]
      }
    },
    mounted(){
      this.getLevel1()
      this.getBrands()
    },
    methods:{
      loadData(){

      },
      getBrands(){
        //middle/product/queryProductBrandsByTypeId
        getTableData({
          url: '/middle/product/queryProductBrandsByCustomerId',
          type: 'post',
          data: {}
        }).then(res => {
          if (res.data.code == 200) {
            this.brandsList = res.data.data
          }
        }).catch(err => console.log(err))
      },
      level1(v){
        this.getLevel2(v)
      },
      level2(v){
        this.getLevel3(v)
      },
      level3(v){

      },
      getLevel1(){
        getLevel1({
        }).then(res=>{
          if(res.data.code==200){
            this.cateList1 = res.data.data
          }
        }).catch(err=>{

        })
      },
      getLevel2(id){
        getLevel2({
          pid:id
        }).then(res=>{
          this.cateList2 = res.data.data
        }).catch(err=>{

        })
      },
      getLevel3(id){
        getLevel3({
          pid:id
        }).then(res=>{
          this.cateList3 = res.data.data
        }).catch(err=>{

        })
      },
      getProducts(){
        getProductList(this.formInline).then(res=>{
          this.data1 = res.data.data.list
        }).catch(err=>{

        })
      }
    }
  }
</script>

<style scoped>

</style>
