<template>
  <div>
    <div v-if="showType=='onePic'" class="onePic">
      <div :class="{'pic':true,'active':this.targetPic=='rubik-onePic-1'}" @click="setPicTarget('rubik-onePic-1',0)">
        <span>图片</span>
      </div>
    </div>
    <div class="twoPic" v-if="showType=='twoPic'">
      <div :class="{'pic':true,'active':targetPic=='rubik-twoPic-1'}" @click="setPicTarget('rubik-twoPic-1',0)">
        <span class="text">图片</span>
      </div>
      <div :class="{'pic':true,'active':targetPic=='rubik-twoPic-2'}" @click="setPicTarget('rubik-twoPic-2',1)">
        <span>图片</span>
      </div>
    </div>
    <div class="three-horizontal" v-if="showType=='threeHor'">
      <div :class="{'pic':true,'active':targetPic=='rubik-threeHor-1'}" @click="setPicTarget('rubik-threeHor-1',0)">
        <span>图片</span>
      </div>
      <div :class="{'pic':true,'active':targetPic=='rubik-threeHor-2'}" @click="setPicTarget('rubik-threeHor-2',1)">
        <span>图片</span>
      </div>
      <div :class="{'pic':true,'active':targetPic=='rubik-threeHor-3'}" @click="setPicTarget('rubik-threeHor-3',2)">
        <span>图片</span>
      </div>
    </div>
    <div class="threecolumn" v-if="'threecolumn'==showType">
      <div :class="{'pic':true,'active':targetPic=='rubik-threecolumn-1'}" @click="setPicTarget('rubik-threecolumn-1',0)">
        <span>图片</span>
      </div>
      <div class="pic">
        <div :class="{'innerPic':true,'active':targetPic=='rubik-threecolumn-2'}" @click="setPicTarget('rubik-threecolumn-2',1)">
          <span>图片</span>
        </div>
        <div :class="{'innerPic':true,'active':targetPic=='rubik-threecolumn-3'}" @click="setPicTarget('rubik-threecolumn-3',2)">
          <span>图片</span>
        </div>
      </div>
    </div>
    <div class="one-two" v-if="'oneTwo'==showType">
      <div :class="{'pic':true,'active':targetPic=='rubik-oneTwo-1'}" @click="setPicTarget('rubik-oneTwo-1',0)">
        <span>图片</span>
      </div>
      <div :class="{'pic':true,'active':targetPic=='rubik-oneTwo-2'}" @click="setPicTarget('rubik-oneTwo-2',1)">
        <span>图片</span>
      </div>
    </div>
    <div class="fourHor" v-if="'fourHor'==showType">
      <div :class="{'pic':true,'active':targetPic=='rubik-fourHor-1'}" class="pic" @click="setPicTarget('rubik-fourHor-1',0)">
        <span>图片</span>
      </div>
      <div :class="{'pic':true,'active':targetPic=='rubik-fourHor-2'}" @click="setPicTarget('rubik-fourHor-2',1)">
        <span>图片</span>
      </div>
      <div :class="{'pic':true,'active':targetPic=='rubik-fourHor-3'}" @click="setPicTarget('rubik-fourHor-3',2)">
        <span>图片</span>
      </div>
      <div :class="{'pic':true,'active':targetPic=='rubik-fourHor-4'}" @click="setPicTarget('rubik-fourHor-4',3)">
        <span>图片</span>
      </div>
    </div>
  </div>
</template>

<script>
  export default {
    name: "rubikLayoutClassify",
    props:['showType'],
    data(){
      return{
        defaultType:'onePic',
        targetPic:''
      }
    },
    mounted(){

    },
    methods:{
      setPicTarget(v,idx){
        this.targetPic = v
        let leftTarget = this.$store.state.app.classifyMouseTarget
        leftTarget.rubikTargetImgIndex = idx//当前选择的魔方图片索引
        this.$store.commit('setClassRubikMouseIndex',idx)
      }
    }
  }
</script>
<style scoped lang="less">
  .active{
    box-shadow: 2px 2px 2px #ababab;
  }
  .onePic{
    display: flex;
    flex-direction: column;
    width: 350px;
    padding: .5rem;
    box-sizing: border-box;
    height: 200px;
    .pic{
      display: flex;
      flex:5;
      justify-content: center;
      align-items: center;
      border: #dfdfdf 6px solid;
      box-sizing: border-box;
      .text{
        font-size: 16px;
      }
    }
    .fileWrap{
      flex:1;
      .file{
        opacity: 0;
      }
    }
  }
  .twoPic{
    display: flex;
    width: 400px;
    padding: .5rem;
    box-sizing: border-box;
    .pic{
      display: flex;
      flex-direction: column;
      margin: .2rem;
      flex: 1;
      justify-content: center;
      align-items: center;
      border: #dfdfdf 6px solid;
      height: 160px;
      width: 200px;
      box-sizing: border-box;
    }
  }
  .three-horizontal{
    display: flex;
    width: 80%;
    padding: .5rem;
    box-sizing: border-box;
    .pic{
      display: flex;
      margin: .2rem;
      height: 100px;
      width: 100px;
      flex: 1;
      justify-content: center;
      align-items: center;
      border: #dfdfdf 6px solid;
      box-sizing: border-box;
    }
  }
  .threecolumn{
    display: flex;
    width: 400px;
    padding: .5rem;
    .pic:first-child{
      margin: .2rem;
      flex: 1;
      border: #dfdfdf 6px solid;
      height: 200px;
      width: 200px;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
    }
    .pic:last-child{
      margin: .2rem;
      flex: 1;
      height: 200px;
      width: 200px;
      display: flex;
      flex-direction: column;
      .innerPic{
        border: #dfdfdf 6px solid;
        height: 12rem;
        display: flex;
        justify-content: center;
        align-items: center;
      }
    }
  }
  .one-two{
    display: flex;
    width: 400px;
    padding: .5rem;
    .pic{
      border: #dfdfdf 6px solid;
      height: 100px;
      width: 100px;
      display: flex;
      justify-content: center;
      align-items: center;
      margin: .1rem;
    }
    .pic:first-child{
      flex: 1;
    }
    .pic:last-child{
      flex: 2;
    }
  }
  .fourHor{
    display: flex;
    width: 80%;
    padding: .5rem;
    .pic{
      flex: 1;
      border: #dfdfdf 6px solid;
      height: 100px;
      width: 100px;
      display: flex;
      justify-content: center;
      align-items: center;
      margin: .1rem;
    }
  }
</style>
