<template>
  <div :class="{'wrapper':true, active:this.rubikOptions.index==this.selfOpts.index}">
    <Icon @click="close"
          color="red"
          v-show="this.rubikOptions.index==this.selfOpts.index"
          size="16" class="close"
          type="md-close-circle" />
    <div v-if="selfOpts.rubikType=='onePic'" class="onePic">
      <div class="pic" v-for="item in selfList" >
        <img width="100%" :src="item.imgUrl" alt="">
      </div>
    </div>
    <div class="twoPic" v-if="selfOpts.rubikType=='twoPic'">
      <div class="pic" v-for="item in selfList" >
        <img width="100%" :src="item.imgUrl" alt="">
      </div>
    </div>
    <div class="three-horizontal" v-if="selfOpts.rubikType=='threeHor'">
      <div class="pic" v-for="item in selfList" >
        <img width="100%" :src="item.imgUrl" alt="">
      </div>
    </div>
    <div class="threecolumn" v-if="'threecolumn'==selfOpts.rubikType">
      <div class="pic">
        <img width="100%" :src="selfList[0]?selfList[0].imgUrl:''" alt="">
      </div>
      <div class="pic">
        <div class="innerPic">
          <img width="100%" :src="selfList[0]?selfList[1].imgUrl:''" alt="">
        </div>
        <div class="innerPic">
          <img width="100%" :src="selfList[0]?selfList[2].imgUrl:''" alt="">
        </div>
      </div>
    </div>
    <div class="one-two" v-if="'oneTwo'==selfOpts.rubikType">
      <div class="pic" v-for="item in selfList" >
        <img width="100%" :src="item.imgUrl" alt="">
      </div>
    </div>
    <div class="fourHor" v-if="'fourHor'==selfOpts.rubikType">
      <div class="pic" v-for="item in selfList" >
        <img width="100%" :src="item.imgUrl" alt="">
      </div>
    </div>
  </div>
</template>

<script>
  export default {
    name: "rubik",//魔方
    props: ['selfOpts','selfList'],
    data(){
      return{
        defaultType:'twoPic',
        rubikOptions:{},
        showType:''
      }
    },
    methods:{
      setPageTarget(target){
      },
      close(){
        let target = this.$store.state.app.mouseTarget
        this.selfOpts.editType = 'remove'
        this.$store.commit('setPageData',this.selfOpts)
        if(this.rubikOptions.index==this.selfOpts.index){
          target.type = ''
        }
      }
    },
    mounted(){
      //alert(JSON.stringify(this.selfOpts))
    },
    watch:{
      '$store.state.app.mouseTarget': {
        handler: function(newer, older) { // 可以获取新值与老值两个参数
          this.rubikOptions = newer
          //console.log('#######'+JSON.stringify(newer))
        },
        deep: true, // 开启深度监听
        immediate: true,
      }
    }
  }
</script>

<style scoped lang="less">
  .wrapper{
    position: relative;
    margin: .2rem;
    border: #b3b3b3 1px dashed;
    /*height: 178px;*/
  }
  .rubik-control {
    box-sizing: border-box;
  }
  .active{
    margin-top: 0.8rem;
    border: 2px dashed #00edd1;
  }
  .close{
    position: absolute;
    top: -14px;
    right: -8px;
    cursor:pointer;
  }
  .onePic{
    width: 100%;
    box-sizing: border-box;
    .pic{
      display: flex;
      justify-content: center;
      align-items: center;
      border: #dfdfdf 1px solid;
      height: 10rem;
      box-sizing: border-box;
      .text{
        font-size: 16px;
      }
    }
  }
  .twoPic{
    display: flex;
    width: 100%;
    box-sizing: border-box;
    .pic{
      display: flex;
      width: 50%;
      flex-direction: column;
      margin: .2rem;
      flex: 1;
      justify-content: center;
      align-items: center;
      border: #dfdfdf 1px solid;
      height: 6rem;
      box-sizing: border-box;
    }

  }
  .three-horizontal{
    display: flex;
    width: 100%;
    box-sizing: border-box;
    .pic{
      width: 30%;
      display: flex;
      margin: .2rem;
      flex: 1;
      justify-content: center;
      align-items: center;
      border: #dfdfdf 1px solid;
      height: 5.2rem;
      box-sizing: border-box;
    }
  }
  .threecolumn{
    display: flex;
    width: 100%;
    .pic:first-child{
      margin: .2rem;
      flex: 1;
      border: #dfdfdf 1px solid;
      height: 12rem;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
    }
    .pic:last-child{
      margin: .2rem;
      flex: 1;
      height: 12rem;
      display: flex;
      flex-direction: column;
      .innerPic{
        border: #dfdfdf 1px solid;
        height: 12rem;
        display: flex;
        justify-content: center;
        align-items: center;
      }
    }
  }
  .one-two{
    display: flex;
    width: 100%;
    .pic{
      border: #dfdfdf 1px solid;
      height: 5.3rem;
      display: flex;
      justify-content: center;
      align-items: center;
      margin: .1rem;
    }
    .pic:first-child{
      flex: 1;
      width: 33%;
    }
    .pic:last-child{
      flex: 2;
      width: 66%;
    }
  }
  .fourHor{
    display: flex;
    width: 100%;
    .pic{
      flex: 1;
      width: 25%;
      border: #dfdfdf 1px solid;
      height: 4rem;
      display: flex;
      justify-content: center;
      align-items: center;
      margin: .1rem;
    }
  }

</style>
