<template>
  <div>
    <Card>
      <p slot="title">魔方</p>
      <Button type="primary" slot="extra" @click.prevent="save">
        <Icon type="ios-loop-strong"></Icon>
        保存修改
      </Button>
      <Form :model="pageAttrObj" :label-width="80">
        <FormItem label="布局类型：">
          <Button @click="changeLayout" size="small" type="primary">
            修改
          </Button>
        </FormItem>
        <FormItem>
          <div>
            <RubikLayout :showType="showType"></RubikLayout>
          </div>
        </FormItem>
        <FormItem label="图片内容：">
          <Upload
            ref="upload"
            :on-success="handleSuccess"
            :on-error="handleError"
            :format="['jpg','jpeg','png']"
            :max-size="2048"
            :on-format-error="handleFormatError"
            :on-exceeded-size="handleMaxSize"
            :before-upload="handleBeforeUpload"
            :show-upload-list="false"
            type="drag"
            :headers="{'Authorization':$store.state.user.token}"
            :action="this.$publicUrl+'/middle/material/upload'"
            style="display: inline-block;width:58px;">
            <div style="width: 58px;height:58px;line-height: 58px;">
              <Icon type="ios-camera" size="20"></Icon>
            </div>
          </Upload>
        </FormItem>
        <FormItem label="链接到：">
          <Select @on-change="getRubikLink"  v-model="currentType" style="width:200px">
            <Option value="1">订单中心</Option>
            <Option value="2">页面</Option>
            <Option value="3">商品分类</Option>
            <Option value="4">商品</Option>
            <Option value="5">品牌</Option>
          </Select>
          <span v-if="currentType=='2'">
            {{this.currentPageName}}
          </span>
          <span v-if="currentType=='3'">
            {{(this.rightIndex.cataName1?this.rightIndex.cataName1:'')+' ' +(this.rightIndex.cataName2?this.rightIndex.cataName2:'')+' '+ (this.rightIndex.cataName3?this.rightIndex.cataName3:'') }}
          </span>

          <div v-if="currentType=='4'">
            {{this.currentProductName}}
          </div>
          <div v-if="currentType=='3'">
            <Select :label-in-value="true" clearable @on-change="level1" v-model="cata1" style="width:100px">
              <Option v-for="item in cateList1" :value="item.id" :key="item.id">{{ item.name }}</Option>
            </Select>
            <Select :label-in-value="true" clearable @on-change="level2" v-model="cata2" style="width:100px">
              <Option v-for="item in cateList2" :value="item.id" :key="item.id">{{ item.name }}</Option>
            </Select>
            <Select :label-in-value="true" clearable @on-change="level3" v-model="cata3" style="width:100px">
              <Option v-for="item in cateList3" :value="item.id" :key="item.id">{{ item.name }}</Option>
            </Select>
          </div>
          <span style="margin-left: .5rem" v-if="currentType=='5'">
            <Select clearable v-model="brand" @on-change="getBrand" style="width:200px">
              <Option v-for="item in brandsList" :value="item.id" :key="item.id">{{ item.name }}</Option>
            </Select>
          </span>
        </FormItem>
      </Form>
    </Card>
    <Modal
      v-model="pageModal"
      title="选择跳转页面"
      width="1000px"
      @on-cancel="()=>{this.currentPageId=0}"
      @on-ok="confirm1">
      <Table
        stripe :columns="columns1" :data="data1"></Table>
      <div style="text-align: center">
        <Page style="margin-top: .5rem" :total="pageTotal" @on-change="getPage"/>
      </div>
    </Modal>
    <Modal
      v-model="productModal"
      width="80%"
      title="选择商品"
      @on-ok="confirm"
      @on-cancel="()=>{this.currentProductId=0}">
      <div style="margin-top:2rem"></div>
      <!--<ProductSelecter></ProductSelecter>-->
      <Form ref="formInline" :model="formInline" inline :label-width="80">
        <FormItem label="商品名称：">
          <Input type="text" v-model="formInline.productName" placeholder="商品名称">
          </Input>
        </FormItem>
        <FormItem>
          <Button type="primary" @click="getProducts">查 询</Button>
        </FormItem>
      </Form>
      <Table :columns="columns2"
             :data="data2"></Table>
      <div style="text-align: center">
        <Page style="margin-top: .5rem" :total="pageTotal2" @on-change="getPage2"/>
      </div>
    </Modal>
    <Modal
      v-model="layoutModel"
      title="选择模版类型"
      width="1000px"
      @on-ok="confirmLayout">
      <Row>
        <Col span="8">
          <div :class="{'onePic':true,'active':tempType=='onePic'}" @click="setLayoutType('onePic')">
            <div class="pic">
              <span>图片</span>
            </div>
          </div>
        </Col>
        <Col span="8">
          <div :class="{'twoPic':true,'active':tempType=='twoPic'}" @click="setLayoutType('twoPic')">
            <div class="pic">
              <span>图片</span>
            </div>
            <div class="pic">
              <span>图片</span>
            </div>
          </div>
        </Col>
        <Col span="8">
          <div :class="{'three-horizontal':true,'active':tempType=='threeHor'}" @click="setLayoutType('threeHor')">
            <div class="pic">
              <span>图片</span>
            </div>
            <div class="pic">
              <span>图片</span>
            </div>
            <div class="pic">
              <span>图片</span>
            </div>
          </div>
        </Col>
      </Row>
      <Row>
        <Col span="8">
          <div :class="{'threecolumn':true,'active':tempType=='threecolumn'}" @click="setLayoutType('threecolumn')">
            <div class="pic">
              <span>图片</span>
            </div>
            <div class="pic">
              <div class="innerPic">
                <span>图片</span>
              </div>
              <div class="innerPic">
                <span>图片</span>
              </div>
            </div>
          </div>
        </Col>
        <Col span="8">
          <div :class="{'one-two':true,'active':tempType=='oneTwo'}" @click="setLayoutType('oneTwo')">
            <div class="pic">
              <span>图片</span>
            </div>
            <div class="pic">
              <span>图片</span>
            </div>
          </div>
        </Col>
        <Col span="8">
          <div :class="{'fourHor':true,'active':tempType=='fourHor'}" @click="setLayoutType('fourHor')">
            <div class="pic">
              <span>图片</span>
            </div>
            <div class="pic">
              <span>图片</span>
            </div>
            <div class="pic">
              <span>图片</span>
            </div>
            <div class="pic">
              <span>图片</span>
            </div>
          </div>
        </Col>
      </Row>
    </Modal>
  </div>
</template>

<script>
  import {getTableData,getLevel1,getLevel2,getLevel3,getPageList,getProductList} from '@/api/data'
  import RubikLayout from './rubikLayout'
  export default {
    name: "rubikEditor",//魔方编辑
    data(){
      return{
        brand:'',
        cata1:'',
        cata2:'',
        cata3:'',
        cataback1:'',
        cataback2:'',
        cataback3:'',
        currentPageId:0,
        currentProductId:0,
        productModal:false,
        pageModal:false,
        layoutModel:false,
        pageAttrObj:{},
        showType:'onePic',
        tempType:'',
        currentMouseObj:{},
        currentType:'',
        classificationList:[],
        classification1:"",
        classification2:"",
        classification3:"",
        classification4:'',
        cateList1:[],
        cateList2:[],
        cateList3:[],
        pageNo:1,
        pageTotal:0,
        pageTotal2:0,
        formInline:{
          pageSize:10,
          pageIndex:1
        },
        currentProductName:'',
        columns2:[
          {
            title: '商品',
            key: 'name1'
          },
          {
            title: '分类',
            key: 'productCateIdName'
          },
          {
            title: '价格',
            key: 'malMobilePrice',
            sortable: true
          },
          {
            title: '操作',
            key: 'action',
            width:220,
            align: 'center',
            render: (h, params) => {
              return h('div', [
                h('Button', {
                  props: {
                    type: this.currentProductId==params.row.id?'default':'success',
                    size: 'small'
                  },
                  style: {
                    marginRight: '5px'
                  },
                  on: {
                    click: () => {
                      if(this.currentProductId != params.row.id){
                        this.currentProductId = params.row.id
                        this.currentProductName = params.row.name1
                      }else{
                        //this.$Message.warning('')
                      }
                    }
                  }
                }, this.currentProductId==params.row.id?'已选择':'选择')
              ]);
            }
          },
        ],
        currentPageName:'',
        data2:[],
        columns1: [
          {
            title: '标题',
            key: 'pageTitle'
          },
          {
            title: '分类',
            key: 'pageCateName'
          },
          {
            title: '创建/更新时间',
            key: 'createTime'
          },
          {
            title: '商品数量',
            key: 'goodsNum'
          },
          {
            title: '操作',
            key: 'action',
            width:220,
            align: 'center',
            render: (h, params) => {
              return h('div', [
                h('Button', {
                  props: {
                    type: this.currentPageId==params.row.id?'default':'success',
                    size: 'small'
                  },
                  style: {
                    marginRight: '5px'
                  },
                  on: {
                    click: () => {
                      if(this.currentPageId != params.row.id){
                        this.currentPageId = params.row.id
                        this.currentPageName =  params.row.pageTitle
                        this.currentPageType=params.row.pageType
                      }else{
                        //this.$Message.warning('')
                      }
                    }
                  }
                }, this.currentPageId==params.row.id?'已选择':'选择')
              ]);
            }
          },
        ],
        data1: [],
        brandsList:[],
        pageObj:[],
        rightIndex:0,//右侧魔方点击的索引
        linkType:'',
        currentPageType:''
      }
    },
    // props:[''],
    components:{
      RubikLayout
    },
    mounted(){
      this.getLevel1()
      this.getBrands()
    },
    methods:{
      getBrand(v){
        let target = this.$store.state.app.mouseTarget
        let targetImgIndex = this.$store.state.app.mouseTarget.rubikTargetImgIndex
        if(this.currentType=='5'){
          target.list[targetImgIndex].linkTo = v
          target.list[targetImgIndex].brand = v
          let temp =this.pageObj[0].productBrandIdArray
          temp.push(v)
          this.$store.commit('setPageData',Object.assign(this.pageObj[0],{editType:'change',index:0,productBrandIdArray:temp}))
        }
      },
      getBrands(){
        //middle/product/queryProductBrandsByTypeId
        getTableData({
          url: '/middle/product/queryProductBrandsByCustomerId',
          type: 'post',
          data: {}
        }).then(res => {
          if (res.data.code == 200) {
            this.brandsList = res.data.data
          }
        }).catch(err => console.log(err))
      },
      getProducts(){
        this.formInline.pageSize = 10
        getProductList(this.formInline).then(res=>{
          this.data2 = res.data.data.list
          this.pageTotal2 = res.data.data.total
        }).catch(err=>{

        })
      },
      confirm1(){
        let target = this.$store.state.app.mouseTarget
        let targetImgIndex = this.$store.state.app.mouseTarget.rubikTargetImgIndex
        if(this.currentType=='2'){
          target.list[targetImgIndex].linkTo = this.currentPageId
          target.list[targetImgIndex].pageName = this.currentPageName
          target.list[targetImgIndex].pageType = this.currentPageType

        }
        this.currentPageId=0
      },
      confirm(){
        let target = this.$store.state.app.mouseTarget
        let targetImgIndex = this.$store.state.app.mouseTarget.rubikTargetImgIndex
        if(this.currentType=='4'){
          target.list[targetImgIndex].linkTo = this.currentProductId
          target.list[targetImgIndex].productName=this.currentProductName
        }
        this.currentProductId=0
      },
      getPage2(p){
          this.formInline.pageIndex = p
          this.getProducts()
      },
      getPage(p){
        this.pageNo = p
        this.getPageList()
      },
      getPageList(){
        // customerId	商户id	body	false	int32
        // pageCateId	页面分类id	body	false	int32
        // pageNum	当前页码	body	false	int32
        // pageSize	每页记录数	body	false	int32
        // pageTitle	页面标题	body	false	string
        // status
        getPageList({
          pageCateId:'',
          pageNum:this.pageNo,
          pageSize:10,
          pageTitle:''
        }).then(res=>{
          this.data1 = res.data.data.list
          this.pageTotal = res.data.data.total
        }).catch(err=>{
          this.pageTotal=0
        })
      },
      level1(v){
        this.getLevel2(v.value)
        let target = this.$store.state.app.mouseTarget
        let targetImgIndex = this.$store.state.app.mouseTarget.rubikTargetImgIndex
        if(this.currentType=='3'){
          target.list[targetImgIndex].cata1 = v.value
          target.list[targetImgIndex].cataName1 = v.label
          target.list[targetImgIndex].cata2 = ''
          target.list[targetImgIndex].cataName2 = ''
          target.list[targetImgIndex].cata3 = ''
          target.list[targetImgIndex].cataName3 = ''
        }
      },
      level2(v){
        //alert(v)
        this.getLevel3(v.value)
        let target = this.$store.state.app.mouseTarget
        let targetImgIndex = this.$store.state.app.mouseTarget.rubikTargetImgIndex
        if(this.currentType=='3'){
          target.list[targetImgIndex].cata2 = v.value
          target.list[targetImgIndex].cataName2 = v.label
        }
      },
      level3(v){
        let target = this.$store.state.app.mouseTarget
        let targetImgIndex = this.$store.state.app.mouseTarget.rubikTargetImgIndex
        if(this.currentType=='3'){

          target.list[targetImgIndex].cata3 = v.value
          target.list[targetImgIndex].linkTo = v.value
          target.list[targetImgIndex].cataName3 = v.label
          // let temp =this.pageObj[0].productClassIdArray
          // temp.push(v)
          // this.$store.commit('setPageData',Object.assign(this.pageObj[0],{editType:'change',index:0,productClassIdArray:temp}))
        }
      },
      getLevel1(){
        getLevel1({
        }).then(res=>{
          this.cateList1 = res.data.data
        }).catch(err=>{

        })
      },
      getLevel2(id){
        getLevel2({
          pid:id
        }).then(res=>{
          this.cateList2 = res.data.data
        }).catch(err=>{

        })
      },
      getLevel3(id){
        getLevel3({
          pid:id
        }).then(res=>{
          this.cateList3 = res.data.data
        }).catch(err=>{

        })
      },
      close(){
        let currentTarget = this.$store.state.app.mouseTarget
        currentTarget.type = ''
      },
      setLayoutType(t){
        this.tempType = t
      },
      confirmLayout(){
        this.showType = this.tempType
        let currentTarget = this.$store.state.app.mouseTarget
        currentTarget.list = []
        if(currentTarget.type == 'rubik'){
          currentTarget.editType = 'change'
          currentTarget.rubikType = this.showType
          this.$store.commit('setPageData',currentTarget)
        }
        if(currentTarget.rubikType=='onePic'){
          currentTarget.list = [{linkTo:'',imgUrl:'',linkType:'',
            cataName1:'',cataName2:'',cataName3:'',
            pageName:'', cata1:'', cata2:'', cata3:'', brand:'', productName:'',}]
        }
        if(currentTarget.rubikType=='fourHor'){
          currentTarget.list = [
            {linkTo:'', imgUrl:'', linkType:'',
              cataName1:'',cataName2:'',cataName3:'',
              pageName:'', cata1:'', cata2:'', cata3:'', brand:'', productName:'',},
            {linkTo:'',imgUrl:'',linkType:'',
              cataName1:'',cataName2:'',cataName3:'',
              pageName:'', cata1:'', cata2:'', cata3:'', brand:'', productName:'',},
            {linkTo:'',imgUrl:'',linkType:'',
              cataName1:'',cataName2:'',cataName3:'',
              pageName:'', cata1:'', cata2:'', cata3:'', brand:'', productName:'',},
            {linkTo:'',imgUrl:'',linkType:'',
              cataName1:'',cataName2:'',cataName3:'',
              pageName:'', cata1:'', cata2:'', cata3:'', brand:'', productName:'',}]
        }
        if(currentTarget.rubikType=='twoPic' || currentTarget.rubikType=='oneTwo'){
          currentTarget.list = [
            {linkTo:'',imgUrl:'',linkType:'',
              cataName1:'',cataName2:'',cataName3:'',
              pageName:'', cata1:'', cata2:'', cata3:'', brand:'', productName:'',},
            {linkTo:'',imgUrl:'',linkType:'',
              cataName1:'',cataName2:'',cataName3:'',
              pageName:'', cata1:'', cata2:'', cata3:'', brand:'', productName:'',}]
        }
        if(currentTarget.rubikType=='threeHor' ||currentTarget.rubikType=='threecolumn' ){
          currentTarget.list = [
            {linkTo:'',imgUrl:'',linkType:'',
              cataName1:'',cataName2:'',cataName3:'',
              pageName:'', cata1:'', cata2:'', cata3:'', brand:'', productName:'',
            },
            {linkTo:'',imgUrl:'',linkType:'',
              cataName1:'',cataName2:'',cataName3:'',
              pageName:'', cata1:'', cata2:'', cata3:'', brand:'', productName:'',
            },
            {linkTo:'',imgUrl:'',linkType:'',
              cataName1:'',cataName2:'',cataName3:'',
              pageName:'', cata1:'', cata2:'', cata3:'', brand:'', productName:'',
            }]
        }
      },
      changeLayout(){
        this.layoutModel = true
      },
      handleError(){
        this.$Message.error('上传失败')
      },
      handleSuccess(res, file, fileList){
        if(res.code==200){
          let target = this.$store.state.app.mouseTarget
          let targetImgIndex = this.$store.state.app.mouseTarget.rubikTargetImgIndex
          target.list[targetImgIndex].imgUrl = res.data.imgUrl
        }else if(res.code==104){
          this.$Message.warning(res.message)
          this.$store.commit('setToken','')
          this.$router.push({
            name: 'login'
          })
        }else{
          this.$Message.warning(res.message)
        }

      },
      handleMaxSize(){

      },
      handleFormatError(){

      },
      handleBeforeUpload(file){
        console.log(file)
      },
      save(){
        console.log(JSON.stringify(this.$store.state.app.createPageData))
        this.$Message.success('保存成功')
      },
      getTargetData(newer,older){
        this.currentMouseObj = newer
        this.showType = newer.rubikType
        //console.log('魔方数据=='+JSON.stringify(newer))

      },
      getRubikLink(v){
        let target = this.$store.state.app.mouseTarget
        let targetImgIndex = this.$store.state.app.mouseTarget.rubikTargetImgIndex
        target.list[targetImgIndex].linkType = v
        this.currentType = v

        if(v=='1'){
          target.list[targetImgIndex].linkTo = 'http://order.com'
        }
        if(v=='2'){
          this.pageModal=true
          this.getPageList()
        }
        if(v=='4'){
          this.productModal=true
          this.getProducts()
        }
      }
    },
    watch:{
      '$store.state.app.mouseTarget': {
        handler: function(newer, older) { // 可以获取新值与老值两个参数
          this.getTargetData(newer,older)
          let targetImgIndex = this.$store.state.app.mouseTarget.rubikTargetImgIndex
        },
        deep: true, // 开启深度监听
        immediate: true,
      },
      '$store.state.app.rubikMouseIndex': {
        handler: function(newer, older) {
          //右侧魔方内数据点击的索引
          this.rightIndex=this.currentMouseObj.list[newer]
           //alert(JSON.stringify(this.currentMouseObj.list[newer]))
          this.currentType=this.rightIndex.linkType
          this.currentPageName=this.rightIndex.pageName
          this.currentProductName=this.rightIndex.productName
          // this.cata1 = this.rightIndex.cata1
          this.cata1 = ''
          this.cata2 = ''
          this.cata3 = ''
          // this.cata2 = this.rightIndex.cata2
          // this.cata3 = this.rightIndex.cata3
          // console.log('鼠标选择的==='+JSON.stringify(this.rightIndex))
          // if(this.rightIndex.cata1){
          //   this.getLevel2(this.rightIndex.cata1)
          //   this.level2(this.rightIndex.cata2)
          //   this.cata2 = this.rightIndex.cata2
          // }
          // if(this.rightIndex.cata2){
          //   this.getLevel3(this.rightIndex.cata2)
          //   this.level3(this.rightIndex.cata3)
          //   this.cata3 = this.rightIndex.cata3
          // }


          this.brand = this.rightIndex.brand
        },
        deep: true, // 开启深度监听
        immediate: true,
      },
      '$store.state.app.createPageData': {
        handler: function(newer, older) { // 可以获取新值与老值两个参数
          //this.getPageData(newer,older)
          this.pageObj = newer
          //console.log("当前的页面数组=="+JSON.stringify(newer))
        },
        deep: true, // 开启深度监听
        immediate: true,
      },
    },
  }
</script>

<style scoped lang="less">
  .onePic:hover,.twoPic:hover,.three-horizontal:hover,
  .threecolumn:hover,.one-two:hover,.fourHor:hover{
    border: #03e2ed 2px solid;
  }
  .active{
    border: #03e2ed 2px solid;
  }
  .onePic{
    width: 80%;
    padding: .5rem;
    box-sizing: border-box;
    .pic{
      display: flex;
      justify-content: center;
      align-items: center;
      border: #bfbfbf 1px solid;
      height: 10rem;
      box-sizing: border-box;
      .text{
        font-size: 16px;
      }
    }
  }
  .twoPic{
    display: flex;
    width: 80%;
    padding: .5rem;
    box-sizing: border-box;
    .pic{
      display: flex;
      margin: .2rem;
      flex: 1;
      justify-content: center;
      align-items: center;
      border: #bfbfbf 1px solid;
      height: 8rem;
      box-sizing: border-box;
    }
  }
  .three-horizontal{
    display: flex;
    width: 80%;
    padding: .5rem;
    box-sizing: border-box;
    .pic{
      display: flex;
      margin: .2rem;
      flex: 1;
      justify-content: center;
      align-items: center;
      border: #bfbfbf 1px solid;
      height: 5.2rem;
      box-sizing: border-box;
    }
  }
  .threecolumn{
    display: flex;
    width: 80%;
    padding: .5rem;
    .pic:first-child{
      margin: .2rem;
      flex: 1;
      border: #bfbfbf 1px solid;
      height: 12rem;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
    }
    .pic:last-child{
      margin: .2rem;
      flex: 1;
      height: 12rem;
      display: flex;
      flex-direction: column;
      .innerPic{
        border: #bfbfbf 1px solid;
        height: 12rem;
        display: flex;
        justify-content: center;
        align-items: center;
      }
    }
  }
  .one-two{
    display: flex;
    width: 80%;
    padding: .5rem;
    .pic{
      border: #bfbfbf 1px solid;
      height: 5.3rem;
      display: flex;
      justify-content: center;
      align-items: center;
      margin: .1rem;
    }
    .pic:first-child{
      flex: 1;
    }
    .pic:last-child{
      flex: 2;
    }
  }
  .fourHor{
    display: flex;
    width: 80%;
    padding: .5rem;
    .pic{
      flex: 1;
      border: #bfbfbf 1px solid;
      height: 4rem;
      display: flex;
      justify-content: center;
      align-items: center;
      margin: .1rem;
    }
  }
</style>
