<template>
  <div>
    <div class="bg">人群名称</div>
    <div class="">
      <Input v-model="formData.groupName" clearable
             style="width: 200px;margin-left: 2rem;" type="text" placeholder="请输入人群名称"></Input>
    </div>
    <div class="bg">行为关系</div>
    <div class="">
      <div class="item-wrap">
        <div class="item" v-for="(item,index) in formData.actionList" >
          <span>行为</span>
          <Select v-model="item.behavior" size="small" clearable style="width:200px;margin:0 .5rem">
            <Option v-for="(item,index) in behaviorList" :value="item.value" :key="index">{{item.label}}{{item.value}}</Option>
          </Select>
          <InputNumber :precision="(item.behavior=='007'||item.behavior=='008')?2:0" v-if="item.behavior=='005'||item.behavior=='006'||item.behavior=='007'||item.behavior=='008'" v-model="item.amount" :min="1" size="small" clearable style="width: 100px"
                 type="text" placeholder="请输入"></InputNumber>
          <span style="margin-left: 1rem;">时间范围</span>
          <Select v-model="item.day" size="small" clearable style="width:200px;margin:0 .5rem">
            <Option v-for="(item,index) in timeList" :value="item.value" :key="index">{{item.label}}</Option>
          </Select>
          <!--<DatePicker-->
            <!--v-model="item.day"-->
            <!--size="small"-->
            <!--:clearable="true"-->
            <!--:value="date"-->
            <!--@on-change="getTime"-->
            <!--format="yyyy-MM-dd HH:mm:ss"-->
            <!--type="datetimerange"-->
            <!--placeholder="请选择时间"-->
            <!--style="width: 300px;margin-left: 10px;">-->
          <!--</DatePicker>-->
          <Button @click="delAction(index)" v-if="index>0" style="margin-left: 1rem" size="small" type="error">移除</Button>
        </div>
        <Button @click="addAction" style="margin: 1rem 2rem;" type="dashed" >添加筛选条件</Button>
      </div>
    </div>
    <div class="bg">基本属性</div>
    <div class="">
      <div class="item">
        <span>客户来源方式：</span>
        <Select v-model="formData.userSource" size="small" clearable style="width:200px;margin:0 .5rem">
          <Option v-for="(item,index) in sourceList" :value="item.value" :key="index">{{item.label}}</Option>
        </Select>
      </div>
      <div class="item">
        <span>性别：</span>
        <Select v-model="formData.sex" size="small" clearable style="width:200px;margin:0 .5rem">
          <Option v-for="(item,index) in sexList" :value="item.value" :key="index">{{item.label}}</Option>
        </Select>
      </div>
    </div>
    <div>
      <Button @click="saveGroup" style="margin:1rem 2rem;" type="primary">保存</Button>
    </div>
  </div>
</template>
<script>
  import {getTableData} from '@/api/data'
  export default {
    name: "createGroup",//新建人群
    data(){
      return{
        data2:[],
        date:'',
        behaviorList:[],
        sexList:[],
        timeList:[],
        sourceList:[],
        formData:{
          actionList:[
            {
              amount:null,
              behavior:'',
              behaviorStr:'',
              day:null,
            }
          ],
        },
      }
    },
    mounted(){
      this.getActionList()
      this.getSexList()
      this.getSourceList()
      this.getTimeList()
    },
    methods:{
      getTime(){

      },
      delAction(i){
        this.formData.actionList.splice(i,1)
      },
      addAction(){
        if(this.formData.actionList.length>9){
          this.$Message.warning('行为条件最多添加10个')
          return
        }
        this.formData.actionList.push({
          amount:null,
          behavior:'',
          behaviorStr:'',
          day:null,
        })
      },
      getSourceList(){
        getTableData({
          url: '/middle/common/dictionary/getdictbycode',
          type: 'post',
          data: {
            dictCode:'USER_SOURCE'
          }
        }).then(res => {
          if (res.data.code == 200) {
            this.sourceList = res.data.data
          }
        }).catch(err => console.log(err))
      },
      getTimeList(){
        getTableData({
          url: '/middle/common/dictionary/getdictbycode',
          type: 'post',
          data: {
            dictCode:'USER_GROUP_DAY'
          }
        }).then(res => {
          if (res.data.code == 200) {
            this.timeList = res.data.data
          }
        }).catch(err => console.log(err))
      },
      getSexList(){
        getTableData({
          url: '/middle/common/dictionary/getdictbycode',
          type: 'post',
          data: {
            dictCode:'SEX'
          }
        }).then(res => {
          if (res.data.code == 200) {
            this.sexList = res.data.data
          }
        }).catch(err => console.log(err))
      },
      getActionList() {
        getTableData({
          url: '/middle/common/dictionary/getdictbycode',
          type: 'post',
          data: {
            dictCode:'USER_GROUP_BEHAVIOR'
          }
        }).then(res => {
          if (res.data.code == 200) {
            this.behaviorList = res.data.data
          }
        }).catch(err => console.log(err))
      },
      saveGroup(){
        ///middle/usergroup/insert
        let flag=false
        if(this.$tools.isEmpty(this.formData.groupName)){
          this.$Message.warning('请输入人群名称')
          return
        }
        for(let i=0;i<this.formData.actionList.length;i++){
          if(this.$tools.isEmpty(this.formData.actionList[i].day)||this.$tools.isEmpty(this.formData.actionList[i].behavior)){
            flag=true
          }
        }
        if(flag){
          this.$Message.warning('请完善行为关系')
          return
        }
        if(this.$tools.isEmpty(this.formData.userSource)){
          this.$Message.warning('请选择客户来源方式')
          return
        }
        if(this.$tools.isEmpty(this.formData.sex)){
          this.$Message.warning('请选择性别')
          return
        }
        getTableData({
          url: '/middle/usergroup/insert',
          type: 'post',
          data: this.formData
        }).then(res => {
          if (res.data.code == 200) {
            this.$Message.success('保存成功')
            this.$router.push('/service/userGroup')
          }
        }).catch(err => console.log(err))
      }
    }
  }
</script>

<style scoped>
  .bg{
    padding: .5rem;
    margin: .5rem 0;
    background: #e8e8e8;
    color: #515a6e;
  }
  .item{
    min-width: 1000px;
    font-size: 14px;
    margin-left: 2rem;
    margin-top: .5rem;
    color: #515a6e;
  }
</style>
