<template>
    <div>
      <!--<router-link to="/service/newGroup">-->
        <Button @click="()=>{this.editType=0;this.cancel;this.modal1=true}" type="success" size="small">新建人群</Button>
      <!--</router-link>-->
      <Divider/>
      <Table border :columns="columns1" :data="data1"></Table>
      <div style="text-align: center">
        <Page style="margin-top: .5rem"
              show-total
              :current="pageNo"
              :total="pageTotal"
              @on-change="getPage"/>
      </div>
      <Modal
        :closable="false"
        :mask-closable="false"
        v-model="modal1"
        width="80%"
        :title="editType==0?'新建人群':'编辑人群'">
        <div>
          <div class="bg">人群名称</div>
          <div class="">
            <Input v-model="formData.groupName" clearable
                   style="width: 200px;margin-left: 2rem;" type="text" placeholder="请输入人群名称"></Input>
          </div>
          <div class="bg">行为关系</div>
          <div class="">
            <div class="item-wrap">
              <div @click="getIndex(index)" class="item" v-for="(item,index) in formData.list" >
                <span>行为</span>
                <Select @on-change="check" v-model="item.behavior" size="small" clearable style="width:200px;margin:0 .5rem">
                  <Option v-for="(item,index) in behaviorList" :value="item.value" :key="index">{{item.label}}{{item.value}}</Option>
                </Select>
                <InputNumber :precision="(item.behavior=='007'||item.behavior=='008')?2:0" v-if="item.behavior=='005'||item.behavior=='006'||item.behavior=='007'||item.behavior=='008'" v-model="item.amount" :min="1" size="small" clearable style="width: 100px"
                             type="text" placeholder="请输入"></InputNumber>
                <span style="margin-left: 1rem;">时间范围</span>
                <Select v-model="item.day" size="small" clearable style="width:200px;margin:0 .5rem">
                  <Option v-for="(item,index) in timeList" :value="item.value" :key="index">{{item.label}}</Option>
                </Select>
                <Button @click="delAction(index)" v-if="index>0" style="margin-left: 1rem" size="small" type="error">移除</Button>
              </div>
              <Button @click="addAction" style="margin: 1rem 2rem;" type="dashed" >添加筛选条件</Button>
            </div>
          </div>
          <div class="bg">基本属性</div>
          <div class="">
            <div class="item">
              <span>客户来源方式：</span>
              <Select v-model="formData.userSource" size="small" clearable style="width:200px;margin:0 .5rem">
                <Option v-for="(item,index) in sourceList" :value="item.value" :key="index">{{item.label}}</Option>
              </Select>
            </div>
            <div class="item">
              <span>性别：</span>
              <Select v-model="formData.sex" size="small" clearable style="width:200px;margin:0 .5rem">
                <Option v-for="(item,index) in sexList" :value="item.value" :key="index">{{item.label}}</Option>
              </Select>
            </div>
          </div>
          <div>
          </div>
        </div>
        <div slot="footer">
          <Button @click="cancel">取消</Button>
          <Button @click="commit" type="primary">确定</Button>
        </div>
      </Modal>
    </div>
</template>

<script>
  import {getTableData} from '@/api/data'
  export default {
    name: "groupList",
    data(){
      return{
        data2:[],
        date:'',
        behaviorList:[],
        sexList:[],
        timeList:[],
        sourceList:[],
        formData:{
          list:[
            {
              amount:null,
              behavior:'',
              behaviorStr:'',
              day:null,
            }
          ],
        },
        modal1:false,
        form:{},
        pageNo:1,
        pageTotal:0,
        data1:[],
        editType:0,
        currentIndex:null,
        columns1:[
          {
            title: "群组名称",
            key: "groupName",
          },
          {
            title: "人群定义",
            key: "list",
            render: (h, params) => {
              return h('div', params.row.list.join(','))
            }
          },
          {
            title: "创建时间",
            key: "createTime",
          },
          {
            title: "操作人",
            key: "updateUser",
          },
          {
            title: '操作',
            key: 'action',
            width:220,
            align: 'center',
            render: (h, params) => {
              return h('div', [
                h('Button', {
                  props: {
                    type: 'primary',
                    size: 'small'
                  },
                  style: {
                    marginRight: '5px'
                  },
                  on: {
                    click: () => {
                      // this.del(params.row.id)
                      this.modal1=true
                      this.editType=1;
                      this.getDetail(params.row.id)
                      this.formData.id = params.row.id
                    }
                  }
                }, '编辑'),
                h('Button', {
                  props: {
                    type: 'error',
                    size: 'small'
                  },
                  style: {
                    marginRight: '5px'
                  },
                  on: {
                    click: () => {
                      this.del(params.row.id)
                    }
                  }
                }, '删除'),
              ]);
            }
          },
        ]
      }
    },
    mounted(){
      this.getList()
      this.getActionList()
      this.getSexList()
      this.getSourceList()
      this.getTimeList()
    },
    methods:{
      getIndex(i){
        this.currentIndex=i
      },
      check(v){
        if(!v)return
        for (let i=0;i<this.formData.list.length;i++){
          if(this.currentIndex!=i){
            if(v==this.formData.list[i].behavior){
              this.$Message.warning('已添加该行为，请选择其他选项')
              setTimeout(
                ()=>{this.formData.list[this.currentIndex].behavior=''}
                ,200)
            }
          }
        }
      },
      commit(){
        let flag=false
        let flag1=true
        let flag2=true
        if(this.$tools.isEmpty(this.formData.groupName)){
          this.$Message.warning('请输入人群名称')
          return
        }
        for(let i=0;i<this.formData.list.length;i++){
          if(!this.$tools.isEmpty(this.formData.list[i].day)&&!this.$tools.isEmpty(this.formData.list[i].behavior)){
            flag=true
          }
        }
        // if(flag){
        //   this.$Message.warning('请完善行为关系')
        //   return
        // }
        if(this.$tools.isEmpty(this.formData.userSource)){
          // this.$Message.warning('请选择客户来源方式')
          // return
          flag1=false
        }
        if(this.$tools.isEmpty(this.formData.sex)){
          // this.$Message.warning('请选择性别')
          // return
          flag2=false
        }
        if(flag || flag1 || flag2){

        }else{
          this.$Message.warning('请至少输入一个条件')
          return
        }
        this.modal1=false
        if(this.editType==0){
          this.saveGroup()
        }else{
          this.update()
        }
      },
      getDetail(id){
        ///middle/usergroup/load
        getTableData({
          url: '/middle/usergroup/load',
          type: 'post',
          data: {
            id:id
          }
        }).then(res => {
          if (res.data.code == 200) {
            this.formData.groupName=res.data.data.groupName
            this.formData.list = res.data.data.list
            this.formData.userSource=String(res.data.data.userSource)
            this.formData.sex=String(res.data.data.sex)
          }
        }).catch(err => console.log(err))
      },
      getTime(){

      },
      update(){
        //middle/usergroup/update
        getTableData({
          url: '/middle/usergroup/update',
          type: 'post',
          data: this.formData
        }).then(res => {
          if (res.data.code == 200) {
            this.$Message.success('更新成功')
            this.getList()
            this.cancel()
          }
        }).catch(err => console.log(err))
      },
      delAction(i){
        this.formData.list.splice(i,1)
      },
      addAction(){
        if(this.formData.list.length>9){
          this.$Message.warning('行为条件最多添加10个')
          return
        }
        this.formData.list.push({
          amount:null,
          behavior:'',
          behaviorStr:'',
          day:null,
        })
      },
      getSourceList(){
        getTableData({
          url: '/middle/common/dictionary/getdictbycode',
          type: 'post',
          data: {
            dictCode:'USER_SOURCE'
          }
        }).then(res => {
          if (res.data.code == 200) {
            this.sourceList = res.data.data
          }
        }).catch(err => console.log(err))
      },
      getTimeList(){
        getTableData({
          url: '/middle/common/dictionary/getdictbycode',
          type: 'post',
          data: {
            dictCode:'USER_GROUP_DAY'
          }
        }).then(res => {
          if (res.data.code == 200) {
            this.timeList = res.data.data
          }
        }).catch(err => console.log(err))
      },
      getSexList(){
        getTableData({
          url: '/middle/common/dictionary/getdictbycode',
          type: 'post',
          data: {
            dictCode:'SEX'
          }
        }).then(res => {
          if (res.data.code == 200) {
            this.sexList = res.data.data
          }
        }).catch(err => console.log(err))
      },
      getActionList() {
        getTableData({
          url: '/middle/common/dictionary/getdictbycode',
          type: 'post',
          data: {
            dictCode:'USER_GROUP_BEHAVIOR'
          }
        }).then(res => {
          if (res.data.code == 200) {
            this.behaviorList = res.data.data
          }
        }).catch(err => console.log(err))
      },
      cancel(){
        this.modal1=false
        this.formData.groupName=''
        this.formData.list = [{
          amount:null,
          behavior:'',
          behaviorStr:'',
          day:null,
        }]
        this.formData.userSource=''
        this.formData.sex=''
        this.formData.id=''
      },
      saveGroup(){
        ///middle/usergroup/insert

        this.modal1=false
        getTableData({
          url: '/middle/usergroup/insert',
          type: 'post',
          data: this.formData
        }).then(res => {
          if (res.data.code == 200) {
            this.$Message.success('保存成功')
            this.cancel()
            this.getList()
            // this.$router.push('/service/userGroup')
          }
        }).catch(err => console.log(err))
      },
      getPage(v){
        this.pageNo=1
        this.getList()
      },
      del(id){
        //middle/usergroup/delete
        getTableData({
          url: '/middle/usergroup/delete',
          type: 'post',
          data: {
            id:id
          }
        }).then(res => {
          if (res.data.code == 200) {
            this.$Message.success('删除成功')
            this.getList()
          }
        }).catch(err => console.log(err))
      },
      ///middle/usergroup/page
      getList(){
        getTableData({
          url: '/middle/usergroup/page',
          type: 'post',
          data: {
            pageSize:10,
            pageNum:this.pageNo
          }
        }).then(res => {
          if (res.data.code == 200) {
            this.data1=res.data.data.list
            // alert(JSON.stringify(this.data1))
            for (let i=0;i<this.data1.length;i++){
              let temp=[]
              for (let j=0;j<this.data1[i].list.length;j++){
                temp.push(
                  (this.data1[i].list[j].behaviorStr?this.data1[i].list[j].behaviorStr:'')+
                  (this.data1[i].list[j].amount?this.data1[i].list[j].amount+',':'')+
                  '时间范围'+(this.data1[i].list[j].day?this.data1[i].list[j].day:''))
              }
              this.data1[i].list = temp
            }
            // alert(JSON.stringify(this.data1))
            this.pageTotal=res.data.data.total
          }else{
            this.pageTotal=0
          }
        }).catch(err => console.log(err))
      }
    }
  }
</script>

<style scoped>
  .bg{
    padding: .5rem;
    margin: .5rem 0;
    background: #e8e8e8;
    color: #515a6e;
  }
  .item{
    min-width: 1000px;
    font-size: 14px;
    margin-left: 2rem;
    margin-top: .5rem;
    color: #515a6e;
  }
</style>
