<template>
    <div>
      <Form :model="formInline" inline :labelWidth="80">
        <FormItem label="消息标题">
          <Input :maxlength="20" clearable style="width: 200px" type="text" v-model="formInline.title" placeholder="请输入消息">
          </Input>
        </FormItem>
        <FormItem label="触发点">
          <Select clearable style="width: 200px" v-model="formInline.node">
            <Option v-for="(item,index) in pointList" :key="index" :value="item.value">{{item.label}}</Option>
          </Select>
        </FormItem>
        <FormItem>
          <Button @click="()=>{this.pageNo=1;this.getList()}"
                  style="margin: 0 .5rem;" type="primary">筛选</Button>
          <Button @click="modal1=true"
            style="margin: 0 .5rem;" type="success">新建信息</Button>
        </FormItem>
      </Form>
      <Divider/>
      <Table border :columns="columns1" :data="data1"></Table>
      <div style="text-align: center">
        <Page style="margin-top: .5rem"
              show-total
              :current="pageNo"
              :total="pageTotal"
              @on-change="getPage"/>
      </div>
      <Modal
        v-model="modal1"
        :title="editStatus==0?'新建消息':'编辑信息'">
        <Form :model="formInline1" inline :labelWidth="80">
          <FormItem label="消息标题">
            <Input :maxlength="20" clearable style="width: 200px" type="text" v-model="formInline1.title" placeholder="请输入消息">
            </Input>
          </FormItem>
          <FormItem label="简介">
            <Input :maxlength="50" clearable style="width: 200px" type="textarea" v-model="formInline1.description" placeholder="请输入简介">
            </Input>
          </FormItem>
          <FormItem label="触发点">
            <Select @on-change="getNode" clearable style="width: 200px" v-model="formInline1.node">
              <Option v-for="(item,index) in pointList" :key="index" :value="item.value">{{item.label}}</Option>
            </Select>
          </FormItem>
          <FormItem label="消息内容">
            <Input disabled :rows="4" clearable style="width: 400px;" type="textarea" v-model="content">
            </Input>
          </FormItem>
        </Form>
        <div slot="footer">
          <Button @click="cancel">取消</Button>
          <Button type="primary" @click="commit">确定</Button>
        </div>
      </Modal>
    </div>
</template>

<script>
  import {getTableData} from '@/api/data'
  export default {
    name: "sysMsg",
    data(){
      return{
        editStatus:0,
        content:'',
        modal1:false,
        pageTotal:0,
        pageNo:1,
        formInline:{},
        formInline1:{},
        data1:[],
        pointList:[],
        columns1:[
          {
            title: "消息标题",
            key: "title",
          },
          {
            title: "简介",
            key: "description",
          },
          {
            title: "触发点",
            key: "node",
          },
          {
            title: "操作人",
            key: "updateUser",
          },
          {
            title: "操作时间",
            key: "updateTime",
          },
          {
            title: "状态",
            key: "statusStr",
          },
          {
            title: '操作',
            key: 'action',
            width:220,
            align: 'center',
            render: (h, params) => {
              return h('div', [
                h('Button', {
                  props: {
                    type: params.row.status==1?'':'info',
                    size: 'small'
                  },
                  style: {
                    marginRight: '5px'
                  },
                  on: {
                    click: () => {
                      if(params.row.status==0||params.row.status==2){
                        this.switchMsg(params.row.id,1)
                      }else{
                        this.switchMsg(params.row.id,0)
                      }

                    }
                  }
                }, (params.row.status==0||params.row.status==2)?'启用':'停用'),
                (params.row.status==0||params.row.status==2)?h('Button', {
                  props: {
                    type: 'primary',
                    size: 'small'
                  },
                  style: {
                    marginRight: '5px'
                  },
                  on: {
                    click: () => {
                      this.getDetail(params.row.id)
                    }
                  }
                }, '编辑'):'',
                (params.row.status==0||params.row.status==2)? h('Button', {
                  props: {
                    type: 'error',
                    size: 'small'
                  },
                  style: {
                    marginRight: '5px'
                  },
                  on: {
                    click: () => {
                      this.del(params.row.id)
                    }
                  }
                }, '删除'):'',
              ]);
            }
          },
        ]
      }
    },
    mounted(){
      this.getList()
      this.getSelectList()
    },
    methods:{
      commit(){
        if(this.$tools.isEmpty(this.formInline1.title)){
          this.$Message.warning('请输入标题')
          return
        }
        if(this.$tools.isEmpty(this.formInline1.description)){
          this.$Message.warning('请输入简介')
          return
        }
        if(this.$tools.isEmpty(this.formInline1.node)){
          this.$Message.warning('请选择触发点')
          return
        }
        if(this.editStatus==0){
          this.createMsg()
        }else{
          this.updateMsg()
        }
      },
      getDetail(id){
        this.editStatus=1
        getTableData({
          url: '/middle/messagetemplate/load',
          type: 'post',
          data: {
            id:id
          }
        }).then(res => {
          if (res.data.code == 200) {
            this.formInline1=res.data.data
            this.modal1=true
            this.getNode(res.data.data.node)
          }
        }).catch(err => console.log(err))
      },
      cancel(){
        this.modal1=false
        this.formInline1.title=''
        this.formInline1.description=''
        this.formInline1.node=''
        this.content=''
      },
      updateMsg(){
        this.modal1=false
        getTableData({
          url: '/middle/messagetemplate/update',
          type: 'post',
          data: this.formInline1
        }).then(res => {
          if (res.data.code == 200) {
            this.$Message.success('更新成功')
            this.getList()
            this.cancel()
          }
        }).catch(err => console.log(err))
      },
      createMsg(){
        //middle/messagetemplate/insert
        this.editStatus=0

        this.modal1=false
        getTableData({
          url: '/middle/messagetemplate/insert',
          type: 'post',
          data: this.formInline1
        }).then(res => {
          if (res.data.code == 200) {
            this.$Message.success('新建成功')
            this.cancel()
            this.getList()
          }
        }).catch(err => console.log(err))
      },
      getPage(v){
        this.pageNo = v
        this.getList()
      },
      switchMsg(id,status){
        ///middle/messagetemplate/switch
        getTableData({
          url: '/middle/messagetemplate/switch',
          type: 'post',
          data: {
            id:id,
            status:status
          }
        }).then(res => {
          if (res.data.code == 200) {
            this.$Message.success('操作成功')
            this.getList()
          }
        }).catch(err => console.log(err))
      },
      del(id){
        ///middle/messagetemplate/delete
        getTableData({
          url: '/middle/messagetemplate/delete',
          type: 'post',
          data: {
            id:id
          }
        }).then(res => {
          if (res.data.code == 200) {
            this.$Message.success('删除成功')
            this.getList()
          }
        }).catch(err => console.log(err))
      },
      getNode(v){
        getTableData({
          url: '/middle/messagetemplate/getsmstemplatebynode',
          type: 'post',
          data: {
            node:v
          }
        }).then(res => {
          if (res.data.code == 200) {
            this.content = res.data.data.message
          }
        }).catch(err => console.log(err))
      },
      getSelectList(){
        getTableData({
          url: '/middle/common/dictionary/getdictbycode',
          type: 'post',
          data: {
            dictCode:'MESSAGE_NODE'
          }
        }).then(res => {
          if (res.data.code == 200) {
            this.pointList = res.data.data
          }
        }).catch(err => console.log(err))
      },
      getList(){
        this.formInline.pageSize=10
        this.formInline.pageNum=this.pageNo
        getTableData({
          url: '/middle/messagetemplate/page',
          type: 'post',
          data: this.formInline
        }).then(res => {
          if (res.data.code == 200) {
            this.data1=res.data.data.list
            this.pageTotal=res.data.data.total
          }else{
            this.pageTotal=0
          }
        }).catch(err => console.log(err))
      }
    }
  }
</script>

<style scoped>

</style>
