<template>
  <div>
    <Form :model="formInline" :label-width="80" inline>
      <FormItem label="用户手机号">
        <Input :clearable="true" :maxlength="11" type="text" style="width: 200px" v-model="formInline.mobile" placeholder="请输入手机号">
        </Input>
      </FormItem>
      <FormItem label="用户姓名">
        <Input :clearable="true" type="text" style="width: 200px" v-model="formInline.name" placeholder="请输入用户名">
        </Input>
      </FormItem>
      <FormItem>
        <div style="display: flex;flex-direction: row;">
          <Button style="margin: 0 .5rem" type="primary"
                  @click="()=>{this.pageNum=1;this.getUserList()}">筛选</Button>
          <Button style="margin: 0 .5rem" type="success" @click="downLoadExcel">下载模版</Button>
          <Upload :action="this.$publicUrl+'middle/customeruser/import'"
                  :headers="head"
                  :on-error="handleError"
                  :on-success="handleSuccess"
                  :show-upload-list="false"
                  accept=".xls,.xlsx">
            <Button icon="ios-cloud-upload-outline">批量导入</Button>
          </Upload>
        </div>
        <!--<Button @click="exportExcel">批量导出</Button>-->
      </FormItem>
    </Form>
    <Divider/>
    <Table @on-selection-change="getPageId" stripe :columns="columns1" :data="data1"></Table>
    <div style="text-align: center">
      <Page style="margin-top: .5rem"
            :current="pageNum"
            show-total
            :total="pageTotal"
            @on-change="getPage"/>
    </div>
  </div>
</template>

<script>
  import { getTableData } from '@/api/data'

  export default {
    name: "userList",//用户列表
    data(){
      return{
        head:{'Authorization':this.$store.state.user.token},
        downloadUrl:'',
        formInline:{
        },
        ruleInline: {
        },
        columns1: [
          // {
          //   type: 'selection',
          //   width: 60,
          //   align: 'center'
          // },
          {
            title: '用户',
            key: 'mobile'
          },
          {
            title: '用户姓名',
            key: 'name'
          },
          {
            title: '性别',
            key: 'sex',
          },
          {
            title: '级别',
            key: 'level',
            sortable:true
          },
          {
            title: '客单价',
            key: 'avgMember',
            sortable:true
          },
          {
            title: '上次消费时间',
            key: 'maxTime',
            sortable:true
          },
          {
            title: '创建时间',
            key: 'createTime',
            sortable:true
          },
          {
            title: '创建渠道',
            key: 'source',
          },
        ],
        data1: [],
        pageNum:1,
        pageTotal:0,
      }
    },
    mounted(){
      this.getUserList()
      this.getDownUrl()
    },
    methods:{
      getPageId(){

      },
      importExcel(){

      },
      downLoadExcel(){
        window.open(this.downloadUrl)
      },
      handleError(){
        this.$Message.error('导入失败')
      },
      handleSuccess(res){
        if(res.code==200){
          this.getUserList()
          this.$Message.success('导入成功')
        }else{
          this.$Message.warning(res.message)
        }
      },
      getDownUrl(){
        getTableData({
            url: '/middle/common/dictionary/getdictbycode',
            type: 'post',
            data: {dictCode:'IMPORT_USER_TEMPLATE'}
          }
        ).then(res=>{
          if(res.data.code==200){
            this.downloadUrl = res.data.data[0]['value']
            //alert(this.downloadUrl)
          }else{
          }
        }).catch(err=>{

        })
      },
      exportExcel(){
        this.$Message.warning('')
      },
      getPage(v){
        this.pageNum=v
        this.getUserList()
      },
      getUserList(){
        if(this.formInline.mobile){
          if(!this.$tools.isPhoneNum(this.formInline.mobile)){
            this.$Message.warning('请输入正确格式的手机号')
            return
          }
        }
        this.formInline.pageNum=this.pageNum
        this.formInline.pageSize=10
        getTableData({
          url: '/middle/customeruser/page',
          type: 'post',
          data: this.formInline
        }
        ).then(res=>{
          if(res.data.code==200){
            this.data1=res.data.data.list
            this.pageTotal = res.data.data.total
          }else{
            this.pageTotal=0
          }
        }).catch(err=>{

        })
      }
    }
  }
</script>

<style scoped>

</style>
