<template>
  <div :class="{'wrapper':true,active:this.targetOpts.index==this.selfOpts.index}">
    <Icon @click="close"
          v-show="this.targetOpts.index==this.selfOpts.index"
          size="16"
          color="red"
          class="close" type="md-close-circle" />
    <Carousel v-model="value2">
      <CarouselItem v-for="(item,index) in targetObj" :key="index">
        <img width="100%" :src="item.imgUrl" alt="">
      </CarouselItem>
    </Carousel>
  </div>
</template>

<script>
  export default {
    name: "carousel",//轮播
    props:['selfOpts'],
    data(){
      return{
        value2: 0,
        targetOpts:{},
        targetObj:[]
      }
    },
    mounted(){
      if(this.targetObj==0){
        this.targetObj.push({
          imgUrl:'http://img.mall.juzifenqi.com/190418/b6d7ee9d-ddf2-4b36-ad1c-c113c6b37efd.png',
          linkTo:''
        })
      }
    },
    methods:{
      close(){
        let target = this.$store.state.app.mouseTarget
        this.selfOpts.editType = 'remove'
        this.$store.commit('setPageData',this.selfOpts)
        if(this.targetOpts.index==this.selfOpts.index){
          target.type = ''
        }
      }
    },
    watch:{
      '$store.state.app.mouseTarget': {
        handler: function(newer, older) { // 可以获取新值与老值两个参数
          this.targetOpts = newer
          //console.log('#######'+JSON.stringify(newer))
        },
        deep: true, // 开启深度监听
        immediate: true,
      },
      '$store.state.app.createPageData': {
        handler: function(newer, older) { // 可以获取新值与老值两个参数
          this.targetObj = newer[this.selfOpts.index].list
          console.log("当前轮播对象=="+JSON.stringify(this.targetObj ))
        },
        deep: true, // 开启深度监听
        immediate: true,
      },
    }
  }
</script>

<style scoped lang="less">
  .wrapper{
    position: relative;
    margin: .2rem;
    border: #b3b3b3 1px dashed;
    padding: .2rem;
  }
  .active{
    margin-top: 0.6rem;
    border: 2px dashed #00edd1;
  }
  .close{
    position: absolute;
    top: -14px;
    right: -6px;
    cursor:pointer;
  }

</style>
