<template>
  <div>
    <Card>
      <p slot="title">轮播广告</p>
      <Button size="small" type="primary" slot="extra" @click.prevent="save">
        <Icon type="ios-loop-strong"></Icon>
        保存修改
      </Button>
      <h3 class="c-title">轮播类型：</h3>
      <div class="cars-wrapper">
        <Carousel v-model="value2">
          <CarouselItem v-for="(item,index) in picList" :key="index">
            <img width="100%" :src="item.imgUrl" alt="">
          </CarouselItem>
        </Carousel>
      </div>
      <h3 class="c-title">图片内容：</h3>
      <div class="c-wrapper" v-for="(item,index) in picList" @click="getIndex(index)" :key="index">
          <div class="img-item">
              <Upload
                ref="upload"
                :on-error="handleError"
                :on-success="handleSuccess"
                :format="['jpg','jpeg','png']"
                :max-size="2048"
                :on-format-error="handleFormatError"
                :on-exceeded-size="handleMaxSize"
                :before-upload="handleBeforeUpload"
                :show-upload-list="false"
                type="drag"
                :headers="{'Authorization':$store.state.user.token}"
                :action="$publicUrl+'/middle/material/upload'"
                style="display: inline-block;width:58px;">
                <div  style="width: 58px;height:58px;line-height: 58px;">
                  <Icon type="ios-camera" size="20"></Icon>
                </div>
              </Upload>
          </div>
          <div class="link-item">
            <span class="link-to">链接到：</span>
            <Select @on-change="getRubikLink" v-model="item.linkType"  size="small" style="width:200px">
              <Option value="1">订单中心</Option>
              <Option value="2">页面</Option>
              <Option value="3">商品分类</Option>
              <Option value="4">商品</Option>
              <Option value="5">品牌</Option>
            </Select>
            <span style="margin-left: .5rem" v-if="item.linkType=='2'">{{item.pageName}}</span>
            <div style="margin: .5rem;width: 300px;overflow: hidden;" v-if="item.linkType=='4'">{{item.productName}}</div>
            <div style="margin-left: 3.5rem;margin-top: .5rem;font-size: 14px" v-if="item.linkType=='3'">
              {{(item.cataName1?item.cataName1:'')+' '+(item.cataName2?item.cataName2:'')+' '+(item.cataName3?item.cataName3:'')}}
            </div>
            <div class="tip">图片尺寸要求：128*100像素或等比例，支持PNG格式</div>
            <!--<div v-if="item.linkType=='10'">-->
              <!--<Select size="small" clearable @on-change="level1" v-model="item.cata1" style="width:100px">-->
                <!--<Option v-for="item in cateList1" :value="item.id" :key="item.id">{{ item.name }}</Option>-->
              <!--</Select>-->
              <!--<Select size="small" clearable @on-change="level2" v-model="item.cata2" style="width:100px">-->
                <!--<Option v-for="item in cateList2" :value="item.id" :key="item.id">{{ item.name }}</Option>-->
              <!--</Select>-->
              <!--<Select size="small" clearable @on-change="level3" v-model="item.cata3" style="width:100px">-->
                <!--<Option v-for="item in cateList3" :value="item.id" :key="item.id">{{ item.name }}</Option>-->
              <!--</Select>-->
            <!--</div>-->
            <div v-if="item.linkType=='5'">
              <Select size="small" clearable @on-change="getBrand" v-model="item.brand" style="width:200px">
                <Option v-for="item in brandsList" :value="item.id" :key="item.id">{{ item.name }}</Option>
              </Select>
            </div>
          </div>
          <div v-if="index!=0">
            <Button size="small" @click="del(index)" type="error">删除</Button>
          </div>
          <!--<div>-->
            <!--<Button v-if="index>0" @click="up(index)"  size="small" type="dashed">上移</Button>-->
            <!--<Button v-if="index!=picList.length-1" @click="down(index)"  size="small" type="dashed">下移</Button>-->
          <!--</div>-->
      </div>
      <div>
        <Button @click="addPic" long size="large" type="dashed">添加一个图片位<br><span style="font-size: 14px;color: #9c9c9c">最多10张图片，建议3-5张</span></Button>
      </div>
    </Card>
    <Modal
      v-model="cataModal"
      title="选择分类">
      <Select :label-in-value="true" size="small" clearable @on-change="level1" v-model="currentCata1" style="width:100px">
        <Option v-for="item in cateList1" :value="item.id" :key="item.id">{{ item.name }}</Option>
      </Select>
      <Select :label-in-value="true" size="small" clearable @on-change="level2" v-model="currentCata2" style="width:100px">
        <Option v-for="item in cateList2" :value="item.id" :key="item.id">{{ item.name }}</Option>
      </Select>
      <Select :label-in-value="true" size="small" clearable @on-change="level3" v-model="currentCata3" style="width:100px">
        <Option v-for="item in cateList3" :value="item.id" :key="item.id">{{ item.name }}</Option>
      </Select>
      <div slot="footer">
        <Button type="primary"  @click="cataModal=false">确定</Button>
      </div>
    </Modal>
    <Modal
      v-model="pageModal"
      title="选择跳转页面"
      width="1000px"
      @on-cancel="()=>{this.currentPageId=0}"
      @on-ok="confirm1">
      <Table
        stripe :columns="columns1" :data="data1"></Table>
      <div style="text-align: center">
        <Page style="margin-top: .5rem" :total="pageTotal" @on-change="getPage"/>
      </div>
    </Modal>
    <Modal
      v-model="productModal"
      width="80%"
      title="选择商品"
      @on-ok="confirm"
      @on-cancel="()=>{this.currentProductId=0}">
      <div style="margin-top:2rem"></div>
      <!--<ProductSelecter></ProductSelecter>-->
      <Form ref="formInline" :model="formInline" inline :label-width="80">
        <FormItem label="商品名称：">
          <Input type="text" v-model="formInline.productName" placeholder="商品名称">
          </Input>
        </FormItem>
        <FormItem>
          <Button type="primary" @click="getProducts">查 询</Button>
        </FormItem>
      </Form>
      <Table :columns="columns2" :data="data2"></Table>
      <div style="text-align: center">
        <Page style="margin-top: .5rem" :total="pageTotal2" @on-change="getPage2"/>
      </div>
    </Modal>
  </div>
</template>
<script>
  import {getTableData,getLevel1,getLevel2,getLevel3,getPageList,getProductList} from '@/api/data'
  export default {
    name: "carousel",//轮播编辑
    data(){
      return{
        cataModal:false,
        currentIndex:0,
        currentProductName:'',
        currentCata1:'',
        currentCata2:'',
        currentCata3:'',
        currentBrand:'',
        value2: 0,
        picList:[
          {
            linkType:'',
            imgUrl:'',
            linkTo:'',
              pageName:'',
              cata1:'',
              cata2:'',
              cata3:'',
              cataName1:'',
              cataName2:'',
              cataName3:'',
              brand:'',
              productName:'',
          }
        ],//轮播图数组
        currentPageId:0,
        currentProductId:0,
        productModal:false,
        pageModal:false,
        layoutModel:false,
        pageAttrObj:{},
        showType:'onePic',
        tempType:'',
        currentMouseObj:{},
        currentType:'',
        classificationList:[],
        classification1:"",
        classification2:"",
        classification3:"",
        classification4:'',
        cateList1:[],
        cateList2:[],
        cateList3:[],
        pageNo:1,
        pageTotal:0,
        pageTotal2:0,
        formInline:{
          pageSize:10,
          pageIndex:1
        },
        columns2:[
          {
            title: '商品',
            key: 'name1'
          },
          {
            title: '分类',
            key: 'productCateIdName'
          },
          {
            title: '价格',
            key: 'malMobilePrice',
            sortable: true
          },
          {
            title: '操作',
            key: 'action',
            width:220,
            align: 'center',
            render: (h, params) => {
              return h('div', [
                h('Button', {
                  props: {
                    type: this.currentProductId==params.row.id?'default':'success',
                    size: 'small'
                  },
                  style: {
                    marginRight: '5px'
                  },
                  on: {
                    click: () => {
                      if(this.currentProductId != params.row.id){
                        this.currentProductId = params.row.id
                        this.currentProductName = params.row.name1
                      }else{
                        //this.$Message.warning('')
                      }
                    }
                  }
                }, this.currentProductId==params.row.id?'已选择':'选择')
              ]);
            }
          },
        ],
        currentPageType:"",
        data2:[],
        columns1: [
          {
            title: '标题',
            key: 'pageTitle'
          },
          {
            title: '分类',
            key: 'pageCateName'
          },
          {
            title: '创建/更新时间',
            key: 'createTime'
          },
          {
            title: '商品数量',
            key: 'goodsNum'
          },
          {
            title: '操作',
            key: 'action',
            width:220,
            align: 'center',
            render: (h, params) => {
              return h('div', [
                h('Button', {
                  props: {
                    type: this.currentPageId==params.row.id?'default':'success',
                    size: 'small'
                  },
                  style: {
                    marginRight: '5px'
                  },
                  on: {
                    click: () => {
                      if(this.currentPageId != params.row.id){
                        this.currentPageId = params.row.id
                        this.currentPageName =  params.row.pageTitle
                        this.currentPageType=params.row.pageType
                      }else{
                        //this.$Message.warning('')
                      }
                    }
                  }
                }, this.currentPageId==params.row.id?'已选择':'选择')
              ]);
            }
          },
        ],
        data1: [],
        brandsList:[],
        pageObj:[],
        currentPageName:''
      }
    },
    components:{
    },
    destroyed(){
      console.log('destroyed:组件的数据绑定、监听...都去掉了,只剩下dom空壳')
    },
    mounted(){
      this.getLevel1()
      this.getBrands()
    },
    methods:{
      up(i){
        let temp = this.picList[i]
        this.picList.splice(i,1)
        if(i>0){
          this.picList.splice(i-1, 0, temp)
        }
      },
      down(i){
        let temp = this.picList[i]
        this.picList.splice(i,1)
        this.picList.splice(i+1, 0, temp)
      },
      del(i){
        this.picList.splice(i,1)
      },
      getBrand(v){
        let target = this.$store.state.app.mouseTarget
        if(this.currentType=='5'){
          target.list[this.currentIndex].linkTo = v
          target.list[this.currentIndex].brand = v
          //alert(JSON.stringify(this.pageObj[0]))
          let temp =this.pageObj[0].productBrandIdArray
          temp.push(v)
          this.$store.commit('setPageData',Object.assign(this.pageObj[0],{editType:'change',index:0,productBrandIdArray:temp}))
        }
      },
      getBrands(){
        //middle/product/queryProductBrandsByTypeId
        getTableData({
          url: '/middle/product/queryProductBrandsByCustomerId',
          type: 'post',
          data: {}
        }).then(res => {
          if (res.data.code == 200) {
            this.brandsList = res.data.data
          }
        }).catch(err => console.log(err))
      },
      getProducts(){
        this.formInline.pageSize = 10
        getProductList(this.formInline).then(res=>{
          this.data2 = res.data.data.list
          this.pageTotal2 = res.data.data.total
        }).catch(err=>{

        })
      },
      getPage2(p){
        this.formInline.pageIndex = p
        this.getProducts()
      },
      getPage(p){
        this.pageNo = p
        this.getPageList()
      },
      getPageList(){
        // customerId	商户id	body	false	int32
        // pageCateId	页面分类id	body	false	int32
        // pageNum	当前页码	body	false	int32
        // pageSize	每页记录数	body	false	int32
        // pageTitle	页面标题	body	false	string
        // status
        getPageList({
          pageCateId:'',
          pageNum:this.pageNo,
          pageSize:10,
          pageTitle:''
        }).then(res=>{
          this.data1 = res.data.data.list
          this.pageTotal = res.data.data.total
        }).catch(err=>{
          this.pageTotal=0
        })
      },
      level1(v){
        this.getLevel2(v.value)
        let target = this.$store.state.app.mouseTarget
        if(this.currentType=='3'){
          target.list[this.currentIndex].cata1 = v.value
          target.list[this.currentIndex].cataName1 = v.label

        }
      },
      level2(v){
        //alert(v)
        this.getLevel3(v.value)
        let target = this.$store.state.app.mouseTarget
        if(this.currentType=='3'){
          target.list[this.currentIndex].cata2 = v.value
          target.list[this.currentIndex].cataName2 = v.label

        }
      },
      level3(v){
        let target = this.$store.state.app.mouseTarget
        if(this.currentType=='3'){
          target.list[this.currentIndex].linkTo = v.value
          target.list[this.currentIndex].cata3 = v.value
          target.list[this.currentIndex].cataName3 = v.label

          // let temp =this.pageObj[0].productClassIdArray
          // temp.push(v)
          // this.$store.commit('setPageData',Object.assign(this.pageObj[0],{editType:'change',index:0,productClassIdArray:temp}))
        }
      },
      getLevel1(){
        getLevel1({
        }).then(res=>{
          this.cateList1 = res.data.data
        }).catch(err=>{

        })
      },
      getLevel2(id){
        getLevel2({
          pid:id
        }).then(res=>{
          this.cateList2 = res.data.data
        }).catch(err=>{

        })
      },
      getLevel3(id){
        getLevel3({
          pid:id
        }).then(res=>{
          this.cateList3 = res.data.data
        }).catch(err=>{

        })
      },
      getRubikLink(v){
        let target = this.$store.state.app.mouseTarget
        target.list[this.currentIndex].linkType = v
        this.currentType = v
        if(v=='1'){
          target.list[this.currentIndex].linkTo = 'http://order.com'
        }
        if(v==3){
          this.cataModal=true
        }
        if(v=='2'){
          this.pageModal=true
          this.getPageList()
        }
        if(v=='4'){
          this.productModal=true
          this.getProducts()
        }
      },
      getIndex(i){
        this.currentIndex = i
      },
      addPic(){
        //添加图片位
        if(this.picList.length>9){
          this.$Notice.warning({
            title: '提示',
            desc: '最多可以添加10个图片'
          });
          return
        }
        this.picList.push({
          imgUrl:'',
          linkTo:'',
          linkType:'',
            pageName:'',
            cata1:'',
            cata2:'',
            cata3:'',
            brand:'',
            cataName1:'',
            cataName2:'',
            cataName3:'',
            productName:'',
        })
      },
      save(){
        let target = this.$store.state.app.mouseTarget
        target.list = this.picList
        this.$Message.success('保存成功')
        console.log('save carousel')
        console.log('保存后页面数据==='+JSON.stringify(this.$store.state.app.createPageData))
      },
      confirm1(){
        let target = this.$store.state.app.mouseTarget
        // this.pageName = ''
        if(this.currentType=='2'){
          target.list[this.currentIndex].linkTo = this.currentPageId
          target.list[this.currentIndex].pageName = this.currentPageName
          target.list[this.currentIndex].pageType = this.currentPageType
        }
        this.currentPageId=0
      },
      confirm(){
        let target = this.$store.state.app.mouseTarget
        if(this.currentType=='4'){
          target.list[this.currentIndex].linkTo = this.currentProductId
          target.list[this.currentIndex].productName=this.currentProductName
        }
        this.currentProductId=0
      },
      handleError(){
        this.$Message.error('上传失败')
      },
      handleSuccess(res, file, fileList){
        if(res.code==200){
          if(this.currentIndex==0){
            this.picList[0].imgUrl = res.data.imgUrl
          }else{
            this.picList[this.currentIndex].imgUrl = res.data.imgUrl
          }
          this.$Message.success('上传成功')
          console.log(JSON.stringify( this.picList))
        }else if(res.code==104){
          this.$Message.warning(res.message)
          this.$store.commit('setToken','')
          this.$router.push({
            name: 'login'
          })
        }else{
          this.$Message.warning(res.message)
        }

      },
      handleMaxSize(){

      },
      handleFormatError(){

      },
      handleBeforeUpload(index){
      },
      getTargetData(newer,older){
        this.currentMouseObj = newer
        this.picList = []
        this.picList = newer.list
        console.log('@##@@@##+====='+JSON.stringify(newer.list))
      },
    },
    watch:{
      '$store.state.app.mouseTarget': {
        handler: function(newer, older) { // 可以获取新值与老值两个参数
          this.getTargetData(newer,older)
        },
        deep: true, // 开启深度监听
        immediate: true,
      },
      '$store.state.app.createPageData': {
        handler: function(newer, older) { // 可以获取新值与老值两个参数
          //this.getPageData(newer,older)
          this.pageObj = newer
          //console.log("当前的页面数组=="+JSON.stringify(newer))
        },
        deep: true, // 开启深度监听
        immediate: true,
      },
    }
  }
</script>

<style scoped lang="less">
  .cars-wrapper{
    width: 100%;
    height: 100%;
  }
  .c-title{
    margin: 1rem 0;
  }
  .c-wrapper{
    display: flex;
    flex-direction: row;
    margin: 1rem;
    font-size: 14px;
    .img-item{
      /*flex:1;*/
      width: 100px;
    }
    .link-item{
      /*flex:4;*/
      width: 360px;
    }
    .tip{
      color: #999;
      font-size: 12px;
      margin: .5rem 0;
    }
  }

</style>
