<template>
    <div>
      <Card style="height:350px">
        <p slot="title">优惠券</p>
        <Button type="primary" slot="extra" @click.prevent="save">
          <Icon type="ios-loop-strong"></Icon>
          保存修改
        </Button>
        <div class="grap-wrapper">
          <Button @click="()=>{this.modal1=true;this.getList()}" type="info">添加优惠券</Button>
        </div>
        <div class="grap-wrapper">
          <span>样    式：</span>
          <RadioGroup @on-change="setStyle" v-model="couponStyle">
            <Radio label="1">样式一</Radio>
            <Radio label="2">样式二</Radio>
            <Radio label="3">样式三</Radio>
          </RadioGroup>
        </div>
        <div class="grap-wrapper">
          <span>颜    色：</span>
          <ColorPicker @on-change="setColor" v-model="color2" />
        </div>
        <div class="grap-wrapper">
          <span>更多设置：</span>
          <Checkbox v-model="hideSold">隐藏已抢完的券</Checkbox>
          <Checkbox v-model="hideExpired">隐藏已过期的券</Checkbox>
        </div>
      </Card>
      <Modal
        width="50%"
        v-model="modal1"
        title="选择优惠券"
        @on-ok="()=>{this.confirmCoupon = this.selectCoupon}"
        @on-cancel="()=>{this.confirmCoupon=[]}">
        <Table @on-selection-change="getcoupun" :columns="columns1" :data="data1"></Table>
        <div style="text-align: center;margin: .5rem">
          <Page :total="total" @on-change="getPage"/>
        </div>
      </Modal>
    </div>
</template>

<script>
  import {getTableData} from '@/api/data'
  export default {
    name: "couponEditor",
    data(){
      return {
        hideSold:false,
        hideExpired:false,
        formInline:{},
        couponStyle:'',
        grabStyle:'',
        color2:'',
        single:'',
        single2:'',
        modal1:false,
        pageNo:1,
        total:0,
        selectCoupon:[],
        confirmCoupon:[],
        selectStyle:'',
        currentColor:'',
        columns1: [
          {
            type: 'selection',
            width: 60,
            align: 'center'
          },
          {
            title: '优惠券名称',
            key: 'couponName'
          },
          {
            title: '适用商品',
            key: 'couponType',
            render: (h, params) => {
              return h('div', params.row.couponType==1?'品类券':
                (params.row.couponType==2?'品牌券':
                  (params.row.couponType==3?'活动券':
                    (params.row.couponType==4?'单品券':
                      (params.row.couponType==5?'全品券':'')))));
            }
          },
          {
            title: '优惠内容',
            key: 'remark'
          },
          {
            title: '限领次数',
            key: 'personLimitNum',
            render: (h, params) => {
              return h('div', params.row.personLimitNum==0?'无限制':params.row.personLimitNum)
            }
          },
          {
            title: '剩余次数',
            key: 'received_num',
            render: (h, params) => {
              return h('div', Number(params.row.totalLimitNum)-Number(params.row.receivedNum))
            }
          },
          {
            title: '状态',
            key: 'status',
            render: (h, params) => {
              return h('div', params.row.status==1?'新建':
                (params.row.status==5?'上架':
                  (params.row.status==6?'下架':'')));
            }
          }
        ],
        data1: [],
        pageAttrObj:{}
      }
    },
    mounted(){
      this.getList()
    },
    methods:{
      getcoupun(selections){
        this.selectCoupon=selections
      },
      setStyle(v){
        this.selectStyle = v
      },
      setColor(v){
        this.currentColor = v
      },
      save(){
        this.pageAttrObj.list = this.confirmCoupon
        this.pageAttrObj.styleType = this.selectStyle
        this.pageAttrObj.color = this.currentColor
        this.pageAttrObj.hideSold = this.hideSold
        this.pageAttrObj.hideExpired = this.hideExpired
        this.pageAttrObj.editType = 'change'
        this.$store.commit('setPageData',this.pageAttrObj);
        this.$Message.success('保存成功')
      },
      getPage(p){
        this.pageNo=p
        this.getList()
      },
      getList(){
        this.formInline.pageSize=10
        this.formInline.pageIndex=this.pageNo
        this.formInline.q_type='1'
        this.formInline.q_status='5'
        this.formInline.q_receiveUnExpired='1'
        getTableData({
          url: '/middle/coupon/getCoupons',
          type: 'post',
          data: this.formInline
        }).then(res => {
          if (res.data.code == 200) {
            this.data1=res.data.data.list
            this.total=res.data.data.total
          }else{
            this.total=0
            this.$Message.error(res.data.message);
          }
        }).catch(err => console.log(err))
      },
    },
    watch:{
      '$store.state.app.mouseTarget': {
        handler: function(newer, older) { // 可以获取新值与老值两个参数
          this.pageAttrObj=newer
        },
        deep: true, // 开启深度监听
        immediate: true,
      }
    }
  }
</script>

<style scoped lang="less">
  .grap-wrapper{
    margin: 1rem;
  }

</style>
