<template>
  <div>
    <Form :label-width="120" ref="formInline" :model="formInline" inline>
      <FormItem label="优惠券名称">
        <Input :clearable="true" type="text" v-model="formInline.q_couponName" placeholder="请输入优惠券名称">
        </Input>
      </FormItem>
      <FormItem label="优惠券ID">
        <Input :clearable="true" type="text" v-model="formInline.q_id" placeholder="请输入优惠券ID">
        </Input>
      </FormItem>
      <FormItem label="优惠券状态">
        <!--1、新建；2、提交审核；3、审核通过；4、审核失败；5、上架；6、下架-->
        <Select :clearable="true" style="width: 200px" v-model="formInline.q_status" placeholder="请选择">
          <Option value="1">新建</Option>
          <Option value="5">上架</Option>
          <Option value="6">下架</Option>
        </Select>
      </FormItem>
      <FormItem label="领取方式">
        <Select :clearable="true" style="width: 200px" v-model="formInline.q_type" placeholder="请选择">
          <Option value="1">在线领取</Option>
          <Option value="2">线下发放</Option>
          <Option value="3">兑换码</Option>
          <Option value="4">系统发放</Option>
        </Select>
      </FormItem>
      <FormItem label="优惠券类型">
        <Select :clearable="true" style="width: 200px" v-model="formInline.q_couponCategory" placeholder="请选择">
          <Option value="0">满减优惠券</Option>
          <Option value="2">折扣优惠券</Option>
        </Select>
      </FormItem>
      <FormItem label="领取时间">
        <DatePicker v-model="gettime" :clearable="true" @on-change="getTime" type="daterange" split-panels placeholder="请选择领取时间" style="width: 200px"></DatePicker>
      </FormItem>
      <FormItem label="使用时间">
        <DatePicker v-model="usetime" :clearable="true" @on-change="useTime" type="daterange" split-panels placeholder="请选择使用时间" style="width: 200px"></DatePicker>
      </FormItem>
      <FormItem>
        <Button style="margin:0 .5rem" type="success" @click="createCoupon">新建优惠券</Button>
        <Button style="margin:0 .5rem" type="info" @click="()=>{this.pageNo=1;this.getList()}">筛选</Button>
        <Button style="margin:0 .5rem" @click="reset">重置</Button>
      </FormItem>
    </Form>
    <Divider/>
    <Table :columns="columns1" :data="data1"></Table>
    <div style="margin: 1rem" v-if="total==0">你尚未创建过优惠券，立即创建，赚取更多利润吧！</div>
    <div style="text-align: center;margin: .5rem">
      <Page :current="pageNo" show-total :total="total" @on-change="getPage"/>
    </div>
  </div>
</template>

<script>
  import {getTableData} from '@/api/data'
  export default {
    name: "couponManage",//优惠券管理
    data(){
      return{
        gettime:['',''],
        usetime:['',''],
        modal1:false,
        formInline:{},
        data1:[],
        pageNo:1,
        total:0,
        columns1:[
          {
            title: '优惠券名称',
            key: 'couponName'
          },
          {
            title: '优惠券ID',
            key: 'id'
          },
          {
            title: '优惠券类型',
            key: 'couponCategory',
            render: (h, params) => {
              return h('div', params.row.couponCategory==0?'满减优惠券':
                (params.row.couponCategory==1?'免息优惠券':
                  (params.row.couponCategory==2?'折扣优惠券':
                    (params.row.couponCategory==3?'还款优惠券':''))));
            }
          },
          {
            title: '优惠券面值/折扣',
            key: 'couponValue'
          },
          {
            title: '优惠券内容',
            key: 'remark'
          },
          {
            title: '优惠券状态',
            key: 'status',
            render: (h, params) => {
              return h('div', params.row.status==1?'新建':
                    (params.row.status==5?'上架':
                      (params.row.status==6?'下架':'')));
            }
          },
          {
            title: '适用订单金额',
            key: 'minAmount',
            render: (h, params) => {
              return h('div', params.row.minAmount==0?'无门槛':params.row.minAmount)
            }
          },
          {
            title: '已领取',
            key: 'receivedNum',
            // render: (h, params) => {
            //   return h('div', params.row.alreadyGet?params.row.alreadyGet:'0')
            // }
          },
          {
            title: '剩余数量',
            key: 'received_num',
            render: (h, params) => {
              return h('div', Number(params.row.totalLimitNum)-Number(params.row.receivedNum))
            }
          },
          {
            title: '已使用',
            key: 'alreadyUse',
            render: (h, params) => {
              return h('div', params.row.alreadyUse?params.row.alreadyUse:'0')
            }
          },
          {
            title: '领取方式',
            key: 'type',
            render: (h, params) => {
              return h('div', params.row.type==1?'在线领取':
                (params.row.type==2?'线下发放':
                  (params.row.type==3?'兑换码':
                    (params.row.type==4?'系统发放':""))))
            }
          },

          {
            title: '使用场景',
            key: 'sceneCode',
            render: (h, params) => {
              return h('div', params.row.sceneCode==1?'全款':
                (params.row.sceneCode==2?'分期':'全款和分期可用'))
            }
          },

          {
            title: '限领次数',
            key: 'personLimitNum',
            render: (h, params) => {
              return h('div', params.row.personLimitNum==0?'无限制':params.row.personLimitNum)
            }
          },
          {
            title: '最后修改人',
            key: 'updateUserName'
          },
          {
            title: '最后修改时间',
            key: 'updateTime'
          },
          {
            title: '操作',
            key: 'action',
            width:180,
            render: (h, params) => {
              return h('div', [
                params.row.status==5?'':h('Button', {
                  props: {
                    type: 'primary',
                    size: 'small'
                  },
                  style: {
                    marginRight: '5px'
                  },
                  on: {
                    click: () => {
                      this.$router.push({
                        path:"/couponManage/createCoupon",
                        query:{
                          id:params.row.id,
                          edit:true
                        }
                      })
                    }
                  }
                }, '编辑'),
                h('Button', {
                  props: {
                    type: 'info',
                    size: 'small'
                  },
                  style: {
                    marginRight: '5px'
                  },
                  on: {
                    click: () => {
                      if(params.row.status==5){
                        this.downCoupon(params.row.id)
                      }
                      if(params.row.status==6||params.row.status==1){
                        this.upCoupon(params.row.id)
                      }
                    }
                  }
                }, params.row.status==5?'下架':((params.row.status==6||params.row.status==1)?'上架':'')),
                h('Button', {
                  props: {
                    type: 'success',
                    size: 'small'
                  },
                  style: {
                    marginRight: '5px'
                  },
                  on: {
                    click: () => {
                      this.$router.push({
                        path:"/couponManage/createCoupon",
                        query:{
                          id:params.row.id,
                          edit:false
                        }
                      })
                    }
                  }
                }, '查看'),
              ]);
            }
          },
        ]
      }
    },
    mounted(){
      this.getList()
    },
    methods:{
      reset(){
        this.formInline={}
        this.gettime=['','']
        this.usetime=['','']
        this.formInline.q_sendStartTime=''
        this.formInline.q_sendEndTime=''
        this.formInline.q_useStartTime=''
        this.formInline.q_useEndTime=''
      },
      createCoupon(){
        this.$router.push({
          path:'/couponManage/createCoupon',
          query:{
            id:'',
            edit:true
          }
        })
      },
      getPage(p){
        this.pageNo=p
        this.getList()
      },
      //middle/coupon/upCoupon
      upCoupon(id){
        getTableData({
          url: '/middle/coupon/upCoupon',
          type: 'post',
          data: {couponId:id}
        }).then(res => {
          if (res.data.code == 200) {
            this.$Message.success('上架成功');
            this.getList()
          }else{
            this.$Message.error(res.data.message);
          }
        }).catch(err => console.log(err))
      },
      downCoupon(id){
        getTableData({
          url: '/middle/coupon/downCoupon',
          type: 'post',
          data: {couponId:id}
        }).then(res => {
          if (res.data.code == 200) {
            this.$Message.success('下架成功');
            this.getList()
          }else{
            this.$Message.error(res.data.message);
          }
        }).catch(err => console.log(err))
      },
      getList(){
        this.formInline.pageSize=10
        this.formInline.pageIndex=this.pageNo
        getTableData({
          url: '/middle/coupon/getCoupons',
          type: 'post',
          data: this.formInline
        }).then(res => {
          if (res.data.code == 200) {
            this.data1=res.data.data.list
            this.total=res.data.data.total
          }else{
            this.total=0
            this.$Message.error(res.data.message);
          }
        }).catch(err => console.log(err))
      },
      getTime(v){
        this.formInline.q_sendStartTime=v[0]
        this.formInline.q_sendEndTime=v[1]
      },
      useTime(v){
        this.formInline.q_useStartTime=v[0]
        this.formInline.q_useEndTime=v[1]
      }
    }
  }
</script>

<style scoped>

</style>
