<template>
    <div :class="{'wrapper':true,'active':selfOpts.index==targetOpts.index}">
      <Icon @click="close"
            color="red"
            v-show="this.targetOpts.index==this.selfOpts.index"
            size="16" class="close"
            type="md-close-circle" />
        <div v-if="selfOpts.styleType=='1'"  class="style1">
          <div v-for="(item,index) in selfList" :key="index" class="pic" :style="{background:selfOpts.color}">
            <div class="content">
              <div>
                <span class="sub">¥</span><span class="money">{{selfOpts.couponValue}}</span>
              </div>
              <div>
                <div class="type">{{item.couponType==1?'品类券':
                  (item.couponType==2?'品牌券':
                  (item.couponType==3?'活动券':
                  (item.couponType==4?'单品券':
                  (item.couponType==5?'全品券':''))))}}</div>
                <div class="limit">满{{item.minAmount}}可用</div>
              </div>
            </div>
            <div class="btn-wrap">
              <div class="btn">
                立即领取
              </div>
            </div>
          </div>
        </div>
        <div v-if="selfOpts.styleType=='2'" class="style2">
          <div v-for="(item,index) in selfList" :key="index" class="pic" :style="{background:selfOpts.color}">
            <div class="content">
              <div class="type">{{item.couponType==1?'品类券':
                (item.couponType==2?'品牌券':
                (item.couponType==3?'活动券':
                (item.couponType==4?'单品券':
                (item.couponType==5?'全品券':''))))}}</div>
              <div>
                <span class="sub">¥</span><span class="money">{{selfOpts.couponValue}}</span>
              </div>
              <div>
                <div class="limit">满{{item.minAmount}}可用</div>
              </div>
            </div>
            <div class="btn-wrap">
              <div class="btn">
                立即领取
              </div>
            </div>
          </div>
        </div>
        <div v-if="selfOpts.styleType=='3'" class="style3">
          <div v-for="(item,index) in selfList" :key="index" class="pic" :style="{background:selfOpts.color}">
            <div class="content">
              <div class="type">{{item.couponType==1?'品类券':
                (item.couponType==2?'品牌券':
                (item.couponType==3?'活动券':
                (item.couponType==4?'单品券':
                (item.couponType==5?'全品券':''))))}}</div>
              <div>
                <span class="sub">¥</span><span class="money">{{selfOpts.couponValue}}</span>
              </div>
              <div>
                <div class="limit">满{{item.minAmount}}可用</div>
              </div>
            </div>
            <div class="btn-wrap">
              <div class="btn">
                立即领取
              </div>
            </div>
          </div>
        </div>
    </div>
</template>

<script>
  export default {
    name: "coupon",
    props:['selfOpts','selfList'],
    data(){
      return{
        targetOpts:{}
      }
    },
    methods:{
      close(){
        let target = this.$store.state.app.mouseTarget
        this.selfOpts.editType = 'remove'
        this.$store.commit('setPageData',this.selfOpts)
        if(this.targetOpts.index==this.selfOpts.index){
          target.type = ''
        }
      }
    },
    watch:{
      '$store.state.app.mouseTarget': {
        handler: function(newer, older) { // 可以获取新值与老值两个参数
          this.targetOpts = newer
        },
        deep: true, // 开启深度监听
        immediate: true,
      }
    }
  }
</script>

<style scoped lang="less">

  .wrapper{
    position: relative;
    margin: .2rem;
    border: #b3b3b3 1px dashed;
    min-height: 60px;
  }
  .active{
    margin-top: 0.8rem;
    border: 2px dashed #00edd1;
  }
  .style3{
    display: flex;
    height: 80px;
    .pic{
      flex: 1;
      display: flex;
      margin: 0.1rem;
      background: rgb(225,53,27);
      border-radius: 8px;
      flex-direction: row;
      justify-content:space-around;
      .btn-wrap{
        display: flex;
        width: 20%;
        justify-content: center;
        .btn{
          text-align: center;
          padding: 2px;
          color: #fff;
          font-size: 14px;
          background: #515a6e;
        }
      }
      .content{
        display: flex;
        height: 80px;
        flex-direction: column;
        text-align: center;
        padding-top: 6px;
        .sub{
          font-size: 14px;
        }
        .money{
          font-size: 18px;
          font-weight: 700;
        }
        .limit{
          font-size: 12px;
        }
        .type{
          font-size: 12px;
        }
      }
    }
  }
  .style2{
    display: flex;
    height: 80px;
    .pic{
      flex: 1;
      margin: 0.1rem;
      background: rgb(225,53,27);
      border-radius: 8px;
      .btn-wrap{
        flex: 1;
        display: flex;
        justify-content: center;
        align-items:flex-end;
        .btn{
          width: 100%;
          text-align: center;
          padding: 2px;
          color: #fff;
          font-size: 14px;
          background: #515a6e;
        }
      }
      .content{
        display: flex;
        height: 56px;
        flex-direction: column;
        text-align: center;
        padding-top: 6px;
        .sub{
          font-size: 14px;
        }
        .money{
          font-size: 18px;
          font-weight: 700;
        }
        .limit{
          font-size: 12px;
        }
        .type{
          font-size: 12px;
        }
      }
    }
  }
  .style1{
    display: flex;
    height: 80px;
    .pic{
      flex: 1;
      margin: 0.1rem;
      background: rgb(225,53,27);
      border-radius: 8px;
      .btn-wrap{
        flex: 1;
        display: flex;
        justify-content: center;
        .btn{
          width: 80%;
          text-align: center;
          border-radius: 8px;
          padding: 2px;
          color: #fff;
          font-size: 14px;
          background: #515a6e;
        }
      }
      .content{
        display: flex;
        height: 56px;
        flex-direction: column;
        text-align: center;
        padding-top: 6px;
        .sub{
          font-size: 14px;
        }
        .money{
          font-size: 18px;
          font-weight: 700;
        }
        .limit{
          font-size: 12px;
        }
        .type{
          font-size: 12px;
        }
      }
    }

  }
  .close{
    position: absolute;
    top: -14px;
    right: -6px;
    cursor:pointer;
  }
</style>
