<template>
  <div>
    <Form :label-width="120" v-model="formInline">
      <FormItem label="优惠券名称">
        <Input :disabled="!$route.query.edit" :clearable="true" style="width: 200px" type="text" v-model="formInline.couponName" placeholder="请输入优惠券名称">
        </Input><span class="must">*</span>
      </FormItem>
      <FormItem label="优惠券数量">
        <InputNumber :disabled="!$route.query.edit" :clearable="true" style="width: 200px" :min="1" v-model="formInline.totalLimitNum" placeholder="请输入优惠券数量">
        </InputNumber><span class="must">*</span>
      </FormItem>
      <FormItem label="优惠券类型">
        <RadioGroup v-model="formInline.couponCategory">
          <Radio :disabled="!$route.query.edit" label="0">满减优惠券</Radio>
          <Radio :disabled="!$route.query.edit" label="2">折扣优惠券</Radio>
          <!--<Radio label="1">免息优惠券</Radio>-->
          <!--<Radio label="3">还款优惠券</Radio>-->
        </RadioGroup>
        <span class="must">*</span>
      </FormItem>
      <FormItem :label="formInline.couponCategory=='0'?'优惠券面值':'折扣优惠券'">
        <InputNumber
          :disabled="!$route.query.edit"
          :min="1"
          :precision="1"
          :clearable="true"
          style="width: 200px"
          v-model="formInline.couponValue">元
        </InputNumber>
        <span class="must">*</span>
      </FormItem>
      <FormItem label="使用门槛">
        <RadioGroup v-model="threshold">
          <Radio :disabled="!$route.query.edit" label="0">无使用门槛</Radio>
          <Radio :disabled="!$route.query.edit" label="1">订单金额满<InputNumber :disabled="!$route.query.edit" :min="1" :clearable="true" v-model="thresholdNo" size="small" style="width: 100px"></InputNumber>元可用</Radio>
        </RadioGroup>
        <span class="must">*</span>
      </FormItem>
      <FormItem label="使用时间">
        <RadioGroup v-model="useType">
          <Radio label="0" :disabled="!$route.query.edit">
            时间范围
          </Radio>
          <Radio :disabled="!$route.query.edit" label="1">自领取之日起<InputNumber :disabled="!$route.query.edit" :clearable="true" :min="1" size="small" v-model="validDays" style="width: 100px"></InputNumber>有效</Radio>
        </RadioGroup>
        <span class="must">*</span>
        <div v-if="useType=='0'">
          <DatePicker
            :disabled="!$route.query.edit"
            format="yyyy-MM-dd HH:mm:ss"
            @on-change="getTime"
            :clearable="true"
            v-model="usetimevalue"
            type="datetimerange"
            split-panels
            placeholder="请选择使用时间"
            style="width: 300px">
          </DatePicker>
        </div>
      </FormItem>
      <FormItem label="领取时间">
        <DatePicker
          :disabled="!$route.query.edit"
          type="datetimerange"
          format="yyyy-MM-dd HH:mm:ss"
          :clearable="true"
          v-model="gettimevalue"
          @on-change="getlqTime"
          split-panels
          placeholder="请选择领取时间"
          style="width: 300px">
        </DatePicker>
        <span class="must">*</span>
      </FormItem>
      <!--<FormItem label="使用场景">-->
        <!--<Select :disabled="!$route.query.edit" :clearable="true" style="width: 200px" v-model="formInline.sceneCode" placeholder="请选择">-->
          <!--<Option value="1">全款</Option>-->
          <!--<Option value="2">分期</Option>-->
          <!--<Option value="3">全款和分期可用</Option>-->
        <!--</Select>-->
        <!--<span class="must">*</span>-->
        <!--<span>仅分期可用／仅全款可用／全款或分期都可用</span>-->
      <!--</FormItem>-->
      <FormItem label="每人限领次数">
        <RadioGroup v-model="limitType" :disabled="!$route.query.edit">
          <!--<Radio label="0">不限制次数</Radio>-->
          <Radio label="1">
            <InputNumber
              :disabled="!$route.query.edit"
              :clearable="true"
              :min="1"
              type="number"
              v-model="limitNo"
              style="width: 100px">
            </InputNumber>次</Radio>
        </RadioGroup>
        <span class="must">*</span>
      </FormItem>
      <FormItem  label="领取方式">
        <Select :disabled="!$route.query.edit" :clearable="true" style="width: 200px" v-model="formInline.type" placeholder="请选择">
          <Option value="1">在线领取</Option>
          <Option value="2">线下发放</Option>
          <Option value="3">兑换码</Option>
          <Option value="4">系统发放</Option>
        </Select>
        <span class="must">*</span>
      </FormItem>
      <FormItem v-if="formInline.type=='4'" label="系统触发条件">
        <RadioGroup v-model="formInline.sysTrigger">
          <Radio :disabled="!$route.query.edit" label="1">注册成功后发放</Radio>
          <Radio :disabled="!$route.query.edit" label="2">下单成功后发放</Radio>
          <Radio :disabled="!$route.query.edit" label="3">认证成功后<InputNumber :min="1" type="number" style="width: 50px" size="small"></InputNumber>日未下单</Radio>
          <Radio :disabled="!$route.query.edit" label="4">注册成功后<InputNumber :min="1" type="number" style="width: 50px" size="small"></InputNumber>日未认证</Radio>
          <Radio :disabled="!$route.query.edit" label="5">注册成功后<InputNumber :min="1" type="number" style="width: 50px" size="small"></InputNumber>日未登录</Radio>
          <Radio :disabled="!$route.query.edit" label="6">付费会员</Radio>
        </RadioGroup>
      </FormItem>
      <FormItem label="使用商品">
        <RadioGroup  @on-change="getType" v-model="formInline.couponType">
          <Radio :disabled="!$route.query.edit" label="5">全品券</Radio>
          <Radio :disabled="!$route.query.edit" label="1">品类券</Radio>
          <Radio :disabled="!$route.query.edit" label="2">品牌券</Radio>
          <Radio :disabled="!$route.query.edit" label="4">单品券</Radio>
        </RadioGroup>
        <span class="must">*</span>
      </FormItem>
      <div v-if="formInline.couponType=='4'">
        <Table size="small" style="width: 700px;margin:0 0 1rem 3rem" :columns="columns2" :data="data2"></Table>
      </div>
      <FormItem  v-if="formInline.couponType=='1'" label="选择品类">
        <Select :disabled="!$route.query.edit" v-model="cata1" @on-change="level1" style="width:100px" :clearable="true">
          <Option  v-for="item in cateList1" :value="item.id" :key="item.id">{{ item.name }}</Option>
        </Select>
        <Select :disabled="!$route.query.edit" v-model="cata2" @on-change="level2" style="width:100px" :clearable="true">
          <Option v-for="item in cateList2" :value="item.id" :key="item.id">{{ item.name }}</Option>
        </Select>
        <Select :disabled="!$route.query.edit" v-model="cata3" @on-change="level3" style="width:100px" :clearable="true">
          <Option v-for="item in cateList3" :value="item.id" :key="item.id">{{ item.name }}</Option>
        </Select>
        <span class="must">*</span>
      </FormItem>
      <FormItem  v-if="formInline.couponType=='2'" label="选择品牌">
        <Select :disabled="!$route.query.edit" v-model="brand" @on-change="getBrandId" style="width:200px" :clearable="true">
          <Option v-for="item in brandList" :value="item.id" :key="item.id">{{ item.name }}</Option>
        </Select>
        <span class="must">*</span>
      </FormItem>
      <FormItem label="使用说明">
        <Input :maxlength="80" :disabled="!$route.query.edit" :clearable="true" v-model="formInline.remark"  style="width: 300px" type="textarea"></Input>
      </FormItem>
      <FormItem v-if="$route.query.edit">
        <Button @click="commit" style="margin:0 .5rem" type="info">提交</Button>
      </FormItem>
    </Form>
    <Modal
      v-model="productModal"
      :mask-closable="false"
      width="80%"
      title="选择商品"
      @on-ok="confirm"
      @on-cancel="()=>{}">
      <div style="margin-top:2rem"></div>
      <!--<ProductSelecter></ProductSelecter>-->
      <Form ref="formInline" :model="formInline1" inline :label-width="80">
        <FormItem label="商品名称：">
          <Input type="text" v-model="formInline1.productName" placeholder="请输入商品名称">
          </Input>
        </FormItem>
        <FormItem label="SPU：">
          <Input type="textarea" v-model="formInline1.productCode" placeholder="请输入SPU，以英文,号分割">
          </Input>
        </FormItem>
        <FormItem>
          <Button type="primary" @click="getProducts">查 询</Button>
        </FormItem>
      </Form>
      <Table ref="selection"
             @on-selection-change="getSelectProducts"
             :columns="columns1"
             :data="data1"></Table>
      <div style="text-align: center">
        <Page style="margin-top: .5rem" :total="pageTotal" @on-change="getPage"/>
      </div>
    </Modal>
  </div>
</template>
<script>
  import {getBrands,getLevel1,getLevel2,getLevel3,getProductList,getTableData} from '@/api/data'
  export default {
    name: "createCoupon",//新建优惠券
    data(){
      return{
        cata1:'',
        cata2:'',
        cata3:'',
        brd:'',
        couponId:'',
        couponInfo:{},
        gettimevalue:['',''],
        usetimevalue:['',''],
        validDays:1,
        threshold:'0',//门槛
        formInline1:{

        },
        useType:'0',
        productModal:false,
        formInline:{
          totalLimitNum:1,
          couponValue:1,
          couponName:'',
          couponCategory:'0',
          couponType:'5'
        },
        cateList1:[],
        cateList2:[],
        cateList3:[],
        brandList:[],
        brandId:'',
        brand:'',
        couponTypeId:[],
        limitNo:1,
        thresholdNo:10,
        columns1:[
          {
            type: 'selection',
            width: 60,
            align: 'center'
          },
          {
            title: '商品',
            key: 'name1'
          },
          {
            title: '分类',
            key: 'productCateIdName'
          },
          {
            title: '价格',
            key: 'malMobilePrice',
            sortable: true
          },
          {
            title: 'SPU',
            key: 'productCode'
          },

        ],
        columns2:[
          {
            title: '商品',
            key: 'name1'
          },
          {
            title: '分类',
            key: 'productCateIdName'
          },
          {
            title: '价格',
            key: 'malMobilePrice',
            sortable: true
          },
          {
            title: 'SPU',
            key: 'productCode'
          },
          {
            title: '操作',
            key: 'action',
            width:180,
            render: (h, params) => {
              return h('div', [
                this.$route.query.edit?h('Button', {
                  props: {
                    type: 'error',
                    size: 'small',
                  },
                  style: {
                    marginRight: '5px'
                  },
                  on: {
                    click: () => {
                      this.data2.splice(params.index, 1);
                    }
                  }
                }, '删除'):'',
              ]);
            }
          },
        ],
        data1:[],
        data2:[],
        pageTotal:0,
        productIds:'',
        limitType:'1',
        useStart:'',
        useEnd:'',
        tempProducts:[]
      }
    },

    mounted(){
      this.getLevel1()
      this.getBrands()
      if(this.$route.query.id){
        this.couponId=this.$route.query.id
        this.getDetail()
      }
    },
    methods:{
      handleSubmit (name) {
        this.$refs[name].validate((valid) => {
          if (valid) {
            this.commit()
          } else {
            //this.$Message.warning('请完善信息');
          }
        })
      },
      commit(){
        let temp=[]
        for(let i=0;i<this.data2.length;i++){
          temp.push(this.data2[i].id)
        }
        this.productIds = temp.join(',')
        if(this.$tools.isEmpty(this.formInline.couponName)){
          this.$Message.warning('请输入优惠券名称')
          return
        }
        if(this.$tools.isEmpty(this.formInline.totalLimitNum)){
          this.$Message.warning('请输入优惠券数量')
          return
        }
        if(this.$tools.isEmpty(this.formInline.couponCategory)){
          this.$Message.warning('请输入优惠券面值/折扣')
          return
        }
        if(this.threshold=='1' && this.$tools.isEmpty(this.thresholdNo)){
          this.$Message.warning('请输入使用门槛-订单金额')
          return
        }
        if(this.useType=='0'){
          if(this.$tools.isEmpty(this.usetimevalue[0])){
            this.$Message.warning('请选择使用时间-时间范围')
            return
          }
        }
        if(this.useType=='1'){
          //validDays
          if(this.$tools.isEmpty(this.validDays)){
            this.$Message.warning('请选择使用时间-自领取之日起日期')
            return
          }
        }
        if(this.$tools.isEmpty(this.gettimevalue[0])){
          this.$Message.warning('请选择领取时间')
          return
        }
        // if(this.$tools.isEmpty(this.formInline.sceneCode)){
        //   this.$Message.warning('请选择使用场景')
        //   return
        // }
        if(this.$tools.isEmpty(this.limitNo)){
          this.$Message.warning('请输入每人限领次数')
          return
        }
        if(this.$tools.isEmpty(this.formInline.type)){
          this.$Message.warning('请选择领取方式')
          return
        }
        //couponCategory
        if(this.$route.query.id){
          this.update()
        }else{
          this.createCoupon()
        }
      },
      getDetail(){
        getTableData({
          url: '/middle/coupon/getCouponById',
          type: 'post',
          data: {couponId:this.couponId}
        }).then(res => {
          if (res.data.code == 200) {
            let temp = res.data.data
              //this.couponInfo=res.data.data
            this.formInline.couponName=temp.couponName
            this.formInline.couponCategory = String(temp.couponCategory)
            this.formInline.totalLimitNum = temp.totalLimitNum

            if(temp.minAmount==0){
              this.threshold='0'
            }else if(temp.minAmount>0){
              this.threshold='1'
              this.thresholdNo = temp.minAmount
            }
            this.formInline.couponValue = temp.couponValue

            if(temp.sendStartTime){
              this.formInline.sendStartTime = temp.sendStartTime
              this.formInline.sendEndTime = temp.sendEndTime
              this.gettimevalue=[temp.sendStartTime,temp.sendEndTime]
            }
            if(temp.useStartTime){
              this.formInline.useStartTime = temp.useStartTime
              this.formInline.useEndTime = temp.useEndTime
              this.usetimevalue=[temp.useStartTime,temp.useEndTime]
              this.useType = '0'
            }
            if(temp.validDays){
              this.validDays = temp.validDays
              this.useType = '1'
            }
            if(temp.sceneCode){
              this.formInline.sceneCode = String(temp.sceneCode)
            }
            if(temp.personLimitNum){
              this.limitNo = temp.personLimitNum
            }
            if(temp.type){
              this.formInline.type = String(temp.type)
            }
            if(temp.couponType){
              this.formInline.couponType = String(temp.couponType)
              if(temp.couponType==4){
                this.data2=temp.productList
                this.couponTypeId=temp.couponTypeId
                let temp1 = []
                for(let i=0;i<temp.productList.length;i++){
                  temp1.push(temp.productList[i].id)
                }
                this.productIds = temp1.join(',')
              }
              if(temp.couponType==1){
                //品类
                if(temp.couponTypeId){
                  let tt = temp.couponTypeId.split('/')
                  if(tt.length==2){
                    this.cata1=Number(tt[1])
                    this.getLevel2(this.cata1)
                  }
                  if(tt.length==3){
                    this.cata1=Number(tt[1])
                    this.cata2=Number(tt[2])
                    this.getLevel2(this.cata1)
                    this.getLevel3(this.cata2)
                  }
                  if(tt.length==4){
                    this.cata1=Number(tt[1])
                    this.cata2=Number(tt[2])
                    this.cata3=Number(tt[3])
                    this.getLevel2(this.cata1)
                    this.getLevel3(this.cata2)
                  }
                }
              }
              if(temp.couponType==2){
                //品牌
                this.brand=Number(temp.couponTypeId)
              }
            }
            if(temp.remark){
              this.formInline.remark = temp.remark
            }
          }
        }).catch(err => console.log(err))
      },
      confirm(){

      },
      getType(v){
        if(v=='4'){
          this.productModal=true
          this.getProducts()
        }
        if(v=='1'){
          //品类
          this.getLevel1()
        }
        if(v=='2'){
          //品牌
          this.getBrands()
        }
      },
      getPage(p){
       // this.pageNo = p
        this.formInline1.pageIndex = p
        this.getProducts()
      },
      getSelectProducts(selections){
        for(let j=0;j<selections.length;j++){
          if(_.some(this.data2, selections[j])){
            //this.$Message.success('您已添加 '+selections[j].name1+' 此商品只能添加一次')
          }else{
            //this.tempProducts.push(selections[j].id)
            //this.productIds = this.tempProducts.join(',')
            this.data2.push(selections[j])
          }
        }
        // for(let i=0;i<selections.length;i++){
        //   this.tempProducts.push(selections[i].id)
        //   this.data2.push(selections[i])
        // }
        //this.productIds = this.tempProducts.join(',')
      },
      getBrandId(v){
        if(this.formInline.couponType=='2'){
          this.couponTypeId[0]=v
        }
        this.getBrandId=v
      },
      getBrands(){
        ///middle/product/queryProductBrandsByCustomerId
        getBrands({
          productTypeIds:""
        }).then(res=>{
          if(res.data.code==200){
            this.brandList=res.data.data
          }
        }).catch(err=>{
        })
      },
      level1(v){
        if(this.formInline.couponType=='1'){
          this.couponTypeId[0]=v
        }
        this.getLevel2(v)
      },
      level2(v){
        if(this.formInline.couponType=='1'){
          this.couponTypeId[1]=v
        }
        this.getLevel3(v)
      },
      level3(v){
        if(this.formInline.couponType=='1'){
          this.couponTypeId[2]=v
        }
      },
      getLevel1(){
        getLevel1({
        }).then(res=>{
          this.cateList1 = res.data.data
        }).catch(err=>{

        })
      },
      getProducts(){
        this.formInline1.pageSize=10
        getProductList(this.formInline1).then(res=>{
          this.data1 = res.data.data.list
          this.pageTotal = res.data.data.total
        }).catch(err=>{

        })
      },
      getLevel2(id){
        getLevel2({
          pid:id
        }).then(res=>{
          this.cateList2 = res.data.data
        }).catch(err=>{

        })
      },
      getLevel3(id){
        getLevel3({
          pid:id
        }).then(res=>{
          this.cateList3 = res.data.data
        }).catch(err=>{

        })
      },
      getlqTime(v){
        this.formInline.sendStartTime = v[0]
        this.formInline.sendEndTime = v[1]
      },
      getTime(v){
        this.useStart=v[0]
        this.useEnd=v[1]
      },
      update(){
        //middle/coupon/updateCoupon
        this.formInline.id = this.couponId
        if(this.useType=='0'){
          this.formInline.useStartTime = this.useStart
          this.formInline.useEndTime = this.useEnd
        }else if(this.useType=='1'){
          this.formInline.validDays = this.validDays
        }
        if(this.threshold=='0'){
          this.formInline.minAmount=0
        }else if(this.threshold=='1'){
          this.formInline.minAmount=this.thresholdNo
        }

        if(this.limitType=='0'){
          this.formInline.personLimitNum = 0///每人限制次数
        }else if(this.limitType=='1'){
          this.formInline.personLimitNum=this.limitNo
        }
        let couponTypeId=''
        if(this.formInline.couponType=='1'){
          if (this.cata1){
            couponTypeId=couponTypeId+'/'+this.cata1
          }
          if(this.cata2){
            couponTypeId=couponTypeId+'/'+this.cata2
          }
          if(this.cata3){
            couponTypeId=couponTypeId+'/'+this.cata3
          }
          this.formInline.couponTypeId=couponTypeId
        }
        if(this.formInline.couponType=='2'){
          // this.couponTypeId = this.couponTypeId[0]
          this.formInline.couponTypeId=this.brand
        }
        if(this.formInline.couponType=='4'){
          this.formInline.couponTypeId=this.productIds
        }
        getTableData({
          url: '/middle/coupon/updateCoupon',
          type: 'post',
          data: this.formInline
        }).then(res => {
          if (res.data.code == 200) {
            this.$Message.success('编辑成功');
            this.$router.push({
              path:"/couponManage/couponList"
            })
          }else{
            this.$Message.error(res.data.message);
          }
        }).catch(err => console.log(err))
      },
      createCoupon(){
        if(this.useType=='0'){
          this.formInline.useStartTime = this.useStart
          this.formInline.useEndTime = this.useEnd
        }else if(this.useType=='1'){
          this.formInline.validDays = this.validDays
        }
        if(this.threshold=='0'){
          this.formInline.minAmount=0
        }else if(this.threshold=='1'){
          this.formInline.minAmount=this.thresholdNo
        }

        if(this.limitType=='0'){
          this.formInline.personLimitNum = 0///每人限制次数
        }else if(this.limitType=='1'){
          this.formInline.personLimitNum=this.limitNo
        }
        let couponTypeId=''
        if(this.formInline.couponType=='1'){
           if (this.cata1){
             couponTypeId=couponTypeId+'/'+this.cata1
           }
           if(this.cata2){
             couponTypeId=couponTypeId+'/'+this.cata2
           }
          if(this.cata3){
            couponTypeId=couponTypeId+'/'+this.cata3
          }
          this.formInline.couponTypeId=couponTypeId
        }
        if(this.formInline.couponType=='2'){
          // this.couponTypeId = this.couponTypeId[0]
          this.formInline.couponTypeId=this.brand
        }
        if(this.formInline.couponType=='4'){
          this.formInline.couponTypeId=this.productIds
        }
          getTableData({
            url: '/middle/coupon/createCoupon',
            type: 'post',
            data: this.formInline
          }).then(res => {
            if (res.data.code == 200) {
              this.$Message.success('创建成功');
              this.$router.push({
                path:"/couponManage/couponList"
              })
            }else{
              this.$Message.error(res.data.message);
            }
          }).catch(err => console.log(err))
      }
    }
  }
</script>

<style scoped>
  .must{
    color: red;
    margin-left: .5rem;
  }
</style>
