<template>
    <div>
      <div >
        <div>
          <Button @click="getCouponList" class="gutter" type="primary">选择优惠券</Button>
          <span class="gutter-span">已选中优惠券：{{this.currentCoupon.couponName}}</span>
          <span class="gutter-span">优惠券剩余可发数量：
            {{(Number(this.currentCoupon.totalLimitNum)?Number(this.currentCoupon.totalLimitNum):0)-
            (Number(this.currentCoupon.receivedNum)?Number(this.currentCoupon.receivedNum):0)}}张</span>
          <Button class="gutter" @click="downLoadExcel" type="primary">下载导入模版</Button>
        </div>
        <div class="btn-wrapper">
          <Button @click="handleImport" icon="ios-cloud-upload-outline">手动导入</Button>
          <Input v-model="phones" class="gutter" style="width: 300px" type="textarea" placeholder="发放账号，手机号用英文逗号隔开"></Input>
          <Upload :action="this.$publicUrl+'middle/coupon/getCouponUnAcceptNumAndSaveCouponUser'"
                  :headers="hed"
                  :on-error="handleError"
                  :on-success="handleSuccess"
                  :before-upload="beforeUp"
                  :show-upload-list="false"
                  :data="{couponId:String(this.currentCoupon.id)}"
                  accept=".xls,.xlsx">
            <Button icon="ios-cloud-upload-outline">Excel导入</Button>
          </Upload>
          <!--<input @change="update" accept="xls/xlsx"  type="file">-->
          <Button @click="selectGroup" class="gutter" type="primary">选择用户群组</Button>
          <Button @click="goRelease" class="gutter" type="success">发放</Button>
          <Button style="margin:0 .5rem" type="info" @click="()=>{this.pageNo=1;this.getList()}">筛选</Button>
        </div>
      </div>
      <div>
        <Divider/>
        <Table @on-selection-change="getUsers" :columns="columns1" :data="data1"></Table>
        <div style="text-align: center;margin: .5rem">
          <Page show-total :current="pageNo" :total="total" @on-change="getPage"/>
        </div>
      </div>
      <Modal
        width="80%"
        v-model="modal1"
        title="选择优惠券"
        @on-ok="()=>{}"
        @on-cancel="()=>{this.currentCoupon={}}">
        <Form :label-width="120" :model="formInline1" inline>
          <FormItem label="优惠券名称">
            <Input :clearable="true" type="text" v-model="formInline1.q_couponName" placeholder="请输入优惠券名称">
            </Input>
          </FormItem>
          <FormItem label="优惠券ID">
            <Input :clearable="true" type="text" v-model="formInline1.q_id" placeholder="请输入优惠券ID">
            </Input>
          </FormItem>
          <FormItem label="优惠券类型">
            <Select :clearable="true" style="width: 200px" v-model="formInline1.q_couponCategory" placeholder="请选择">
              <Option value="0">满减优惠券</Option>
              <Option value="2">折扣优惠券</Option>
            </Select>
          </FormItem>
          <FormItem label="领取时间">
            <DatePicker v-model="gettime" :clearable="true" @on-change="getTime" type="daterange" split-panels placeholder="请选择领取时间" style="width: 200px"></DatePicker>
          </FormItem>
          <FormItem label="使用时间">
            <DatePicker v-model="usetime" :clearable="true" @on-change="useTime" type="daterange" split-panels placeholder="请选择使用时间" style="width: 200px"></DatePicker>
          </FormItem>
          <FormItem>
            <Button style="margin:0 .5rem" type="info" @click="()=>{this.pageNo1=1;this.getCouponList()}">筛选</Button>
          </FormItem>
        </Form>
        <Table @on-current-change="getCurrent" highlight-row :columns="columns2" :data="data2"></Table>
        <div style="text-align: center;margin: .5rem">
          <Page :current="pageNo1" :total="total1" @on-change="getPage1"/>
        </div>
      </Modal>
      <Modal
        width="70%"
        v-model="modal6"
        :closable="false"
        :mask-closable="false"
        title="选择用户群组">
        <Table border :columns="columns6"
               highlight-row
               @on-current-change="getGroups"
               :data="data6"></Table>
        <div style="text-align: center">
          <Page style="margin-top: .5rem"
                show-total
                :current="pageNo6"
                :total="pageTotal6"
                @on-change="getPage6"/>
        </div>
        <div slot="footer">
          <Button @click="()=>{this.groupList='';this.modal6=false;}">取消</Button>
          <Button type="primary" @click="importGroup">确定</Button>
        </div>
      </Modal>
    </div>
</template>

<script>
  import {getTableData} from '@/api/data'
  export default {
    name: "issueCoupon",
    data(){
      return{
        data6:[],
        groupList:'',
        pageTotal6:0,
        pageNo6:1,
        columns6:[
          // {
          //   type: 'selection',
          //   width: 60,
          //   align: 'center'
          // },
          {
            title: "群组名称",
            key: "groupName",
          },
          {
            title: "人群定义",
            key: "list",
            render: (h, params) => {
              return h('div', params.row.list.join(','))
            }
          },
          {
            title: "创建时间",
            key: "createTime",
          },
          {
            title: "操作人",
            key: "updateUser",
          },
        ],
        modal6:false,
        gettime:['',''],
        usetime:['',''],
        downloadUrl:'',
        hed:{
          'Authorization':this.$store.state.user.token
        },
        userList:[],
        currentCoupon:{},
        modal1:false,
        pageNo:1,
        pageNo1:1,
        total:0,
        total1:0,
        formInline:{},
        formInline1:{},
        data1:[],
        data2:[],
        phones:'',
        columns2: [
          {
            title: '优惠券ID',
            key: 'id'
          },
          {
            title: '优惠券名称',
            key: 'couponName'
          },
          {
            title: '适用商品',
            key: 'couponType',
            render: (h, params) => {
              return h('div', params.row.couponType==1?'品类券':
                (params.row.couponType==2?'品牌券':
                  (params.row.couponType==3?'活动券':
                    (params.row.couponType==4?'单品券':
                      (params.row.couponType==5?'全品券':'')))));
            }
          },
          {
            title: '优惠内容',
            key: 'remark'
          },
          {
            title: '限领次数',
            key: 'personLimitNum'
          },
          {
            title: '剩余库存',
            render: (h, params) => {
              return h('div', Number(params.row.totalLimitNum)-Number(params.row.receivedNum))
            }
          },
          {
            title: '状态',
            key: 'status',
            render: (h, params) => {
              return h('div', params.row.status==1?'新建':
                (params.row.status==5?'上架':
                  (params.row.status==6?'下架':'')));
            }
          }
        ],
        columns1:[
          {
            type: 'selection',
            width: 60,
            align: 'center'
          },
          {
            title: '待发券用户手机号／用户群组',
            key: 'acceptPhone'
          },
          {
            title: '优惠券ID',
            key: 'id'
          },
          {
            title: '优惠券名称',
            key: 'couponName'
          },
          {
            title: '优惠券内容',
            key: 'remark'
          },
          {
            title: '优惠券状态',
            key: 'status',
            render: (h, params) => {
              return h('div', params.row.status==1?'新建':
                (params.row.status==5?'上架':
                  (params.row.status==6?'下架':'')));
            }
          },
          {
            title: '使用订单金额',
            key: 'minAmount'
          },
          {
            title: '操作',
            key: 'action',
            width:180,
            render: (h, params) => {
              return h('div', [
                h('Button', {
                  props: {
                    type: 'error',
                    size: 'small'
                  },
                  style: {
                    marginRight: '5px'
                  },
                  on: {
                    click: () => {
                      this.delCoupon(params.row.cuId)
                    }
                  }
                }, '删除')
              ]);
            }
          },
        ]
      }
    },
    mounted(){
      this.getList()
      this.getDownUrl()
      this.getUserList()
    },
    methods:{
      getUserList(){
        getTableData({
          url: '/middle/usergroup/page',
          type: 'post',
          data: {
            pageSize:10,
            pageNum:this.pageNo6
          }
        }).then(res => {
          if (res.data.code == 200) {
            this.data6=res.data.data.list
            // alert(JSON.stringify(this.data1))
            for (let i=0;i<this.data6.length;i++){
              let temp=[]
              for (let j=0;j<this.data6[i].list.length;j++){
                temp.push(
                  (this.data6[i].list[j].behaviorStr?this.data6[i].list[j].behaviorStr:'')+
                  (this.data6[i].list[j].amount?this.data6[i].list[j].amount+',':'')+
                  '时间范围'+(this.data6[i].list[j].day?this.data6[i].list[j].day:''))
              }
              this.data6[i].list = temp
            }
            // alert(JSON.stringify(this.data1))
            this.pageTotal6=res.data.data.total
          }else{
            this.pageTotal6=0
          }
        }).catch(err => console.log(err))
      },
      downLoadExcel(){
        if(this.downloadUrl){
          window.open(this.downloadUrl)
        }else{
          this.$Message.warning('未获取到优惠券下载地址')
        }
      },
      getTime(v){
        this.formInline.q_sendStartTime=v[0]
        this.formInline.q_sendEndTime=v[1]
      },
      useTime(v){
        this.formInline.q_useStartTime=v[0]
        this.formInline.q_useEndTime=v[1]
      },
      getDownUrl(){
        getTableData({
            url: '/middle/common/dictionary/getdictbycode',
            type: 'post',
            data: {dictCode:'IMPORT_COUPON_TEMPLATE'}
          }
        ).then(res=>{
          if(res.data.code==200){
            this.downloadUrl = res.data.data[0]['value']
          }else{
          }
        }).catch(err=>{

        })
      },
      update(e){
        let file = e.target.files[0];
        let param = new FormData(); //创建form对象
        param.append('file',file);//通过append向form对象添加数据
        //console.log(param.get('file')); //FormData私有类对象，访问不到，可以通过get判断值是否传进去
        let config = {
          headers:{'Content-Type':'multipart/form-data'}
        }; //添加请求头
        getTableData({
          url: '/middle/coupon/getCouponDataWithoutCouponBag',
          type: 'post',
          data: param
        }).then(res => {
          if (res.data.code == 200) {
            this.$Message.success('上传成功')
          }else{
            this.$Message.error(res.data.message);
          }
        }).catch(err => console.log(err))
      },
      getUsers(selection){
        this.userList=[]
        for(let i=0;i<selection.length;i++){
          this.userList.push(selection[i].cuId)
        }
      },
      getGroups(selection){
        this.groupList=selection.id
        //alert(JSON.stringify(selection))
      },
      delCoupon(id){
        ///middle/coupon/goDel
        getTableData({
          url: '/middle/coupon/goDel',
          type: 'post',
          data: {
            couponId:String(this.currentCoupon.id),
            cuId:id
          }
        }).then(res => {
          if (res.data.code == 200) {
            this.$Message.success('删除成功')
            this.getList()
          }else{
            this.$Message.error(res.data.message);
          }
        }).catch(err => console.log(err))
      },
      getCurrent(row){
        this.currentCoupon = row
      },
      handleError(){
        this.$Message.error('上传失败')
      },
      handleSuccess(res){
        if(res.code==200){
          this.getList()
          this.$Message.success('导入成功')
          if(res.data.reachLimitedPhone || res.data.unregisteredPhone){
            this.$Modal.info({
              title: '提示',
              content: (res.data.reachLimitedPhone?'<p style="width: 100%">达到领取限制手机号'+res.data.reachLimitedPhone+'</p>':'')+
                (res.data.unregisteredPhone?'<p style="width: 100%">未注册手机号'+res.data.unregisteredPhone+'</p>':'')
            });
          }
        }else{
          this.$Message.warning(res.message)
        }
      },
      beforeUp(){
        if(!this.currentCoupon.id){
          this.$Message.warning('请选择优惠券')
          return
        }
      },
      selectGroup(){
        if(!this.currentCoupon.id){
          this.$Message.warning('请选择优惠券')
          return
        }
        this.modal6=true
        // this.$Message.warning('后台还没有此接口')
      },
      handleImport(){
        if(!this.currentCoupon.id){
          this.$Message.warning('请选择优惠券')
          return
        }
        getTableData({
          url: '/middle/coupon/manualCouponUnAcceptNumAndSaveCouponUser',
          type: 'post',
          data: {
            couponId:String(this.currentCoupon.id),
            mobiles:this.phones
          }
        }).then(res => {
          if (res.data.code == 200) {
            this.$Message.success('手动导入成功')
            this.getList()
            if(res.data.data.reachLimitedPhone || res.data.data.unregisteredPhone){
              this.$Modal.info({
                title: '提示',
                content: (res.data.data.reachLimitedPhone?'<p style="width: 100%">达到领取限制手机号'+res.data.data.reachLimitedPhone+'</p>':'')+
                  (res.data.data.unregisteredPhone?'<p style="width: 100%">未注册手机号'+res.data.data.unregisteredPhone+'</p>':'')
              });
            }
          }else{
            this.$Message.error(res.data.message);
          }
        }).catch(err => console.log(err))
      },
      getPage(p){
        this.pageNo=p
        this.getList()
      },
      getPage6(p){
        this.pageNo6=p
        this.getUserList()
      },
      getPage1(){
        this.pageNo1=p
        this.getCouponList()
      },
      importExcel(){
        if(!this.currentCoupon.id){
          this.$Message.warning('请选择优惠券')
          return
        }
        getTableData({
          url: '/middle/coupon/getCouponUnAcceptNumAndSaveCouponUser',
          type: 'post',
          data: {couponId:String(this.currentCoupon.id)}
        }).then(res => {
          if (res.data.code == 200) {
            this.$Message.success('导入成功')
            this.getList()
          }else{
            this.$Message.error(res.data.message);
          }
        }).catch(err => console.log(err))
      },
      goRelease(){
        if(!this.currentCoupon.id){
          this.$Message.warning('请选择优惠券')
          return
        }
        getTableData({
          url: '/middle/coupon/goRelease',
          type: 'post',
          data: {
            couponId:String(this.currentCoupon.id),
            idList:this.userList
          }
        }).then(res => {
          if (res.data.code == 200) {
            this.$Message.success('发放成功')
            this.getList()
          }else{
            this.$Message.error(res.data.message);
          }
        }).catch(err => console.log(err))
      },
      importGroup(){
        if(this.groupList==''){
          this.$Message.warning('请选择用户群组')
          return
        }
        this.modal6=false;
        getTableData({
          url: '/middle/coupon/batchsendcoupon',
          type: 'post',
          data: {
            id:String(this.currentCoupon.id),
            userGroupId:String(this.groupList)
          }
        }).then(res => {
          if (res.data.code == 200) {
            this.$Message.success('操作成功')
            this.getList()
          }else{
            this.$Message.error(res.data.message);
          }
        }).catch(err => console.log(err))
      },
      getCouponList(){
        this.formInline1.pageSize=10
        this.formInline1.pageIndex=this.pageNo1
        this.formInline1.q_status='5'
        this.formInline1.q_type='2'
        getTableData({
          url: '/middle/coupon/getCoupons',
          type: 'post',
          data: this.formInline1
        }).then(res => {
          if (res.data.code == 200) {
            this.modal1=true
            this.data2=res.data.data.list
            this.total1=res.data.data.total
          }else{
            this.total1=0
            this.$Message.error(res.data.message);
          }
        }).catch(err => console.log(err))
      },
      getList(){
        this.formInline.pageSize=10
        this.formInline.pageIndex=this.pageNo
        this.formInline.couponId=String(this.currentCoupon.id)
        getTableData({
          url: '/middle/coupon/getCouponDataWithoutCouponBag',
          type: 'post',
          data: this.formInline
        }).then(res => {
          if (res.data.code == 200) {
            this.data1=res.data.data.list
            this.total=res.data.data.total
          }else{
            this.total=0
            this.$Message.error(res.data.message);
          }
        }).catch(err => console.log(err))
      },
    }
  }
</script>

<style scoped>
  .btn-wrapper{
    display: flex;
    flex-direction: row;
    align-items: center;
  }
  .gutter{
    margin: .5rem;
  }
  .gutter-span{
    margin: .5rem;
    font-size: 14px;
  }
</style>
