<template>
  <div>
    <Card>
      <p slot="title">标题设置</p>
      <Button type="primary" slot="extra" @click.prevent="beforeSave">
        <Icon type="ios-loop-strong"></Icon>
        保存修改
      </Button>
      <Form :model="pageAttrObj" :label-width="80">
        <FormItem label="页面标题：">
          <Input placeholder="请输入页面标题" v-model="pageAttrObj.pageTitle"></Input>
        </FormItem>
        <FormItem label="页面描述：">
          <Input placeholder="请输入内容" type="textarea" v-model="pageAttrObj.pageDesc"></Input>
        </FormItem>
        <!--<FormItem label="分类：">-->
          <!--<CheckboxGroup v-model="pageAttrObj.pageCateId">-->
            <!--<Checkbox label="1">首页</Checkbox>-->
            <!--<Checkbox label="2">活动</Checkbox>-->
          <!--</CheckboxGroup>-->
        <!--</FormItem>-->
        <FormItem label="缩略图：">
          <div style="display: flex;flex-direction: row;align-items: center;">
            <Upload
              ref="upload"
              :show-upload-list="false"
              :on-success="handleSuccess"
              :format="['jpg','jpeg','png']"
              :max-size="2048"
              :on-format-error="handleFormatError"
              :on-exceeded-size="handleMaxSize"
              :before-upload="handleBeforeUpload"
              type="drag"
              :headers="{'Authorization':$store.state.user.token}"
              :action="$publicUrl+'/middle/material/upload'"
              style="display: inline-block;width:58px;">
              <div style="width: 58px;height:58px;line-height: 58px;">
                <Icon type="ios-camera" size="20"></Icon>
              </div>
            </Upload>
            <div style="position: relative;margin-left: .5rem;">
              <Icon v-if="currentImg" @click="()=>{this.currentImg='';this.pageAttrObj.shareImage=''}"  class="close" type="ios-close-circle-outline" />
              <img width="80px" :src="currentImg" alt="">
              <!--<Button @click="()=>{this.currentImg='';this.pageAttrObj.shareImage=''}" v-if="currentImg" size="small">清空</Button>-->
            </div>
          </div>
        </FormItem>
        <FormItem label="背景：">
          <RadioGroup v-model="pageAttrObj.pageBg">
            <Radio label="bg">背景图</Radio>
            <Radio label="color">纯色背景</Radio>
          </RadioGroup>
          <div v-if="pageAttrObj.pageBg=='color'">
            <ColorPicker size="small" v-model="pageAttrObj.pageBgColor" />
          </div>
          <div v-if="pageAttrObj.pageBg=='bg'" style="display: flex;flex-direction: row;align-items: center;">
            <Upload
              ref="upload"
              :show-upload-list="false"
              :on-success="handleSuccess1"
              :format="['jpg','jpeg','png']"
              :max-size="2048"
              :on-format-error="handleFormatError"
              :on-exceeded-size="handleMaxSize"
              :before-upload="handleBeforeUpload"
              type="drag"
              :headers="{'Authorization':$store.state.user.token}"
              :action="$publicUrl+'/middle/material/upload'"
              style="display: inline-block;width:58px;">
              <div style="width: 58px;height:58px;line-height: 58px;">
                <Icon type="ios-camera" size="20"></Icon>
              </div>
            </Upload>
            <div style="position: relative;margin-left: .5rem;">
              <Icon @click="()=>{this.currentBg='';this.pageAttrObj.pageBgImage=''}"  v-if="currentBg" class="close" type="ios-close-circle-outline" />
              <img width="80px" :src="currentBg" alt="">
              <!--<Button @click="()=>{this.currentBg='';this.pageAttrObj.pageBgImage=''}" v-if="currentBg" size="small">清空</Button>-->
            </div>
          </div>
        </FormItem>
        <FormItem label="顶部栏">
          <RadioGroup v-model="pageAttrObj.topColumn">
            <Radio label="show">显示</Radio>
            <Radio label="hide">不显示</Radio>
          </RadioGroup>
        </FormItem>
        <FormItem label="导航栏">
          <RadioGroup v-model="pageAttrObj.navColumn">
            <Radio label="show">显示</Radio>
            <Radio label="hide">不显示</Radio>
          </RadioGroup>
        </FormItem>
        <FormItem>
          <div>导航顶部栏显示还受到商城管理的全局设置控制</div>
          <div>导航状态：{{global.guidBarStatus==0?'关闭':'开启'}} 顶部导航栏：{{global.topBarStatus==0?'关闭':'开启'}}</div>
        </FormItem>
      </Form>
    </Card>
    <Modal
      v-model="modal1"
      title="提示"
      @on-ok="save"
      @on-cancel="()=>{}">
      <p>确认更改当前页面数据吗？</p>
    </Modal>
  </div>
</template>
<script>
  import {getTableData,createPageConfig} from '@/api/data'
  export default {
    name: "pageEditor",//页面标题等编辑
    data(){
      return{
        currentImg:'',
        currentBg:'',
        modal1:false,
        global:{},
        pageAttrObj:{
          type:'overall',//页面类型
          customerId:'',//唯一标示
          pageTitle:'',//页面标题
          pageDesc:'',//页面描述
          shareImage:'',//分享缩略图
          pageBgImage:'',//页面背景图
          pageCateId:[],//页面分类
          pageBg:'color',//背景图
          pageBgColor:'',//背景色
          topColumn:'hide',//顶部栏
          navColumn:'hide',//导航栏
          status:4,//状态 1 标识已删除 2使用中 3草稿 4.已发布
        }
      }
    },
    mounted(){
      this.getGlobal()
    },
    methods:{
      getGlobal(){
        let _this = this
        getTableData({
          url: '/middle/shopconfig/pageglobalconfig/load',
          type: 'post',
          data: {}
        }).then(res => {
          if (res.data.code == 200) {
            if(res.data.data){
              this.global=res.data.data
              if( this.global.guidBarStatus==0){
                this.pageAttrObj.navColumn='hide'
              }
              if( this.global.topBarStatus==0){
                this.pageAttrObj.topColumn='hide'
              }
            }
          }else{
            this.$Message.error(res.data.message);
          }
        }).catch(err => console.log(err))
      },
      handleSuccess1(res){
        if(res.code==200){
          this.currentBg = res.data.imgUrl
          this.pageAttrObj.pageBgImage = res.data.imgUrl
        }else if(res.code==104){
          this.$Message.warning(res.message)
          this.$store.commit('setToken','')
          this.$router.push({
            name: 'login'
          })
        }else{
          this.$Message.warning(res.message)
        }
      },
      handleSuccess(res){
        if(res.code==200){
          this.pageAttrObj.shareImage=res.data.imgUrl
          this.currentImg = res.data.imgUrl
        }else if(res.code==104){
          this.$Message.warning(res.message)
          this.$store.commit('setToken','')
          this.$router.push({
            name: 'login'
          })
        }else{
          this.$Message.warning(res.message)
        }

      },
      handleMaxSize(){

      },
      handleFormatError(){

      },
      handleBeforeUpload(){

      },
      beforeSave(){
        //this.modal1=true
        // customerId	商户id	body	false	int32
        // pageCateId	页面分类id	body	false	int32
        // pageNum	当前页码	body	false	int32
        // pageSize	每页记录数	body	false	int32
        // pageTitle	页面标题	body	false	string
        // status
        this.$store.commit('setPageData',this.pageAttrObj);
        this.$Message.success('保存成功')
        // createPageConfig({
        //   customerId:'',
        //   pageCateId:'',
        //   pageNum:1,
        //   pageSize:2,
        //   pageType:1,
        //   pageTitle:this.pageAttrObj.pageTitle,
        //   status:1
        // }).then((res)=>{
        //
        // }).catch((err)=>{
        //
        // })
      },
      save(){

      }
    },
    watch:{
      '$store.state.app.mouseTarget': {
        handler: function(newer, older) { // 可以获取新值与老值两个参数
          this.pageAttrObj=newer
          console.log(JSON.stringify(this.pageAttrObj))
          this.currentBg = this.pageAttrObj.pageBgImage
          this.currentImg = this.pageAttrObj.shareImage
        },
        deep: true, // 开启深度监听
        immediate: true,
      },
    }
  }
</script>
<style scoped>
  .close{
    position: absolute;
    top: -6px;
    right: -6px;
    color: red;
  }
</style>
