<template>
  <div>
    <Card style="height:350px">
      <p slot="title">公告</p>
      <Button type="primary" slot="extra" @click.prevent="save">
        <Icon type="ios-loop-strong"></Icon>
        保存修改
      </Button>
      <Form>
        <FormItem label="公告内容:">
          <Input :maxlength="100" :rows="6" type="textarea" v-model="pageAttrObj.text" placeholder="请输入公告内容..." style="width: 300px" />
        </FormItem>
      </Form>
      <!--<span>公告内容：</span>-->
      <!--<Input :rows="6" type="textarea" v-model="pageAttrObj.text" placeholder="请输入公告内容..." style="width: 300px" />-->
    </Card>
  </div>
</template>

<script>
  export default {
    name: "bulletinEditor",
    data(){
      return{
        text:'',
        pageAttrObj:{}
      }
    },
    methods:{
      save(){
        this.pageAttrObj.editType = 'change'
        this.$store.commit('setPageData',this.pageAttrObj)
        this.$Message.success('保存成功')
      }
    },
    watch:{
      '$store.state.app.mouseTarget': {
        handler: function(newer, older) { // 可以获取新值与老值两个参数
          this.pageAttrObj=newer
        },
        deep: true, // 开启深度监听
        immediate: true,
      },
    }
  }
</script>

<style scoped>

</style>
