<template>
  <div :class="{'wrapper':true,'active':selfOpts.index==targetOpts.index}">
    <Icon @click="close"
          color="red"
          v-show="this.targetOpts.index==this.selfOpts.index"
          size="16" class="close"
          type="md-close-circle" />
    <div>
      <h4>{{selfOpts.text}}</h4>
    </div>
  </div>
</template>

<script>
  export default {
    name: "titleClassify",
    props:['selfOpts'],
    data(){
      return{
        targetOpts:{},//当前鼠标选择的对象
      }
    },
    methods:{
      close(){
        let target = this.$store.state.app.classifyMouseTarget
        this.selfOpts.editType = 'remove'
        this.$store.commit('setClassifyPageData',this.selfOpts)
        if(this.targetOpts.index==this.selfOpts.index){
          target.type = ''
        }
      }
    },
    watch:{
      '$store.state.app.classifyMouseTarget': {
        handler: function(newer, older) { // 可以获取新值与老值两个参数
          this.targetOpts = newer
        },
        deep: true, // 开启深度监听
        immediate: true,
      }
    }
  }
</script>

<style scoped>
  .wrapper{
    position: relative;
    background: #d6d6d6;
    margin: .2rem;
    border: #b3b3b3 1px dashed;
    padding: .2rem;
  }
  .close{
    position: absolute;
    top: -14px;
    right: -8px;
    cursor:pointer;
  }
  .active{
    margin-top: 0.8rem;
    border: 2px dashed #00edd1;
  }
</style>
