<template>
  <div>
    <Card style="height:350px">
      <p slot="title">标题</p>
      <Button type="primary" slot="extra" @click.prevent="save">
        <Icon type="ios-loop-strong"></Icon>
        保存修改
      </Button>
      <div class="searchStyle">
        <span>标题内容：</span><Input v-model="pageAttrObj.text" placeholder="请输入内容..." style="width: 300px" />
      </div>
    </Card>
  </div>
</template>

<script>
  export default {
    name: "titleEditorClassify",
    data(){
      return{
        pageAttrObj:{}
      }
    },
    methods:{
      save(){
        this.pageAttrObj.editType = 'change'
        this.$store.commit('setClassifyPageData',this.pageAttrObj)
        this.$Message.success('保存成功')
      }
    },
    watch:{
      '$store.state.app.classifyMouseTarget': {
        handler: function(newer, older) { // 可以获取新值与老值两个参数
          this.pageAttrObj=newer
        },
        deep: true, // 开启深度监听
        immediate: true,
      },
    }
  }
</script>

<style scoped>
  .searchStyle{
    padding-top: 20px;
  }
</style>
