<template>
  <div :class="{'wrapper':true,'active':selfOpts.index==targetOpts.index}">
    <Icon @click="close"
          color="red"
          v-show="this.targetOpts.index==this.selfOpts.index"
          size="16" class="close"
          type="md-close-circle" />
    <h4 v-if="selfOpts.list.length==0" class="tips">请添加商品</h4>
    <div class="largePic" v-if="'largePic'==selfOpts.productType" v-for="(item,index) in selfOpts.list" :key="index">
      <div class="pic">
        <img width="100%" :src="item.masterImg" alt="">
      </div>
      <div class="sub">
        <div class="title">{{item.name1}}</div>
        <div class="desc">{{item.name2}}</div>
        <div class="price"><span class="new">¥{{item.malMobilePrice}}</span><span class="old">¥{{item.marketPrice}}</span></div>
        <div class="supply">月供：¥{{item.productPaymentMinInstallment}}</div>
        <div>
          <span v-if="item.tagFree" class="tag">{{item.tagFree}}</span>
          <span v-if="item.tagFall" class="tag">{{item.tagFall}}</span>
        </div>
      </div>
    </div>
    <div class="oneCol" v-if="'oneCol'==selfOpts.productType">
      <div class="wrap" v-for="(item,index) in selfOpts.list" :key="index">
        <div class="pic">
          <img width="100px" :src="selfOpts.list.length>0?item.masterImg:'./image/img.jpg'" alt="">
        </div>
        <div class="sub">
          <div class="title">{{selfOpts.list.length>0?item.name1:'商品名称'}}</div>
          <div class="desc">{{selfOpts.list.length>0?item.name2:'描述'}}</div>
          <div class="price"><span class="new">¥{{item.malMobilePrice}}</span>
            <span class="old">¥{{item.marketPrice}}</span></div>
          <div class="supply">月供：¥{{item.productPaymentMinInstallment}}</div>
          <div>
            <span v-if="item.tagFree" class="tag">{{item.tagFree}}</span>
            <span v-if="item.tagFall" class="tag">{{item.tagFall}}</span>
          </div>
        </div>
      </div>
    </div>
    <div class="twoCol" v-if="'twoCol'==selfOpts.productType">
      <div class="item" v-for="(item,index) in selfOpts.list" :key="index">
        <div class="sub-wrap">
          <div class="pic">
            <img width="90%" :src="item.masterImg" alt="">
          </div>
          <div class="sub">
            <div class="title">{{item.name1}}</div>
            <div class="desc">{{item.name2}}</div>
            <div class="price">  <span class="new">¥{{item.malMobilePrice}}</span><span class="old">¥{{item.marketPrice}}</span></div>
            <div class="supply">月供：¥{{item.productPaymentMinInstallment}}</div>
            <div>
              <span v-if="item.tagFree" class="tag">{{item.tagFree}}</span>
              <span v-if="item.tagFall" class="tag">{{item.tagFall}}</span>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="threeCol" v-if="'threeCol'==selfOpts.productType">
      <div class="item" v-for="(item,index) in selfOpts.list" :key="index">
        <div class="sub-wrap">
          <div class="pic">
            <img width="78px" :src="item.masterImg" alt="">
          </div>
          <div class="sub">
            <div class="title">{{item.name1}}</div>
            <div class="desc">{{item.name2}}</div>
            <div class="price">  <span class="new">¥{{item.malMobilePrice}}</span><span class="old">¥{{item.marketPrice}}</span></div>
            <div class="supply">月供：¥{{item.productPaymentMinInstallment}}</div>
            <div>
              <span v-if="item.tagFree" class="tag">{{item.tagFree}}</span>
              <span v-if="item.tagFall" class="tag">{{item.tagFall}}</span>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="scrollPic" v-if="'scrollPic'==selfOpts.productType">
      <div class="item" v-for="(item,index) in selfOpts.list" :key="index">
        <div class="sub-wrap">
          <div class="pic">
            <img width="78px" :src="item.masterImg" alt="">
          </div>
          <div class="sub">
            <div class="title">{{item.name1}}</div>
            <div class="desc">{{item.name2}}</div>
            <div class="price">  <span class="new">¥{{item.malMobilePrice}}</span><span class="old">¥{{item.marketPrice}}</span></div>
            <div class="supply">月供：¥{{item.productPaymentMinInstallment}}</div>
            <div>
              <span v-if="item.tagFree" class="tag">{{item.tagFree}}</span>
              <span v-if="item.tagFall" class="tag">{{item.tagFall}}</span>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>
<script>
  export default {
    name: "product",
    props:['selfOpts'],
    data(){
      return{
        targetOpts:{},//当前鼠标选择的对象
      }
    },
    mounted(){
    },
    methods:{
      close(){
        let target = this.$store.state.app.mouseTarget
        this.selfOpts.editType = 'remove'
        this.$store.commit('setPageData',this.selfOpts)
        if(this.targetOpts.index==this.selfOpts.index){
          target.type = ''
        }
      }
    },
    watch:{
      '$store.state.app.mouseTarget': {
        handler: function(newer, older) { // 可以获取新值与老值两个参数
          this.targetOpts = newer
          //console.log('*********'+JSON.stringify(this.targetOpts))
        },
        deep: true, // 开启深度监听
        immediate: true,
      }
    }
  }
</script>

<style scoped lang="less">
  .tag{
    font-size: 10px;
    padding: 1px 4px;
    background: crimson;
    color: #fff;
    border-radius: 4px;
    margin-right: .3rem;
  }
  .tips{
    text-align: center;
    color:#ccc;
    margin-top:16px;
  }
  .title{
    height: 14px;
    overflow: hidden;
    text-overflow:ellipsis;
  }
  .desc{
    height: 12px;
    line-height: 12px;
    overflow: hidden;
    text-overflow:ellipsis;
  }
  .wrapper{
    position: relative;
    margin: .2rem;
    border: #b3b3b3 1px dashed;
    padding: .2rem;
    min-height: 60px;
  }
  .close{
    position: absolute;
    top: -14px;
    right: -6px;
    cursor:pointer;
  }
  .active{
    margin-top: 0.8rem;
    border: 2px dashed #00edd1;
  }
  .largePic{
    display: flex;
    width: 100%;
    border-radius: 8px;
    flex-direction: column;
    background: #f7f7f7;
    padding: .2rem;
    .sub{
      padding: .5rem;
      .title{
        margin: .2rem 0;
        font-size: 14px;
      }
      .desc{
        margin: .2rem 0;
        font-size: 12px;
        color: #9c9c9c;
      }
      .price{
        margin: .2rem 0;

        .new{
          color: red;
          font-size: 14px;
        }
        .old{
          color: #9c9c9c;
          font-size: 12px;
          text-decoration: line-through;
          margin-left: 1rem;
        }
      }
      .supply{
        margin: .5rem 0;
      }
    }
  }
  .oneCol{
    .wrap{
      display: flex;
      width: 100%;
      border-radius: 8px;
      flex-direction: row;
      background: #fff;
      padding: .2rem;
      margin: .2rem 0;
      box-sizing: border-box;
      .pic{
        /*width: 180px;*/
      }
      .sub{
        .title{
          font-size: 13px;
        }
        .desc{
          font-size: 12px;
          color: #9c9c9c;
          line-height: 12px;
          height: 12px;
        }
        .price{
          .new{
            color: red;
            font-size: 12px;
          }
          .old{
            color: #9c9c9c;
            font-size: 12px;
            text-decoration: line-through;
            margin-left: 1rem;
          }
        }
        .supply{
          margin: .2rem 0;
          font-size: 12px;
        }
      }
    }
  }
  .twoCol{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    /*margin: .2rem;*/
    .item{
      display: flex;
      width: 50%;
      border-radius: 8px;
      flex-direction: column;
      box-sizing: border-box;
      padding: .2rem;
      .sub-wrap{
        background: #fff;
        padding: .6rem;
        .sub{
          .title{
            margin: .2rem 0;
            font-size: 13px;
          }
          .desc{
            margin: .2rem 0;
            font-size: 12px;
            color: #9c9c9c;
          }
          .price{
            margin: .2rem 0;
            .new{
              color: red;
              font-size: 14px;
            }
            .old{
              color: #9c9c9c;
              font-size: 12px;
              text-decoration: line-through;
              margin-left: 1rem;
            }
          }
          .supply{
            margin: .5rem 0;
            font-size: 12px;
          }
        }
      }
    }
  }
  .threeCol{
    display: flex;
    flex-direction: row;
    width: 320px;
    flex-wrap: wrap;
    .item{
      display: flex;
      width:100px;
      flex-direction: column;
      box-sizing: border-box;
      padding: 2px;
      .sub-wrap{
        box-sizing: border-box;
        background: #fff;
        border-radius: 6px;
        height: 176px;
        .sub{
          .title{
            margin: .2rem 0;
            font-size: 12px;
            height: 12px;
            overflow: hidden;
            text-overflow:ellipsis;
          }
          .desc{
            margin: .2rem 0;
            font-size: 12px;
            color: #9c9c9c;height: 12px;
            overflow: hidden;
            text-overflow:ellipsis;
          }
          .price{
            margin: .2rem 0;
            .new{
              color: red;
              font-size: 12px;
              height: 12px;
              overflow: hidden;
              text-overflow:ellipsis;
            }
            .old{
              color: #9c9c9c;
              font-size: 12px;
              text-decoration: line-through;
              margin-left: .2rem;
              height: 12px;
              overflow: hidden;
              text-overflow:ellipsis;
            }
          }
          .supply{
            margin: .2rem 0;
            font-size: 12px;
          }
        }
      }
    }
  }
  .scrollPic{
    display: flex;
    flex-direction: row;
    width: 100%;
    overflow-x: scroll;
    .item{
      display: flex;
      width: 160px;
      border-radius: 8px;
      flex-direction: column;
      background: #f7f7f7;
      padding: .2rem;
      .sub-wrap {
        box-sizing: border-box;
        background: #fff;
        border-radius: 6px;
        height: 176px;
        .sub {
          .title {
            margin: .2rem 0;
            font-size: 12px;
            height: 12px;
            overflow: hidden;
            text-overflow:ellipsis;
          }
          .desc {
            margin: .2rem 0;
            font-size: 12px;
            color: #9c9c9c;
            height: 12px;
            overflow: hidden;
            text-overflow:ellipsis;
          }
          .price {
            margin: .2rem 0;
            .new {
              color: red;
              font-size: 12px;
              height: 12px;
              overflow: hidden;
              text-overflow:ellipsis;
            }
            .old {
              color: #9c9c9c;
              font-size: 12px;
              height: 12px;
              overflow: hidden;
              text-overflow:ellipsis;
              text-decoration: line-through;
              margin-left: .2rem;
            }
          }
          .supply {
            margin: .2rem 0;
            font-size: 12px;
            height: 12px;
            overflow: hidden;
            text-overflow:ellipsis;
          }
        }
      }
    }
  }
</style>
