<template>
    <div >
      <Card>
        <p slot="title">商品列表</p>
        <Button size="small" type="primary" slot="extra" @click.prevent="save">
          <Icon type="ios-loop-strong"></Icon>
          保存修改
        </Button>
        <Button @click="()=>{this.productModal=true;this.productLists=[];this.getProducts()}" size="small" type="success">选择商品</Button>
        <div class="product-wrapper">
          <div class="largePic" v-if="'largePic'==productType" v-for="(item,index) in pageAttrObj.list" :key="index">
            <div class="pic">
              <img width="80%" :src="item.masterImg" alt="">
            </div>
            <div class="sub" >
              <div class="title">{{item.name1}}</div>
              <div class="desc">商品描述</div>
              <div class="price">  <span class="new">¥{{item.malMobilePrice}}</span><span class="old">¥{{item.marketPrice}}</span></div>
              <div class="supply">月供：¥{{item.productPaymentMinInstallment}}</div>
              <div>
                <span v-if="item.tagFree" class="tag">{{item.tagFree}}</span>
                <span v-if="item.tagFall" class="tag">{{item.tagFall}}</span>
              </div>
            </div>
          </div>
          <div class="oneCol" v-if="'oneCol'==productType" v-for="(item,index) in pageAttrObj.list" :key="index">
            <div class="pic">
              <img width="160px" :src="item.masterImg" alt="">
            </div>
            <div class="sub">
              <div class="title">{{item.name1}}</div>
              <div class="desc">{{item.name2}}</div>
              <div class="price">  <span class="new">¥{{item.malMobilePrice}}</span><span class="old">¥{{item.marketPrice}}</span></div>
              <div class="supply">月供：¥{{item.productPaymentMinInstallment}}</div>
              <div>
                <span v-if="item.tagFree" class="tag">{{item.tagFree}}</span>
                <span v-if="item.tagFall" class="tag">{{item.tagFall}}</span>
              </div>
            </div>
          </div>
          <div class="twoCol" v-if="'twoCol'==productType">
            <div class="item" v-for="(item,index) in pageAttrObj.list" :key="index">
              <div class="pic">
                <img width="160px" :src="item.masterImg" alt="">
              </div>
              <div class="sub">
                <div class="title">{{item.name1}}</div>
                <div class="desc">{{item.name2}}</div>
                <div class="price"><span class="new">¥{{item.malMobilePrice}}</span><span class="old">¥{{item.marketPrice}}</span></div>
                <div class="supply">月供：¥{{item.productPaymentMinInstallment}}</div>
                <div>
                  <span v-if="item.tagFree" class="tag">{{item.tagFree}}</span>
                  <span v-if="item.tagFall" class="tag">{{item.tagFall}}</span>
                </div>
              </div>
            </div>
          </div>
          <div class="threeCol" v-if="'threeCol'==productType">
            <div class="item" v-for="(item,index) in pageAttrObj.list" :key="index">
              <div class="pic">
                <img width="160px" :src="item.masterImg" alt="">
              </div>
              <div class="sub">
                <div class="title">{{item.name1}}</div>
                <div class="desc">{{item.name2}}</div>
                <div class="price"><span class="new">¥{{item.malMobilePrice}}</span><span class="old">¥{{item.marketPrice}}</span></div>
                <div class="supply">月供：¥{{item.productPaymentMinInstallment}}</div>
                <div>
                  <span v-if="item.tagFree" class="tag">{{item.tagFree}}</span>
                  <span v-if="item.tagFall" class="tag">{{item.tagFall}}</span>
                </div>
              </div>
            </div>
          </div>
          <div class="scrollPic" v-if="'scrollPic'==productType">
            <div class="item" v-for="(item,index) in pageAttrObj.list" :key="index">
              <div class="pic">
                <img width="120px" :src="item.masterImg" alt="">
              </div>
              <div class="sub">
                <div class="title">{{item.name1}}</div>
                <div class="price">  <span class="new">¥{{item.malMobilePrice}}</span><span class="old">¥{{item.marketPrice}}</span></div>
                <div class="supply">月供：¥{{item.productPaymentMinInstallment}}</div>
                <div>
                  <span v-if="item.tagFree" class="tag">{{item.tagFree}}</span>
                  <span v-if="item.tagFall" class="tag">{{item.tagFall}}</span>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="control">
          <h3>布局类型：</h3>
          <RadioGroup @on-change="getType" v-model="productType">
            <Radio label="oneCol">单行列表</Radio>
            <Radio label="twoCol">一行两个</Radio>
            <Radio label="threeCol">一行三个</Radio>
            <Radio label="scrollPic">横向滚动</Radio>
            <Radio label="largePic">大图模式</Radio>
          </RadioGroup>
        </div>
      </Card>
      <Modal
        v-model="productModal"
        width="80%"
        title="选择商品"
        @on-ok="confirm"
        @on-cancel="()=>{this.currentSelects=[];this.productLists=[]}">
        <div style="margin-top:2rem"></div>
        <!--<ProductSelecter></ProductSelecter>-->
        <Form ref="formInline" :model="formInline" inline :label-width="80">
          <FormItem label="商品名称：">
            <Input clearable type="text" v-model="formInline.productName" placeholder="商品名称">
            </Input>
          </FormItem>
          <FormItem label="SPU：">
            <Input clearable type="text" v-model="formInline.productCode" placeholder="请输入SPU">
            </Input>
          </FormItem>
          <FormItem label="商品分类：">
            <Select clearable  @on-change="level1"  style="width:100px">
              <Option v-for="item in cateList1" :value="item.id" :key="item.id">{{ item.name }}</Option>
            </Select>
            <Select clearable @on-change="level2" v-model="classification2" style="width:100px">
              <Option v-for="item in cateList2" :value="item.id" :key="item.id">{{ item.name }}</Option>
            </Select>
            <Select clearable :label-in-value="true" v-model="formInline.cateIds" style="width:100px">
              <Option v-for="item in cateList3" :value="item.id" :key="item.id">{{ item.name }}</Option>
            </Select>
          </FormItem>
          <FormItem label="商品品牌：">
            <Select clearable v-model="formInline.brandIds" style="width:200px">
              <Option v-for="item in brandsList" :value="item.id" :key="item.id">{{ item.name }}</Option>
            </Select>
          </FormItem>
          <FormItem>
            <Button type="primary" @click="getProducts">查 询</Button>
          </FormItem>
        </Form>
        <Table ref="selection"
               @on-select-cancel="oncancel"
               @on-select="getOne"
               @on-selection-change="getSelectProducts"
               :loading="tableLoading"
               :columns="columns1"
               :data="data1"></Table>
        <div style="text-align: center">
          <Page style="margin-top: .5rem" :total="pageTotal" @on-change="getPage"/>
        </div>
      </Modal>
    </div>
</template>

<script>
  import {getTableData,getProductList,getLevel1,getLevel2,getLevel3} from '@/api/data'
  export default {
    name: "productEditor",
    data(){
      return{
        brand:[],
        cateList1:[],
        cateList2:[],
        cateList3:[],
        classification1:'',
        classification2:'',
        classification3:'',
        pageNo:1,
        pageTotal:0,
        pageObj:[],
        currentSelects:[],
        productModal:false,
        productType:'',
        pageAttrObj:{},
        tableLoading:false,
        productLists:[],
        formInline:{
          brandId:'',	//品牌id(逗号分隔)	body	false	string
          cateIds:'',	//分类id(逗号分隔)	body	false	string
          excludeCodes:'',	//手动输入排除商品spu	body	false	string
          listCodes:[],		//body	false	array
          listExcludeCodes:[],		//body	false	array
          pageIndex:1,	//第几页	body	false	int32
          pageSize:10,	//每页记录数	body	false	int32
          productCode:'',	//商品编码	body	false	string
          productName:'',	//商品名称
        },
        data4:[],
        columns1:[
          // {
          //   type: 'selection',
          //   width: 60,
          //   align: 'center'
          // },
          {
            title: '商品',
            key: 'name1'
          },
          {
            title: '分类',
            key: 'productCateIdName'
          },
          {
            title: '价格',
            key: 'malMobilePrice',
            sortable: true
          },
          {
            title: '操作',
            key: 'action',
            width: 150,
            align: 'center',
            render: (h, params) => {
              return h('div', [
                h('Button', {
                  props: {
                    type: 'success',
                    size: 'small'
                  },
                  style: {
                    marginRight: '5px'
                  },
                  on: {
                    click: () => {
                      //this.show(params.index)
                      this.productLists.push(params.row)
                      this.data1.splice(params.index, 1);
                    }
                  }
                }, '添加'),
              ]);
            }
          }
        ],
        data1:[],
        brandsList:[]
      }
    },
    components:{
    },
    mounted(){
      this.getLevel1()
      this.getBrands()
    },
    methods:{
      loadData(){

      },
      getBrands(){
        //middle/product/queryProductBrandsByTypeId
        getTableData({
          url: '/middle/product/queryProductBrandsByCustomerId',
          type: 'post',
          data: {}
        }).then(res => {
          if (res.data.code == 200) {
            this.brandsList = res.data.data
          }
        }).catch(err => console.log(err))
      },
      level1(v){
        this.getLevel2(v)
      },
      level2(v){
        this.getLevel3(v)
      },
      level3(v){

      },
      getLevel1(){
        getLevel1({
        }).then(res=>{
          if(res.data.code==200){
            this.cateList1 = res.data.data
          }
        }).catch(err=>{

        })
      },
      getLevel2(id){
        getLevel2({
          pid:id
        }).then(res=>{
          this.cateList2 = res.data.data
        }).catch(err=>{

        })
      },
      getLevel3(id){
        getLevel3({
          pid:id
        }).then(res=>{
          this.cateList3 = res.data.data
        }).catch(err=>{

        })
      },
      getPage(p){
        this.pageNo = p
        this.formInline.pageIndex = p
        this.getProducts()
      },
      confirm(){
        // console.log(JSON.stringify(this.currentSelects))
        // console.log(this.currentSelects.length)
        let temp = []
        let selections=this.productLists
        for(let i=0;i<selections.length;i++){
          temp.push({'id':selections[i].id,
            'name1':selections[i].name1,
            'name2':selections[i].name2,
            'malMobilePrice':selections[i].malMobilePrice,
            'marketPrice':selections[i].marketPrice,
            'productStock':selections[i].productStock,
            'tagFree':selections[i].tagFree,
            'tagFall':selections[i].tagFall,
            'masterImg':selections[i].masterImg,
          })
        }
        this.currentSelects = temp
        this.pageAttrObj.list = this.currentSelects
        this.save()
      },
      oncancel(selection,row){
        // console.log(selection)
        // console.log(row)
      },
      getSelectProducts(selections){
        // console.log(JSON.stringify(selections))
        //this.productLists=selections
      },
      getOne(selection,row){
        console.log(JSON.stringify(row))
      },
      getProducts(){
        getProductList(this.formInline).then(res=>{
          this.data1 = res.data.data.list
          this.pageTotal = res.data.data.total
        }).catch(err=>{

        })
      },
      getType(v){
        //this.currentSelects=[]
        this.pageAttrObj.productType = v
        let temp = []
        for(let i=0;i<this.currentSelects.length;i++){
          temp.push({'id':this.currentSelects[i].id,
            'name1':this.currentSelects[i].name1,
            'name2':this.currentSelects[i].name2,
            'malMobilePrice':this.currentSelects[i].malMobilePrice,
            'marketPrice':this.currentSelects[i].marketPrice,
            'productStock':this.currentSelects[i].productStock,
            'tagFree':this.currentSelects[i].tagFree,
            'tagFall':this.currentSelects[i].tagFall,
            'masterImg':this.currentSelects[i].masterImg,
          })
        }
        this.currentSelects = temp
      },
      save(){
        this.pageAttrObj.productType = this.productType
        let temp = []
        let ids=[]
        for(let i=0;i<this.currentSelects.length;i++){
          temp.push({'id':this.currentSelects[i].id,
            'name1':this.currentSelects[i].name1,
            'name2':this.currentSelects[i].name2,
            'malMobilePrice':this.currentSelects[i].malMobilePrice,
            'marketPrice':this.currentSelects[i].marketPrice,
            'productStock':this.currentSelects[i].productStock,
            'tagFree':this.currentSelects[i].tagFree,
            'tagFall':this.currentSelects[i].tagFall,
            'masterImg':this.currentSelects[i].masterImg,
          })
          ids.push(this.currentSelects[i].id)
        }
        this.currentSelects = temp
        this.pageAttrObj.list = this.currentSelects
        this.pageAttrObj.editType = 'change'
        this.pageAttrObj['productlist'+this.pageAttrObj.index]=ids
        this.$store.commit('setPageData',this.pageAttrObj);
        this.$Message.success('保存成功')
        // this.currentSelects=[];
        // this.productLists=[]
      },
    },
    watch:{
      '$store.state.app.mouseTarget': {
        handler: function(newer, older) { // 可以获取新值与老值两个参数
          this.pageAttrObj=newer
          this.productType = newer.productType
          // if(!newer.productType){
          //
          //   this.productType = newer.productType
          // }
        },
        deep: true, // 开启深度监听
        immediate: true,
      }
    }
  }
</script>

<style scoped lang="less">
  .tag{
    font-size: 10px;
    padding: 1px 4px;
    background: crimson;
    color: #fff;
    border-radius: 4px;
    margin-right: .3rem;
  }
  .supply{
    margin: .5rem 0;
    font-size: 12px;
  }
  .product-wrapper{
    width: 100%;
    margin: 1rem 0;
    min-height: 200px;
    height: 400px;
    overflow: hidden;
    border:1px solid #ccc;
    padding: 1rem;
    background: #f7f7f7;
  }
  .control{
    margin: 1rem 0;
    h3{
      margin: 0.5rem 0;
    }
  }
  .largePic{
    display: flex;
    width: 330px;
    border-radius: 8px;
    flex-direction: column;
    background: #fff;
    padding: 1rem;
    .sub{
      .title{
        margin: .5rem 0;
        font-size: 14px;
      }
      .desc{
        margin: .5rem 0;
        font-size: 12px;
        color: #9c9c9c;
      }
      .price{
        margin: .5rem 0;
        .new{
          color: red;
          font-size: 14px;
        }
        .old{
          color: #9c9c9c;
          font-size: 12px;
          text-decoration: line-through;
          margin-left: 1rem;
        }
      }
      .supply{
        margin: .5rem 0;
      }
    }
  }
  .oneCol{
    display: flex;
    width: 430px;
    border-radius: 8px;
    flex-direction: row;
    background: #fff;
    padding: .5rem;
    margin: .2rem;
    .sub{
      .title{
        margin: .5rem 0;
        font-size: 14px;
      }
      .desc{
        margin: .5rem 0;
        font-size: 12px;
        color: #9c9c9c;
      }
      .price{
        margin: .5rem 0;

        .new{
          color: red;
          font-size: 14px;
        }
        .old{
          color: #9c9c9c;
          font-size: 12px;
          text-decoration: line-through;
          margin-left: 1rem;
        }
      }
      .supply{
        margin: .5rem 0;
      }
    }
  }
  .twoCol{
    display: flex;
    flex-direction: row;
    width: 400px;
    height: 340px;
    overflow: hidden;
    flex-wrap: wrap;
    .item{
      display: flex;
      width: 190px;
      border-radius: 8px;
      flex-direction: column;
      background: #fff;
      padding: 1rem;
      margin: .2rem;
      .sub{
        .title{
          margin: .5rem 0;
          font-size: 14px;
          height: 28px;
          overflow: hidden;
          text-overflow:ellipsis;
        }
        .desc{
          margin: .5rem 0;
          font-size: 12px;
          height: 24px;
          overflow: hidden;
          text-overflow:ellipsis;
          color: #9c9c9c;
        }
        .price{
          margin: .5rem 0;

          .new{
            color: red;
            font-size: 14px;
          }
          .old{
            color: #9c9c9c;
            font-size: 12px;
            text-decoration: line-through;
            margin-left: 1rem;
          }
        }

      }
    }
  }
  .threeCol{
    display: flex;
    flex-direction: row;
    width: 600px;
    height: 340px;
    overflow: hidden;
    flex-wrap: wrap;
    .item{
      display: flex;
      width:190px;
      border-radius: 8px;
      flex-direction: column;
      background: #fff;
      padding: 1rem;
      margin: .2rem;
      .sub{
        .title{
          margin: .5rem 0;
          font-size: 14px;
        }
        .desc{
          margin: .5rem 0;
          font-size: 12px;
          color: #9c9c9c;
        }
        .price{
          margin: .5rem 0;

          .new{
            color: red;
            font-size: 14px;
          }
          .old{
            color: #9c9c9c;
            font-size: 12px;
            text-decoration: line-through;
            margin-left: 1rem;
          }
        }

      }
    }
  }
  .scrollPic{
    display: flex;
    flex-direction: row;
    width: 100%;
    overflow-x: scroll;
    .item{
      display: flex;
      width: 180px;
      border-radius: 8px;
      flex-direction: column;
      background: #fff;
      padding: .5rem;
      margin: .2rem;
      .sub{
        .title{
          margin: .5rem 0;
          font-size: 14px;
        }
        .desc{
          margin: .5rem 0;
          font-size: 12px;
          color: #9c9c9c;
        }
        .price{
          margin: .5rem 0;

          .new{
            color: red;
            font-size: 14px;
          }
          .old{
            color: #9c9c9c;
            font-size: 12px;
            text-decoration: line-through;
            margin-left: 1rem;
          }
        }
        .supply{
          margin: .5rem 0;
        }
      }
    }
  }
</style>
