<template>
  <div class="order" style="background:#fff; padding:10px;">
    <Form :model="form" label-position="left" :label-width="60" inline style="">
      <FormItem label="订单搜索">
        <Select :clearable="true" @on-change="typeChange" clearable style="width:160px;">
          <Option v-for="item in orderTypeList" :value="item.value" :key="item.value">{{ item.label }}</Option>
        </Select>
      </FormItem>
      <FormItem label="" :label-width="2">
        <Input :clearable="true" :maxlength="30" v-model="text" placeholder="请输入内容" style="width: 160px" />
      </FormItem>
      <FormItem label="申请时间">
        <DatePicker @on-change="getTime" :value="date"
                    format="yyyy-MM-dd HH:mm:ss"
                    type="datetimerange"
                    placement="bottom-end"
                    placeholder="请选择时间"
                    style="width: 300px;margin-left: 10px;"></DatePicker>
      </FormItem>
      <FormItem label="" :label-width="2">
        <Button @click="changeDate(7)">近7天</Button>
      </FormItem>
      <FormItem label="" :label-width="2">
        <Button @click="changeDate(30)">近30天</Button>
      </FormItem>

      <FormItem label="售后编号">
        <Input :clearable="true" :maxlength="10" v-model="form.id" placeholder="请输入内容"></Input>
      </FormItem>
      <FormItem label="退款类型">
        <Select :clearable="true" @on-change="typeChange2" clearable style="width:160px;">
          <Option v-for="item in orderStateList" :value="item.value" :key="item.value">{{ item.label }}</Option>
        </Select>
      </FormItem>
      <FormItem label="客户" style="margin-left: 10px;" :label-width="40">
        <Input :clearable="true" :maxlength="10" v-model="form.customerId" placeholder="请输入内容"></Input>
      </FormItem>
      <!--<FormItem label="售后状态" style="margin-left: 10px;" :label-width="60">-->
        <!--<Input :clearable="true" :maxlength="10" v-model="form.customerId" placeholder="请输入内容"></Input>-->
      <!--</FormItem>-->
    </Form>
    <Form :model="form" label-position="left" :label-width="0" inline style="">
      <FormItem label="">
        <Button type="info" @click="()=>{this.form.pageNum=1;this.getList()}">筛选</Button>
      </FormItem>
      <FormItem label="">
        <Button icon="md-download" :loading="exportLoading" @click="exportExcel">批量导出</Button>
      </FormItem>
    </Form>
    <Tabs value="1" @on-click="getTabInfo">
      <TabPane label="全部" name="1">
        <afterSaleList :columns1="columns1" :data1="data1"></afterSaleList>
      </TabPane>
      <TabPane label="处理中" name="2">
        <afterSaleList :columns1="columns1" :data1="data1"></afterSaleList>
      </TabPane>
      <TabPane label="已完成" name="3">
        <afterSaleList :columns1="columns1" :data1="data1"></afterSaleList>
      </TabPane>
      <TabPane label="已关闭" name="4">
        <afterSaleList :columns1="columns1" :data1="data1"></afterSaleList>
      </TabPane>
    </Tabs>
    <div style="text-align: center">
      <Page
        :total="total"
        :current="form.pageNum"
        :page-size="form.pageSize"
        @on-change="pageChange"
        @on-page-size-change="pageSizeChange"
        show-total style="margin-top:10px;" />
    </div>

  </div>
</template>

<script>
  import { getTableData } from '@/api/data'
  import afterSaleList from './list'
  import excel from '@/libs/excel'
  export default {
    components: {
      afterSaleList
    },
    data () {
      return {
        status:'',
        text: '',
        exportLoading: false,
        orderStateList: [],
        orderTypeList: [
          {
            value: '1',
            label: '订单编号'
          },
          {
            value: '2',
            label: '收货人'
          },
          {
            value: '3',
            label: '收货手机号'
          },
          // {
          //   value: '4',
          //   label: '购买人'
          // },
          // {
          //   value: '5',
          //   label: '购买手机号'
          // }
        ],
        date: ['', ''],
        columns1: [
          {
            title: "商品",
            key: "goodsName",
          },
          {
            title: "数量",
            key: "number",
          },
          {
            title: "退货编号",
            key: "id",
          },
          {
            title: "订单号",
            key: "orderSn",
          },
          {
            title: "订单状态",
            key: "remark",
          },
          {
            title: "收货人",
            key: "name",
          },
          {
            title: "收货人手机",
            key: "mobile",
          },
          {
            title: "退款状态",
            key: "statusName",
          },
          {
            title: "退款类型",
            key: "typeName",
          },
          {
            title: "申请时间",
            key: "createTime",
          },
          {
            title: "订单金额",
            key: "moneyOrder",
          },
          {
            title: "售后金额",
            key: "moneyOrder",
          },
          {
            title: "客户",
            key: "customerName",
          },
          {
            title: "操作",
            slot: "action",
            width: 150,
            align: "center"
          }
        ],
        data1: [],
        total: 0,
        form: {
          customerId: '', //	客户id	false	int32
          endTime: '',    //	售后申请结束时间	false	string
          id: '',         //	售后编号	false	string
          orderSn: '',    //	订单编号	false	string
          pageNum: 1,     //	当前页码	false	int32
          pageSize: 10,   //	每页记录数	false	int32
          productName: '',//	商品名称	false	string
          startTime: '',  //	售后申请开始时间	false	string
          status: 'ALL',  //	售后状态	false	string
          statusIn: '',   //	售后状态(tap页面)	false	string
          type: '',       //	售后类型	false	string
          memberName: '', //	购买人名称	false	string
          memberPhone: '',//	购买人电话	false	string
          q_receiverName: '',  //	收货人	false	string
          q_receiverPhone: '', //	收货人手机	false	string
        }
      }
    },
    mounted(){
      this.getList()
      this.getdictbycode()
    },
    methods: {
      getdictbycode() {
        getTableData({
          url: '/middle/common/dictionary/getdictbycode',
          type: 'post',
          data: {
            dictCode:'AFTER_SALE_TYPE'
          }
        }).then(res => {
          if (res.data.code == 200) {
            this.orderStateList = res.data.data
          }else{

          }
        }).catch(err => console.log(err))
      },
      getTabInfo(name){
        switch (name) {
          case '1':
            this.form.status = 'ALL'
            break;
          case '2':
            this.form.status = 'DOING'
            break;
          case '3':
            this.form.status = 'DONE'
            break;
          case '4':
            this.form.status = 'CLOSED'
            break;
        }
        this.getList()
      },
      getList() {
        // this.form.id
        this.form.orderSn = '';
        this.form.q_receiverName = '';
        this.form.q_receiverPhone = '';
        this.form.memberName = '';
        this.form.memberMobile = '';
        switch (this.status) {
          case '1':
            this.form.orderSn = this.text
            break;
          case '2':
            this.form.q_receiverName = this.text
            break;
          case '3':
            this.form.q_receiverPhone = this.text
            break;
          case '4':
            this.form.memberName = this.text
            break;
          case '5':
            this.form.memberMobile = this.text
            break;
        }
        getTableData({
          url: '/middle/orderReverse/list',
          type: 'post',
          data: this.form
        }).then(res => {
          if (res.data.code == 200) {
            this.data1 = res.data.data.list;
            this.total = res.data.data.total
          }else{
            this.total = 0
          }
        }).catch(err => console.log(err))
      },
      changeDate(day) {
        function getDay(day){
          let today = new Date();
          let targetday_milliseconds=today.getTime() + 1000*60*60*24*day;
          today.setTime(targetday_milliseconds);
          let tYear = today.getFullYear();
          let tMonth = today.getMonth();
          let tDate = today.getDate();
          tMonth = doHandleMonth(tMonth + 1);
          tDate = doHandleMonth(tDate);
          return tYear+"-"+tMonth+"-"+tDate;
        }
        function doHandleMonth(month){
          let m = month;
          if(month.toString().length == 1){
            m = "0" + month;
          }
          return m;
        }
        //this.date.splice(0,2,getDay(-day),getDay(-1));
        this.date = [getDay(-day) + ' 00:00:00', getDay(-1) + ' 00:00:00'];
        this.form.startTime = getDay(-day);
        this.form.endTime = getDay(-1);
      },
      pageSizeChange (pageSize) {
        this.form.pageSize = pageSize;
        this.getList()
      },
      pageChange (index) {
        this.form.pageNum = index;
        this.getList()
      },
      exportExcel () {
        if (this.data1.length) {
          this.exportLoading = true;
          let titleArr = [];
          let keyArr = [];
          this.columns1.forEach(item => {
            titleArr.push(item.title)
            keyArr.push(item.key)
          });
          const params = {
            title: titleArr,
            key: keyArr,
            data: this.data1,
            autoWidth: true,
            filename: '售后列表'
          }
          excel.export_array_to_excel(params)
          this.exportLoading = false
        } else {
          this.$Message.info('表格数据不能为空！')
        }
      },
      getTime(time) {
        this.form.startTime = time[0];
        this.form.endTime = time[1];
      },
      typeChange (value) {
        this.status = value;
      },
      typeChange2 (value) {
        this.form.type = value;
      }
    }
  }
</script>

<style lang="less">

</style>
