
<template>
  <div style="background: #fff; padding: 10px;">
    <div style="line-height: 32px;"><span>客户</span><span style="margin-left: 20px;">{{form.kehu}}</span><Button @click="afterSaleDetail" style="float: right;">查看订单详情</Button></div>
    <Row :span="24" style="margin-bottom: 20px;">
      <Col :span="24">
        <h3>售后单信息</h3>
        <Form :model="form">
          <FormItem label="工单ID：">
            {{data.id}}
          </FormItem>
          <FormItem label="售后类型：">
            {{data.typeName}}
          </FormItem>
          <FormItem label="工单状态：">
            {{data.statusName}}
          </FormItem>
          <FormItem label="申请时间：">
            {{data.createTime}}
          </FormItem>
          <FormItem label="售后原因：">
            {{data.reasonName}}
          </FormItem>
          <FormItem label="售后说明：">
            {{data.directions}}
          </FormItem>
          <FormItem label="寄回地址：">
            {{data.supplierEturnedAddress.address}}
          </FormItem>
          <FormItem label="售后凭证：">
            <div v-for="item in data.imgList" class="imgBox">
              <img :src="item.imgPath" alt="" />
            </div>
          </FormItem>
        </Form>
      </Col>
    </Row>
    <Row :span="24" style="margin-bottom: 20px;">
      <Col :span="24">
        <h3>工单日志</h3>
        <Form v-for="(item, index) in data2" :key="index" style="margin-bottom: 20px;">
          <FormItem label="操作人：">
            {{item.operatingName}}
          </FormItem>
          <FormItem label="工单处理事件：">
            {{data2[index].content}}
          </FormItem>
          <FormItem label="时间：">
            {{item.createTime}}
          </FormItem>
        </Form>
      </Col>
    </Row>
  </div>
</template>
<script>
  import {getTableData} from '@/api/data'
  export default {
    props: {

    },
    data() {
      return {
        data:{},
        data2:{},
        form: {
          id: ''
        }
      };
    },
    mounted() {
      this.getLog()
      this.getDetail()
    },
    methods: {
      getDetail(){
        getTableData({
          url: '/middle/orderReverse/detail',
          type: 'post',
          data: {
            id: this.$route.query.id
          }
        }).then(res => {
          if (res.data.code == 200) {
            this.data = res.data.data;
          }
        }).catch(err => console.log(err))
      },
      getLog() {
        getTableData({
          url: '/middle/orderReverse/log',
          type: 'post',
          data: {
            id: this.$route.query.id
          }
        }).then(res => {
          if (res.data.code == 200) {
            this.data2 = res.data.data;
          }
        }).catch(err => console.log(err))
      },
      getOrderDetailById(){
        getTableData({
          url: '/middle/orderReverse/detail',
          type: 'post',
          data: this.form
        }).then(res => {
          if (res.data.code == 200) {
            // this.form = res.data.data
          }else if(res.data.code == 104){
            this.$router.push({
              path: '/login'
            })
          }else{
            this.$Message.error(res.data.message);
          }
        }).catch(err => console.log(err))
      },
      afterSaleDetail () {
        this.$router.push({
          path:'/order/orderDetail',
          query: {
            id: this.data.orderSn
          }
        })
      }
    }
  };
</script>
<style lang="less" scoped>
  h3{
    margin-bottom: 10px;
  }
  .ivu-form-item{
    margin-bottom: 0;
  }
  .imgBox{
    display: inline-block;
    width: 100px;
    height: 100px;
    margin-right: 10px;
    position: relative;
  }
  .imgBox img{
    max-width: 90%;
    max-height: 90%;
    margin: 0 auto;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
</style>
