<template>
  <div class="order" style="background:#fff; padding:10px;">
    <Form :model="form" label-position="left" :label-width="60" inline style="">
      <FormItem label="账号">
        <Input :clearable="true" :maxlength="10" v-model="form.loginAccount" placeholder="请输入内容" style="width: 160px" />
      </FormItem>
      <FormItem label="姓名">
        <Input :clearable="true" :maxlength="10" v-model="form.userName" placeholder="请输入内容"></Input>
      </FormItem>
    </Form>
    <Form>
      <FormItem label="">
        <Button style="margin-right: .5rem" @click="()=>{this.form.pageNum=1;this.getUserList()}" type="info">筛选</Button>
        <Button @click="createUser" class="ml10">新建</Button>
      </FormItem>
    </Form>

    <Table border :columns="columns1" :data="data1">
      <template slot-scope="{ row }" slot="name">
        <strong>{{ row.name }}</strong>
      </template>
      <template slot-scope="{ row, index }" slot="action">
        <Button
          class="ml10"
          size="small"
          @click="switchuser(row)"
        >{{data1[index].status == 1 ? '关闭' : '开启'}}</Button>
        <Button
          class="ml10"
          size="small"
          @click="upDate(index)"
        >编辑</Button>
        <Button
          class="ml10"
          type="error"
          size="small"
          @click="reset(index)"
        >重置密码</Button>
      </template>
    </Table>
    <div style="text-align: center">
      <Page
        :total="total"
        :current="form.pageNum"
        :page-size="form.pageSize"
        @on-change="pageChange"
        show-total
        style="margin-top:10px;" />
    </div>
    <Modal
      width="70%"
      title="编辑"
      v-model="modalShow"
      ok-text="保存"
      @on-ok="saveUpdate"
      @on-cancel=""
      class-name="vertical-center-modal">
      <Form ref="form" :model="type2List" :label-width="120">
        <FormItem label="账号：">
          <Input :maxlength="10" v-model="type2List.loginAccount" placeholder="请输入账号" style="width: 300px"></Input>
        </FormItem>
        <FormItem label="所属角色：">
          <Select
            :placeholder="type2List.roleNames"
            @on-change="type1OnChange"
            style="width:100px"
          >
            <Option v-for="item in type1List" :value="item.value" :key="item.value">{{ item.label }}</Option>
          </Select>
        </FormItem>
        <FormItem label="姓名：">
          <Input :maxlength="10" v-model="type2List.userName" placeholder="请输入姓名" style="width: 300px"></Input>
        </FormItem>
        <FormItem label="手机号：">
          <Input :maxlength="11" v-model="type2List.mobile" placeholder="请输入手机号" style="width: 300px"></Input>
        </FormItem>
      </Form>
    </Modal>
  </div>
</template>

<script>
  import { getTableData } from '@/api/data'

  export default {
    name: 'account',
    data () {
      return {
        total:0,
        loginAccount: this.$store.state.user.loginAccount,
        modalShow: false,
        statusStr: '',
        form2: {
          createTime: '',	// 创建时间	body	false	date-time
          createUser: '',	// 创建用户	body	false	string
          id: '',	        // 主键	body	false	int32
          loginAccount: '',// 登录账号	body	true	string
          mark: '',		    // body	false	int32
          mobile: '',	    // 手机号	body	true	string
          // password: '',  	// 登录密码	body	false	string	不传
          remarks: '',		// body	false	string
          roleIds: [],	  // 角色id集合	body	false	array
          // status: 1,	    // 状态 1-有效, 0-无效	body	false	int32
          updateTime: '',	// 更新时间	body	false	date-time
          updateUser: '',	// 更新用户	body	false	string
          userName: '',	  // 用户名称	body	true	string
        },
        form: {
          customerId: '',   //		false	int32
          loginAccount: '', //	登录账号	false	string
          mobile: '',       //	电话	false	string
          pageNum: 1,       //	当前页码	false	int32
          pageSize: 10,     //	每页记录数	false	int32
          // status: 1,        //	状态 1-有效, 0-无效	false	int32
          userName: ''      //	用户名称	false	string
        },
        switchuserObj: {
          createTime: '',  //	创建时间	body	false	date-time
          createUser: '',  //	创建用户	body	false	string
          id: '',          //	主键	body	false	int32
          loginAccount: '',//	登录账号	body	true	string
          status: 1,       //	状态 1-有效, 0-无效	body	false	int32
          updateTime: '',  //	更新时间	body	false	date-time
          updateUser: '',  //	更新用户	body	false	string
        },
        columns1: [
          {
            title: "账号",
            key: "loginAccount",
          },
          {
            title: "所属角色",
            key: "roleNames",
          },
          {
            title: "所属系统",
            key: "platformStr",
          },
          {
            title: "姓名",
            key: "userName",
          },
          {
            title: "手机号",
            key: "mobile",
          },
          {
            title: "操作人",
            key: "updateUser",
          },
          {
            title: "操作时间",
            key: "updateTime",
          },
          {
            title: "状态",
            key: "statusStr",
          },
          {
            title: "操作",
            slot: "action",
            width: 250,
            align: "center"
          }
        ],
        data1: [],
        type1List: [],
        type2List: {}
      }
    },
    mounted(){
      this.getUserList()
    },
    methods: {
      switchuser(item) {
        switch (item.status) {
          case 0:
            this.switchuserObj.status = 1
            break;
          case 1:
            this.switchuserObj.status = 0
            break;
        }
        this.switchuserObj.id = item.id;
        this.switchuserObj.loginAccount = item.loginAccount;
        getTableData({
          url: '/middle/system/user/switchuser',
          type: 'post',
          data: this.switchuserObj
        }).then(res => {
          if (res.data.code == 200) {
            this.$Message.success('操作成功');
            this.getUserList()
          }else if (res.data.code != 104){
            this.$Message.error(res.data.message);
          }
        }).catch(err => console.log(err))
      },
      upDate (index) {
        let item = this.data1[index];
        this.modalShow = true;
        this.type2List = item;
        getTableData({
          url: '/middle/system/role/getroledict',
          type: 'post',
          data: {}
        }).then(res => {
          if (res.data.code == 200) {
            this.type1List = res.data.data
          }else if(res.data.code == 104){
            this.$router.push({
              path: '/login'
            })
          }else{
            this.$Message.error(res.data.message);
          }
        }).catch(err => console.log(err))
      },
      saveUpdate () {
        this.form2.loginAccount = this.type2List.loginAccount;
        this.form2.roleIds = this.type2List.roleIds;
        this.form2.userName = this.type2List.userName;
        this.form2.mobile = this.type2List.mobile;
        this.form2.id = this.type2List.id;
        getTableData({
          url: '/middle/system/user/update',
          type: 'post',
          data: this.form2
        }).then(res => {
          if (res.data.code == 200) {
            this.$Message.success('修改成功')
            this.getUserList()
            // if (res.data.data.loginAccountValid && res.data.data.mobileValid) {
            //   this.getUserList()
            // }
          }
        }).catch(err => console.log(err))
      },
      reset (index) {
        let item = this.data1[index];

        getTableData({
          url: '/middle/system/user/resetpassword',
          type: 'post',
          data: { id: item.id }
        }).then(res => {
          if (res.data.code == 200) {
            const title = '重置密码成功';
            const content = `账号：`+item.loginAccount+`<p>新密码为${res.data.data}</p>`;
            this.$Modal.success({
              title: title,
              content: content
            })
          }else{
            this.$Message.error(res.data.message)
          }
        }).catch(err => console.log(err))
      },
      createUser () {
        this.$router.push({
          path: 'addUser'
        })
      },
      getUserList () {
        getTableData({
          url: '/middle/system/user/page',
          type: 'post',
          data: this.form
        }).then(res => {
          if (res.data.code == 200) {
            this.data1 = res.data.data.list;
            this.total = res.data.data.total
          }else{
            this.total=0
          }
        }).catch(err => console.log(err))
      },
      type1OnChange(name) {
        this.form2.roleIds.splice(0, 1, name);
        this.type2List.roleIds = this.form2.roleIds
      },
      pageChange(index) {
        this.form.pageNum = index;
        this.getUserList()
      }
    }
  }
</script>

<style lang="less">
  .vertical-center-modal{
    display: flex;
    align-items: center;
    justify-content: center;
    .ivu-modal{
      top: 0;
    }
  }
</style>
