<template>
  <div style="background:#fff; padding: 10px;">
    <Form ref="form" :model="form" :rules="ruleValidate" :label-width="120">
      <FormItem label="账号：" prop="loginAccount">
        <input class="ivu-input" onkeyup="this.value=this.value.replace(/[\u0391-\uFFE5]/gi,'')" :maxlength="20" v-model="form.loginAccount" placeholder="请输入账号" style="width: 300px"></input>
        <span class="ml10" style="color: #999;">6~20个字符，区分大小写，必须涵盖数字、字母、符号中两种组合</span>
      </FormItem>
      <FormItem label="所属角色：" prop="roleIds">
        <Select
          @on-change="type1OnChange"
          style="width:100px"
        >
          <Option v-for="item in type1List" :value="item.value" :key="item.value">{{ item.label }}</Option>
        </Select>
      </FormItem>
      <FormItem label="姓名：" prop="userName">
        <Input :maxlength="10" v-model="form.userName" placeholder="请输入姓名" style="width: 300px"></Input>
      </FormItem>
      <FormItem label="手机号：" prop="mobile">
        <input :maxlength="11" class="ivu-input" onkeyup="value=value.replace(/^(0+)|[^\d]+/g,'')" v-model="form.mobile" placeholder="请输入手机号" style="width: 300px"></input>
      </FormItem>
      <FormItem>
        <Button type="info" @click="createCustomer('form')">提交</Button>
      </FormItem>
    </Form>
  </div>
</template>
<script>
  import { getTableData } from '@/api/data'

  export default {
    name: 'addUser',
    data () {
      return {
        msgNum: 0,
        ruleValidate: {
          loginAccount: [
            { required: true, message: '',
              validator: (rule, value, callback) => {
                if (value == '') {
                  callback(new Error('账号必填'))
                }else if(value.length < 6) {
                  callback(new Error('账号需大于六位'))
                } else if(!/((?=.*\d)(?=.*\D)|(?=.*[a-zA-Z])(?=.*[^a-zA-Z]))(?!^.*[\u4E00-\u9FA5].*$)^\S{6,20}$/.test(value)) {
                  callback(new Error('账号必须涵盖数字、字母、符号中两种组合'))
                }else {
                  callback()
                }
              }
            }
          ],
          roleIds: [
            { required: true, message: '角色必填' }
          ],
          userName: [
            { required: true, message: '姓名必填', trigger: 'blur' }
          ],
          mobile: [
            {
              required: true,
              message: '',
              validator: (rule, value, callback) => {
                if (value.length < 11) {
                  callback(new Error('手机号长度不足'))
                }else if(!this.$tools.phoneReg.PHONE_PATTERN.test(value) && value.length == 11){
                  callback(new Error('格式不正确'))
                } else {
                  callback()
                }
              }
            }
          ]
        },
        form: {
          createTime: '',	// 创建时间	body	false	date-time
          createUser: '',	// 创建用户	body	false	string
          customerId: '',	// 所属客户	body	false	int32
          domainName: '',	// 商家域名	body	false	string
          id: '',	        // 主键	body	false	int32
          loginAccount: '',	// 登录账号	body	true	string
          mark: '',		    // body	false	int32
          mobile: '',	    // 手机号	body	true	string
          // password: '',  	// 登录密码	body	false	string	不传
          platform: '',	  // 所属平台	body	true	int32
          remarks: '',		// body	false	string
          roleIds: [],	  // 角色id集合	body	false	array
          // status: 1,	    // 状态 1-有效, 0-无效	body	false	int32
          updateTime: '',	// 更新时间	body	false	date-time
          updateUser: '',	// 更新用户	body	false	string
          userName: '',	  // 用户名称	body	true	string
        },
        type1List: []
      }
    },
    mounted () {
      this.getroledict()
    },
    methods: {
      createCustomer (name) {
        this.$refs[name].validate((valid) => {
          if (valid) {
            if (this.form.roleIds == '') {
              this.$Message.error('请选择角色');
            } else {
              getTableData({
                url: '/middle/system/user/insert',
                type: 'post',
                data: this.form
              }).then(res => {
                if (res.data.code == 200) {
                  if (!!res.data.data.password) {
                    const title = '添加账号成功';
                    const content = `<p>${this.form.loginAccount}密码为：${res.data.data.password}</p>`;
                    this.$Modal.success({
                      title: title,
                      content: content,
                      onOk: ()=>{
                        // this.$router.push({
                        //   path: 'level_2_1'
                        // })
                      }
                    })
                  }
                }
              }).catch(err => console.log(err))
            }
          }
        })
      },
      getroledict () {
        getTableData({
          url: '/middle/system/role/getroledict',
          type: 'post',
          data: {}
        }).then(res => {
          if (res.data.code == 200) {
            this.type1List = res.data.data
          }
        }).catch(err => console.log(err))
      },
      type1OnChange(name) {
        this.form.roleIds.splice(0, 1, name)
      },
      prevStep () {
        this.$router.push({
          path: '/people/level_2_1'
        })
      }
    }
  }
</script>
