<template>
  <div class="order" style="background:#fff; padding:10px;">
    <Form :model="form" label-position="left" :label-width="60" inline style="">
      <FormItem label="角色">
        <Input :clearable="true" :maxlength="10" v-model="pageObj.roleName" placeholder="请输入内容" style="width: 160px" />
      </FormItem>
    </Form>
    <Form>
      <FormItem label="">
        <Button style="margin-right: .5rem" @click="()=>{this.pageObj.pageNum=1;this.getRoleList()}" type="info">筛选</Button>
        <Button @click="createRole" class="ml10">新建</Button>
      </FormItem>
    </Form>
    <Table border :columns="columns1" :data="data1">
      <template slot-scope="{ row }" slot="name">
        <strong>{{ row.name }}</strong>
      </template>
      <template slot-scope="{ row, index }" slot="action">
        <Button
          size="small"
          @click="update(index)"
        >编辑</Button>
        <Button
          class="ml10"
          size="small"
          @click="deleteRole(data1[index])"
        >删除</Button>
        <Button
          class="ml10"
          size="small"
          @click="getmenuofrole(data1[index])"
        >分配权限</Button>
      </template>
    </Table>
    <div style="text-align: center">
      <Page
        :total="total"
        :page-size="pageObj.pageSize"
        @on-change="pageChange"
        @on-page-size-change="pageSizeChange"
        show-total style="margin-top:10px;" />
    </div>
    <Modal
      v-model="modal1"
      title="新建角色"
      footer-hide
      class-name="vertical-center-modal">
      <Form :model="form" label-position="left" :label-width="60" inline style="">
        <FormItem label="角色">
          <Input :maxlength="10" v-model="form.roleName" placeholder="请输入内容" style="width: 300px" />
        </FormItem>
        <FormItem label="备注">
          <Input :maxlength="10" v-model="form.description" placeholder="请输入内容" style="width: 300px" />
        </FormItem>
        <FormItem>
          <Button type="info" @click="ok1">保存</Button>
          <Button class="ml10" @click="modal1 = false">取消</Button>
        </FormItem>
      </Form>
    </Modal>
    <Modal
      v-model="modal2"
      title="角色权限配置"
      @on-ok="ok2"
      @on-cancel=""
      ok-text="保存"
      class-name="vertical-center-modal">
      <Tree ref="step2Tree1" :data="data2" show-checkbox></Tree>
    </Modal>
    <Modal
      v-model="modal3"
      title="修改角色"
      footer-hide
      class-name="vertical-center-modal">
      <Form :model="itemObj" label-position="left" :label-width="60" inline style="">
        <FormItem label="角色">
          <Input :maxlength="10" v-model="itemObj.roleName" placeholder="请输入内容" style="width: 300px" />
        </FormItem>
        <FormItem label="备注">
          <Input :maxlength="10" v-model="itemObj.description" placeholder="请输入内容" style="width: 300px" />
        </FormItem>
        <FormItem>
          <Button type="info" @click="saveRole">保存</Button>
          <Button class="ml10" @click="modal3 = false">取消</Button>
        </FormItem>
      </Form>
    </Modal>
  </div>
</template>

<script>
  import { getTableData } from '@/api/data'

  export default {
    name: 'level_2_2',
    data () {
      return {
        total: 0,
        msgNum: 0,
        modal1: false,
        modal2: false,
        modal3: false,
        data2: [],
        columns1: [
          {
            title: "角色",
            key: "roleName",
          },
          {
            title: "备注",
            key: "description",
          },
          {
            title: "操作人",
            key: "updateUser",
          },
          {
            title: "操作时间",
            key: "updateTime",
          },
          {
            title: "操作",
            slot: "action",
            width: 250,
            align: "center"
          }
        ],
        data1: [],
        form: {
          createTime: '',  //	创建时间	body	false	date-time
          createUser: '',  //	创建用户	body	false	string
          description: '', //	角色描述	body	false	string
          id: '',          //	主键	body	false	int32
          roleName: '',    //	角色名称	body	true	string
          status: 1,       //	状态 1-有效, 0-无效	body	false	int32
          updateTime: '',  //	更新时间	body	false	date-time
          updateUser: '',  //	更新用户	body	false	string
        },
        pageObj: {
          pageNum: 1,    //	当前页码	body	false	int32
          pageSize: 10,  //	每页记录数	body	false	int32
          roleName: '',  //	角色名称	body	false	string
          status: 1,     //	状态 1-有效, 0-无效	body	false	int32
        },
        itemObj: {},
        roleId: null,
        insertrolemenu: {
          menuIds: [], //		body	false	array
          roleId: null //	角色id	body	true	int32
        }
      }
    },
    mounted(){
      this.getRoleList()
    },
    methods: {
      getRoleList () {
        getTableData({
          url: '/middle/system/role/page',
          type: 'post',
          data: this.pageObj
        }).then(res => {
          if (res.data.code == 200) {
            this.data1 = res.data.data.list;
            this.total = res.data.data.total;
          }else if(res.data.code != 104){
            this.$Message.error(res.data.message);
          }
        }).catch(err => console.log(err))
      },
      update (index) {
        let item = this.data1[index];
        this.modal3 = true;
        this.itemObj = item;
      },
      saveRole () {
        this.form.roleName = this.itemObj.roleName;
        this.form.description = this.itemObj.description;
        this.form.id = this.itemObj.id;
        if (this.form.roleName != '') {
          getTableData({
            url: '/middle/system/role/update',
            type: 'post',
            data: this.form
          }).then(res => {
            if (res.data.code == 200) {
              if (res.data.data) {
                this.$Message.success('修改成功');
                this.getRoleList();
                this.modal3 = false;
              } else {
                this.$Message.error('角色重复');
              }
            }else if(res.data.code != 104){
              this.$Message.error(res.data.message);
            }
          }).catch(err => console.log(err))
        } else {
          this.$Message.error('角色不能为空');
        }
      },
      deleteRole (item) {
        getTableData({
          url: '/middle/system/role/delete',
          type: 'post',
          data: { id: item.id }
        }).then(res => {
          if (res.data.code == 200) {
            if (res.data.data) {
              this.$Message.success('操作成功')
              this.getRoleList()
            }else{
              this.$Message.error('角色不可删除')
            }
          }else if(res.data.code != 104){
            this.$Message.error(res.data.message);
          }
        }).catch(err => console.log(err))
      },
      ok1 () {
        if (this.form.roleName != '') {
          getTableData({
            url: '/middle/system/role/insert',
            type: 'post',
            data: this.form
          }).then(res => {
            if (res.data.code == 200) {
              if (res.data.data) {
                this.$Message.success('添加成功');
                this.getRoleList();
                this.modal1 = false;
              } else {
                this.$Message.success('角色重复');
              }
            }else if(res.data.code != 104){
              this.$Message.error(res.data.message);
            }
          }).catch(err => console.log(err))
        } else {
          this.$Message.error('角色不能为空');
        }
      },
      createRole() {
        this.modal1 = true;
        this.form.roleName = '';
        this.form.description = '';
      },
      getmenuofrole (item) {
        this.modal2 = true;
        this.roleId = item.id;
        getTableData({
          url: '/middle/system/role/getmenuofrole',
          type: 'post',
          data: { roleId: item.id }
        }).then(res => {
          if (res.data.code == 200) {
            if (res.data.data.length > 0) {
              this.data2 = JSON.parse(JSON.stringify(res.data.data).replace(/menuName/g, 'title'));
            }else{
              this.$Message.error(res.data.message)
            }
          }else if(res.data.code != 104){
            this.$Message.error(res.data.message);
          }
        }).catch(err => console.log(err))
      },
      ok2 () {
        this.$refs.step2Tree1.getCheckedNodes().forEach(item => {
          this.insertrolemenu.menuIds.push(item.id)
        });
        this.insertrolemenu.roleId = this.roleId;
        getTableData({
          url: '/middle/system/role/insertrolemenu',
          type: 'post',
          data: this.insertrolemenu
        }).then(res => {
          if (res.data.code == 200) {
            this.$Message.success('操作成功');
          }else if(res.data.code != 104){
            this.$Message.error(res.data.message);
          }
        }).catch(err => console.log(err))
      },
      pageSizeChange(pageSize) {
        this.pageObj.pageSize = pageSize;
        this.getRoleList()
      },
      pageChange(index) {
        this.pageObj.pageNum = index;
        this.getRoleList()
      }
    }
  }
</script>

<style lang="less">

</style>
